

<% if get_extra_fields!(@category)['column_view'] && get_extra_fields!(@category)['column_view']['value'] %>
  <div class="container main-container" ng-controller="BrowseCtrl" ng-init="init_intesa_browse(<%= @category.id %>, <%= @contents.to_json %>, <%= @tags.to_json %>, <%= @has_more %>, <%= get_section_column_number(get_extra_fields!(@category)) %>, <%= $site.is_tag_filter_exclusive %>)">
<% else %>
  <div class="container main-container" ng-controller="BrowseCtrl" ng-init="init(<%= @category.id %>, <%= @contents.to_json %>, <%= @tags.to_json %>, <%= @has_more %>, <%= $site.is_tag_filter_exclusive %>)">
<% end %>
<% if @use_filter %>
    <div class="row category-header text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="category-header__title"><%= @category.title %></h1>
        <% subtitle = get_extra_fields!(@category)['subtitle']; press_contact = get_extra_fields!(@category)['press_contact']; %>
        <% if subtitle %>
          <h2 class="category-header__subtitle"><%= subtitle %></h2>
        <% end %>
        <% if press_contact %>
          <div class="text-center col-xs-6 col-xs-offset-3" style="border: 3px solid #ccc; padding: 10px; margin-bottom: 20px;">
            Contatti stampa: <a href="mailto:<%= press_contact %>"><%= press_contact %></a>
          </div>
        <% end %>
    </div>
    <!--
    <div class="category-header__filter-area">
        <a href="javascript:void(0);" ng-click="resetFilter()" class="filter-tag__reset-link">Vedi tutti</a>
      </div>
     -->
    </div>
    <div class="row text-center main-row">
      <div class="col-xs-12">
        <div class="filter-tag" ng-style="{'width': 100/(number_of_tags+1) + '%'}">
        <img class="filter-tag__icon" ng-src="{{aux.assets.view_all_icon.url}}" />
        <div class="filter-tag__title">{{aux.assets['all_tag_title_' + aux.language]}}</div>
        <a class="filter-tag__link" href="javascript:void(0);" ng-click="resetFilter()"></a>
      </div>
      <div ng-repeat="(tag_id, tag) in tags" class="filter-tag" ng-class="{ 'filter-tag--active': activeTags[tag_id] != undefined }" ng-style="{'width': 100/(number_of_tags+1) + '%'}">
        <img class="filter-tag__icon" ng-src="{{tag.aux.miniformat.icon.url}}" />
        <div class="filter-tag__title">{{tag.title}}</div>
        <a class="filter-tag__link" href="javascript:void(0);" ng-click="tagSelected(tag_id)"></a>
      </div> 
    </div>
    </div>
<% else %>
    <div class="row text-center">
      <div class="col-sm-8 col-sm-offset-2">
        <h1 class="category-header__title"><%= @category.title %></h1>
        <% subtitle = get_extra_fields!(@category)['subtitle']; press_contact = get_extra_fields!(@category)['press_contact']; %>
        <% if subtitle %>
          <h2 class="category-header__subtitle"><%= subtitle %></h2>
        <% end %>
        <% if press_contact %>
          <div class="text-center col-xs-6 col-xs-offset-3" style="border: 3px solid #ccc; padding: 10px; margin-bottom: 20px;">
            Contatti stampa: <a href="mailto:<%= press_contact %>"><%= press_contact %></a>
          </div>
        <% end %>
    </div>
  </div>
<% end %>

  <div class="row" ng-if="aux.top_stripe">
    <div class="col-sm-12">
      <div class="browse-sections" ng-repeat="stripe in [aux.top_stripe]">
        <%= render partial: "/application/stripe" %>
      </div>
    </div>
  </div>
  
  <div class="row text-center" ng-if="filter_in_progress">
      <div class="col-sm-12">
        <img style="margin-top: 45px; margin-bottom: 45px;" src="<%= asset_path("horizontal_loader.gif") %>"> 
      </div>
    </div>
  
  <% if get_extra_fields!(@category)['column_view'] && get_extra_fields!(@category)['column_view']['value'] %>
    <div class="row main-row" ng-if="!filter_in_progress">
      <div class="col-sm-<%= 12/(get_extra_fields!(@category)['column_number'].to_i) %>" ng-repeat="column in getNumber(column_number)">
          <div class="row">
            <div class="col-xs-12" ng-repeat="column_element in getNumber(elements_per_column)">
              <div ng-repeat="content in [visibleElements[getColumnIndexElement(column, column_element)-1]]">
            <%= render partial: "/application/content_preview" %>
          </div>
        </div>
          </div>
      </div>
     </div>
     <div class="row">
      <div class="col-xs-12 text-center" ng-if="has_more">
        <a id="load_more_button" class="btn btn-about-v2" ng-click="load_more(elements_in_page)">Carica Altri</a>
      </div>
     </div>
  <% else %>
     <div class="row main-row" ng-if="!filter_in_progress">
        <div class="col-md-12">
          <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-<%= 12/get_section_column_number(get_extra_fields!(@category)) %>" ng-repeat="content in visibleElements">
          <%= render partial: "/application/content_preview" %>
        </div>
        <div class="col-xs-12 text-center" ng-if="has_more">
          <a id="load_more_button" class="btn btn-primary btn-load-more" ng-click="load_more(elements_in_page)">Carica Altri <i class="fa fa-chevron-down"></i></a>
        </div>
          </div>
      </div>
     </div>
  <% end %>


  <div class="row" ng-if="aux.bottom_stripe">
    <div class="col-sm-12">
      <div class="browse-sections" ng-repeat="stripe in [aux.bottom_stripe]">
        <%= render partial: "/application/stripe" %>
      </div>
    </div>
  </div>
   
</div>