<div style="background-color: <%= get_extra_fields!(@category)['background-color'] %>;">
	<% if get_extra_fields!(@category)['column_view'] && get_extra_fields!(@category)['column_view']['value'] %>
		<div class="container main-container" ng-controller="BrowseCtrl" ng-init="init_intesa_browse(<%= @category.id %>, <%= @contents.to_json %>, <%= @tags.to_json %>, <%= @total %>, <%= get_section_column_number(get_extra_fields!(@category)) %>)">
	<% else %>
		<div class="container main-container" ng-controller="BrowseCtrl" ng-init="init(<%= @category.id %>, <%= @contents.to_json %>, <%= @tags.to_json %>, <%= @total %>)">
	<% end %>
	<% if @use_filter %>
		  <div class="row category-header text-center">
		  	<h1 class="category-header__title"><%= @category.title %></h1>
		  	<% subtitle = get_extra_fields!(@category)['subtitle'] %>
		  	<% if subtitle %>
		  		<h2 class="category-header__subtitle"><%= subtitle %></h2>
		  	<% end %>
		  	<div class="category-header__filter-area">
		      <button class="btn btn-primary" ng-click="isTagFilterOpen = !isTagFilterOpen">
		        <span class="glyphicon glyphicon-chevron-down" style="position: relative; top: 3px;"></span>
		          Filtra
		      </button>
		    </div>
		  </div>
		  <div class="row text-center">
		    <div class="col-xs-12">
					<div collapse="!isTagFilterOpen" class="row category-filter main-row">
						<div ng-repeat="(tag_id, tag_name) in tags" class="col-sm-2 col-xs-6 category-filter__col">
							<button class="category-filter__btn btn btn-xs btn-default category-filter__tag" ng-class="{ 'category-filter__tag--disabled': tagsEnabled[tag_id] == undefined, 'btn-dark-blue': activeTags[tag_id] != undefined }" ng-disabled="tagsEnabled[tag_id] == undefined" ng-click="tagSelected(tag_id)">
		            {{tag_name}}<span class="fa fa-remove" ng-if="activeTags[tag_id] != undefined"></span>
		          </button>
						</div> 
					</div>
				</div>
		  </div>
	<% else %>
	  	<div class="row text-center">
		  	<h1 class="category-header__title"><%= @category.title %></h1>
		  	<% subtitle = get_extra_fields!(@category)['subtitle'] %>
		  	<% if subtitle %>
		  		<h2><%= subtitle %></h2>
		  	<% end %>
		</div>
	<% end %>
	
	  <div class="row" ng-if="aux.top_stripe">
	    <div class="col-sm-12">
	      <div class="browse-sections" ng-repeat="stripe in [aux.top_stripe]">
	        <%= render partial: "/application/stripe" %>
	      </div>
	    </div>
	  </div>
	  
	  <% if get_extra_fields!(@category)['column_view'] && get_extra_fields!(@category)['column_view']['value'] %>
		  <div class="row main-row">
		    <div class="col-xs-<%= 12/(get_extra_fields!(@category)['column_number'].to_i) %>" ng-repeat="column in getNumber(column_number)">
			      <div class="row">
		      		<div class="col-xs-12" ng-repeat="column_element in getNumber(elements_per_column)">
		      			<div ng-repeat="content in [visibleElements[getColumnIndexElement(column, column_element)-1]]">
							<%= render partial: "/application/content_preview" %>
						</div>
					</div>
			      </div>
			  </div>
		   </div>
		   <div class="row">
				<div class="col-xs-12 text-center" ng-if="total > elements_in_page">
					<a class="btn btn-primary btn-load-more" ng-click="load_more(elements_in_page)">Carica Altri</a>
				</div>
		   </div>
	  <% else %>
		   <div class="row main-row">
		      <div class="col-md-12">
			      <div class="row">
		      		<div class="col-xs-12 col-md-<%= 12/get_section_column_number(get_extra_fields!(@category)) %>" ng-repeat="content in visibleElements">
						<%= render partial: "/application/content_preview" %>
					</div>
					<div class="col-xs-12 text-center" ng-if="total > elements_in_page">
						<a class="btn btn-primary btn-load-more" ng-click="load_more(elements_in_page)">Carica Altro <i class="fa fa-chevron-down"></i></a>
					</div>
			      </div>
			  </div>
		   </div>
	  <% end %>
	
	
	  <div class="row" ng-if="aux.bottom_stripe">
	    <div class="col-sm-12">
	      <div class="browse-sections" ng-repeat="stripe in [aux.bottom_stripe]">
	        <%= render partial: "/application/stripe" %>
	      </div>
	    </div>
	  </div>
	   
	</div>
</div>