<div class="col-xs-6 col-sm-3 col-md-2">
	<div class="reward-block text-center">
	  <img class="img-responsive reward-block__image" src="<%= get_reward_image_for_status(reward) %>" alt="<%= reward.title %>">
	  <h4 class="reward-block__title"><%= reward.title %></h4>
	  <p class="reward-block__subtitle"><%= reward.short_description %></p>
	  <% if reward.is_published && !reward.cost.blank? && reward.cost > 0 %>
		  <div class="progress" style="margin: 10px auto; height: 12px; width: 65%;">
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= (get_reward_points_in_period(PERIOD_KIND_TOTAL, get_disney_current_contest_point_name) * 100) / reward.cost %>%;"></div>
		  </div>
	  <% end %>
	</div>
</div>