<%= render partial: "/application/user_bar" %>

<div class="container container--default" style="background-color: #fff;">

	<div class="row">
    <div class="col-xs-12">
	  <div class="section-heading">
        	<h3>
        		Classifica generale
        		<a href="/ranking/show/<%= @property_rank[:ranking].id %>" class="section-heading__see-all">View all</a>
        	</h3>
      </div>
      
      <div class="row rank-row rank-row--myself">
		<div class="col-xs-2 text-right"><h4 class="rank-row__position no-margin"># <%= @property_rank[:my_position] %></h4></div>
	    <div class="col-xs-2"><img src="<%= current_avatar %>" class="img-circle img-responsive rank-row__avatar"></div>
	    <div class="col-xs-5"><h4 class="rank-row__username"><%= extract_name_or_username(current_user) %></h4></div>
	    <div class="col-sm-3 col-xs-3 text-right"><span class="label label-warning rank-row__points">+ <%= get_point %> <span class="glyphicon glyphicon-star"></span></span></div>
	  </div>
    
    <div class="row"><p>&nbsp;</p></div>
    
    <% @property_rank[:rank_list].slice(0,4).each do |rank_user| %>
    	<div class="row rank-row">
			<div class="col-xs-2 text-right"><h4 class="rank-row__position no-margin"># <%= rank_user["position"] %></h4></div>
		    <div class="col-xs-2"><img src="<%= rank_user["avatar"] %>" class="img-circle img-responsive rank-row__avatar"></div>
		    <div class="col-xs-5"><h4 class="rank-row__username"><%= rank_user["user"] %></h4></div>
		    <div class="col-xs-3 text-right"><span class="label label-warning rank-row__points">+ <%= rank_user["counter"] %> <span class="glyphicon glyphicon-star"></span></span></div>
		</div>
    <% end %>
      
		<div class="section-heading">
        	<h3>
        		Fan del giorno
        	</h3>
      	</div>
	  	<% @fan_of_days.each do |winner| %>
	  		<% if winner["winner"] %>
		  		<div class="row rank-row <%= "rank-row--myself" if (winner["winner"].user.email == current_user.email) %>">
					<div class="col-xs-2 text-right"><h4 class="rank-row__position no-margin"><%= winner["day"] %></h4></div>
				    <div class="col-xs-2"><img src="<%= winner["winner"].user.avatar_selected_url  %>" class="img-circle img-responsive rank-row__avatar"></div>
				    <div class="col-xs-5"><h4 class="rank-row__username"><%= extract_name_or_username(winner["winner"].user) %></h4></div>
				    <div class="col-sm-3 col-xs-3 text-right"><span class="label label-warning rank-row__points">+ <%= winner["winner"].counter %> <span class="glyphicon glyphicon-star"></span></span></div>
				</div>
		  	<% else %>
			  	<div class="row rank-row">
					<div class="col-xs-2 text-right"><h4 class="rank-row__position no-margin"><%= winner["day"] %></h4></div>
				    <div class="col-xs-2"><img src="/assets/anon.png" class="ranking-element__avatar" /></div>
				    <div class="col-xs-5"><h4 class="rank-row__username">nessun vincitore</h4></div>
				    <div class="col-xs-3 text-right"><span class="label label-warning rank-row__points">+ 0 <span class="glyphicon glyphicon-star"></span></span></div>
				</div>
		  	<% end %>
	  	<% end %>
		</div>