<div class="container container--default">
  <%= render partial: "profile/profile_header" %>
  <%= render partial: "profile/profile_navbar", locals: { page: "rewards" } %>
    
  <div class="row brws-item">
  	<div class="col-xs-12">
      	<div class="section-heading">
        	<h3>
        		<span class="section-heading__marker"><i class="fa fa-tasks"></i></span>
        		Livelli
        	</h3>
      	</div>
      	<% if @levels %>
			<div class="rewards-flexslider">
				<div class="flex-viewport-shadow hidden-xs"></div>
	      	  	<ul class="slides">
			        <% @levels.each do |key, level| %>
			        	<li class="rewards-flexslider__item">
			        		<%= render partial: "/profile/level_badge", locals: { reward: level } %>
			        	</li>
			        <% end %>
		        </ul>
		    </div>
	    <% else %>
	    	<p>Nessun livello presente</p>
	    <% end %>
 	</div>
  </div>
  
	<% if @my_levels && !@my_levels.empty? %>    
	  <div class="row brws-item">
	  	<div class="col-xs-12">
	      	<div class="section-heading">
	        	<h3>
	        		<span class="section-heading__marker"><i class="fa fa-bar-chart-o"></i></span>
	        		Tuoi livelli nelle altre Community
	        	</h3>
	      	</div>
      		<div class="rewards-flexslider">
      			<div class="flex-viewport-shadow hidden-xs"></div>
	      	  	<ul class="slides">
			        <% @my_levels.each do |level| %>
			        	<li class="rewards-flexslider__item">
			        		<%= render partial: "/profile/property_badge", locals: { reward: level } %>
			        	</li>
			        <% end %>
		        </ul>
		    </div>
	 	</div>
	  </div>
	<% end %>  
    
	  
  <div class="row brws-item">
  	<div class="col-xs-12">
      	<div class="section-heading">
        	<h3>
        		<span class="section-heading__marker"><i class="fa fa-shield"></i></span>
        		Badge
        	</h3>
      	</div>
      	<% if @badges %>
	    	<div class="rewards-flexslider">
	    		<div class="flex-viewport-shadow hidden-xs"></div>
	      	  	<ul class="slides">
	      			<% @badges.each do |badge| %>
	      				<li class="rewards-flexslider__item">
			        		<%= render partial: "/profile/badge", locals: { reward: badge } %>
			        	</li>
			        <% end %>	
	      	  	</ul>
	      	</div>
	    <% else %>
	    	<p>Nessun badge presente</p>
	    <% end %>
 	</div>
  </div>
  
	<% if @mybadges && !@mybadges.empty? %>    
	  <div class="row brws-item">
	  	<div class="col-xs-12">
	      	<div class="section-heading">
	        	<h3>
	        		<span class="section-heading__marker"><i class="fa fa-certificate"></i></span>
	        		Ultimi badge ottenuti nelle altre Community
	        	</h3>
	      	</div>
      		<div class="rewards-flexslider">
      			<div class="flex-viewport-shadow hidden-xs"></div>
	      	  	<ul class="slides">
	      			<% @mybadges.each do |badge| %>
	      				<% if badge["reward"] %>
		      				<li class="rewards-flexslider__item">
				        		<%= render partial: "/profile/property_badge", locals: { reward: badge } %>
				        	</li>
				        <% end %>
			        <% end %>	
	      	  	</ul>
	      	</div>
	 	</div>
	  </div>
	<% end %>
</div>


<script type="text/javascript">
	$(document).ready(function() {
	    $('.rewards-flexslider').flexslider({
	      animation: "slide",
	      slideshow: false,
	      animationLoop: false,
	      touch: true,
	      itemWidth: 160,
	      itemMargin: 15,
	      controlNav: false,
	      prevText: "",
	      nextText: ""
	    });
	});
</script>