<div class="container container--default">
  <%= render partial: "profile/profile_header" %>
  <%= render partial: "profile/profile_navbar", locals: { page: "rewards" } %>
    
  <div class="row brws-item">
  	<div class="col-xs-12">
      	<div class="section-heading">
        	<h3>
        		<img src="<%= asset_path("icon-cat.png") %>" class=" section-heading__icon" />
        		Livelli
        	</h3>
      	</div>
      	<% if @levels %>
      		<% if small_mobile_device? %>
      			<% @levels.each do |key, level| %>
		        	<%= render partial: "/profile/level_badge", locals: { reward: level } %>
		        <% end %>
			<% else %>
				<div class="rewards-flexslider">
		      	  	<ul class="slides">
				        <% @levels.each do |key, level| %>
				        	<li class="rewards-flexslider__item">
				        		<%= render partial: "/profile/level_badge", locals: { reward: level } %>
				        	</li>
				        <% end %>
			        </ul>
			    </div>
			<% end %>
	    <% else %>
	    	<p>Nessun livello presente</p>
	    <% end %>
 	</div>
  </div>
  
    
  <div class="row brws-item">
  	<div class="col-xs-12">
      	<div class="section-heading">
        	<h3>
        		<img src="<%= asset_path("icon-cat.png") %>" class="section-heading__icon" />
        		Tuoi livelli nelle altre Community
        	</h3>
      	</div>
      	<% if @my_levels %>
	        <% @my_levels.each do |level| %>
	        	<%= render partial: "/profile/property_badge", locals: { reward: level } %>
	        <% end %>
	    <% else %>
	    	<div class="col-xs-12"><p>Nessun livello ottenuto.</p></div>
	    <% end %>
 	</div>
  </div>
  
    
	  
  <div class="row brws-item">
  	<div class="col-xs-12">
      	<div class="section-heading">
        	<h3>
        		<img src="<%= asset_path("icon-cat.png") %>" class="section-heading__icon" />
        		Badge
        	</h3>
      	</div>
      	<% if @badges %>
      		<% if small_mobile_device? %>
		        <% @badges.each do |badge| %>
		        	<%= render partial: "/profile/badge", locals: { reward: badge } %>
		        <% end %>
		    <% else %>
		    	<div class="rewards-flexslider">
		      	  	<ul class="slides">
		      			<% @badges.each do |badge| %>
		      				<li class="rewards-flexslider__item">
				        		<%= render partial: "/profile/badge", locals: { reward: badge } %>
				        	</li>
				        <% end %>	
		      	  	</ul>
		      	</div>
		    <% end %>
	    <% else %>
	    	<p>Nessun badge presente</p>
	    <% end %>
 	</div>
  </div>
  
    
  <div class="row brws-item">
  	<div class="col-xs-12">
      	<div class="section-heading">
        	<h3>
        		<img src="<%= asset_path("icon-cat.png") %>" class="section-heading__icon" />
        		Ultimi badge ottenuti nelle altre Community
        	</h3>
      	</div>
      	<% if @my_badges %>
	        <% @my_badges.each do |badge| %>
	        	<%= render partial: "/profile/property_badge", locals: { reward: badge } %>
	        <% end %>
	    <% else %>
	    	<div class="col-xs-12"><p>Nessun livello ottenuto.</p></div>
	    <% end %>
 	</div>
  </div>

</div>


<script type="text/javascript">
	$(document).ready(function() {
	    $('.rewards-flexslider').flexslider({
	      animation: "slide",
	      slideshow: false,
	      animationLoop: false,
	      touch: true,
	      itemWidth: 165,
	      itemMargin: 15,
	      controlNav: false,
	      prevText: "",
	      nextText: ""
	    });
	});
</script>