<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <% calltoaction_info_list = (@calltoaction_info_list.present? ? @calltoaction_info_list.to_json : {}) %>
  <% calltoaction_info_list_count = (@calltoaction_info_list.present? ? @calltoaction_info_list.count : 0) %>

  <% aux = default_intesa_expo_aux(@aux_other_params, @calltoaction_info_list) %>  
  
  <%= render partial: "/layouts/seo_head" %>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="shortcut icon" href="/favicon/intesa_expo/favicon.ico">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

  <script src="https://maps.googleapis.com/maps/api/js"></script>

  <%= stylesheet_link_tag "intesa_expo_application", :media => "all" %>
  <%= javascript_include_tag "intesa_expo_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("intesa_expo_application.css").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("intesa_expo_application.js").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" type="text/javascript"></script>  
    <link href="<%= asset_path("intesa_expo_ie9.css").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->


  <link href="http://unmondopossibile.intesasanpaolo.com/stylesheets/header-footer.css" media="screen" rel="stylesheet" type="text/css">

  <%= csrf_meta_tags %>

  <% if get_intesa_property == 'imprese' %>
    <meta name="google-site-verification" content="Zjk2gp5eeAu0uwgoV3y1HSXL8SuAMhXH23PACjpYvvM" />
  <% else %>
    <meta name="google-site-verification" content="rLFXVG7Aq4CCbuL7EGRLy2_Fnvzu1oAPpov6oEIZIDE" />
  <% end %>
</head>

<% if @miniformat_color.present? %>
  <style type="text/css">
    .cta__main-column a {
      color: <%= @miniformat_color %> !important;
    }

    .cta__main-column a:hover {
      color: <%= darken_color(@miniformat_color) %> !important;
    }
  </style>
<% end %>

<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %> body-{{aux.language}}" ng-controller="IntesaExpoStreamCalltoactionCtrl" ng-init="init(null, <%= calltoaction_info_list %>, '<%= get_calltoactions_count(calltoaction_info_list_count, aux) %>', null, '<%= ga_code() %>', null, <%= aux.to_json %>)">

  <% if !cookies[:IntesaSanpaoloTracciatura] %>
    <% if aux && aux["tag_menu_item"] == "imprese-home" %>
      <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="http://1412173.fls.doubleclick.net/activityi;src=1412173;type=expoh0;cat=isp_p00;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="http://1412173.fls.doubleclick.net/activityi;src=1412173;type=expoh0;cat=isp_p00;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
    <% elsif aux && aux["tag_menu_item"] == "inaugurazione-home" %>
      <script type="text/javascript">
      var axel = Math.random() + "";
      var a = axel * 10000000000000;
      document.write('<iframe src="https://1412173.fls.doubleclick.net/activityi;src=1412173;type=landi170;cat=itali0;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="https://1412173.fls.doubleclick.net/activityi;src=1412173;type=landi170;cat=itali0;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
      <!-- End of DoubleClick Floodlight Tag: Please do not remove -->
    <% elsif aux && aux["tag_menu_item"] == "home" %>
      <script type="text/javascript">
        var axel = Math.random() + "";
        var a = axel * 10000000000000;
        document.write('<iframe src="http://1412173.fls.doubleclick.net/activityi;src=1412173;type=expoh0;cat=isp_p0;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
      </script>
      <noscript>
      <iframe src="http://1412173.fls.doubleclick.net/activityi;src=1412173;type=expoh0;cat=isp_p0;ord=1?" width="1" height="1" frameborder="0" style="display:none"></iframe>
      </noscript>
    <% elsif has_cta_spotlight?(@calltoaction_info_list.present? ? @calltoaction_info_list.first : nil) %>
      <%= @calltoaction_info_list.first["calltoaction"]["extra_fields"]["spotlight"].html_safe %>
    <% end %>
  <% end %>

  <div ng-cloak>

    <div id="header"></div>

    <div class="header-container">
      <%= render partial: "/application/header" %>
    </div>
    
    <div class="container-fluid stripe-darkwhite">
      <div class="container main-container">
        <div class="row">
          <div class="col-xs-12 navbar__search">
            <%= render partial: "/application/search", locals: { query: (defined? @query).nil? ? nil : @query } %>
        </div>
      </div>
    </div>
    </div>

    <%= yield %>

    <%= render partial: "/application/footer" %>
    <%= render partial: "/application/cookies_bar" %>

    <div id="footer"></div>

  </div>

<script type="text/javascript">
  window.addEventListener("message", receiveMessage, false);

  function receiveMessage(event) {
    if(event.data == "scrollToTop") {
      $('html, body').animate({
        scrollTop: $("#iframe-container").offset().top
      }, 500);
    }
  }

  $(document).ready(function() {
    is_last_rewards_flexslider_slide = new Object();
    $('.relateds-flexslider').flexslider({
      animation: "slide",
      slideshow: false,
      animationLoop: false,
      touch: true,
      itemWidth: 215, //258
      itemMargin: 15,
      controlNav: false,
      prevText: "",
      nextText: "",
      start: function(slider) {
        if(slider.pagingCount == 1) {
          $(slider).find(".flex-viewport-shadow").addClass("hidden");
        }
      },
      before: function(slider) {
        is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
        $(slider).find(".flex-viewport-shadow").removeClass("hidden");
      },
      after: function(slider) {
        if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
          $(slider).find(".flex-viewport-shadow").addClass("hidden");
        } else {
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        }
        
        //_gaq.push(['_trackEvent','Navigation', $(slider).attr("data-title"),'arrow']);
        
      },
      end: function(slider) {
        is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
      }
    });

    //$.ajaxSettings.cache = false;
    //$('#header').load("http://unmondopossibile.intesasanpaolo.com/snippets/header?color=3d6b80"); 
    //$('#footer').load("http://unmondopossibile.intesasanpaolo.com/snippets/footer");
    
  });

</script>
  
<%= render partial: "/application/ga" %>

</body>
</html>
