<!DOCTYPE html>
<html>
<head>

  <style id="antiClickjack">body{display:none !important;}</style>
  <script>
  if (self === top) {
     var antiClickjack = document.getElementById("antiClickjack");
     antiClickjack.parentNode.removeChild(antiClickjack);
  } else {
     top.location = self.location;
  }
  </script>

  <meta charset="utf-8">

  <% calltoaction_info_list = (@calltoaction_info_list.present? ? @calltoaction_info_list.to_json : {}) %>
  <% calltoaction_info_list_count = (@calltoaction_info_list.present? ? @calltoaction_info_list.count : 0) %>

  <% aux = default_orzoro_aux(@aux_other_params, @calltoaction_info_list) %>  

  <%= render partial: "/layouts/seo_head" %>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="fragment" content="!">
  
  <link rel="shortcut icon" href="/favicon/orzoro/favicon.ico">
  <link href='//fonts.googleapis.com/css?family=Allan:700' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  <%= stylesheet_link_tag "orzoro_application", :media => "all" %>
  <%= javascript_include_tag "orzoro_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("orzoro_application.css").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("orzoro_application.js").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" type="text/javascript"></script>  
    <link href="<%= asset_path("orzoro_ie9.css").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->

  <%= csrf_meta_tags %>

</head>

<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>" ng-controller="OrzoroStreamCalltoactionCtrl" ng-init="init(null, <%= calltoaction_info_list %>, '<%= get_calltoactions_count(calltoaction_info_list_count, aux) %>', null, '<%= ga_code() %>', null, <%= aux.to_json %>)">

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-NWLJM7" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-NWLJM7');
  </script>
  <!-- End Google Tag Manager -->

  <div ng-cloak>

    <% unless small_mobile_device? %>
      <%= render partial: "/application/header" %>
      <%= render partial: "/application/user_bar", locals: { aux: aux } %>
    <% else %>
      <%= render partial: "/application/user_bar_mobile", locals: { aux: aux } %>
    <% end %>

    <%= yield %>

    <%= render partial: "/application/footer", locals: { aux: aux } %>

  </div>
  <script type="text/javascript">
	$(document).ready(function() {
      is_last_rewards_flexslider_slide = new Object();
	    $('.rewards-flexslider').flexslider({
	      animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
        }
	    });
	});
	
  </script>
  
  <%= render partial: "/application/ga" %>


</body>
</html>
