<%= render partial: "/application/user_bar" %>


<div class="container-fluid" ng-app="StreamCalltoactionApp" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= !current_user.blank? %>, <%= @calltoactions.to_json %>, '<%= CallToAction.active.count %>', <%= @calltoactions_during_video_interactions_second.to_json %>)">   

  <!-- CUSTOM SITE HEADER --> 
  <%#= render partial: "/application/header" %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <h1>Ciao</h1>
      <%= render partial: "/application/home_filters" %>
    </div>
  </div>

  <div class="row">
    <div id="calltoaction-stream" class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <%= render partial: "/call_to_action/stream_calltoactions", locals: { calltoactions: @calltoactions } %>
    </div>
  </div>

  <div class="row">      
    <div class="col-sm-6 col-sm-offset-3">
      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
        <button class="btn btn-primary" href="javascript: void(0)" onclick="appendCallToAction()">CARICA ALTRI</button>
      </div>
    </div>
  </div>

</div>

<%#= render partial: "/application/footer" %>
