<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Coin Gift Machine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <meta property="og:title" content="Coin Gift Machine" />
  <meta property="og:description" content="" />

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag "coin_application", :media => "all" %>
  <%= javascript_include_tag "coin_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("coin_application.css").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("coin_application.js").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" type="text/javascript"></script>  
  <![endif]-->

  <!--[if lt IE 10]>
    <script type="text/javascript">
        $(document).ready(function() {
          $('[placeholder]').focus(function() {
            var input = $(this);
            if (input.val() == input.attr('placeholder')) {
              input.val('');
              input.removeClass('placeholder');
            }
          }).blur(function() {
            var input = $(this);
            if (input.val() == '' || input.val() == input.attr('placeholder')) {
              input.addClass('placeholder');
              input.val(input.attr('placeholder'));
            }
          }).blur();
        });
    </script>
  <![endif]-->

  <%= csrf_meta_tags %>

  <%= yield (:fb_meta_tags) %>
  
</head>
<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= @current_user_info.present? ? @current_user_info.to_json : {} %>, <%= @calltoaction_info_list.present? ? @calltoaction_info_list.to_json : {} %>, '<%= get_cta_active_count() %>', <%= @calltoactions_during_video_interactions_second.to_json %>, '<%= ga_code() %>', null, <%= @aux.present? ? @aux.to_json : {} %>, null)">

  <%= yield %>

  <%= render partial: "/application/ga" %>
  <%= render partial: "/application/registration-modal" %>
  <%= render partial: "/application/terms-modal" %>
  <%#= render partial: "/application/footer" %>

  <script type="text/javascript">
    $(function() {
      FastClick.attach(document.body);
    });
  </script>

</body>
</html>
