<div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <div class="row">
      <div class="col-md-12"> 
        <% if flash[:error] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger">
                <p>Errori proceso di upload:</p>
                <p>
                  <ul>
                    <% flash[:error].each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        <% elsif flash[:notice] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success"><%= flash[:notice] %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

<div ng-app="StreamCalltoactionApp" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= !current_user.blank? %>, <%= [@calltoaction].to_json %>, 1, <%= @calltoactions_during_video_interactions_second.to_json %>)">
  <%= render partial: "/call_to_action/single_calltoaction", locals: { calltoaction: @calltoaction, calltoaction_comment_interaction: @calltoaction_comment_interaction, outcome: nil, captcha_data: @captcha_data } %>
</div>

<div class="container-fluid" style="background: #f4f4f4;">
  <div class="container" >
    <div class="row">
      <div class="col-md-12" id="desc">
        <h4 class="lead">Fight for Your Rite. </h4>
        <p class="cta-description">There’s great detail in <i>True Detective</i>. Just listen to those ice cubes clank against the sides of the glass Louisiana criminal investigator Martin Hart (Woody Harrelson) holds as he observes his restful daughter after returning home from a horrific psychosexual murder scene. He’s a fairly collected guy at first blush, but the tension and rage are there, inside that tumbler of what one presumes is whiskey.</p>
        <p class="cta-description">His new partner in crime-solving, Rustin “Rust” Cohle (Matthew McConaughey), embodies minutiae, right down to a ledger-full of case notes that have quickly earned him a derogatory precinct nickname: the Taxman.</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-12">
        <div id="comments">
          <div class="comment-canvas">
            <div class="row">
              <div class="col-md-12">
                <h4 class="lead">Lascia un Commento</h4>
                <hr>
              </div>
              <div class="col-xs-2">
                <img src="http://media.steampowered.com/steamcommunity/public/images/avatars/5c/5cbeba066f7bbea03829ac810f96f82cff996006_full.jpg" alt="..." class="img-circle img-responsive img-profile">
              </div>
              <div class="col-xs-10">
                <div class="panel panel-default insert-comment">
                  <div class="panel-body">
                    <textarea class="form-control" rows="3"></textarea>
                  </div>
                  <div class="panel-footer">
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="row">
                          <div class="col-sm-6">
                            <img class="img-responsive" src="http://placehold.it/200x40">
                          </div>
                          <div class="col-sm-6">
                            <input type="text" class="form-control" placeholder="Text input">
                          </div>
                        </div>
                        
                      </div>
                      <div class="col-sm-4">
                        <button type="button" class="btn btn-info btn-md pull-right">commenta</button>
                      </div>   
                    </div>  
                  </div>
                </div>
              </div>
            </div>
            <div class="row comment">
              <div class="col-xs-2 text-right">
                <h5><img src="http://1.gravatar.com/avatar/d8518fdcf04b75fcca8cf6e452a8215a?s=256&d=identicon&r=G" alt="..." class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
              </div>
              <div class="col-xs-10">
                <h5>Nome Utente <small>&bull; few seconds ago</small></h5>
                <p class="text-muted">No doubt we're all very impressed that you know big words, and that you can intellectualize concepts like "episodes" into the verbosity of "hours of era-shuffling procedure."  But, seeing as this a recap for a TV show, maybe you could experiment with writing sentences that people can understand on their first try. </p>
                <span><small><span class="glyphicon glyphicon-share-alt"></span> Reply</small></span></span>
                <hr>
                <div class="row reply">
                  <div class="col-xs-2 text-right">
                    <h5><img src="http://placehold.it/300x300" alt="..." class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
                  </div>
                  <div class="col-xs-10">
                    <h5>Nome Utente <small>&bull; few seconds ago</small></h5>
                    <p class="text-muted">Weird that somebody who uses terms like "intellectualizing concepts ... into the verbosity of..." would need his reading material dumbed down a bit. If you can't find a writer who meets your very specific needs, you should probably pen your own articles, and hope that your readers are more or less okay with the amount of pretentiousness used.</p>
                    <span><small>some controls here</small></span> | <span><small>and here</small></span>
                    <hr>
                  </div>
                </div>
                <div class="row reply">
                  <div class="col-xs-2 text-right">
                    <h5><img src="http://1.gravatar.com/avatar/d8518fdcf04b75fcca8cf6e452a8215a?s=256&d=identicon&r=G" alt="..." class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
                  </div>
                  <div class="col-xs-10">
                    <h5>Nome Utente <small>&bull; few seconds ago</small></h5>
                    <p class="text-muted">Yep, that was a stupid comment I left.  I think my idea was some sort of mockery by imitation.  You were right to call me out.  My bad.</p>
                    <span><small>some controls here</small></span> | <span><small>and here</small></span>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
            <div class="row comment">
              <div class="col-xs-2 text-right">
                <h5><img src="http://ei.realself.com/small/5d743212cc832d81bd58e7efc50b3a20/465858-366090.jpg" alt="..." class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
              </div>
              <div class="col-xs-10">
                <h5>Nome Utente <small>&bull; few seconds ago</small></h5>
                <p class="text-muted">Man, McConaughey is good. He and Woody are a couple of the most watchable TV detectives to come around in a while. And I'm into the semi-philosophical writing, particularly the way McConaughey delivers his lines. Strong start to what I hope is an interesting crime drama and not just another series about sick men who torture lost women.</p>
                <span><small>some controls here</small></span> | <span><small>and here</small></span>
                <hr>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid" style="background: #f4f4f4;">
  <div class="container">
    <div class="row">
      <div class="col-sm-12"><h4>Guarda Anche:</h4></div>
    </div>
  </div>
</div>

<div class="row">
        
  <% @calltoactions_correlated.each do |c| %>

      <div class="stripes" style="">
    
        <div class="container-fluid stripe cta" style="background: url('<%= c.media_image %>') no-repeat center center; background-size: cover;">
          <div class="container">
            

            <div class="row">
              <div class="col-sm-9 text-left">
                <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(c, "miniformat") %>
                <% if tags_with_miniformat_in_calltoaction.any? %>
                  <h5 class="text-muted visible-sm visible-md visible-lg"><span class="<%= tags_with_miniformat_in_calltoaction.first.tag_fields.find_by_name("icon").try(:value) %>"></span>
                    <%= tags_with_miniformat_in_calltoaction.first.name %>
                  </h5>
                <% end %>
                <h3 class="lead" style="">
                  <%= c.title %> 
                </h3>
                <h4><a class="btn btn-default btn-md" href="/call_to_action/<%= c.id %>">Call To Action</a>&nbsp;
                  <% if call_to_action_completed?(c, current_or_anonymous_user) %>
                    <span id="head-feedback-calltoaction-<%= c.id %>" class="label label-success" style="padding-top: 7px;">FATTO <span class="glyphicon glyphicon-ok"></span>
                    </span>
                  <% else %>
                    <span id="head-feedback-calltoaction-<%= c.id %>" class="label label-warning" style="padding-top: 7px;">+<%= predict_max_cta_outcome(c, anonymous_user).reward_name_to_counter[MAIN_REWARD_NAME] %>
                      <span class="glyphicon glyphicon-star"></span>
                    </span>
                  <% end %>
                </h4>
              </div>
            </div>

            

          </div>
          <div class="container social-meta">
            <div>
            <div class="row" style="color: #fff; padding-top: 1em;">
              <div class="col-xs-6 text-left">
                <span><small>January 27, 2014</small></span>
              </div>
              <div class="col-xs-6 text-right">
                  <span class="small glyphicon glyphicon-comment"></span> 10 &nbsp;&nbsp; <span class="small glyphicon glyphicon-thumbs-up"></span> 23   
              </div>
            </div>
            </div>
          </div>
        </div><!-- fluid -->
      </div>


    <% end %>
  </div>