<!-- content.aux.miniformat['label_background'] -->

<a href="{{linkTo(content.detail_url, stripe.key)}}" ng-click="_gaq.push(['_trackEvent','Navigation', <%= @category ? "'#{@category.slug}'" : "stripe.slug" %>, content.slug]);" ng-if="content.type == 'cta' && content.layout == 'default'">
  <img class="cta__flag" ng-src="{{content.aux.flag.extra_fields['image_' + aux.language].url}}" ng-if="content.aux.flag">
  <div class="content-preview__item-panel" ng-class="{'content-preview__border-bottom': (content.aux.miniformat['label_background'] != null)}" ng-style="{'border-color': content.aux.miniformat['label_background']}"> 
    <div class="row">
      <div class="col-xs-12 text-center">

        <div class="content-preview__thumbnail">
          <img class="img-responsive content-preview__image" ng-src="{{content.thumb_url}}"> 
          <%= render partial: "/application/content_preview_content_type" %>
        </div>
        <p class="content-preview__title">{{content.title | cut:true:70}}</p>
      </div>
    </div>

    <div class="content-preview__event-info-container" ng-if="getFirstIcalInteractionForContent(content)">
      <p class="content-preview__event-info"><i class="fa fa-clock-o"></i>{{getFirstIcalInteractionForContent(content)[2]}}</p>
      <p class="content-preview__event-info" ng-if="content.extra_fields.guests"><i class="fa fa-user"></i>{{content.extra_fields.guests}}</p>
    </div>

    <div class="content-preview__event-info-container" ng-if="content.extra_fields.author_avatar && !getFirstIcalInteractionForContent(content)">
      <img class="content-preview__event-info-container__author_avatar" ng-src="{{content.extra_fields.author_avatar.url}}">    
      <p class="cta__author-title--stripe">{{content.extra_fields.author_name}}</p>
      <p class="cta__author-address--stripe">{{content.extra_fields.author_newspaper}}</p>
    </div>

  </div>
</a>

<a target="_blank" href="{{content.extra_fields.author_url}}" ng-click="_gaq.push(['_trackEvent','Navigation', <%= @category ? "'#{@category.slug}'" : "stripe.slug" %>, content.slug]);" ng-if="content.layout == 'press'"> 
  <div class="content-preview--press"> 
    <div class="row">
      <div class="col-xs-12">
        <span class="fa fa-quote-left content-preview__quote"></span>
        <p class="content-preview__title--press">{{sanitizeText(content.long_description)}}</p>
        <p class="content-preview__author">{{content.extra_fields.author_name}}</p>
        <p class="content-preview__newspaper">{{content.extra_fields.author_newspaper}}<span ng-if="content.extra_fields.publishing_date"></span></p>
        <p class="content-preview__date">{{formatDate(content.extra_fields.publishing_date.value, aux.language)}}</p>
      </div>
    </div>
  </div>
</a>

<a class="relateds-flexslider__item--narrow--a" ng-href="{{linkToValidFrom(content)}}" ng-click="_gaq.push(['_trackEvent','Navigation', <%= @category ? "'#{@category.slug}'" : "stripe.slug" %>, content.slug]);" ng-if="content.layout == 'narrow-img' || content.type == 'tag'" style="position: relative;">
  <div class="content-preview__item-panel--narrow">
    <div ng-if="!isContentValid(content)" class="content-preview__coming-soon__container--narrow">
      <div class="content-preview__coming-soon--narrow">
        <p>coming soon</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <img ng-src="{{content.extra_fields.vertical_thumb.url}}"> 
      </div>
    </div>
  </div>
  <!--<p class="relateds-flexslider__item-title--narrow">{{content.extra_fields.content_title}}</p>-->
</a>

<a href="{{linkTo(content.detail_url, stripe.key)}}" ng-click="_gaq.push(['_trackEvent','Navigation', <%= @category ? "'#{@category.slug}'" : "stripe.slug" %>, content.slug]);" ng-if="content.layout == 'narrow-img-text'">
  <div class="content-preview__item-panel--narrow"> 
    <div class="row">
      <div class="col-xs-12">
        <div class="relateds-flexslider__img--narrow">
          <img class="img-responsive" ng-src="{{content.extra_fields.vertical_thumb.url}}"> 
        </div>
      </div>
      <div class="relateds-flexslider__text-container--narrow">
        <div class="row relateds-flexslider__text-row--narrow" ng-style="{'background-color': content.extra_fields['background_color']}">
          <div class="col-xs-3 text-right relateds-flexslider__number--narrow">
            <p>{{content.extra_fields.number_thumb}}</p>
          </div>
          <div class="col-xs-9">
            <p class="relateds-flexslider__title--narrow">{{content.title | cut:true:70}}</p>
            <p class="relateds-flexslider__description--narrow">{{content.extra_fields.subtitle_thumb | cut:true:70}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
