<div class="container-fluid__blue container-evidence">
  <%= render partial: "/application/imprese_evidence_ctas" %>
</div>

<div class="stripe-container stripe-blue" ng-if="aux.story_stripe.contents" ng-style="{'background-color': aux.story_stripe.extra_fields.background_color}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.story_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-blue" ng-if="aux.interview_stripe.contents" ng-style="{'background-color': aux.interview_stripe.extra_fields.background_color}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.interview_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-blue" ng-if="aux['article_stripe']['contents']" ng-style="{'background-color': aux.article_stripe.extra_fields.background_color}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux['article_stripe']]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-blue" ng-if="aux['event_stripe']['contents']" ng-style="{'background-color': aux.event_stripe.extra_fields.background_color}">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections custom-bt-browse-sections" ng-repeat="stripe in [aux['event_stripe']]">       
          <div class="row main-row" ng-class-odd="'brws-item--dark'">
            <div class="col-sm-12 text-center">
              <h2 class="stripe__title">{{stripe.title}} <a class="view-all-link" ng-if="stripe.total > stripe.per_page && stripe.extra_fields.view_all">Vedi tutti</a></h2>
            </div>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-4" ng-repeat="content in stripe.contents | limitTo:3">
                  <%= render partial: "/application/content_preview" %>
                </div>
              </div>
            </div>
            <div class="col-sm-3 cta__evidence-calendar text-center">
              <%= render partial: "/calendar/widget-calendar" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-blue" ng-style="{'background-color': aux.gallery_stripe.extra_fields.background_color}" ng-if="aux.gallery_stripe.contents">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.gallery_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    buildCalendar();
  });

  function buildCalendar() {

    $('#widget-calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      dayClick: function(date, jsEvent, view ) {
        window.location.href = "/<%= get_intesa_property %>/calendar/" + date.format("DD-MM-YYYY")
      },
      height: "auto",
      lang: "<%= $context_root || 'it' %>",
      editable: false,
      disableResizing: true
    });

  }
</script>