<div class="container-fluid__blue container-evidence">
  <%= render partial: "/application/imprese_evidence_ctas" %>
</div>

<div class="stripe-container stripe-blue">
  <div class="container" ng-if="aux.story_stripe.contents">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.story_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-darkblue">
  <div class="container" ng-if="aux.interview_stripe.contents">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.interview_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-blue">
  <div class="container" ng-if="aux['article_stripe']['contents']">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux['article_stripe']]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-darkblue">
  <div class="container" ng-if="aux['event_stripe']['contents']">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux['event_stripe']]">       
          <div class="row main-row" ng-class-odd="'brws-item--dark'">
            <div class="col-sm-12 text-center">
              <h2 class="stripe__title">{{stripe.title}} <a class="view-all-link" ng-if="stripe.total > stripe.per_page && stripe.extra_fields.view_all">Vedi tutti</a></h2>
            </div>
            <div class="col-sm-8" ng-repeat="contents in [stripe.contents]">
              <%= render partial: "/application/content_carousel" %>
            </div>
            <div class="col-sm-4">
              <div id="widget-calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-blue">
  <div class="container" ng-if="aux.gallery_stripe.contents">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.gallery_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    buildCalendar();
  });

  function buildCalendar() {

    $('#widget-calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      dayClick: function(date, jsEvent, view ) {
        window.location.href = "/<%= get_intesa_property %>/calendar/" + date.format("DD-MM-YYYY")
      },
      height: "auto",
      lang: "<%= $context_root || 'it' %>",
      editable: false,
      disableResizing: true
    });

  }
</script>