<div class="container-fluid__blue">
  <%= render partial: "/application/evidence_ctas" %>
</div>

<div class="container-fluid__blue" ng-if="aux['event_stripe']['contents']">
  <div class="container main-container container--blue">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux['event_stripe']]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-darkwhite" ng-if="aux['gallery_stripe']['contents']">
  <%# {'background-color': aux.gallery_stripe.extra_fields.background_color} %>
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.gallery_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-white" ng-style="{'background-color': aux.article_stripe.extra_fields.background_color}" ng-if="aux['article_stripe']['contents']">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.article_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-darkwhite" ng-style="{'background-color': aux.article_stripe.extra_fields.background_color}" ng-if="aux['press_stripe']['contents']">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.press_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>