<div class="container-fluid__blue">
  <%= render partial: "/application/evidence_ctas" %>
</div>
<div class="container-fluid__blue stripe-container">
  <div class="container main-container container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
      	<h1 class="category-header__title" ng-if="aux.assets['home_title_' + aux.language]">{{aux.assets['home_title_' + aux.language]}}</h1>
		<h2 class="category-header__subtitle" ng-if="aux.assets['home_subtitle_' + aux.language]">{{aux.assets['home_subtitle_' + aux.language]}}</h2>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid__blue stripe-container" ng-if="aux['event_stripe']['contents']">
  <div class="container main-container container--blue">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux['event_stripe']]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-white" ng-if="aux['gallery_stripe']['contents']" ng-style="{'background-color': aux.gallery_stripe.extra_fields.background_color}">
  <%# {'background-color': aux.gallery_stripe.extra_fields.background_color} %>
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.gallery_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-white" ng-style="{'background-color': aux.story_stripe.extra_fields.background_color}" ng-if="aux['story_stripe']['contents']">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.story_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-white" ng-style="{'background-color': aux.article_stripe.extra_fields.background_color}" ng-if="aux['article_stripe']['contents']">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.article_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-white" ng-style="{'background-color': aux.story_innovation_stripe.extra_fields.background_color}" ng-if="aux['story_innovation_stripe']['contents']">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.story_innovation_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="stripe-container stripe-white" ng-style="{'background-color': aux.press_stripe.extra_fields.background_color, 'color': aux.press_stripe.extra_fields.color}" ng-if="aux['press_stripe']['contents']">
  <div class="container main-container">
    <div class="row">
      <div class="col-sm-12">
        <div class="browse-sections" ng-repeat="stripe in [aux.press_stripe]">
          <%= render partial: "/application/stripe" %>
        </div>
      </div>
    </div>
  </div>
</div>