
<div class="panel panel-default">
		<% if f.object.id %>
			<div class="panel-heading">METADATO</div>
		<% else %>
			<div class="panel-heading">METADATO 
				<p style="float: right"><%= link_to_remove_tag_fields "rimuovi" %></p>
			</div>
		<% end %>
		<div class="panel-body">

			<%= f.fields_for :tag_field do |fieldform| %>

				<div class="col-lg-6">
					<div class="row" style="margin-bottom: 0px;">
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-input">Nome campo</label>
						  		<%= fieldform.text_field :seconds, :class => "form-control" %>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
							  <label class="text-input">Tipo</label>
							   <%= fieldform.select(:type, [["STRINGA", "STRINGA"], ["UPLOAD", "UPLOAD"]], {}, { :class => "form-control" }) %>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-input">Valore</label>
						  		<%= fieldform.text_area :value, :class => "form-control" %>
							</div>
						</div>
					</div>
				</div>

			<% end %>
  	</div>
</div>