<% auth_tt = current_user.authentications.find_by_provider("twitter_#{$site.id}") %>
<% auth_fb = current_user.authentications.find_by_provider("facebook_#{$site.id}") %>

<% app_fb = get_deploy_setting("sites/#{$site.id}/authentications/facebook", false) %>
<% app_tt = get_deploy_setting("sites/#{$site.id}/authentications/twitter", false) %>

<div class="container main-container">
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true, :class => "form-horizontal" }) do |f| %>
    <div class="row">
      <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px;">
        <%= render partial: "profile/profile_header" %>
      </div>
      <div class="col-md-12">
        <%= render partial: "profile/profile_navbar", locals: { page: "edit" } %>

        <div class="row main-row">
          <div class="col-md-12">
            <h2>Profilo</h2>
            <hr>
          </div>
        </div>
            
        <% if resource.errors.any? %>
          <div class="row main-row">
            <div class="col-md-12">
              <div class="alert alert-danger">
                <p>Errori nel salvataggio dell'utente:
                  <ul>
                    <% resource.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        <% elsif flash[:notice] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success"><%= flash[:notice] %></div>
            </div>
          </div>
        <% end %>

        <div class="row main-row">
          <%= f.hidden_field :avatar_selected %>
          <%= f.hidden_field :avatar_selected_url %>
          <div class="col-xs-12">
            <div class="row">
              <div class="col-sm-4 text-center">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div class="fileinput-new thumbnail" style="width: 150px; height: 115px;">
                    <img src="<%= current_user.avatar %>">
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail" style="width: 150px; height: 115px;"></div>
                  <span class="btn btn-default btn btn-xs btn-file btn-block" style="vertical-align: top;"><span class="fileinput-new">Cambia immagine</span><span class="fileinput-exists">Modifica</span><%= f.file_field :avatar %></span>
                </div>
              </div>
              <% if auth_tt || auth_fb %>
                <div class="col-sm-5 col-sm-offset-3">
                  <div class="list-group">
                    <a id="upload-avatar" href="javascript: void(0)" onclick="updateAvatar('upload', '<%= current_user.avatar(:thumb)%>')" class="list-group-item <%= "active" if current_user.avatar_selected == "upload" %> avatar"><img src="<%= current_user.avatar(:thumb) %>" alt="..." class="img-circle img-profile" width="10%">&nbsp;&nbsp;&nbsp;Immagine caricata</a>
                    <% if auth_tt %>
                      <a id="twitter-avatar" href="javascript: void(0)" onclick="updateAvatar('twitter', '<%= auth_tt.avatar %>')" class="list-group-item <%= "active" if current_user.avatar_selected == "twitter" %> avatar btn-tt"><img src="<%= auth_tt.avatar %>" alt="..." class="img-circle img-profile" width="10%">&nbsp;&nbsp;&nbsp;Immagine Twitter</a>
                    <% end %>
                    <% if auth_fb %>
                      <a id="facebook-avatar" href="javascript: void(0)" onclick="updateAvatar('facebook', '<%= auth_fb.avatar %>')" class="list-group-item <%= "active" if current_user.avatar_selected == "facebook" %> avatar"><img src="<%= auth_fb.avatar %>" alt="..." class="img-circle img-profile" width="10%">&nbsp;&nbsp;&nbsp;Immagine Facebook</a>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>

        <% if app_tt || app_fb %>
          <hr>
        <% end %>

        <% if app_tt %>
          <div class="row main-row">
            <div class="col-xs-4 text-right">
              <p style="padding-top: 8px">Connettiti con Twitter</p>
            </div>
            <div class="col-xs-8 text-left">
              <% if current_user.twitter(request.site.id).present? %>
                <span class="glyphicon glyphicon-ok ok-color"></span> Hai già collegato il tuo account <a href="/profile/remove-provider/twitter">disconnetti</a>
              <% else %>
                <a href="/auth/twitter_<%= request.site.id %>"><button type="button" class="btn btn-default btn-account">CONNETTITI</button></a>
              <% end %>
            </div>
          </div>
        <% end %>

        <% if app_fb %>
          <div class="row main-row">
            <div class="col-xs-4 text-right">
              <p style="padding-top: 8px;">Connettiti con Facebook</p>
            </div>
            <div class="col-xs-8">
              <% if current_user.facebook(request.site.id).present? %>
                <span class="glyphicon glyphicon-ok ok-color"></span> Hai già collegato il tuo account <a href="/profile/remove-provider/facebook">disconnetti</a>
              <% else %>
                <a href="/auth/facebook_<%= request.site.id %>"><button type="button" class="btn btn-default btn-account">CONNETTITI</button></a>
              <% end %>
            </div>
          </div>
        <% end %>

        <hr>

        <div class="row main-row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-xs-3 control-label text-right">Nome</label>
              <div class="col-xs-9">
                <%= f.text_field :first_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label text-right">Cognome</label>
              <div class="col-xs-9">
                <%= f.text_field :last_name, :class => "form-control" %>
              </div>
            </div>
            <div class="form-group">
              <label class="col-xs-3 control-label text-right">Email</label>
              <div class="col-xs-9">
                <%= f.text_field :email, :class => "form-control", readonly: "true" %>
              </div>
            </div>
          </div>
        </div>

        <hr>

        <div class="row main-row">
          <div class="col-sm-12">
            <div class="form-group">
              <label class="col-xs-3 control-label text-right">Nuova password</label>
              <div class="col-xs-9">
                <%= f.password_field :password, :class => "form-control" %>
              </div>
            </div>

            <div class="form-group">
              <label class="col-xs-3 control-label text-right">Conferma nuova password</label>
              <div class="col-xs-9">
               <%= f.password_field :password_confirmation, :class => "form-control" %>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row main-row">
          <div class="col-sm-12 text-right" style="margin-top: 15px; margin-bottom: 15px;">
            <button class="btn btn-primary btn-lg">SALVA</button>
          </div>
        </div>

      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  function updateAvatar(type, avatar) {
    $("#user_avatar_selected").val(type);
    $("#user_avatar_selected_url").val(avatar);
    $(".avatar").removeClass("active");
    $("#" + type + "-avatar").addClass("active");
  }

</script>
 

