<% content_for :body_class, "small-body" %>
<div class="small-container">
  <%= render partial: "/application/navbar" %>
</div>

<div class="contest-1-container contest-2-container-sp">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="contest-title">{{aux.assets.extra_fields.contest_section_2_title}}</p>
      </div>
      <div class="col-sm-12">
        <img class="contest-img hidden-xs" ng-src="{{aux.assets.extra_fields.contest_section_2_img.url}}">
        <img class="contest-img visible-xs" ng-src="{{aux.assets.extra_fields.contest_section_2_mobile_img.url}}">
      </div>
      <div class="col-sm-6 col-sm-offset-3 text-center">
        <p class="contest-description">{{aux.assets.extra_fields.contest_section_2_description}}</p>
      </div>
    </div>
  </div>
</div>

<div id="contest_identitycollection_user_form" class="contest-2-container-sp-form">

  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <p class="contest-title">Inserisci i dati del tuo scontrino per partecipare</p>
      </div>
      <% if flash[:notice].present? %>
        <div class="col-sm-12">
          <div class="alert alert-success" role="alert">
            <p><%= flash[:notice]%></p>
          </div>
        </div>
      <% end %>
      <% if flash[:error].present? %>
        <div class="col-sm-12">
          <div class="alert alert-danger" role="alert">
            <p><%= flash[:error]%></p>
          </div>
        </div>
      <% end %>
      <% if @contest_identitycollection_user.errors.any? %>
        <div class="col-sm-12 devise-errors">
          <p>Errori nella compilazione del modulo:</p>
          <ul>
            <% @contest_identitycollection_user.errors.full_messages.each do |error_message| %>
              <li><%= error_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-sm-8 col-sm-offset-2">
        <%= form_for @contest_identitycollection_user, :url => "/concorso_identitycollection/update#contest_identitycollection_user_form", html: { class: "form-horizontal" } do |f| %> 
          <div class="form-group">
            <label class="col-sm-3 control-label">Nome</label>
            <div class="col-sm-9">
              <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nome", readonly: @contest_identitycollection_user.first_name.present? %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Cognome</label>
            <div class="col-sm-9">
              <%= f.text_field :last_name, :class => "form-control", :placeholder => "Cognome", readonly: @contest_identitycollection_user.last_name.present? %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data di nascita</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-4">
                  <% date_array = (1..31).map { |date| [date, date] } %>
                  <% date_array.unshift ["Giorno", ""] %>
                  <%= f.select :day_of_birth, options_for_select(date_array, @contest_identitycollection_user[:day_of_birth]), {}, { class: "form-control", disabled: current_user.birth_date.present? } %>
                </div>
                <div class="col-sm-4">
                  <% date_array = (1..12).map { |date| [date, date] } %>
                  <% date_array.unshift ["Mese", ""] %>
                  <%= f.select :month_of_birth, options_for_select(date_array, @contest_identitycollection_user[:month_of_birth]), {}, { class: "form-control", disabled: current_user.birth_date.present? } %>
                </div>
                <div class="col-sm-4">
                  <% date_array = (1900..2015).map { |date| [date, date] } %>
                  <% date_array.unshift ["Anno", ""] %>
                  <%= f.select :year_of_birth, options_for_select(date_array, @contest_identitycollection_user[:year_of_birth]), {}, { class: "form-control", disabled: current_user.birth_date.present? } %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Codice prodotto</label>
            <div class="col-sm-9">
              <% date_array = @products.map { |date| [date, date] } %>
              <% date_array.unshift ["Scegli il prodotto", ""] %>
              <%= f.select :product_code, options_for_select(date_array, @contest_identitycollection_user[:product_code]), {}, { class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Numero di scontrino</label>
            <div class="col-sm-9">
              <%= f.text_field :receipt_number, :class => "form-control", :placeholder => "Numero di scontrino" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Importo</label>
            <div class="col-sm-9">
              <%= f.text_field :receipt_amount, :class => "form-control", :placeholder => "59,90" %>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Ora di emissione</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-4">
                  <% date_array = (0..23).map { |date| [date, date] } %>
                  <% date_array.unshift ["Ora", ""] %>
                  <%= f.select :hour_of_emission, options_for_select(date_array, @contest_identitycollection_user[:hour_of_emission]), {}, { class: "form-control" } %>
                </div>
                <div class="col-sm-4">
                  <% date_array = (0..59).map { |date| [date, date] } %>
                  <% date_array.unshift ["Mese", ""] %>
                  <%= f.select :minute_of_emission, options_for_select(date_array, @contest_identitycollection_user[:minute_of_emission]), {}, { class: "form-control" } %>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Data di emissione</label>
            <div class="col-sm-9">
              <div class="row">
                <div class="col-sm-4">
                  <% date_array = (1..31).map { |date| [date, date] } %>
                  <% date_array.unshift ["Giorno", ""] %>
                  <%= f.select :day_of_emission, options_for_select(date_array, @contest_identitycollection_user[:day_of_emission]), {}, { class: "form-control" } %>
                </div>
                <div class="col-sm-4">
                  <% date_array = (1..12).map { |date| [date, date] } %>
                  <% date_array.unshift ["Mese", ""] %>
                  <%= f.select :month_of_emission, options_for_select(date_array, @contest_identitycollection_user[:month_of_emission]), {}, { class: "form-control" } %>
                </div>
                <div class="col-sm-4">
                  <% date_array = [2015, 2015] %>
                  <%= f.select :year_of_emission, options_for_select(date_array, @contest_identitycollection_user[:year_of_emission]), {}, { class: "form-control", disabled: true } %>
                </div>
              </div>
            </div>
          </div>
          <div class="checkbox text-left">
            <label><%= f.check_box :newsletter, {}, "true", "false" %> Iscrizione alla newsletter</label>
          </div>
          <div class="col-sm-12 text-center">
            <button style="margin-top: 25px;" type="submit" class="btn btn-green btn-lg">Invia</button>            
          </div>

        <% end %>
      </div>
    </div>
  </div>

</div>
