<div>
  <div class="row text-right" style="padding-bottom: 0px; margin-bottom: -20px;">
    <div class="col-lg-4 text-center">
      <div class="form-group">
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview thumbnail" style="width: 100px; height: 100px; line-height: 20px;">
                <% unless f.object.image.blank? %><img src="<%= f.object.image.url %>"><% end %>
            </div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileupload-new">SELEZIONA L'IMMAGINE</span>
              <span class="fileupload-exists">Change</span><%= f.file_field :image  %></span>
              <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
            </div>
          </div>
      </div>
    </div>
    <div class="col-lg-8">
		<div class="form-group">
	  		<%= f.text_field :text, :class => "form-control" %>
		</div>
		<div class="row text-right">
		    <div class="col-lg-12 remove-answer">
		      <% if f.object.id %>
		          <%= f.hidden_field :remove_answer %>
		          <a class="btn btn-secondary btn-xs " href="javascript: void(0)" onclick="updateDeleteHiddenField(this)">sgancia</a>
		      <% else %>
		        <%= link_to_remove_answer_versus_fields "rimuovi" %>
		      <% end %>
		    </div>
		</div>
	</div>
  </div>
  <hr/>
</div>

<script type="text/javascript">

  	function updateDeleteHiddenField(e) {
	    if($(e).html() == "sgancia") {
	      	$(e).parent().parent().find("input:hidden").val("1");
	      	$(e).removeClass("btn-secondary").addClass("btn-tertiary");
	      	$(e).html("aggancia");
	    } else {
	      	$(e).parent().parent().find("input:hidden").val("0");
	      	$(e).removeClass("btn-tertiary").addClass("btn-secondary");
	      	$(e).html("sgancia");
	    }
  	}

</script>

