<div class="panel panel-default">
  <div class="panel-body">

    <div class="row text-right">
      <div class="col-lg-12 remove-answer">
        <% if f.object.id %>
            <%= f.hidden_field :destroy_answer %>
            <!-- <a class="btn btn-secondary btn-xs " href="javascript: void(0)" onclick="updateDeleteHiddenField(this)">sgancia</a> -->
        <% else %>
          <%= link_to_remove_fields("rimuovi", "answer_quiz") %>
        <% end %>
      </div>
    </div>

    <div class="row text-left">
      <div class="col-lg-12">
        <div class="form-group">
          <label class="text-input">Risposta</label>
          <div class="input-group">        
            <%= f.text_field :text, :class => "form-control" %>
            <span class="input-group-addon">
              <%= f.check_box :correct %>
            </span>
          </div>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="form-group">
          <label class="text-input">Nome simbolico</label>
          <div class="input-group">        
            <%= f.text_field :symbolic_name, :class => "form-control", 
              :value => "#{f.object.id ? (f.object.aux['symbolic_name'] rescue nil) : nil}" %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="text-input">Bloccante</label>
            <%= f.select(:blocking, [["SI", true], ["NO", false]], {}, { :class => "form-control" }) %>
        </div>

        <div class="form-group text-center">
          <label class="text-input">Immagine risposta</label>
          <% if f.object.image.blank? %>
            <div class="fileupload fileupload-new" data-provides="fileupload">
          <% else %>
            <div class="fileupload fileupload-exists" data-provides="fileupload">
          <% end %>
            <div class="fileupload-preview thumbnail" style="width: 100%; height: 100px; line-height: 20px;">
                <% unless f.object.image.blank? %><img src="<%= f.object.image.url %>"><% end %>
            </div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileupload-new"><i class="fa fa-picture-o"></i></span>
              <span class="fileupload-exists"><i class="fa fa-pencil"></i></span><%= f.file_field :image  %></span>
              <span class="fileupload-exists"><%= f.check_box :destroy_image %> Elimina </span>
              <!--<a class="btn btn-default fileupload-exists" data-dismiss="fileupload" href="#"><i class="fa fa-times-circle"></i></a> -->
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="text-input">CallToAction</label>
          <%= f.text_field :call_to_action_id, :value => (f.object.call_to_action_id rescue nil), :class => "form-control cta-tag-box" %>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label class="text-input">Media associato</label>
          <% date_array = f.object.media_type_enum.map { |media_type| [media_type, media_type] } %>
          <%= f.select(:media_type, date_array, {}, { :class => "form-control answer-media-type", :onchange => "updateMedia(this)" }) %>
        </div>
        <div class="form-group media_data-form-group">
          <label class="text-input media-data-label">MEDIA DATA</label>
          <%= f.text_area :media_data, :class => "form-control", rows: 2 %>
        </div>

        <div class="form-group media-image-form-group text-center">
          <label class="text-input">Immagine media</label>
          <div class="fileupload fileupload-new" data-provides="fileupload">
            <div class="fileupload-preview thumbnail" style="width: 100%; height: 100px; line-height: 20px;">
              <img src="<%= f.object.media_image.url %>">
            </div>
            <div>
              <span class="btn btn-default btn-file"><span class="fileupload-new"><i class="fa fa-picture-o"></i></span>
              <span class="fileupload-exists">Change</span><%= f.file_field :media_image  %></span>
              <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload"><i class="fa fa-times-circle"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  <% cta_list = [] %>
  <% CallToAction.includes(:call_to_action_tags, call_to_action_tags: :tag)
                  .select('call_to_actions.id, call_to_actions.name')
                  .where("activated_at<=? AND activated_at IS NOT NULL AND (tags.name='step' OR tags.name = 'ending')", Time.now.utc)
                  .references(:call_to_action_tags)
                  .order("activated_at DESC").each do |c| 
                    cta_list << {"id" => c.id, "text" => c.name} 
                  end %>

    cta_list = <%= raw(cta_list.to_json) %>

  function formatSelection(item) {
    return item.text;
  };

  $(".cta-tag-box").select2({ 
    maximumSelectionSize: 1, 
    createSearchChoice: function() { return null; },
    formatSelection: formatSelection,
    formatNoMatches: function (term) { return "Nessuna Call to Action trovata"; },
    formatSelectionTooBig: function (limit) { return "Puoi selezionare una sola Call to Action"; },
    placeholder: "", 
    tags: cta_list, 
    tokenSeparators: [","] 
  });

</script>