<div class="panel panel-default">
	<% if f.object.id %>
		<div class="panel-heading-dark">&nbsp;
      <% if can? :access, :rails_admin %>
  			<p style="float: right">
          <a href="/rails_admin/interaction/<%= f.object.id %>/edit"><button type="button" class="btn btn-primary btn-xs"> RAILS ADMIN </button></a>
        </p>
      <% end %>
    </div>
	<% else %>
		<div class="panel-heading-dark">&nbsp; 
			<p style="float: right"><%= link_to_remove_fields("rimuovi", "like") %></p>
		</div>
	<% end %>
	<div class="panel-body" style="padding-bottom: 0px;">
		<%= f.hidden_field :resource_type, :class => "form-control" %>

		<div class="row">
			<div class="col-lg-6">
				<div class="form-group">
				  <label class="text-input">Visibile</label>
				   <%= f.select(:when_show_interaction, adjust_when_show_interactions_for_form(), {}, { :class => "form-control" }) %>
				</div>
			</div>
			<div class="form-group">
			  <label class="text-input">Posizione</label>
			   <%= f.select(:interaction_positioning, [["UNDER_MEDIA", "UNDER_MEDIA"], ["OVER_MEDIA", "OVER_MEDIA"]], {}, { :class => "form-control" }) %>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
          <label class="text-input">Richiesto per il completamento</label>
            <%= f.select(:required_to_complete, [["SI", true], ["NO", false]], {}, { :class => "form-control" }) %>
        </div>
      </div>
		</div>

		<%= f.fields_for :resource do |likeform| %>
			 <%= likeform.hidden_field :title, :class => "form-control" %>
		<% end %>
  	</div>
</div>