<div class="panel panel-default">
	<% if f.object.id %>
		<div class="panel-heading">PLAY</div>
	<% else %>
		<div class="panel-heading">PLAY 
			<p style="float: right"><%= link_to_remove_play_fields "rimuovi" %></p>
		</div>
	<% end %>
	<div class="panel-body">
		<%= f.hidden_field :resource_type, :class => "form-control" %>
		<%= f.fields_for :resource do |quizform| %>

			<div class="col-lg-12">
				<div class="row">
					<div class="col-lg-6">
						<div class="form-group">
						  <label class="text-input">Nome</label>
						   <%= quizform.text_field :title, :class => "form-control" %>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="form-group">
						  <label class="text-input">Testo prima</label>
						   <%= quizform.text_field :text_before, :class => "form-control" %>
						</div>
						<div class="form-group">
						  <label class="text-input">Testo dopo</label>
						   <%= quizform.text_field :text_after, :class => "form-control" %>
						</div>
					</div>
				</div>
			</div>

		<% end %>
  	</div>
</div>