
<div class="panel panel-default">
  <% if f.object.id %>
    <div class="panel-heading-dark">RANDOM
      <% if can? :access, :rails_admin %>
        <p style="float: right">
          <a href="/rails_admin/interaction/<%= f.object.id %>/edit"><button type="button" class="btn btn-primary btn-xs"> RAILS ADMIN </button></a>
        </p>
      <% end %>
    </div>
  <% else %>
    <div class="panel-heading-dark">RANDOM 
      <p style="float: right"><%= link_to_remove_fields("rimuovi", "random") %></p>
    </div>
  <% end %>
  <div class="panel-body">

    <%= f.hidden_field :resource_type, :class => "form-control" %>

    <%= f.fields_for :resource do |randomform| %>

      <div class="row" style="margin-bottom: 0px;">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="text-input">Richiesto per il completamento</label>
             <%= f.select(:required_to_complete, [["SI", true], ["NO", false]], {}, { :class => "form-control" }) %>
          </div>

          <div class="form-group">
            <label class="text-input">Visibile</label>
             <%= f.select(:when_show_interaction, adjust_when_show_interactions_for_form(), {}, { :class => "form-control" }) %>
          </div>
          <div class="form-group">
            <label class="text-input">Posizione</label>
             <%= f.select(:interaction_positioning, [["UNDER_MEDIA", "UNDER_MEDIA"], ["OVER_MEDIA", "OVER_MEDIA"]], {}, { :class => "form-control" }) %>
          </div>
          <div class="form-group">
            <label class="text-input">Tag</label>
            <% tag_text_field_id = randomform.object_name.gsub("[", "_").gsub("]", "") + "_tag" %>
            <%= render_html_tag_box(tag_text_field_id, get_random_interaction_tag(randomform), "Tag non esistente!", 1) %>
            <script type="text/javascript">
              $("#" + "<%= tag_text_field_id %>").attr("name", "<%= "#{randomform.object_name}[tag]" %>");
            </script>
            <p id="<%= tag_text_field_id %>_message"> </p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>