
<div class="panel panel-default">
  <% if f.object.id %>
    <div class="panel-heading-dark">RANDOM</div>
  <% else %>
    <div class="panel-heading-dark">RANDOM 
      <p style="float: right"><%= link_to_remove_fields("rimuovi", "random") %></p>
    </div>
  <% end %>
  <div class="panel-body">

    <%= f.hidden_field :resource_type, :class => "form-control" %>

    <%= f.fields_for :resource do |randomform| %>

      <div class="row" style="margin-bottom: 0px;">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="text-input">Tag</label>
            <% tag_text_field_id = randomform.object_name.gsub("[", "_").gsub("]", "") + "_tag" %>
            <%= render_html_tag_box(tag_text_field_id, (RandomResource.find(randomform.object.id).tag rescue nil), "Tag non esistente!", 1) %>
            <script type="text/javascript">
              $("#" + "<%= tag_text_field_id %>").attr("name", "<%= "#{randomform.object_name}[tag]" %>");
            </script>
            <p id="<%= tag_text_field_id %>_message"> </p>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>