<div class="panel panel-default">
	<% if f.object.id %>
		<div class="panel-heading-dark">&nbsp;</div>
	<% else %>
		<div class="panel-heading-dark">&nbsp; 
			<p style="float: right"><%= link_to_remove_share_fb_fields "rimuovi" %></p>
		</div>
	<% end %>
	<div class="panel-body">
		<%= f.hidden_field :resource_type, :class => "form-control" %>
		<%= f.fields_for :resource do |shareform| %>

			<div class="col-lg-3">
				<label>Provider per lo share</label>
				<div class="checkbox">
					<label>
					<input class="facebook-checkbox" type="checkbox" value="facebook" onchange="updateJsonForShare(this)">
						Facebook
					</label>
				</div>
				<div class="checkbox">
					<input class="twitter-checkbox" type="checkbox" value="twitter" onchange="updateJsonForShare(this)">
						Twitter
					</label>
				</div>
				<div class="checkbox">
					<input class="google-plus-checkbox" type="checkbox" value="googlePlus" onchange="updateJsonForShare(this)">
						Google+
					</label>
				</div>
				<div class="checkbox">
					<input class="whatsapp-checkbox" type="checkbox" value="whatsapp" onchange="updateJsonForShare(this)">
						WhatsApp
					</label>
				</div>
				<div class="checkbox">
					<input class="linkedin-checkbox" type="checkbox" value="linkedin" onchange="updateJsonForShare(this)">
						LinkedIn
					</label>
				</div>
				<div class="checkbox">
					<input class="email-checkbox" type="checkbox" value="twitter" onchange="updateJsonForShare(this)">
						Email
					</label>
				</div>
				<div class="checkbox">
					<input class="direct_url-checkbox" type="checkbox" value="twitter" onchange="updateJsonForShare(this)">
						Direct url
					</label>
				</div>

				<div class="form-group">
          <label class="text-input">Richiesto per il completamento</label>
           <%= f.select(:required_to_complete, [["SI", true], ["NO", false]], {}, { :class => "form-control" }) %>
        </div>

				<div class="form-group">
				  <label class="text-input">Visibile</label>
				   <%= f.select(:when_show_interaction, [["SEMPRE_VISIBILE", "SEMPRE_VISIBILE"], ["MAI_VISIBILE", "MAI_VISIBILE"]], {}, { :class => "form-control" }) %>
				</div>

				<div class="form-group ">
          <label class="text-input">JSON</label>
					<%= shareform.text_area :providers, class: "form-control provider-json", rows: 4, readonly: true, style: "font-size: 10px;" %>
				</div>

				<div class="form-group">
					<label class="text-input">Salvata per l'anonimo</label>
	  			 <%= f.select(:stored_for_anonymous, [["NO", false], ["SI", true]], {}, { :class => "form-control" }) %>
	 			</div>	

			</div>

			<div class="col-lg-5">
				<div class="facebook-share hidden">
						<label>Facebook</label>
						<hr>
					 	<div class="form-group">
              <label class="text-input">Titolo</label>
              <%= text_field_tag :facebook_message, nil, class: "form-control facebook-message", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Descrizione</label>
              <%= text_field_tag :facebook_description, nil, class: "form-control facebook-description", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Link</label>
              <%= text_field_tag :facebook_link, nil, class: "form-control facebook-link", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
         </div>
         <div class="twitter-share hidden">
          	<label>Twitter</label>
						<hr>
					 	<div class="form-group">
              <label class="text-input">Messaggio</label>
              <%= text_field_tag :twitter_message, nil, class: "form-control twitter-message", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Link</label>
              <%= text_field_tag :twitter_link, nil, class: "form-control twitter-link", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
				</div>
				<div class="google-plus-share hidden">
						<label>Google+</label>
						<hr>
					 	<div class="form-group">
              <label class="text-input">Titolo</label>
              <%= text_field_tag :google_plus_message, nil, class: "form-control google-plus-message", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Descrizione</label>
              <%= text_field_tag :google_plus_description, nil, class: "form-control google-plus-description", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Link</label>
              <%= text_field_tag :google_plus_link, nil, class: "form-control google-plus-link", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
         </div>
         <div class="whatsapp-share hidden">
						<label>WhatsApp</label>
						<hr>
					 	<div class="form-group">
              <label class="text-input">Messaggio</label>
              <%= text_field_tag :whatsapp_message, nil, class: "form-control whatsapp-message", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Link</label>
              <%= text_field_tag :whatsapp_link, nil, class: "form-control whatsapp-link", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
         </div>
         <div class="linkedin-share hidden">
						<label>LinkedIn</label>
						<hr>
					 	<div class="form-group">
              <label class="text-input">Titolo</label>
              <%= text_field_tag :linkedin_message, nil, class: "form-control linkedin-message", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Descrizione</label>
              <%= text_field_tag :linkedin_description, nil, class: "form-control linkedin-description", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
          	<div class="form-group">
              <label class="text-input">Link</label>
              <%= text_field_tag :linkedin_link, nil, class: "form-control linkedin-link", id: nil, onkeyup: "updateProviderJson(this)" %>
          	</div>
         </div>
			</div>

			<div class="col-lg-4 text-center">
		      <div class="form-group">
		          <div class="fileupload fileupload-new" data-provides="fileupload">
		            <div class="fileupload-preview thumbnail" style="width: 100%; height: 200px; line-height: 20px;">
		                <% unless shareform.object.picture.blank? %><img src="<%= shareform.object.picture.url %>"><% end %>
		            </div>
		            <div>
		              <span class="btn btn-default btn-file"><span class="fileupload-new">SELEZIONA IMMAGINE</span>
		              <span class="fileupload-exists">MODIFICA</span><%= shareform.file_field :picture  %></span>
		              <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">ELIMINA</a>
		            </div>
		          </div>
		      </div>
		    </div>

		<% end %>
  	</div>
</div>

<script type="text/javascript">

	$(document).ready(function() {
		$.each($(".provider-json"), function(index, element) {
			fromJsonToForm(element);
		});
	});

	function fromJsonToForm(element) {
		if($(element).val()) {
			json = JSON.parse($(element).val());
			provider_div = $(element).parent().parent().parent();

			if(json.facebook) {
				$(provider_div).find(".facebook-message").val(json.facebook.message); 
				$(provider_div).find(".facebook-description").val(json.facebook.description); 
				$(provider_div).find(".facebook-link").val(json.facebook.link); 

				$(provider_div).find(".facebook-checkbox").attr("checked", "checked");
				$(provider_div).find(".facebook-share").removeClass("hidden");
			} else {
				$(provider_div).find(".facebook-share").addClass("hidden");
			}

			if(json.twitter) {
				$(provider_div).find(".twitter-message").val(json.twitter.message); 
				$(provider_div).find(".twitter-link").val(json.twitter.link); 

				$(provider_div).find(".twitter-checkbox").attr("checked", "checked");
				$(provider_div).find(".twitter-share").removeClass("hidden");
			} else {
				$(provider_div).find(".twitter-share").addClass("hidden");
			}

			if(json.google_plus) {
				$(provider_div).find(".google-plus-message").val(json.google_plus.message); 
				$(provider_div).find(".google-plus-description").val(json.google_plus.description); 
				$(provider_div).find(".google-plus-link").val(json.google_plus.link); 

				$(provider_div).find(".google-plus-checkbox").attr("checked", "checked");
				$(provider_div).find(".google-plus-share").removeClass("hidden");
			} else {
				$(provider_div).find(".google-plus-share").addClass("hidden");
			}

			if(json.whatsapp) {
				$(provider_div).find(".whatsapp-message").val(json.whatsapp.message); 
				$(provider_div).find(".whatsapp-link").val(json.whatsapp.link); 

				$(provider_div).find(".whatsapp-checkbox").attr("checked", "checked");
				$(provider_div).find(".whatsapp-share").removeClass("hidden");
			} else {
				$(provider_div).find(".whatsapp-share").addClass("hidden");
			}

			if(json.linkedin) {
				$(provider_div).find(".linkedin-message").val(json.linkedin.message); 
				$(provider_div).find(".linkedin-description").val(json.linkedin.description); 
				$(provider_div).find(".linkedin-link").val(json.linkedin.link); 

				$(provider_div).find(".linkedin-checkbox").attr("checked", "checked");
				$(provider_div).find(".linkedin-share").removeClass("hidden");
			} else {
				$(provider_div).find(".linkedin-share").addClass("hidden");
			}

			if(json.email) {
				$(provider_div).find(".email-checkbox").attr("checked", "checked");
			}

			if(json.direct_url) {
				$(provider_div).find(".direct_url-checkbox").attr("checked", "checked");
			}

		}

	}

	function updateJsonForShare(element) {
		provider_name = $(element).val();
		provider_div = $(element).parent().parent().parent().parent();
		
		json = {}

		facebook_checkbox = $(element).parent().parent().parent().parent().find(".facebook-checkbox")[0];
		twitter_checkbox = $(element).parent().parent().parent().parent().find(".twitter-checkbox")[0];
		google_plus_checkbox = $(element).parent().parent().parent().parent().find(".google-plus-checkbox")[0];
		whatsapp_checkbox = $(element).parent().parent().parent().parent().find(".whatsapp-checkbox")[0];
		linkedin_checkbox = $(element).parent().parent().parent().parent().find(".linkedin-checkbox")[0];
		email_checkbox = $(element).parent().parent().parent().parent().find(".email-checkbox")[0];
		direct_url_checkbox = $(element).parent().parent().parent().parent().find(".direct_url-checkbox")[0];
		
		if(facebook_checkbox.checked) {
			json.facebook = {}
			json.facebook.message = provider_div.find(".facebook-message").val(); 
			json.facebook.description = provider_div.find(".facebook-description").val(); 
			json.facebook.link = provider_div.find(".facebook-link").val(); 

			$(provider_div).find(".facebook-share").removeClass("hidden");
		} else {
			$(provider_div).find(".facebook-share").addClass("hidden");
		}

		if(twitter_checkbox.checked) {
			json.twitter = {}
			json.twitter.message = provider_div.find(".twitter-message").val(); 
			json.twitter.link = provider_div.find(".twitter-link").val(); 

			$(provider_div).find(".twitter-share").removeClass("hidden");
		} else {
			$(provider_div).find(".twitter-share").addClass("hidden");
		}

		if(google_plus_checkbox.checked) {
			json.gplus = {}
			json.gplus.message = provider_div.find(".google-plus-message").val(); 
			json.gplus.description = provider_div.find(".google-plus-description").val(); 
			json.gplus.link = provider_div.find(".google-plus-link").val(); 

			$(provider_div).find(".google-plus-share").removeClass("hidden");
		} else {
			$(provider_div).find(".google-plus-share").addClass("hidden");
		}

		if(whatsapp_checkbox.checked) {
			json.whatsapp = {}
			json.whatsapp.message = provider_div.find(".whatsapp-message").val(); 
			json.whatsapp.link = provider_div.find(".whatsapp-link").val(); 

			$(provider_div).find(".whatsapp-share").removeClass("hidden");
		} else {
			$(provider_div).find(".whatsapp-share").addClass("hidden");
		}

		if(linkedin_checkbox.checked) {
			json.linkedin = {}
			json.linkedin.message = provider_div.find(".linkedin-message").val(); 
			json.linkedin.description = provider_div.find(".linkedin-description").val(); 
			json.linkedin.link = provider_div.find(".linkedin-link").val(); 

			$(provider_div).find(".linkedin-share").removeClass("hidden");
		} else {
			$(provider_div).find(".linkedin-share").addClass("hidden");
		}

		if(email_checkbox.checked) { 
			json.email = {};
		}

		if(direct_url_checkbox.checked) { 
			json.direct_url = {};
		}

		json_div = $(element).parent().parent().parent().parent().find(".provider-json").val(JSON.stringify(json));

	}

	function updateProviderJson(element) {
		facebook_share = $(element).parent().parent().parent().find(".facebook-share");
		twitter_share = $(element).parent().parent().parent().find(".twitter-share");
		google_plus_share = $(element).parent().parent().parent().find(".google-plus-share");
		whatsapp_share = $(element).parent().parent().parent().find(".whatsapp-share");
		linkedin_share = $(element).parent().parent().parent().find(".linkedin-share");

		json = {};

		facebook_checkbox = $(element).parent().parent().parent().parent().find(".facebook-checkbox")[0];
		twitter_checkbox = $(element).parent().parent().parent().parent().find(".twitter-checkbox")[0];
		google_plus_checkbox = $(element).parent().parent().parent().parent().find(".google-plus-checkbox")[0];
		whatsapp_checkbox = $(element).parent().parent().parent().parent().find(".whatsapp-checkbox")[0];
		linkedin_checkbox = $(element).parent().parent().parent().parent().find(".linkedin-checkbox")[0];
		email_checkbox = $(element).parent().parent().parent().parent().find(".email-checkbox")[0];
		direct_url_checkbox = $(element).parent().parent().parent().parent().find(".direct_url-checkbox")[0];
	
		if(facebook_checkbox.checked) {
			json.facebook = {};
			json.facebook.message = facebook_share.find(".facebook-message").val(); 
			json.facebook.description = facebook_share.find(".facebook-description").val(); 
			json.facebook.link = facebook_share.find(".facebook-link").val(); 
		}

		if(twitter_checkbox.checked) {
			json.twitter = {};
			json.twitter.message = twitter_share.find(".twitter-message").val(); 
			json.twitter.link = twitter_share.find(".twitter-link").val(); 
		}

		if(google_plus_checkbox.checked) {
			json.gplus = {};
			json.gplus.message = google_plus_share.find(".google-plus-message").val();
			json.gplus.description = google_plus_share.find(".google-plus-description").val();
			json.gplus.link = google_plus_share.find(".google-plus-link").val(); 
		}

		if(whatsapp_checkbox.checked) {
			json.whatsapp = {};
			json.whatsapp.message = twitter_share.find(".whatsapp-message").val(); 
			json.whatsapp.link = twitter_share.find(".whatsapp-link").val(); 
		}

		if(linkedin_checkbox.checked) {
			json.linkedin = {};
			json.linkedin.message = linkedin_share.find(".linkedin-message").val(); 
			json.linkedin.description = linkedin_share.find(".linkedin-description").val(); 
			json.linkedin.link = linkedin_share.find(".linkedin-link").val(); 
		}

		if(email_checkbox.checked) { 
			json.email = {};
		}

		if(direct_url_checkbox.checked) { 
			json.direct_url = {};
		}

		json_div = $(element).parent().parent().parent().parent().find(".provider-json").val(JSON.stringify(json));
	}
</script>