<div class="panel panel-default">
	<% if f.object.id %>
		<div class="panel-heading">&nbsp;</div>
	<% else %>
		<div class="panel-heading">&nbsp; 
			<p style="float: right"><%= link_to_remove_share_email_fields "rimuovi" %></p>
		</div>
	<% end %>
	<div class="panel-body">
		<%= f.hidden_field :resource_type, :class => "form-control" %>
		<%= f.fields_for :resource do |shareform| %>
			<%= shareform.hidden_field :share_type, :class => "form-control", value: "email" %>

			<div class="col-lg-6">
				<div class="form-group">
					<label class="text-input">Oggetto</label>
				   	<%= shareform.text_field :message, :class => "form-control" %>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="form-group">
					<label class="text-input">Contenuto</label>
				   	<%= shareform.text_area :description, :class => "form-control" %>
				</div>
			</div>

		<% end %>
  	</div>
</div>