<hr/>
  <h3>Contatori</h3>
<hr/>
<div class="row">
  <% @plays.each do |key, play| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #70AAFF;">
        <div class="details">
          <span class="content">PLAY [<%= play["title"] %>]</span>
          <span class="value-sm"><%= play["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-youtube-play" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>
  
  <% @likes.each do |key, like| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #FF7A59;">
        <div class="details">
          <span class="content"><%= like["title"] %></span>
          <span class="value-sm"><%= like["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-thumbs-up" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @checks.each do |key, check| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #DDDDDD;">
        <div class="details">
          <span class="content"><%= check["title"] %></span>
          <span class="value-sm"><%= check["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-check" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @links.each do |key, link| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #4D944D;">
        <div class="details">
          <span class="content"><%= link["title"][0..25] %></span>
          <span class="value-sm"><%= link["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-link" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @downloads.each do |key, download| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #FF9DBD;">
        <div class="details">
          <span class="content"><%= download["title"] %></span>
          <span class="value-sm"><%= download["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-download" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @uploads.each do |key, upload| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #FF9DBD;">
        <div class="details">
          <span class="content"><%= upload["title"] %></span>
          <span class="value-sm"><%= upload["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-upload" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @votes.each do |key, vote| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #555555;">
        <div class="details">
          <span class="content"><%= vote["title"] %></span>
          <span class="value-sm"><%= vote["total"] %> <%= vote["mean"].nan? ? "" : "(μ #{vote["mean"]})" %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-star-half-o" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @comments.each do |key, comment| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #7EBBE5;">
        <div class="details">
          <span class="content">COMMENTI APPROVATI / TOTALI <%= comment["title"] %></span>
          <span class="value-sm"><%= comment["approved"] %> / <%= comment["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-comments" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>
</div>

<hr/>

<% @current_cta.interactions.where("resource_type='Quiz'").each_with_index do |q, i| %>
	<% if q.resource.quiz_type == "TRIVIA" %>
		<% if i == 0 %>
    		<h3>Trivia e versus</h3>
			<hr/>
		<% end %>
    <div class="row">
      <div class="col-lg-4">
        <dl class="dl-horizontal">
          <dt>Domanda</dt><dd><p><%= q.resource.question %></p></dd>
          <dt>Tipologia</dt><dd><p><%= q.when_show_interaction %></p></dd>
          <dt>Secondo di apparizione</dt><dd><p><%= q.seconds %></p></dd>
          <dt>Risposte corrette</dt><dd><p><%= @trivia_answer[q.id]["answer_correct"] %></p></dd>
          <dt>Risposte errate</dt><dd><p><%= @trivia_answer[q.id]["answer_wrong"] %></p></dd>
        </dl>
      </div>
      <div class="col-lg-4">
      	<dl class="dl-horizontal">
      		<% q.resource.answers.each do |a| %>
            <dt>Risposta</dt>
              <dd>
                <p><%= a.text %> (<%= a.user_interactions.count %>) <%= "<i class=\"fa fa-check\"></i>".html_safe if a.correct %></p>
                <p><img src="<%= a.image.url %>" style="width: 100px; border: 1px solid black; border-radius: 10px;"></p>
              </dd>		        
        	<% end %> 
        </dl>
      </div>
      <div class="col-lg-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              RISPOSTE
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="reg-donut-chart-<%= q.id %>" class="chart-holder"></div>             
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div>
    </div> 
    <hr/>
  <% end %>
<% end %>

<% @current_cta.interactions.where("resource_type='Quiz'").each_with_index do |q, i| %>
	<% if q.resource.quiz_type != "TRIVIA" %>
		<% if i == 0 %>
    		<h3><%= q.resource.quiz_type %></h3>
			<hr/>
		<% end %>
    <div class="row">
      <div class="col-lg-4">
        <dl class="dl-horizontal">
          <dt>Domanda</dt><dd><p><%= q.resource.question %></p></dd>
          <dt>Tipologia</dt><dd><p><%= q.when_show_interaction %></p></dd>
          <dt>Secondo di apparizione</dt><dd><p><%= q.seconds %></p></dd>
        </dl>
      </div>
      <div class="col-lg-4">
      	<dl class="dl-horizontal">
      		<% q.resource.answers.each do |a| %>
            <dt>Risposta</dt>
            	<dd>
            		<p><%= a.text %> (<%= a.user_interactions.count %>)</p>
            		<p><img src="<%= a.image.url %>" style="width: 100px; border: 1px solid black; border-radius: 10px;"></p>
            	</dd>		        
        	<% end %> 
        </dl>
      </div>
      <div class="col-lg-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              RISPOSTE
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="reg-donut-chart-<%= q.id %>" class="chart-holder"></div>             
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div>
    </div> 
  <hr/>
  <% end %>
<% end %>

<% @shares.each do |key, share| %>
  <% if key == 0 %>
    <h3>Share</h3>
    <hr/>
  <% end %>

  <div class="row">

    <div class="col-md-3">
    	<div class="dashboard-stat">
      	<div class="details">
       		<span class="content">SHARE TOTALI</span>
      		<span class="value-sm"><%= share["total"] %></span>
      	</div>
      	<div class="visual">
      		<i class="fa fa-share-alt"></i>
      	</div>
      </div>
    </div>

    <% if share["providers"]["facebook"] %>
      <div class="col-md-3">
      	<div class="dashboard-stat primary" style="background-color: #43609c">
    		  <div class="details">
    		    <span class="content">FACEBOOK</span>
    		    <span><p>Messaggio</p><%= share["providers"]["facebook"]["message"] %></span><hr/>
    		    <span><p>Descrizione</p><%= share["providers"]["facebook"]["description"] %></span><hr/>
    		    <span><p>Link</p><%= share["providers"]["facebook"]["link"] %></span>
   		    </div>
   		    <div class="visual">
    		  	<i class="fa fa-facebook" style="color: #FFF"></i>
   		    </div>
  		  </div>
      </div>
    <% end %>

    <% if share["providers"]["twitter"] %>
      <div class="col-md-3">
        <div class="dashboard-stat primary" style="background-color: #5eaade">
    		  <div class="details">
    		    <span class="content">TWITTER</span>
    		    <span><p>Messaggio</p><%= share["providers"]["twitter"]["message"] %></span><hr/>
    		    <span><p>Link</p><%= share["providers"]["twitter"]["link"] %></span>
   		    </div>
     		  <div class="visual">
      		  <i class="fa fa-twitter" style="color: #FFF"></i>
     		  </div>
  		  </div>
      </div>
    <% end %>

    <% if share["providers"]["google_plus"] %>
      <div class="col-md-3">
        <div class="dashboard-stat primary" style="background-color: #d34836">
          <div class="details">
            <span class="content">GOOGLE +</span>
            <span><p>Messaggio</p><%= share["providers"]["google_plus"]["message"] %></span><hr/>
            <span><p>Descrizione</p><%= share["providers"]["google_plus"]["description"] %></span><hr/>
            <span><p>Link</p><%= share["providers"]["google_plus"]["link"] %></span>
          </div>
          <div class="visual">
            <i class="fa fa-google-plus" style="color: #FFF"></i>
          </div>
        </div>
      </div>
    <% end %>

    <% if share["providers"]["whatsapp"] %>
      <div class="col-md-3">
        <div class="dashboard-stat primary" style="background-color: #43d854">
          <div class="details">
            <span class="content">WHATSAPP</span>
            <span><p>Messaggio</p><%= share["providers"]["whatsapp"]["message"] %></span><hr/>
            <span><p>Link</p><%= share["providers"]["whatsapp"]["link"] %></span>
          </div>
          <div class="visual-without-rotation">
            <i class="fa fa-whatsapp" style="color: #FFF"></i>
          </div>
        </div>
      </div>
    <% end %>

    <% if share["providers"]["linkedin"] %>
      <div class="col-md-3">
        <div class="dashboard-stat primary" style="background-color: #0077b5">
          <div class="details">
            <span class="content">LINKEDIN</span>
            <span><p>Messaggio</p><%= share["providers"]["linkedin"]["message"] %></span><hr/>
            <span><p>Descrizione</p><%= share["providers"]["linkedin"]["description"] %></span><hr/>
            <span><p>Link</p><%= share["providers"]["linkedin"]["link"] %></span>
          </div>
          <div class="visual">
            <i class="fa fa-linkedin" style="color: #FFF"></i>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <hr/>
  <% end %>
</div> 

<script type="text/javascript">

  $(document).ready(function() {
    buildTriviaDonut();
    buildVersusDonut();
  });

  function buildTriviaDonut() {
    trivia_answer = <%= raw(@trivia_answer.to_json) %>;
    $.each(trivia_answer, function(key, value) {
      correct_answers = trivia_answer[key]["answer_correct"]
      wrong_answers = trivia_answer[key]["answer_wrong"]
      Morris.Donut({
        element: "reg-donut-chart-" + key,
        data: [
            { label: 'Risposte corrette', value: Math.round(correct_answers * 100 / (correct_answers + wrong_answers))},
            { label: 'Risposte errate', value: Math.round(wrong_answers * 100 / (correct_answers + wrong_answers))}
        ],
        hideHover: true,
        formatter: function (y) { return y + "%" }
      });
    });
  };

  function buildVersusDonut() {
    versus_answer = <%= raw(@versus_and_test_answer.to_json) %>;

    $.each(versus_answer, function(key, value) {

      versus_arr = [];
      $.each(value, function(k2, v2) {
        versus_arr.push({
          label: v2.answer,
          value: Math.round(v2.perc)
        });
      });

      Morris.Donut({
        element: "reg-donut-chart-" + key,
        data: versus_arr,
        hideHover: true,
        formatter: function (y) { return y + "%" }
      });

    });
  };

</script>