<hr/>
  <h3>Contatori</h3>
<hr/>
<div class="row">
  <% @plays.each do |key, play| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #70AAFF;">
        <div class="details">
          <span class="content">PLAY [<%= play["title"] %>]</span>
          <span class="value"><%= play["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-youtube-play" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>
  
  <% @likes.each do |key, like| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #FF7A59;">
        <div class="details">
          <span class="content">LIKE [<%= like["title"] %>]</span>
          <span class="value"><%= like["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-thumbs-up" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @checks.each do |key, check| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #DDDDDD;">
        <div class="details">
          <span class="content">CHECK [<%= check["title"] %>]</span>
          <span class="value"><%= check["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-check" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @downloads.each do |key, download| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #FF9DBD;">
        <div class="details">
          <span class="content">DOWNLOAD [<%= download["title"] %>]</span>
          <span class="value"><%= download["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-download" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @uploads.each do |key, upload| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #FF9DBD;">
        <div class="details">
          <span class="content">UPLOAD [<%= upload["title"] %>]</span>
          <span class="value"><%= upload["total"] %></span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-upload" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>

  <% @votes.each do |key, vote| %>
    <div class="col-md-3 col-sm-6" style="margin-top:15px; margin-bottom:15px;">
      <div class="dashboard-stat primary" style="background-color: #555555;">
        <div class="details">
          <span class="content">VOTA [<%= vote["title"] %>]</span>
          <span class="value"><%= vote["total"] %> (μ <%= vote["mean"] %>)</span>
        </div> <!-- /.details -->
        <div class="visual">
          <i class="fa fa-star-half-o" style="color: #FFF"></i>
        </div>
      </div> <!-- /.dashboard-stat -->
    </div> <!-- /.col-md-3 -->
  <% end %>
</div>

<hr/>

<% @current_cta.interactions.where("resource_type='Quiz'").each_with_index do |q, i| %>
	<% if q.resource.quiz_type == "TRIVIA" %>
		<% if i == 0 %>
    		<h3>Trivia e versus</h3>
			<hr/>
		<% end %>
    <div class="row">
      <div class="col-lg-4">
        <dl class="dl-horizontal">
          <dt>Domanda</dt><dd><p><%= q.resource.question %></p></dd>
          <dt>Tipologia</dt><dd><p><%= q.when_show_interaction %></p></dd>
          <dt>Secondo di apparizione</dt><dd><p><%= q.seconds %></p></dd>
          <dt>Risposte corrette</dt><dd><p><%= @trivia_answer[q.id]["answer_correct"] %></p></dd>
          <dt>Risposte errate</dt><dd><p><%= @trivia_answer[q.id]["answer_wrong"] %></p></dd>
        </dl>
      </div>
      <div class="col-lg-4">
      	<dl class="dl-horizontal">
      		<% q.resource.answers.each do |a| %>
            <dt>Risposta</dt>
              <dd>
                <p><%= a.text %> (<%= a.user_interactions.count %>) <%= "<i class=\"fa fa-check\"></i>".html_safe if a.correct %></p>
                <p><img src="<%= a.image.url %>" style="width: 100px; border: 1px solid black; border-radius: 10px;"></p>
              </dd>		        
        	<% end %> 
        </dl>
      </div>
      <div class="col-lg-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              RISPOSTE
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="reg-donut-chart-<%= q.id %>" class="chart-holder"></div>             
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div>
    </div> 
    <hr/>
  <% end %>
<% end %>

<% @current_cta.interactions.where("resource_type='Quiz'").each_with_index do |q, i| %>
	<% if q.resource.quiz_type == "VERSUS" %>
		<% if i == 0 %>
    		<h3>VERSUS</h3>
			<hr/>
		<% end %>
    <div class="row">
      <div class="col-lg-4">
        <dl class="dl-horizontal">
          <dt>Domanda</dt><dd><p><%= q.resource.question %></p></dd>
          <dt>Tipologia</dt><dd><p><%= q.when_show_interaction %></p></dd>
          <dt>Secondo di apparizione</dt><dd><p><%= q.seconds %></p></dd>
        </dl>
      </div>
      <div class="col-lg-4">
      	<dl class="dl-horizontal">
      		<% q.resource.answers.each do |a| %>
            <dt>Risposta</dt>
            	<dd>
            		<p><%= a.text %> (<%= a.user_interactions.count %>)</p>
            		<p><img src="<%= a.image.url %>" style="width: 100px; border: 1px solid black; border-radius: 10px;"></p>
            	</dd>		        
        	<% end %> 
        </dl>
      </div>
      <div class="col-lg-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              RISPOSTE
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="reg-donut-chart-<%= q.id %>" class="chart-holder"></div>             
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div>
    </div> 
  <hr/>
  <% end %>
<% end %>

<% @shares.each do |key, share| %>
  <% if key == 0 %>
    <h3>Share</h3>
    <hr/>
  <% end %>

  <div class="row">

    <div class="col-lg-4">
    	<div class="dashboard-stat">
      	<div class="details">
       		<span class="content">SHARE TOTALI</span>
      		<span class="value"><%= share["total"] %></span>
      	</div>
      	<div class="visual">
      		<i class="fa fa-share-alt"></i>
      	</div>
      </div>
    </div>

    <div class="col-lg-4">
    	<div class="dashboard-stat primary" style="background-color: #43609c">
  		  <div class="details">
  		    <span class="content">FACEBOOK</span>
  		    <span><p>Messaggio</p><%= share["providers"]["facebook"]["message"] %></span><hr/>
  		    <span><p>Descrizione</p><%= share["providers"]["facebook"]["description"] %></span><hr/>
  		    <span><p>Link</p><%= share["providers"]["facebook"]["link"] %></span>
 		    </div>
 		    <div class="visual">
  		  	<i class="fa fa-facebook" style="color: #FFF"></i>
 		    </div>
		  </div>
    </div>

    <div class="col-lg-4">
      <div class="dashboard-stat primary" style="background-color: #5eaade">
  		  <div class="details">
  		    <span class="content">TWITTER</span>
  		    <span><p>Messaggio</p><%= share["providers"]["message"] %></span><hr/>
  		    <span><p>Link</p><%= share["providers"]["link"] %></span>
 		    </div>
   		  <div class="visual">
    		  <i class="fa fa-twitter" style="color: #FFF"></i>
   		  </div>
		  </div>
    </div>

  </div>
  <hr/>
  <% end %>
</div> 
