<div class="panel panel-default panel-test">
  <% if f.object.id %>
    <div class="panel-heading-dark">TEST</div>
  <% else %>
    <div class="panel-heading-dark">TEST 
      <p style="float: right"><%= link_to_remove_fields "rimuovi", :quiz, "test" %></p>
    </div>
  <% end %>
  <div class="panel-body">

    <%= f.hidden_field :resource_type, :class => "form-control" %>

    <%= f.fields_for :resource do |quizform| %>

      <%= quizform.hidden_field :quiz_type, value: "TEST", :class => "form-control" %>
      <div class="col-lg-12">
        <div class="row" style="margin-bottom: 0px;">
          <div class="col-lg-3">
            <div class="form-group">
              <label class="text-input">Visibile</label>
                <%= f.select(:when_show_interaction, [["SEMPRE_VISIBILE", "SEMPRE_VISIBILE"], ["OVERVIDEO_DURING", "OVERVIDEO_DURING"], ["MAI_VISIBILE", "MAI_VISIBILE"], ["OVERVIDEO_END", "OVERVIDEO_END"]], {}, { :class => "form-control" }) %>
            </div>
            <div class="form-group">
              <label class="text-input">Posizione</label>
               <%= f.select(:interaction_positioning, [["UNDER_MEDIA", "UNDER_MEDIA"], ["OVER_MEDIA", "OVER_MEDIA"]], {}, { :class => "form-control" }) %>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="text-input">Secondo di apparizione</label>
                <%= f.text_field :seconds, :class => "form-control" %>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="text-input">Richiesto per il completamento</label>
                <%= f.select(:required_to_complete, [["SI", true], ["NO", false]], {}, { :class => "form-control" }) %>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="form-group">
              <label class="text-input">ONE SHOT</label>
                <%= quizform.select(:one_shot, [["SI", true], ["NO", false]], {}, { :class => "form-control" }) %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label class="text-input">Domanda</label>
            <%= quizform.text_field :question, :class => "form-control" %>
        </div>
      </div>

      <% quizform_index = quizform.object_name.gsub(/[^0-9]+/, '').blank? ? f.options[:child_index] : quizform.object_name.gsub(/[^0-9]+/, '') %>
      <div class="row" style="margin-bottom: 0px;">
        <div class="col-md-10">
          <div class="form-group">
            <label class="text-input">Collegamenti</label>
          </div>
        </div>
        <div class="col-md-2">
          <input type='button' value='AGGIUNGI COLLEGAMENTO' id='add-button-for-interaction_call_to_actions-<%= quizform_index %>-fields' class='btn btn-primary btn-xs'>
        </div>
      </div>
      <div class="row">
        <div id='text-boxes-for-interaction_call_to_actions-<%= quizform_index %>-fields' class="col-lg-12"></div>
      </div>

      <script type="text/javascript">

        <% cta_list = [] %>
        <% CallToAction.includes(:call_to_action_tags, call_to_action_tags: :tag)
                        .select('call_to_actions.id, call_to_actions.name')
                        .where("activated_at<=? AND activated_at IS NOT NULL AND (tags.name='step' OR tags.name = 'ending')", Time.now.utc)
                        .references(:call_to_action_tags)
                        .order("activated_at DESC").each do |c| 
                          cta_list << {"id" => c.id, "text" => c.name} 
                        end %>

        ctaList = <%= raw(cta_list.to_json) %>

        addButtonHandlerForInteractionCallToActionFields(
          "interaction_call_to_actions-" + "<%= quizform_index %>", 
          <%= @interaction_call_to_actions.nil? ? "null" : @interaction_call_to_actions.to_s.html_safe %>,
          <%= raw get_linked_call_to_action_conditions.keys.unshift("") %>,
          ctaList
          );
      </script>

      <div class="col-lg-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            RISPOSTE <p style="float: right"><%= link_to_add_answer_fields "AGGIUNGI", quizform, :answers, "test" %></p> 
          </div>
          <div class="panel-body answers-container">
            <%= quizform.fields_for :answers do |answerform| %>
              <%= render 'answer_test_form', :f => answerform %>
            <% end %>
          </div>
        </div>
      </div>

    <% end %>
  </div>
</div>