
<div class="panel panel-default">
		<% if f.object.id %>
			<div class="panel-heading">UPLOAD</div>
		<% else %>
			<div class="panel-heading">UPLOAD 
				<p style="float: right"><%= link_to_remove_upload_fields "rimuovi" %></p>
			</div>
		<% end %>
		<div class="panel-body">

			<%= f.hidden_field :resource_type, :class => "form-control" %>

			<%= f.fields_for :resource do |uploadform| %>
			<div class="row" style="margin-bottom: 0px;">
						<div class="col-lg-6">
							<div class="form-group">
							  <label class="text-input">Visibile</label>
							   <%= f.select(:when_show_interaction, [["SEMPRE_VISIBILE", "SEMPRE_VISIBILE"], ["OVERVIDEO_DURING", "OVERVIDEO_DURING"], ["MAI_VISIBILE", "MAI_VISIBILE"], ["OVERVIDEO_END", "OVERVIDEO_END"]], {}, { :class => "form-control" }) %>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-input">Secondo di apparizione</label>
						  		<%= f.text_field :seconds, :class => "form-control" %>
							</div>
						</div>
					</div>
			<div class="row">
				<div class="col-lg-6">
					
						<div class="form-group">
						  <label class="text-input">Call to action template</label>
						   <%= uploadform.select(:call_to_action_id, get_cta_template_option_list(), {}, { :class => "form-control" }) %>
						</div>
						<div class="form-group">
						  <label class="text-input">Numero di upload consentiti</label>
						   <%= uploadform.text_field :upload_number, :class => "form-control" %>
						</div>
						<div class="form-group">
							<label class="text-input">Privacy necessaria</label>
					  		<%= uploadform.check_box :privacy %>
						</div>
						<div class="form-group">
						  <label class="text-input">Liberatoria necessaria</label>
						   <%= uploadform.check_box :releasing %>
						</div>
					
				</div>
				<div class="col-lg-6">
					
						<div class="form-group">
						  <label class="text-input">Testo provacy</label>
						   <%= uploadform.text_area :privacy_description, :class => "form-control", rows: 6 %>
						</div>
						<div class="form-group">
						  <label class="text-input">Testo richiesta liberatoria</label>
						   <%= uploadform.text_area :releasing_description, :class => "form-control", rows: 6 %>
						</div>
					
				</div>
			</div>
			<% end %>
  	</div>
</div>