<div class="row">
  <div class="col-md-2">
    <div class="form-group">
    <label class="text-input">Filtra per TITOLO</label></br>
    <%= text_field_tag :title_filter, @title_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
    <label class="text-input">Filtra per SLUG</label></br>
    <%= text_field_tag :slug_filter, @slug_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="text-input">Filtra per TAG</label></br>
      <%= render_html_tag_box("tag_list", params[:tag_list], "ATTENZIONE: Sono stati inseriti tag non esistenti!") %>
      <span class="help-block">Per separare i TAG digita virgola</span>
      <p id="tag_list_message"></p>
    </div>
  </div>
  <div class="col-md-2">  
    <div class="form-group">
    <label class="text-input">Filtra per USERNAME</label></br>
    <%= text_field_tag :username_filter, @username_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
    <label class="text-input">Filtra per EMAIL</label></br>
    <%= text_field_tag :email_filter, @email_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-1">
    </br><%= submit_tag 'FILTRA', class: 'btn btn-primary' %>
  </div>
  <div class="col-md-1">
    </br><%= submit_tag 'RESET', class: 'btn btn-primary' %>
  </div>
</div>