
<div class="panel panel-default">
		<% if f.object.id %>
			<div class="panel-heading">VERSUS</div>
		<% else %>
			<div class="panel-heading">VERSUS 
				<p style="float: right"><%= link_to_remove_versus_fields "rimuovi" %></p>
			</div>
		<% end %>
		<div class="panel-body">

			<%= f.hidden_field :resource_type, :class => "form-control" %>

			<%= f.fields_for :resource do |quizform| %>

				<%= quizform.hidden_field :quiz_type, value: "VERSUS", :class => "form-control" %>
				<div class="col-lg-6">
					<div class="row" style="margin-bottom: 0px;">
						<div class="col-lg-6">
							<div class="form-group">
							  <label class="text-input">Visibile</label>
							   <%= f.select(:when_show_interaction, [["SEMPRE_VISIBILE", "SEMPRE_VISIBILE"], ["OVERVIDEO_DURING", "OVERVIDEO_DURING"], ["MAI_VISIBILE", "MAI_VISIBILE"]], {}, { :class => "form-control" }) %>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label class="text-input">Secondo di apparizione</label>
						  		<%= f.text_field :seconds, :class => "form-control" %>
							</div>
						</div>
					</div>
					<div class="form-group">
					  <label class="text-input">Domanda</label>
					   <%= quizform.text_field :question, :class => "form-control" %>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="panel panel-default">
						<div class="panel-heading">
							RISPOSTE <p style="float: right"><%= link_to_add_answer_versus_fields "AGGIUNGI", quizform, :answers %>		
						</div>
						<div class="panel-body">
							<%= quizform.fields_for :answers do |answerform| %>
								<%= render 'answer-versus-form', :f => answerform %>
							<% end %>
						</div>
					</div>
				</div>

			<% end %>
  	</div>
</div>