<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "calltoaction" } %>

<div id="content">

  <div id="content-header">
    <h1>CLONA LINKED CTA</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

    <div class="row">

      <% if flash[:notice] %>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="alert alert-success"><%= flash[:notice] %></div>
          </div>
        </div>
      <% elsif flash[:error] %>
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="alert alert-danger"><%= flash[:error] %></div>
          </div>
        </div>
      <% end %>

    <% if params[:commit] %>

    </div>

    <% else %>

      <div class="col-lg-8 col-lg-offset-2">
        <div class="alert alert-info" role="alert">
          È stata selezionata la clonatura di una CTA con collegamenti: al salvataggio verranno clonate anche le CTA collegate
          ad essa, visualizzabili nel diagramma di destra.
          <dl class="dl-horizontal">
            <dt>Nota:</dt><dd>Inserito il nome della prima CTA, i nomi delle CTA collegate verranno settati automaticamente.</dd>
          </dl>
        </div>
      </div>
    </div>

    <hr/>

    <div class="row">

      <%= form_tag :method => 'post' do %>

        <div class="col-md-6">
          <h3>Prima CTA</h3>
          <hr/>

          <div class="form-group">
            <label class="text-input">Titolo prima CTA</label>
            <%= text_field_tag :cloned_cta_title, @current_cta.title, :class => "form-control" %>
          </div>
          <div class="form-group">
            <label class="text-input">Nome prima CTA</label>
            <%= text_field_tag :cloned_cta_name, @current_cta.name, :class => "form-control" %>
          </div>
          <div class="form-group">
            <label class="text-input">Slug prima CTA</label>
            <%= text_field_tag :cloned_cta_slug, @current_cta.slug, :class => "form-control" %>
          </div>
          <% if @current_cta_answer_linkings.any? %>
            <div class="form-group">
              <label class="text-input"><%= "Domanda copia di '#{Quiz.find(Answer.find(@current_cta_answer_linkings.first.keys[0]).quiz_id).question}'" %></label>
              <%= text_field_tag "cloned_cta_questions[#{Answer.find(@current_cta_answer_linkings.first.keys[0]).quiz_id}]", Quiz.find(Answer.find(@current_cta_answer_linkings.first.keys[0]).quiz_id).question, :class => "form-control" %>
              <% @current_cta_answer_linkings.each_with_index do |answer_id_call_to_action_id, i| %>
                <label class="text-input">
                  <%= "Risposta copia di '#{Answer.find(answer_id_call_to_action_id.keys[0]).text}' --> '#{CallToAction.find(answer_id_call_to_action_id.values[0]).name}'" %>
                </label>
                <%= text_field_tag "cloned_cta_answers[#{answer_id_call_to_action_id.keys[0]}]", Answer.find(answer_id_call_to_action_id.keys[0]).text, :class => "form-control" %>
              <% end %>
            </div>
          <% end %>
          <hr/>

          <% if @linked_ctas %>
            <h3>CTA collegate</h3>
            <hr/>
            <% @linked_ctas.each do |old_cta_attributes| %>
              <% old_cta_name = old_cta_attributes['name'] %>
              <% tagged_as_step = get_cta_tags_from_cache(CallToAction.find_by_name(old_cta_name)).include?('step') %>
              <% tagged_as_ending = get_cta_tags_from_cache(CallToAction.find_by_name(old_cta_name)).include?('ending') %>

              <div class="form-group">
                <label class="text-input"><%= "Titolo CTA copia di '#{old_cta_attributes['title']}'" %></label>
                <%= text_field_tag "cloned_cta[#{old_cta_name}][title]", old_cta_attributes['title'], :class => "form-control", 
                    :tagged_as_step => tagged_as_step, :tagged_as_ending => tagged_as_ending %>
              </div>
              <div class="form-group">
                <label class="text-input"><%= "Nome CTA copia di '#{old_cta_name}'" %></label>
                <%= text_field_tag "cloned_cta[#{old_cta_name}][name]", old_cta_name, :class => "form-control", 
                    :tagged_as_step => tagged_as_step, :tagged_as_ending => tagged_as_ending %>
              </div>
              <div class="form-group">
                <label class="text-input"><%= "Slug CTA copia di '#{old_cta_attributes['slug']}'" %></label>
                <%= text_field_tag "cloned_cta[#{old_cta_name}][slug]", old_cta_attributes['slug'], :class => "form-control", 
                    :tagged_as_step => tagged_as_step, :tagged_as_ending => tagged_as_ending %>
              </div>
              <% unless old_cta_attributes["answer_linkings"].blank? %>
                <div class="form-group">
                  <label class="text-input"><%= "Domanda copia di '#{Quiz.find(old_cta_attributes['answer_linkings'].first[0]).question}'" %></label>
                  <%= text_field_tag "cloned_cta[#{old_cta_name}][questions][#{old_cta_attributes['answer_linkings'].first[0]}]", Quiz.find(old_cta_attributes['answer_linkings'].first[0]).question, :class => "form-control" %>
                  <% old_cta_attributes['answer_linkings'].values.first.each do |answer_id_call_to_action_id| %>
                    <label class="text-input">
                      <%= "Risposta copia di '#{Answer.find(answer_id_call_to_action_id.keys[0]).text}' --> '#{CallToAction.find(answer_id_call_to_action_id.values[0]).name}'" %>
                    </label>
                    <%= text_field_tag "cloned_cta[#{old_cta_name}][answers][#{answer_id_call_to_action_id.keys[0]}]", Answer.find(answer_id_call_to_action_id.keys[0]).text, :class => "form-control" %>
                  <% end %>
                </div>
              <% end %>
              <hr/>
            <% end %>
          <% end %>

          <div class="row text-center">
            <%= submit_tag 'SALVA', class: 'btn btn-primary' %>
          </div>
        </div>

        <% if @tree %>
          <div class="col-md-6">
            <h3>Collegamenti alla CTA da clonare</h3>
            <hr/>
            <div id="trees">
            </div>
          </div>
        <% end %>

      <% end %>

    </div>

    <% end %>

  </div>
</div>

<script type="text/javascript">

  $('#trees').bind('loaded.jstree', function (e, data) {
    data.instance.open_all();
  });

  $('#trees').on('select_node.jstree', function (e, data) {
    var i, j, r = [];
    for(i = 0, j = data.selected.length; i < j; i++) {
      r.push(data.instance.get_node(data.selected[i]).text);
    }
    if (r.length == 1)
      window.location.replace(r)
  });

  $('#trees').jstree(<%= raw build_jstree_and_check_for_cycles(@current_cta) %>);

  function fillClonedCtaNameAndSlug() {
    var nameManuallyModified = false;

    $("#cloned_cta_title").on("input", function() { 
      if (!nameManuallyModified) {
        var text = this.value;
        text = text.toLowerCase();

        text = text.replace(/[^a-zA-Z0-9]+/g,'-').replace(/-+/g,'-').replace(/-$/g,'').replace(/^-/g,'');
        $("#cloned_cta_name").val(text);
        $("#cloned_cta_slug").val(text);
      }
      $("#cloned_cta_name").trigger("input");
      $("#cloned_cta_slug").trigger("input");
    });

    $("#cloned_cta_name").keyup(function() {
      nameManuallyModified = true;
      if ($("#cloned_cta_name").val() == "")
        nameManuallyModified = false;
    });
    $("#cloned_cta_slug").keyup(function() {
      nameManuallyModified = true;
      if ($("#cloned_cta_slug").val() == "")
        nameManuallyModified = false;
    });
  };

  function fillLinkedCtaNameAndSlug(srcInputElement, destInputElement, taggedAsStep, taggedAsEnding, counter) {
    var nameManuallyModified = false;

    srcInputElement.on("input", function() { 
      if (!nameManuallyModified) {
        var text = this.value;
        text = text.toLowerCase();
        if(taggedAsStep == "true")
          text = text + "-step-" + counter;
        else 
          if(taggedAsEnding == "true")
            text = text + "-ending-" + counter;
          else
            text = text + "-" + counter;

        text = text.replace(/[^a-zA-Z0-9]+/g,'-').replace(/-+/g,'-').replace(/-$/g,'').replace(/^-/g,'');
        destInputElement.val(text);
      }
    });

    destInputElement.on("input", function() {
      nameManuallyModified = true;
      if (destInputElement.val() == "")
        nameManuallyModified = false;
    });
  };

  function fillLinkedCtaTitle(srcInputElement, destInputElement, taggedAsStep, taggedAsEnding, counter) {
    var titleManuallyModified = false;

    srcInputElement.on("input", function() { 
      if (!titleManuallyModified) {
        var text = this.value;
        //text = text.toLowerCase();
        if(taggedAsStep == "true")
          text = text + " [step " + counter + "]";
        else 
          if(taggedAsEnding == "true")
            text = text + " [ending " + counter + "]";
          else
            text = text + " [" + counter + "]";

        //text = text.replace(/[^a-zA-Z0-9]+/g,'-').replace(/-+/g,'-').replace(/-$/g,'').replace(/^-/g,'');
        destInputElement.val(text);
      }
    });

    destInputElement.on("input", function() {
      nameManuallyModified = true;
      if (destInputElement.val() == "")
        nameManuallyModified = false;
    });
  };

  $(document).ready(function() {

    stepLinkedCounter = 0;
    endingLinkedCounter = 0;
    linkedCounter = 0;

    $("input[name^='cloned_cta['][name*='title'],input[name^='cloned_cta['][name*= 'name'],input[name^='cloned_cta['][name*= 'slug']").each(function() {
      taggedAsStep = $(this).attr("tagged_as_step");
      taggedAsEnding = $(this).attr("tagged_as_ending");
      name = $(this).attr("name");
      attribute = name.substr(name.indexOf("]"), name.length)
      attribute = attribute.substr(2, attribute.length - 3)
      if(taggedAsStep == "true") {
        if(attribute == "title")
          stepLinkedCounter += 1;
        counter = stepLinkedCounter;
      }
      else
        if(taggedAsEnding == "true") {
          if(attribute == "title")
            endingLinkedCounter += 1;
          counter = endingLinkedCounter;
        }
        else {
          if(attribute == "title")
            linkedCounter += 1;
          counter = linkedCounter;
        }
      if(attribute == "title")
        fillLinkedCtaTitle($("#cloned_cta_title"), $(this), taggedAsStep, taggedAsEnding, counter);
      else
        fillLinkedCtaNameAndSlug($("#cloned_cta_name"), $(this), taggedAsStep, taggedAsEnding, counter);
    });

  fillClonedCtaNameAndSlug();

  });

</script>