<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "calltoaction" } %>

<!-- Modal -->
<%= render partial: "/easyadmin/easyadmin/linked_cta_tree", locals: { cta: @cta } %>
    
<div id="content">    

  <div id="content-header">
    <h1>MODIFICA CALLTOACTION</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

    <div class="row">
      <div class="col-md-12"> 
        <% if @cta.errors.any? %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger">
                <p>Errori nel salvataggio della CTA:</p>
                <p>
                  <ul>
                    <% @cta.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        <% elsif flash[:notice] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success"><%= flash[:notice] %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="row text-right">
      <!-- Button trigger modal -->
      <div id="show-tree-button" class="col-md-2 col-md-offset-8">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#treeModal"> CTA COLLEGATE </button>
      </div>
      <% if can? :access, :rails_admin %>
        <div class="col-md-2">
          <a href="/rails_admin/call_to_action/<%= @cta.id %>/edit"><button type="button" class="btn btn-primary"> RAILS ADMIN </button></a>
        </div>
      <% end %>
    </div>

    <h3>Dati generali</h3>
    <hr/>

    <%= form_for @cta, url: { action: "update_cta" }, html: { multipart: true } do |f| %>
      <%= hidden_field_tag :id, @cta.id %>
      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
              <label class="text-input">Titolo</label>
              <%= f.text_field :title, :class => "form-control" %>
          </div>
          <div class="form-group">
              <label class="text-input">Nome</label>
              <%= f.text_field :name, :class => "form-control", :readonly => true %>
          </div>
          <div class="form-group">
              <label class="text-input">Slug</label>
              <%= f.text_field :slug, :class => "form-control" %>
          </div>
          <div class="form-group">
              <label class="text-input">Descrizione</label>
              <%= f.cktext_area :description, :class => "form-control", :ckeditor => { :toolbar => 'Mini' } %>
          </div>
          <div class="form-group">
            <label class="text-input">Commenti Disqus</label>
              <%= f.select(:enable_disqus, [["NON ABILITATI", false]], {}, { :class => "form-control" }) %>
          </div>
          <div class="form-group media-image-form-group">
            <label class="text-input">Thumbnail</label>
            <div class="fileupload fileupload-new text-center" data-provides="fileupload">
              <div class="fileupload-preview thumbnail" style="width: 100%; height: 100px; line-height: 20px;">
                <% if f.object.thumbnail.present? %>
                  <img src="<%= f.object.thumbnail.url %>">
                <% end %>
              </div>
              <div>
                <span class="btn btn-default btn-file"><span class="fileupload-new">SELEZIONA LA THUMBNAIL</span>
                <span class="fileupload-exists">Change</span><%= f.file_field :thumbnail  %></span>
                <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 text-center">
          <%= render partial: "media_type_form", locals: { f: f } %>
        </div>
      </div>

    <div class="row">
        <div class="col-md-10">
            <div class="form-group">
                <h3>CAMPI EXTRA</h3>
            </div>
        </div>
        <div class="col-md-2">
        <input type='button' value='AGGIUNGI CAMPO' id='add-button-for-extra_fields-fields' class='btn btn-primary btn-block'>
      </div>
    </div>
      <div class="row">
    <div id='text-boxes-for-extra_fields-fields' class="col-lg-12">
      <div id="extra-fields-for-extra_fields-button_label"></div>
    </div>

      <div class="row">
        <div class="col-md-10"><h3>TRIVIA</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI TRIVIA", f, :interactions, "quiz" %></div>
      </div>

      <div id="tmp-quiz-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Quiz" && builder.object.resource.quiz_type == "TRIVIA" %>
          <%= render '/easyadmin/call_to_action/quiz_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>TEST</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI TEST", f, :interactions, "quiz", "test" %></div>
      </div>

      <div id="tmp-test-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Quiz" && builder.object.resource.quiz_type == "TEST" %>
          <%= render '/easyadmin/call_to_action/test_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>RANDOM</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI RANDOM", f, :interactions, "randomResource", "random" %></div>
      </div>

      <div id="tmp-random-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "RandomResource" %>
          <%= render '/easyadmin/call_to_action/random_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>VERSUS</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI VERSUS", f, :interactions, "quiz", "versus" %></div>
      </div>

      <div id="tmp-versus-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Quiz" && builder.object.resource.quiz_type == "VERSUS" %>
          <%= render '/easyadmin/call_to_action/versus_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>CHECK</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI CHECK", f, :interactions, "check" %></div>
      </div>      

      <div id="tmp-check-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Check" %>
          <%= render '/easyadmin/call_to_action/check_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>PIN</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI PIN", f, :interactions, "pin" %></div>
      </div>      

      <div id="tmp-pin-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Pin" %>
          <%= render '/easyadmin/call_to_action/pin_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>INSTANTWIN</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI INSTANTWIN", f, :interactions, "instantwinInteraction", "instantwin" %></div>
      </div>      

      <div id="tmp-instantwin-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "InstantwinInteraction" %>
          <%= render '/easyadmin/call_to_action/instantwin_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>LIKE</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI LIKE", f, :interactions, "like" %></div>
      </div>

      <div id="tmp-like-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Like" %>
          <%= render '/easyadmin/call_to_action/like_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>DOWNLOAD</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI DOWNLOAD", f, :interactions, "download" %></div>
      </div>

      <div id="tmp-download-add"></div>
      
      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Download" %>
          <%= render '/easyadmin/call_to_action/download_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>COMMENTI</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI COMMENTI", f, :interactions, "comment" %></div>
      </div>

      <div id="tmp-comment-add"></div>
      
      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Comment" %>
          <%= render '/easyadmin/call_to_action/comment_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-md-10"><h3>LINK</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI LINK", f, :interactions, "link" %></div>
      </div>

      <div id="tmp-link-add"></div>
      
      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Link" %>
          <%= render 'link_form', :f => builder %>
        <% end %>
      <% end %>
      
      <h3>UPLOAD <p style="float: right;"><%= link_to_add_fields "AGGIUNGI UPLOAD", f, :interactions, "upload" %></p></h3>
      <hr/>

      <div id="tmp-upload-add"></div>
      
      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Upload" %>
          <%= render '/easyadmin/call_to_action/upload_form', :f => builder %>
        <% end %>
      <% end %>
      
      <h3>VOTA <p style="float: right;"><%= link_to_add_fields "AGGIUNGI VOTA", f, :interactions, "vote" %></p></h3>
      <hr/>

      <div id="tmp-vote-add"></div>
      
      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Vote" %>
          <%= render '/easyadmin/call_to_action/vote_form', :f => builder %>
        <% end %>
      <% end %>
      
      <div class="row">
        <div class="col-md-10"><h3>SHARE</h3></div>
        <div class="col-md-2"><%= link_to_add_fields "AGGIUNGI SHARE", f, :interactions, "share" %></div>
      </div>

      <div id="tmp-share-add"></div>

      <%= f.fields_for :interactions do |builder| %>
        <% if builder.object.resource_type == "Share" %>
          <%= render '/easyadmin/call_to_action/share_form', :f => builder %>
        <% end %>
      <% end %>

      <div class="row">
        <div class="col-sm-12">
          <h3>UGC</h3>
          <hr>
          <div class="row">
            <div class="col-sm-3">
             <div class="form-group">
                <label class="text-input">Assegna all'utente</label>
                <%= f.text_field :user_id, :class => "form-control" %>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="text-input">Approvazione</label>
                  <%= f.select(:approved, [["", nil], ["SI", true], ["NO", false] ], {}, { :class => "form-control" }) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <h3>TAGGING</h3>
      <hr/>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= render_html_tag_box("tag_list", @tag_list, "Nuovi tag verranno creati.") %>
          </div>
          <span class="help-block">Per separare i TAG digita virgola</span>
          <p id="tag_list_message"> </p>
        </div>
      </div>

      <hr/>

      <h3>Data di attivazione</h3>
      <hr/>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.text_field :activation_date_time, :class => "form-control", :value => @cta && @cta.activated_at ? @cta.activated_at.in_time_zone("Rome").strftime("%Y/%m/%d %H:%M") : ""  %>
          </div>
        </div>
      </div>

      <h3>Data inizio validità</h3>
      <hr/>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.text_field :valid_from_date_time, :class => "form-control", :value => @cta && @cta.valid_from ? @cta.valid_from.in_time_zone("Rome").strftime("%Y/%m/%d %H:%M") : ""  %>
          </div>
        </div>
      </div>
      
      <h3>Data fine validità</h3>
      <hr/>

      <div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <%= f.text_field :valid_to_date_time, :class => "form-control", :value => @cta && @cta.valid_to ? @cta.valid_to.in_time_zone("Rome").strftime("%Y/%m/%d %H:%M") : ""  %>
          </div>
        </div>
      </div>

      <div class="row text-center">
        <div class="col-sm12">
          <button type="submit" class="btn btn-primary btn-lg">AGGIORNA</button>
        </div>
      </div>     
    <% end %>
  </div>
</div>

<script type="text/javascript">

  tl = <%= raw(Tag.select("name").where("valid_to IS NULL OR valid_to > now()").map(&:name).to_json) %>;
  $(document).ready(function() {

    $(".answer-media-type").each(function(i, obj) {
      updateMedia(obj);
    });

    updateMainMedia();

    $('#s2_tokenization').select2({
      placeholder: "",
      tags: tl,
      tokenSeparators: [","]
    })
  })

  function updateMainMedia() {
    updateMedia($("#call_to_action_media_type"));
  }

  function updateMedia(element) {
    media_type = $(element).val();
    container = $(element).parent().parent();
    allowedUploadMediaTypes = <%= raw ALLOWED_UPLOAD_MEDIA_TYPES %>;
    if(allowedUploadMediaTypes.indexOf(media_type) > -1) {
      container.find($(".media-data-label")).html("V CODE");
      container.find($(".media_data-form-group")).show();
      container.find($(".play-interaction")).show();
      container.find($(".media-image-form-group")).hide();
      container.find($(".media-upload-form-group")).show();
    }
    else {
      container.find($(".media-upload-form-group")).hide();
      switch(media_type) {
        case "YOUTUBE":
        case "KALTURA":
        case "FLOWPLAYER":
          container.find($(".media-data-label")).html("V CODE");
          container.find($(".media_data-form-group")).show();
          container.find($(".play-interaction")).show();
          container.find($(".media-image-form-group")).hide();
          break;
        case "IFRAME":
          container.find($(".media-data-label")).html("IFRAME");
          container.find($(".media_data-form-group")).show();
          container.find($(".play-interaction")).hide();
          container.find($(".media-image-form-group")).hide();
          break;
        case "IMAGE":
          container.find($(".media_data-form-group")).hide();
          container.find($(".play-interaction")).hide();
          container.find($(".media-image-form-group")).show();
          break;
        default:
          container.find($(".media_data-form-group")).hide();
          container.find($(".media-image-form-group")).hide();
          container.find($(".play-interaction")).hide();
      }
    }
  }

  var like_counter = false;
  var play_counter = false;
  var share_counter = false;
  var upload_counter = false;
  var vote_counter = false;
  var comment_counter = false;
  var random_counter = false;
  var instantwin_counter = false;

  function updateDeleteHiddenField(element) {
    if($(element).html() == "sgancia") {
      $(element).parent().parent().find("input:hidden").val("1");
      $(element).removeClass("btn-secondary").addClass("btn-tertiary");
      $(element).html("aggancia");
    } else {
      $(element).parent().parent().find("input:hidden").val("0");
      $(element).removeClass("btn-tertiary").addClass("btn-secondary");
      $(element).html("sgancia");
    }
  }

  $(document).ready(function() {

    var json_field = <%= @extra_options.to_json.gsub("</", "<\\/").html_safe %>;
    var formName = 'edit_call_to_action_' + <%= @cta.id.to_s %>
    var modelName = "call_to_action";
    var fieldName = "extra_fields";

    populateTextboxWithJsonField(json_field, formName, modelName, fieldName);

    $("#call_to_action_valid_from_date_time").datetimepicker();
    $("#call_to_action_valid_to_date_time").datetimepicker();
    $("#call_to_action_activation_date_time").datetimepicker();

  });

</script>