<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "calltoaction" } %>

<% @ctas.each do |c| %>
  <%= render partial: "/easyadmin/call_to_action/reason_for_not_approving", locals: { cta: c, page: "approved" } %>
<% end %>

  <div id="content">    
    
    <%= form_tag :action => 'filter_ugc', :approvation_status => 'approved', :method => 'post' do %>
      <%= render partial: "/easyadmin/call_to_action/user_cta_search_tab", locals: { page: "approved" } %>
    <% end %>

    <div class="row cta-to-show">
      <div class="col-md-12"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Titolo</th>
              <th>Slug</th>
              <th class="hidden-xs hidden-sm">Data immissione</th>
              <th>Utente</th>
              <th>Tags</th>
              <th>Thumbnail</th>
              <th>Download media</th>
              <th>Liberatoria</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <% @ctas.each do |c| %>
            <tr id="cta-<%= c.id %>">
              <td><%= c.title %></td>
              <td><%= c.slug %></td>
              <td class="hidden-xs hidden-sm"><%= c.created_at.strftime("%d/%m/%Y %H:%M") %></td>
              <td><%= "#{c.user.username}" %> <br/> <%= "(#{c.user.email})" %></td>
              <td>
                <%= (c.call_to_action_tags.map { |ctatag| ctatag.tag.name }).join(", ") %>
              </td>
              <td>
                <% if c.media_image.present? %>
                  <% if !c.media_image.content_type.start_with?("video") %>
                    <img src="<%= c.media_image.url(:extra) %>" class="img-responsive" style="max-width: 200px; width: 100%;">
                  <% elsif !c.media_image.content_type.start_with?("video") %>
                    ---
                  <% elsif aws_trasconding_not_required_or_completed(c) %>
                    <a href="<%= c.media_image.url %>"><i class="fa fa-play-circle-o fa-2x" style="color:red"></i></a>
                  <% end %>
                <% end %>
              </td>
              <td class="col-md-1">
                <a href="<%= @original_media_path ? "#{@original_media_path}#{c.user_id}-#{c.id}-media.mp4" : c.media_image.url %>" download="<%= c.media_image_file_name %>">
                  <i class="fa fa-arrow-circle-o-down fa-2x" style="color:red"></i>
                </a>
              </td>
              <td>
                <% if c.releasing_file.present? && c.releasing_file.file_content_type.present? %> 
                  <a href="<%= c.releasing_file.file.url %>" target="_blank">
                    <i class="fa fa-file-text-o fa-2x" style="color:red"></i>
                  </a>
                <% else %>
                  <p> Nessuna </p>
                <% end %>
              </td>
              <td class="col-md-2">
                <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#notApprovingModal<%= c.id %>" onclick="updateCta(false, <%= c.id %>)">Rifiuta</button>
                &nbsp;
                <a href="/easyadmin/cta/edit/<%= c.id %>">
                  <button type="button" class="btn btn-secondary btn-xs">Edita</button>
                </a>
                &nbsp;
                <%= link_to "Tagga", { :controller => "tag", :action => "tag_cta", :id => c.id, 
                  :page => "#{request.protocol}#{request.host_with_port}#{request.fullpath}" }, 
                  { :class => "btn btn-default btn-xs" } %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row cta-to-show">
      <div class="col-md-12">
        <%= render partial: "/easyadmin/easyadmin/pagination" %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  function updateCta(approved, cta_id) {
    $("#cta-" + cta_id).remove();
    $.ajax({
      type: "POST",
      url: "/easyadmin/cta/" + cta_id + "/update_cta_status",
      data: { "approved": approved },
      beforeSend: function(jqXHR, settings) {
          jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
      },
      success: function(data) {
        $("#cta-" + cta_id).remove();
      }
    });
  }
</script>