<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "calltoaction" } %>

<!-- Modal -->
<%= render partial: "/easyadmin/easyadmin/linked_cta_tree", locals: { cta: @current_cta } %>

<div id="content">   

  <div id="content-header">
    <h1>CALLTOACTION INFO</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

    <div class="row">
      <div class="col-md-12"> 
        <% if @current_cta.errors.any? %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger">
                <p>Errori CTA:</p>
                <p>
                  <ul>
                    <% @current_cta.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        <% elsif flash[:notice] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success"><%= flash[:notice] %></div>
            </div>
          </div>
        <% end %>
        <%= render partial: "/easyadmin/easyadmin/update_cache_banner" %>

        <% if get_content_updated_at_cookie() || get_user_call_to_action_moderation_cookie() %>
          <script type="text/javascript">
            $("#update-cache-banner").removeClass("hidden");
          </script>
        <% end %>
      </div>
    </div>

    <div class="row text-right">
      <% if can? :manage, :all %>
        <div class="col-md-1 col-md-offset-9">
          <a href="/easyadmin/cta/edit/<%= @current_cta.id %>"><button type="button" class="btn btn-primary"> MODIFICA </button></a>
        </div>
      <% end %>
      <!-- Button trigger modal -->
      <div id="show-tree-button" class="col-md-2">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#treeModal"> CTA COLLEGATE </button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-10">
        <%= get_cta_action_buttons(@current_cta) %>
      </div>
    </div>

    <h3>Dati generali</h3>
    <hr/>

    <div class="row">
      <div class="col-sm-5">
        <dl class="dl-horizontal">
          <dt>Nome</dt><dd><p><%= @current_cta.name %></p></dd>
          <dt>Titolo</dt><dd><p><%= @current_cta.title %></p></dd>

          <dt>Disqus</dt><dd><p><%= @current_cta.enable_disqus ? "abilitato" : "non abilitato" %></p></dd>

          <% unless @current_cta.media_data.blank? %>
            <dt>Video</dt><dd><p><%= @current_cta.media_data %></p></dd>
          <% end %>

          <% unless @tag_list.blank? %>
            <dt>Tag</dt><dd><p><%= @tag_list %></p></dd>
          <% end %>
        </dl>
      </div>

      <% if @current_cta.media_image.present? %>
        <div class="col-sm-2 col-sm-offset-2 text-center">
          <label>Immagine</label>
          <img class="img-responsive" src="<%= @current_cta.media_image %>" style="border: 1px solid #ccc; border-radius: 10px;">
        </div>
      <% end %>
      <% if @current_cta.thumbnail.present? %>
        <div class="col-sm-2 text-center">
          <label>Thumbnail</label>
          <img class="img-responsive" src="<%= @current_cta.thumbnail %>" style="border: 1px solid #ccc; border-radius: 10px;">
        </div>
      <% end %>
    </div> 

    <div id="details-button-div" class="col-md-4 row text-center">
      <button id="details-button" type="button" class="btn btn-primary">CARICA DETTAGLI</button>
    </div>

    <div id="details"></div>

  </div>

</div>

<script type="text/javascript">

  $(document).ready(function() {

    // if($("#trees").find("li").length <= 1) {
    //   $("#show-tree-button").hide();
    // }

    $("#details-button").click(function() {
      $("#details-button-div").remove();
      cta_id = <%= @current_cta.id %>
      $("#details").load("/easyadmin/cta/show_details/" + cta_id);
    });

  });

</script>