<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>BALLANDO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" type="text/css" />

  <%= stylesheet_link_tag "ballando_application", :media => "all" %>
  <%= javascript_include_tag "ballando_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("ballando_application.css").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("ballando_application.js").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" type="text/javascript"></script>  
  <![endif]-->

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://www.ballandoconlestelle.rai.it/dl/js/common.js"></script>
  <script type="text/javascript" src="http://ad2.neodatagroup.com/uploads/js/sid49jq.js"></script>
  <meta property="og:site_name" content="Ballando con le stelle 2014"/>
  <%= yield (:fb_meta_tags) %>
  
</head>
<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>">

  <div id="quiz-waiting-audio"></div>

  <!-- COMMENT FEEDBACK MODAL -->
  <div class="modal fade" id="comment-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Commento inserito con successo</h4>
        </div>
        <div class="modal-body">
          <p id="comment-must-be-approved">Il commento verrà pubblicato solo dopo l'approvazione.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CAPTCHA ERROR MODAL -->
  <div class="modal fade" id="comment-captcha-error-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Errore nell'inserimento del commento</h4>
        </div>
        <div class="modal-body">
          <p>Verifica di avere inserito correttamente il captcha.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="registrate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Registrati per giocare</h4>
        </div>
        <div class="modal-body">
          Per poter giocare devi <a href="/users/sign_up">loggarti o registrarti</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
          <a href="/users/sign_up"><button type="button" class="btn btn-primary">Entra</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebook-like-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Like su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare il like devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Share -->
  <div class="modal fade" id="facebook-share-modal" tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      	<div class="modal-header" style="padding-bottom: 25px; border: none;">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body" style="padding: 10px 0 30px 0;">
        	<div class="row">
        		<div class="col-xs-12">
        			<p class="text-center" style="font-weight: bold; font-size: 17px;">Condividi questo contenuto sui social</p>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-xs-12 text-center">
        			<button type="button" class="btn-2 btn-2-fb" onclick="doFbShare();" style="width: 80px; height: 80px; margin-right: 20px;">
        				<i class="fa fa-facebook" style="font-size: 30px;"></i>
        			</button>
        			<button class="btn-2 btn-2-tt" onclick="doTwShare();" style="width: 80px; height: 80px;">
        				<i class="fa fa-twitter" style="font-size: 30px;"></i>
        			</button>
        			<h6 class="feedback-point" style="margin-bottom: 0; margin-top: 5px;">Ottieni fino a +3 punti <img src="<%= get_main_reward_image_url %>" style="width: 15px;"> <img src="<%= get_main_reward_image_url %>" style="width: 15px;"> <img src="<%= get_main_reward_image_url %>" style="width: 15px;"></h6>
        		</div>
        	</div>
        </div>
        	
      </div>
    </div>
  </div>
  
  <!-- Modal Share Done -->
  <div class="modal fade" id="facebook-share-modal-done" tabindex="-1" role="dialog" aria-labelledby="shareModalDone" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      	<div class="modal-header" style="padding-bottom: 25px; border: none;">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body" style="padding: 10px 0 30px 0;">
        	<div class="row">
        		<div class="col-xs-12">
        			<p class="text-center" style="font-weight: bold; font-size: 17px;">Prima Condivisione Fatta!</p>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-xs-12 text-center">
        			<img src="<%= get_main_reward_image_url %>" style="margin: 10px auto; max-width: 50px;" />
        			<img src="<%= get_main_reward_image_url %>" style="margin: 10px auto; max-width: 50px;" />
        			<img src="<%= get_main_reward_image_url %>" style="margin: 10px auto; max-width: 50px;" />
        			<p>Hai ottenuto +3 Punti</p>
        		</div>
        	</div>
        </div>
        	
      </div>
    </div>
  </div>
  
  <!-- Modal Share Done -->
  <div class="modal fade" id="facebook-share-modal-done-2" tabindex="-1" role="dialog" aria-labelledby="shareModalDone2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
      	<div class="modal-header" style="padding-bottom: 25px; border: none;">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        </div>
        <div class="modal-body" style="padding: 10px 0 30px 0;">
        	<div class="row">
        		<div class="col-xs-12">
        			<p class="text-center" style="font-weight: bold; font-size: 17px;">Grazie per aver condiviso!</p>
        		</div>
        	</div>
        	
        	<div class="row">
        		<div class="col-xs-12 text-center">
        			<p>Lorem ipsum dolor sit amet.</p>
        		</div>
        	</div>
        </div>
        	
      </div>
    </div>
  </div>

  <%= yield %>

  <%= render partial: "/application/ga" %>

  <script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_y7zC1MAf5AXquxPyEwA0Weug-iSRX5yQVm8Z-M6XcvYFGPBNkdMk2R-aY0Dlz5FO">
    { connectWithoutLoginBehavior: 'alwaysLogin' }
  </script>

  <script type="text/javascript">

    var PROFILE_URL = "<%= Rails.configuration.deploy_settings["sites"]["ballando"]["profile_url"] %>";

    <% if @registration_ga %>
      ga('send', 'event', "Registration", "Registration", "registered_user", 1, true);
    <% end %>

    window.addEventListener("orientationchange", function() {
      window.parent.containerResize();
    }, false);

    function gigyaSocializeLogin(provider) {
      $("#waiting-registration-layer").removeClass("hidden");
      gigya.socialize.login({
        provider: provider,
        callback: function (loginResult) {
          gigya.socialize.getUserInfo({
            callback: function (getUserInfoResult) {
              loginSocialBallando(getUserInfoResult); 
            }
          });
        }
      });
    }

    function loginSocialBallando(getUserInfoResult) {
      $.ajax({
        type: "POST",
        url: "http://www.rai.tv/MyRaiTv/loginSocialBallando.do",
        data: { userObject: JSON.stringify(getUserInfoResult) },
        success: function(data) {
          generateUserFromProvider(data);
        }
      });
    }

    function generateUserFromProvider(user) {
      $.ajax({
        type: "POST",
        url: "/users/rai/sign_in_from_provider/create",
        data: { user: user },
        success: function(data) {
          if(data.errors) {
            $("#form-errors").html(data.errors);
            $("#waiting-registration-layer").addClass("hidden");
          } else {
            window.top.location.href = data.connect_from_page;
          }
        }
      });
    }
	
	var adagioFormat=''; var adagioJsVar=''; var adagioKw = '';
	Banners.vars.push({ 
		s: "#banner-rai",
		v: "rai_uno^rai_uno_ballando_medium_box_var^300x250^",
		hideEmpty: true
	});
	Banners.reloadAll();
	
	$(function() {
		FastClick.attach(document.body);
	});

	</script>
</body>
</html>
