<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>BALLANDO</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="FANDOM" /> 
  <meta property="og:description" content="" />  
  <meta property="og:image" content="" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">
  
  <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet" type="text/css" />

  <%= stylesheet_link_tag "ballando_application", :media => "all" %>
  <%= javascript_include_tag "ballando_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("ballando_application.css").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("ballando_application.js").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" type="text/javascript"></script>  
  <![endif]-->

  <%= csrf_meta_tags %>
  <script type="text/javascript" src="http://www.ballandoconlestelle.rai.it/dl/js/common.js"></script>
</head>
<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>">

  <div id="quiz-waiting-audio"></div>

  <!-- COMMENT FEEDBACK MODAL -->
  <div class="modal fade" id="comment-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Commento inserito con successo</h4>
        </div>
        <div class="modal-body">
          <p id="comment-must-be-approved">Il commento verrà pubblicato solo dopo l'approvazione.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- CAPTCHA ERROR MODAL -->
  <div class="modal fade" id="comment-captcha-error-feedback" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Errore nell'inserimento del commento</h4>
        </div>
        <div class="modal-body">
          <p>Verifica di avere inserito correttamente il captcha.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="registrate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4>Registrati per giocare</h4>
        </div>
        <div class="modal-body">
          Per poter giocare devi <a href="/users/sign_up">loggarti o registrarti</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
          <a href="/users/sign_up"><button type="button" class="btn btn-primary">Entra</button></a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebook-like-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Like su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare il like devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebook-share-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Share su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare la condivisione devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <button onclick="generateUserFromProvider('')">CIAO</button>

  <%= yield %>

  <%= render partial: "/application/ga" %>

  <script type="text/javascript" src="http://cdn.gigya.com/js/socialize.js?apiKey=3_y7zC1MAf5AXquxPyEwA0Weug-iSRX5yQVm8Z-M6XcvYFGPBNkdMk2R-aY0Dlz5FO">
    { connectWithoutLoginBehavior: 'alwaysLogin' }
  </script>

  <script type="text/javascript">

    var PROFILE_URL = "<%= Rails.configuration.deploy_settings["sites"]["ballando"]["profile_url"] %>";

    var tmp = '{"errorMessage":"","status":"OK","UIDSignature":"HRQealHe+c2md+rkViOf5qTZsWI=","callId":"015f04eea1d141aa8eb3f094c450b872","statusMessage":"","timestamp":"2014-10-02 07:47:46","operation":"getUserInfo","UID":"facebook_alessandro_shado","signatureTimestamp":"1412236066","errorCode":0,"UIDSig":"T3c+vOdbkBTXm/GlB0RX2g4YKvU=","requestParams":{"connectWithoutLoginBehavior":"alwaysLogin","APIKey":"3_y7zC1MAf5AXquxPyEwA0Weug-iSRX5yQVm8Z-M6XcvYFGPBNkdMk2R-aY0Dlz5FO","apiDomain":"us1.gigya.com","lang":"en"},"user":{"oldestDataAge":0,"isSiteUID":true,"isTempUser":false,"birthMonth":"11","UIDSignature":"HRQealHe+c2md+rkViOf5qTZsWI=","state":"","isLoggedIn":true,"city":"Treviso, Italy","timestamp":"2014-10-02 07:47:46","statusCode":200,"providers":["facebook"],"age":26,"gender":"m","firstName":"Alessandro","thumbnailURL":"https://graph.facebook.com/100005216490207/picture?type=square","zip":"","lastName":"Shado","birthYear":"1987","photoURL":"https://graph.facebook.com/100005216490207/picture?type=large","nickname":"Alessandro Shado","identities":{"facebook":{"isLoginIdentity":true,"birthMonth":"11","state":"","lastUpdatedTimestamp":1412236065560,"isExpiredSession":false,"providerUID":"100005216490207","city":"Treviso, Italy","age":"26","gender":"m","oldestDataUpdated":"2014-10-02T07:47:45.369Z","firstName":"Alessandro","lastLoginTime":1412236065,"thumbnailURL":"https://graph.facebook.com/100005216490207/picture?type=square","zip":"","lastName":"Shado","birthYear":"1987","photoURL":"https://graph.facebook.com/100005216490207/picture?type=large","missingPermissions":"","nickname":"Alessandro Shado","lastUpdated":"2014-10-02T07:47:45.56Z","birthDay":"9","allowsLogin":true,"provider":"facebook","country":"","proxiedEmail":"","oldestDataUpdatedTimestamp":1412236065369,"email":"atolomio@shado.tv","profileURL":"https://www.facebook.com/alessandro.shado"}},"isSiteUser":true,"birthDay":"9","country":"","proxiedEmail":"","oldestDataUpdatedTimestamp":1412236065369,"email":"atolomio@shado.tv","UID":"facebook_alessandro_shado","statusReason":"OK","signatureTimestamp":"1412236066","isConnected":true,"UIDSig":"T3c+vOdbkBTXm/GlB0RX2g4YKvU=","loginProviderUID":"100005216490207","capabilities":{"photos":true,"friends":true,"status":true,"notifications":false,"login":true,"actions":true,"contacts":true},"profileURL":"https://www.facebook.com/alessandro.shado","loginProvider":"facebook"},"authMyRaiTv":"OK","signature":"T3c+vOdbkBTXm/GlB0RX2g4YKvU="}|261212ff2d4b21017a792fd2269a6c79';

    window.addEventListener("orientationchange", function() {
      window.parent.containerResize();
    }, false);

    function gigyaSocializeLogin(provider) {
      $("#waiting-registration-layer").removeClass("hidden");
      gigya.socialize.login({
        provider: provider,
        callback: function (loginResult) {
          gigya.socialize.getUserInfo({
            callback: function (getUserInfoResult) {
              loginSocialBallando(getUserInfoResult); 
            }
          });
        }
      });
    }

    function loginSocialBallando(getUserInfoResult) {
      $.ajax({
        type: "POST",
        url: "http://www.rai.tv/MyRaiTv/loginSocialBallando.do",
        data: { userObject: JSON.stringify(getUserInfoResult) },
        success: function(data) {
          generateUserFromProvider(data);
        }
      });
    }

    function generateUserFromProvider(user) {
      $.ajax({
        type: "POST",
        url: "/users/rai/sign_in_from_provider/create",
        data: { user: tmp },
        success: function(data) {
          if(data.errors) {
            $("#form-errors").html(data.errors);
            $("#waiting-registration-layer").addClass("hidden");
          } else {
            window.top.location.href = data.connect_from_page;
          }
        }
      });
    }

	function openCtaShareModal(modalId, elem){
		var positionTop = $(elem).position().top;
		var modalHeight, modalObj, innerModalObj;
		modalObj = $("#"+modalId);
		position = positionTop - 500;
		modalObj.modal('show');
		modalObj.css({
			"top": position+"px"
		});
	}
	
	Banners.vars.push({ 
		s: "#banner-rai",
		v: "banner",
		hideEmpty: true
	});

	</script>
</body>
</html>
