<ul class="nav nav-tabs">
  <li class="<%= 'active' if page == "to_be_approved" %>" >
    <a href="/easyadmin/comments/<%= "ugc_" if ugc %>to_approved">Commenti <%= "UGC" if ugc %> da approvare</a>
  </li>
  <li class="<%= 'active' if page == "approved" %>" >
    <a href="/easyadmin/comments/<%= "ugc_" if ugc %>approved">Commenti <%= "UGC" if ugc %> pubblicati</a>
  </li>
  <li class="<%= 'active' if page == "not_approved" %>" >
    <a href="/easyadmin/comments/<%= "ugc_" if ugc %>not_approved">Commenti <%= "UGC" if ugc %> oscurati</a>
  </li>
</ul>

<h3>Commenti 
  <%= "UGC" if ugc %> 
  <% if page == "to_be_approved" %>
    da approvare
  <% elsif page == "approved" %>
    pubblicati
  <% elsif page == "not_approved" %>
    oscurati
  <% end %>
</h3>

<hr/>

<%= form_tag :method => 'post' do %>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Filtra per ID UTENTE (separare con ",")</label></br>
      <%= text_field_tag "filters[user_id]", @filters["user_id"], :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="text-input">Filtra per ID CTA</label></br>
      <%= text_field_tag "filters[cta_id]", @filters["cta_id"], :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Filtra per TESTO</label></br>
      <%= text_field_tag "filters[text]", @filters["text"], :class => 'form-control' %>
    </div>
  </div>
  <% if page == "not_approved" %>
    <div class="col-md-1">
      <div class="form-group">
        <label class="text-input">Profanity</label></br>
        <%= check_box_tag "filters[profanity_check]", true, @filters["profanity_check"] %>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Dal giorno</label></br>
      <%= text_field_tag "filters[from_date]", @filters["from_date"], :class => "form-control" %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Al giorno</label></br>
      <%= text_field_tag "filters[to_date]", @filters["to_date"], :class => "form-control" %>
    </div>
  </div>
  <div class="col-md-2 col-md-offset-2">
    <div class="form-group">
      </br><%= submit_tag 'APPLICA FILTRO', class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      </br><%= submit_tag 'RESET', class: 'btn btn-primary' %>
    </div>
  </div>
</div>
<% end %>

<script type="text/javascript">

  $(function() {
    $("#filters_from_date").datepicker({format: 'dd/mm/yyyy'});
    $("#filters_to_date").datepicker({format: 'dd/mm/yyyy'});
  });

</script>