<div class="row">
<%= form_tag :method => 'post' do %>
  <div class="col-md-2">
    <div class="form-group">
      <label class="text-input">Filtra per ID CTA</label></br>
      <%= text_field_tag :id_cta_filter, @id_cta_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      <label class="text-input">Filtra per TESTO</label></br>
      <%= text_field_tag :text_filter, @text_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      </br><%= submit_tag 'APPLICA FILTRO', class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      </br><%= submit_tag 'RESET', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>