<ul class="nav nav-tabs">
  <li class="<%= 'active' if page == "to_be_approved" %>" >
    <a href="/easyadmin/comments/<%= "ugc_" if ugc %>to_approved">Commenti <%= "UGC" if ugc %> da approvare</a>
  </li>
  <li class="<%= 'active' if page == "approved" %>" >
    <a href="/easyadmin/comments/<%= "ugc_" if ugc %>approved">Commenti <%= "UGC" if ugc %> pubblicati</a>
  </li>
  <li class="<%= 'active' if page == "not_approved" %>" >
    <a href="/easyadmin/comments/<%= "ugc_" if ugc %>not_approved">Commenti <%= "UGC" if ugc %> oscurati</a>
  </li>
</ul>

<h3>Commenti 
  <%= "UGC" if ugc %> 
  <% if page == "to_be_approved" %>
    da approvare
  <% elsif page == "approved" %>
    pubblicati
  <% elsif page == "not_approved" %>
    oscurati
  <% end %>
</h3>

<hr/>

<div class="row">
<%= form_tag :method => 'post' do %>
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Filtra per ID UTENTE (separare con ",")</label></br>
      <%= text_field_tag :user_id_filter, @user_id_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Filtra per ID CTA</label></br>
      <%= text_field_tag :cta_id_filter, @cta_id_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-3">
    <div class="form-group">
      <label class="text-input">Filtra per TESTO</label></br>
      <%= text_field_tag :text_filter, @text_filter, :class => 'form-control' %>
    </div>
  </div>
  <div class="col-md-2">
    <div class="form-group">
      </br><%= submit_tag 'APPLICA FILTRO', class: 'btn btn-primary' %>
    </div>
  </div>
  <div class="col-md-1">
    <div class="form-group">
      </br><%= submit_tag 'RESET', class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
</div>