<div class="row profile-bar">
	<div class="col-sm-3 no-border">
	  <div class="text-center">
	  	<img src="<%= user_avatar current_user %>" alt="profile img" class="img-circle img-profile">
	  	<h4><%= "#{current_user.first_name} #{current_user.last_name}" %></h4>
	  </div>
	</div>
	<div class="col-sm-3">
		<% superfan = get_superfan_reward %>
		<div class="text-center">
			<img src="<%= get_reward_image_for_status(superfan) %>" alt="profile img" class="img-circle img-profile">
			<div class="progress" style="margin: 10px auto; width: 30%;">
		    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= (get_reward_points_in_period(PERIOD_KIND_DAILY, MAIN_REWARD_NAME) * 100) / superfan.cost %>%;"></div>
	    	</div>
		    <h4><%= superfan.title %></h4>
	  </div>
	</div>
	<div class="col-sm-3">
		<div class="text-center">
			<p style="margin: 0;"><span class="contents-to-unlock">20</span></p>
			<h4 style="margin: 0;">CONTENUTI ESCLUSIVI<br />da sbloccare</h4>
		</div>
	</div>
	<div class="col-sm-3 ranking-info">
		<span class="label-warning"><%= get_counter_about_user_reward(MAIN_REWARD_NAME) %> <span class="glyphicon glyphicon-star"></span></span>
		<h4>PUNTI TOTALI</h4>
		<span class="label-default">
			<% if get_my_general_position %>
				<%= get_my_general_position %>°
			<% else %>
				---
			<% end %>
		</span>
		<h4>CLASSIFICA</h4>
	</div>
</div>