<%= render partial: "/application/user_bar" %>

<div class="container profile-container">
  
  <div class="row">
    <div class="col-md-12">
	  <%= render partial: "profile/profile_header" %>
      <%= render partial: "profile/profile_navbar", locals: { page: "badges" } %>
      <% if @are_properties_used %>
        <% @rewards_to_show.each do |property, rewards| %>
          <div class="row badges text-center">
            <% rewards.each do |reward| %>
              <%= render partial: "/profile/badge", locals: { reward: reward } %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="row badges text-center">
          <% @rewards_to_show.each do |reward| %>
            <%= render partial: "/profile/badge", locals: { reward: reward } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

</div>

        
