<%= render partial: "/application/user_bar" %>

<div class="container-fluid profile-container" ng-controller="RankingCtrl" ng-init="init(<%= populate_rankings(["general_chart", "my_position_general"]).to_json %>);">


<%= render partial: "profile/profile_header" %>
	<div class="hidden-xs">
		<%= render partial: "profile/profile_navbar", locals: { page: "rankings" } %>
		<div class="row">
			<%= render partial: "/ranking/rank", locals: { rankings: "rankings.my_position_general" } %>
			<%= render partial: "/ranking/rank", locals: { rankings: "rankings.general_chart" } %>
		</div>
	</div>
</div>

<script type="text/javascript">

  $(document).ready(function() {
    checkDocumentHeight("fandom");
  });

</script>