<%= render partial: "/application/user_bar" %>

<div class="container profile-container" ng-controller="RankingCtrl" ng-init="init(<%= populate_rankings(["general_chart", "my_position_general"]).to_json %>);">


<%= render partial: "profile/profile_header" %>
<%= render partial: "profile/profile_navbar", locals: { page: "rankings" } %>

<%= render partial: "/ranking/rank", locals: { rankings: "rankings.my_position_general" } %>
<%= render partial: "/ranking/rank", locals: { rankings: "rankings.general_chart" } %>

</div>