<div class="row">
	<%= form_tag "/upload_interaction/create/#{ @upload_interaction.id }", multipart: true, id: "form-upload" do %>
	<div class="col-sm-12">
	  <div class="row form-group">
	    <label class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 text-left" style="color: #fff;">1. <%= extra_info['upload_step1'] %></label>
	    <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0 text-left">
	    	<a type="button" class="btn-2" onclick="chooseFile();" style="display: inline-block; width: 100%;"><%= extra_info['upload_button_label'] %></a>
	    	<p class="small" style="margin-top: 10px; color: #fff;"><%= extra_info['file_size_limit_text'] %></p>
	    	<div class="hidden"><%= file_field_tag "upload", { :onchange => "uploadDone(this)" } %></div>
	    </div>
	  </div>
	  
	  <% if upload_interaction.resource.title_needed %>
		  <div class="row form-group">
		    <label class="col-xs-8 col-xs-offset-2 col-sm-3 col-sm-offset-1 text-left" style="color: #fff;">2. <%= extra_info['upload_step2'] %></label>
		    <div class="col-xs-8 col-xs-offset-2 col-sm-5 col-sm-offset-0">
		    	<%= text_field_tag :title, (cloned_cta.title if cloned_cta), { class: "form-control", onchange: "titleInserted(this)" } %>
		    </div>
		  </div>
	  <% end %>
	  
	  <div class="row form-group">
	  	<div class="col-sm-12 text-center">
	  		<% if upload_interaction.resource.privacy? %>
	          <%= check_box_tag "privacy" %>
	          <label style="color: #fff;">Accetto i <a style="text-decoration: underline; color: #fff;" href="http://ballando.live.fandomlab.com.s3.amazonaws.com/terms/termini_uso_ballando.pdf" target="_blank" style="color: #fff;">termini d'uso</a></label>
	        <% end %>
	
	        <% if upload_interaction.resource.releasing? %>
	          <label>Liberatoria</label>
	          <p class="small"><%= upload_interaction.resource.releasing_description %></p>
	          <p class="text-center"><%= file_field_tag 'releasing' %></p>
	        <% end %>
	  	</div>
	  </div>
	  
	  <% if !extra_fields.blank? %>
	  	<p style="color: #fff;">INSERISCI LA TUA EMAIL PER ESSERE CONTATTATO DALLA REDAZIONE</p>
  		<% extra_fields.each do |field| %>
  			<%= extra_field_to_html(field).html_safe %>
  		<% end %>
	  <% end %>
	  
	  <div class="row">
		    <div class="col-xs-8 col-xs-offset-2 col-sm-4 col-sm-offset-4 text-center" id="load-button">
		      <% if current_user %>
		        <button type="button" class="btn-2" onclick="startLoader();">CARICA</button>
		      <% else %>
		      	<button type="button" class="btn-2" onclick="goToLogin();">CARICA</button>
		      <% end %>
		      <p>&nbsp;</p>
		    </div>
	  </div>
		  
	  </div>
	  <% end %>
	</div>