<li class="<%= class_li %>"><a href="http://www.ballandoconlestelle.rai.it">Home</a>
<li class="<%= class_li %>"><a href="http://www.rai.tv/dl/RaiTV/programmi/page/Page-9099971c-56a9-4688-88d0-e38b2159d7b2-ballando14.html">Video e Foto</a>
<li class="<%= class_li %>"><a href="http://www.ballandoconlestelle.rai.it/dl/portali/site/articolo/list/ContentSet-cb17bfd6-d9c7-42fa-90f7-115d5e1bd9ec.html">La Giuria</a>
<li class="<%= class_li %>"><a href="http://www.ballandoconlestelle.rai.it/dl/portali/site/personaggio/ContentSet-ef1b5734-c108-4cec-a950-ade603731fdd.html">Le Coppie</a>
<li class="<%= class_li %>"><a href="http://www.ballandoconlestelle.rai.it/dl/portali/site/articolo/ContentItem-73c59d94-cb97-4ffe-a1ea-8e7fac2eb28e.html">Community</a>
<li class="<%= class_li %>"><a href="http://www.ballandoconlestelle.rai.it/dl/portali/site/articolo/ContentItem-31298c5f-1077-418f-b851-9f90353e4e8b.html">Profilo</a>
<li class="<%= class_li %>"><a target="_blank" href="http://www.rai.it/dl/docs/1411650465288Regolamento_BALLANDO_CON_LE_STELLE_2014_def_25_sett_2014.pdf">Regolamento Televoto</a> 