<% template_cache_short('index', !user_signed_in?) do %>
	
	<%= render partial: "/application/user_bar" %>
		
	<div class="container" ng-controller="BallandoStreamCalltoactionCtrl" ng-init="initBallando(<%= !current_user.blank? %>, <%= @calltoactions.to_json %>, '<%= @calltoactions_active_count %>', <%= @calltoactions_during_video_interactions_second.to_json %>, '<%= ga_code() %>', null, '<%= "#{request.protocol}#{request.host}/" %>', null, <%= @aux.to_json %>)">   
	
	  <div class="row">
	    <%= render partial: "/application/home_filters", locals: { single_cta: false } %>
	  </div>
	  
	  <div id="calltoaction-stream" class="row">
	     <%= render partial: "/call_to_action/stream_calltoactions", locals: { calltoactions: @calltoactions, calltoactions_comment_interaction: @calltoactions_comment_interaction, active_calltoaction_id: nil, calltoactions_active_interaction: @calltoactions_active_interaction, aux: @aux } %>
	  </div>
	
	  <div class="row">      
	    <div class="col-sm-6 col-sm-offset-3">
	      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
	        <button class="btn btn-append" href="javascript: void(0)" onclick="appendCallToAction();">CARICA ALTRI</button>
	      </div>
	    </div>
	  </div>
	
	</div>
	
	<script type="text/javascript">
	
	  $(document).ready(function() {
	  	if(isIframe()) {
	    	checkDocumentHeight("fandom");
	  	}
	    
	    <% if @tag.present? %>
				updateFiltersMenu(<%= @tag.id %>)
			<% end %>
	    
	  });
	
	</script>
<% end %>
