<div class="container" ng-if="calltoaction_info.calltoaction.media_type != 'VOID' || calltoaction_info.calltoaction.gallery"> 
  <div class="row main-row">
    <div class="col-sm-6 col-xs-8 cta__miniformat-col">
      <p ng-if="calltoaction_info.miniformat" class="cta__miniformat-text" ng-style="{'background-color': calltoaction_info.miniformat.label_background, 'color': calltoaction_info.miniformat.label_color}">
        <img ng-src="{{calltoaction_info.miniformat.icon.url}}">
        <!--<span class="{{calltoaction_info.miniformat.icon}}"></span>-->
        <span style="">{{calltoaction_info.miniformat.title}}</span>
      </p>
    </div>
    <div class="col-sm-6 col-xs-4 cta__miniformat-col text-right">
      <span ng-if="aux.is_live_cta" class="cta__miniformat-text" style="background-color: red; color: #fff;">
        <span class="fa fa-dot-circle-o"></span>
        live
      </span>
    </div>
    <div class="col-xs-12">
      <h1 class="cta__title">{{calltoaction_info.calltoaction.title}}</h1>
    </div>
  </div>
</div>

<div class="container visible-xs" ng-if="calltoaction_info.calltoaction.extra_fields && calltoaction_info.calltoaction.extra_fields.author_avatar"> 
  <div class="row main-row">
    <div class="col-xs-12 cta__miniformat-col">
      <div class="cta__sub_description ">
        <img class="cta__author-avatar" ng-src="{{calltoaction_info.calltoaction.extra_fields['author_avatar']['url']}}">
        <p class="cta__author-title">{{calltoaction_info.calltoaction.extra_fields.author_name}}</p>
        <p class="cta__author-category">{{calltoaction_info.calltoaction.extra_fields.author_category}}</p>
        <p class="cta__author-address">{{calltoaction_info.calltoaction.extra_fields.author_newspaper}}</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid__blue">
  <div class="container" ng-if="calltoaction_info.calltoaction.media_type != 'VOID'"> 
    <div class="row main-row">
      <div ng-class="{'col-sm-8 col-sm-offset-2': aux.is_live_cta, 'col-sm-12': !aux.is_live_cta}">
        <%= render partial: "/call_to_action/stream_single_calltoaction_media" %>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid__blue">
  <div class="container" ng-if="calltoaction_info.calltoaction.gallery"> 
    <div class="row main-row">  
      <div class="col-sm-12">
        <%= render partial: "/application/photo_gallery" %>
      </div>
    </div>
  </div>
</div>

<div class="container cta__bottom-container"> 
  <div class="row main-row">

    <div class="col-sm-8 cta__main-column">

      <div class="play-interaction__video-btn-container visible-xs" ng-class="{'active': calltoaction_info.calltoaction.vcode == vcode}" ng-repeat="vcode in calltoaction_info.calltoaction.vcodes" ng-click="updateYTIframe(calltoaction_info, vcode, false)">
        <span class="fa fa-play-circle"></span>
        <p class="play-interaction__video-btn-title">{{calltoaction_info.calltoaction.extra_fields[vcode + '_title']}}</p>
        <p class="play-interaction__video-btn-description">{{calltoaction_info.calltoaction.extra_fields[vcode + '_description']}}</p>
      </div>

      <div class="row">

        <div class="col-sm-12" ng-if="calltoaction_info.calltoaction.media_type == 'VOID' && !calltoaction_info.calltoaction.gallery">
          <h1 class="cta__title">{{calltoaction_info.calltoaction.title}}</h1>
        </div>

        <div class="col-sm-12 visible-xs" ng-if="aux.has_related_live">
          <div class="cta__live-container--related">
            <span class="cta__live-label--related" style="background-color: red; color: #fff;">
              <span class="fa fa-dot-circle-o"></span>
              live
            </span>
            <p class="cta__live-description--related">Potrai seguire questo evento in livestreaming sul nostro sito</p>
          </div>
        </div>

        <!-- UNDER MEDIA -->
        <div class="col-md-12">
          <h2 class="cta__description" ng-class="{'cta__description__without-media': !(calltoaction_info.calltoaction.media_type != 'VOID' || calltoaction_info.calltoaction.gallery)}" ng-bind-html="(calltoaction_info.calltoaction.extra_fields.subtitle.value || calltoaction_info.calltoaction.extra_fields.subtitle) | unsafe"></h2>
        </div>

        <!-- MOBILE SHARE -->
        <div class="col-md-12 visible-xs">
          <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
            <div id="share-interaction-{{interaction_info.interaction.id}}" class="share-undervideo-interaction__row">
              <%= render partial: "/call_to_action/share_interaction" %>
            </div>
          </div>
        </div>  

        <!-- DESKTOP SHARE -->
        <div class="col-md-12 cta__column-custom hidden-xs">
          <div class="cta__hr_top"></div>
          <div class="row">
            <div class="col-md-7"> 
              <div class="cta__sub_description" ng-if="calltoaction_info.calltoaction.extra_fields && calltoaction_info.calltoaction.extra_fields.author_avatar">
                <img class="cta__author-avatar" ng-src="{{calltoaction_info.calltoaction.extra_fields['author_avatar']['url']}}">
                <p class="cta__author-title">{{calltoaction_info.calltoaction.extra_fields.author_name}}</p>
                <p class="cta__author-category">{{calltoaction_info.calltoaction.extra_fields.author_category}}</p>
                <p class="cta__author-address">{{calltoaction_info.calltoaction.extra_fields.author_newspaper}}</p>
              </div>
            </div>
            <div class="col-md-5 text-right">
              <div class="cta__hr_center"></div> 
              <!-- SHARE -->
              <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
                <div id="share-interaction-{{interaction_info.interaction.id}}" class="share-undervideo-interaction__row">
                  <%= render partial: "/call_to_action/share_interaction" %>
                </div>
              </div>
            </div>
          </div>
          <div class="cta__hr_bottom"></div>
        </div>

        <!-- MOBILE DESCRIPTION -->
        <div class="col-md-12 visible-xs"> 
          <div class="panel panel-default cta__cps-panel">
            <div class="panel-heading" role="tab" id="cta__cps-1">
              <a data-toggle="collapse" data-parent="#accordion" href="#cta__cps-1b" aria-expanded="true" aria-controls="cta__cps-1b">
                <h4 class="panel-title">   
                  <span class="glyphicon glyphicon-chevron-down"></span>Descrizione               
                </h4>
              </a>
            </div>
            <div id="cta__cps-1b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cta__cps-1">
              <div class="panel-body">
                <div class="cta__long_description" ng-bind-html="calltoaction_info.calltoaction.description | unsafe"></div>
                <%= render partial: "/application/extra_field_contents" %>
              </div>
            </div>
          </div>
        </div>

        <!-- DESKTOP DESCRIPTION -->
        <div class="col-md-12 hidden-xs"> 
          <div ng-class="{'cta__long_description': (calltoaction_info.calltoaction.extra_fields.layout != 'press-release')}" ng-bind-html="calltoaction_info.calltoaction.description | unsafe"></div>
          <%= render partial: "/application/extra_field_contents" %>
        </div>

      </div>
    </div>
    <div class="col-sm-4">

      <div class="play-interaction__video-btn-container hidden-xs" ng-class="{'active': calltoaction_info.calltoaction.vcode == vcode}" ng-repeat="vcode in calltoaction_info.calltoaction.vcodes" ng-click="updateYTIframe(calltoaction_info, vcode, false)">
        <span class="fa fa-play-circle"></span>
        <p class="play-interaction__video-btn-title">{{calltoaction_info.calltoaction.extra_fields[vcode + '_title']}}</p>
        <p class="play-interaction__video-btn-description">{{calltoaction_info.calltoaction.extra_fields[vcode + '_description']}}</p>
      </div>

      <!-- MOBILE DETAILS -->
      <div class="panel panel-default visible-xs cta__cps-panel" ng-if="checkAndGenerateIcalForView(calltoaction_info)">
        <div class="panel-heading" role="tab" id="cta__cps-2">
          <a data-toggle="collapse" data-parent="#accordion" href="#cta__cps-2b" aria-expanded="true" aria-controls="cta__cps-2b">  
            <h4 class="panel-title">
              <span class="glyphicon glyphicon-chevron-down"></span>Dettagli
            </h4>
          </a>
        </div>
        <div id="cta__cps-2b" class="panel-collapse collapse" role="tabpanel" aria-labelledby="cta__cps-2">
          <%= render partial: "/call_to_action/cta_extra_fields", locals: { top_class: "" } %>
        </div>
      </div>

      <!-- DESKTOP DETAILS -->
      <%= render partial: "/call_to_action/cta_extra_fields", locals: { top_class: "hidden-xs" } %>

      <div class="row hidden-xs" ng-if="aux.has_related_live">
        <div class="col-sm-12">
          <div class="cta__live-container--related">
            <span class="cta__live-label--related" style="background-color: red; color: #fff;">
              <span class="fa fa-dot-circle-o"></span>
              live
            </span>
            <p class="cta__live-description--related">Potrai seguire questo evento in livestreaming sul nostro sito</p>
          </div>
        </div>
      </div>
      
      <%= render partial: "/application/right_contents" %>
    </div>
  </div>
</div>
