<div class="container" style="position: relative; padding: 0;">	
	<div class="footer">
	  <img src="<%= aux['assets']['logo_nestle']['url'] rescue nil %>" alt="Nestle Orzoro">
	  <p>©2013 Nestlè Orzoro. Tutti i diritti riservati.<br>Partita IVA 00777280157</p>
	  <ul>
	    <li><a target="_blank" href="<%= aux['assets']['regolamento_url'] %>">Regolamento</a></li>
	    <li><a target="_blank" href="<%= aux['assets']['netiquette_url'] %>">Netiquette</a></li>
	    <li><a target="_blank" href="http://www.buonalavita.it/nestle/service/note_legali/default.aspx">Privacy Policy</a></li>
	    <li><a target="_blank" href="https://www.buonalavita.it/contatti/scrivici">Contattaci</a></li>
	  </ul>
	</div>
	<div class="row fix-footer texture-3" style="padding-top: 5px; margin: 0; text-align: center; z-index: 9999; -webkit-box-shadow: inset 0px 5px 10px 2px rgba(50, 50, 50, 0.5); -moz-box-shadow:    inset 0px 5px 10px 2px rgba(50, 50, 50, 0.5); box-shadow: inset 0px 5px 10px 2px rgba(50, 50, 50, 0.5);">
	      <div class="col-xs-12">
		      <div class="centered"> 
		        <div class="row" style="text-align: center">
		          <a target="_blank" href="https://www.buonalavita.it/">
		            <img src="<%= aux['assets']['footer_text']['url'] rescue nil %>" style="width: 600px;" class="hidden-xs">
		          </a>
		        </div>
		        <div class="row">
		          <div class="col-xs-12">
		            <p style="color: white; font-size: 9px; margin-left: 10px; margin-bottom: 10px;">Copyright 2014 - Nestlè italiana S.p.A - Partita IVA 00777280157 - 
		            <a style="text-decoration: inherit; color: white;" target="_blank" href="https://www.buonalavita.it/note-legali">note legali</a> - 
		            <a style="text-decoration: inherit; color: white;" target="_blank" href="https://www.buonalavita.it/promozioni/in-corso">regolamento concorsi</a></p>
		          </div>
		        </div>
		      </div>
		   </div>
	</div>
	<a target="_blank" href="http://www.nestle.it/" style="z-index: 9999;">
		<img style="position: absolute; height: 178px; width: 250px; right: 0; bottom: 0; z-index: 9999;" src="<%= aux['assets']['corner_footer']['url'] rescue nil %>">
	</a>
</div>