<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "prize" } %>
 
  <div id="content">    
    
    <div id="content-header">
      <h1>ELENCO PREMI</h1>
    </div> <!-- #content-header --> 

    <div id="content-container">

    <% if flash[:notice] %>
      <div class="row">
        <div class="col-md-12">         
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-success"><%= flash[:notice] %></div>
              </div>
            </div>
        </div>
      </div>
    <% end %>
      
    <div class="row text-right">
      <div class="col-md-12">
        <a href="/easyadmin/reward/new"><button type="button" class="btn btn-primary">NUOVO</button></a>
      </div>
    </div>

    <%= form_tag :action => 'filter', :method => 'post' do %>
      <div class="row">
        <div class="col-md-2">
            <div class="form-group">
              <label class="text-input">Filtra per NOME</label></br>
              <%= text_field_tag :name_filter, @name_filter, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="text-input">Filtra per TITOLO</label></br>
              <%= text_field_tag :title_filter, @title_filter, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="text-input">Filtra per COSTO</label></br>
              <%= text_field_tag :cost_filter, @cost_filter, :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-2">
          <label class="text-input">Filtra per TAG</label>
          <%= render_html_tag_box("tag_list", params[:tag_list], "ATTENZIONE: Sono stati inseriti tag non esistenti!") %>
          <span class="help-block">Per separare i TAG digita virgola</span>
          <p id="tag_list_message"> </p>
        </div>
        <div class="col-md-2 col-md-offset-1">
          <br/><%= submit_tag 'APPLICA FILTRO', class: 'btn btn-primary' %>
        </div>
        <div class="col-md-1">
          <br/><%= submit_tag 'RESET', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>

    <div class="row reward-to-show">
      <div class="col-md-12"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Titolo</th>
              <th>Costo</th>
              <th>Immagine</th>
              <th>Spendibile</th>
              <th>Cumulabile</th>
              <th>Tag</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <% @reward_list.each do |p| %>
            <tr>
              <td><%= p.name %></td>
              <td><%= p.title %></td>
              <td><%= p.cost %></td>
              <td>
                <% if p.preview_image.present? %>
                  <img src="<%= p.preview_image.url %>" class="img-responsive" style="max-width: 200px; width: 100%;">
                <% end %>
              </td>
              <td>
                <%= p.spendable? ? '<i class="fa fa-check"></i>'.html_safe : '<i class="fa fa-times"></i>'.html_safe %>
              </td>
              <td>
                <%= p.countable? ? '<i class="fa fa-check"></i>'.html_safe : '<i class="fa fa-times"></i>'.html_safe %>
              </td>
              <td>
                <%= (p.reward_tags.map { |reward_tag| reward_tag.tag.name }).join(", ") %>
              </td>
              <td class="col-sm-1">
                <div class="row">
                  <%= get_reward_buttons(p) %>
                </div>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>