<div class="container container--default" ng-controller="SearchCtrl" ng-init="init(<%= @browse_section.to_json %> )">
	<% if @tag_browse %>
		<div class="row category-header" style="background-color: <%= get_extra_fields!(@tag_browse)["label-background"] %>; background-image: url(<%= (get_upload_extra_field_processor(get_extra_fields!(@tag_browse)["header_image"], :original) rescue nil) unless small_mobile_device? %>)">
			<div class="col-xs-12 text-center">
				<div class="category-header__title-container paper-shadow">
					<h1 class="category-header__title"><%= get_extra_fields!(@tag_browse)["title"] %></h1>
				</div>
				<div class="category-header__subtitle-container">
					<h2 class="category-header__subtitle"><%= @tag_browse.description %></h2>
				</div>
			</div>
			<% if get_extra_fields!(@tag_browse)["subtitle"] %>
				<p class="category-header__launch hidden-xs"><%= get_extra_fields!(@tag_browse)["subtitle"] %><br/> <i class="fa fa-chevron-down"></i></p>
			<% end %>
		</div>
	<% end %>
	<div class="browse-sections" ng-repeat="section in sections" ng-if="section.attributes.contents.length > 0">
		<div class="row brws-item main-row container-shadow" ng-class-odd="'brws-item--dark'">
			  <!-- HEADING -->
			<div class="col-sm-12 text-center">
			  <%= render partial: "/application/ribbon", locals: { title: "{{section.attributes.title}}", background: "{{aux.page_tag.miniformat['label_background']}}"}%>
			</div>

		    <div class="col-xs-12" ng-repeat="contents in [section.attributes.contents]">
			    <%= render partial: "/application/content_carousel" %>
			    <div calss="row text-center" ng-if="section.attributes.total > section.attributes.per_page">
			    	<div class="col-sm-2 col-sm-offset-5 col-xs-4 col-xs-offset-4">
				    	<%= light_link_to("{{section.attributes.view_all_link}}", class: "btn btn-block btn-red") do %>
				    		Vedi tutti
				    	<% end %>
				    </div>
			    </div>
			</div>
		</div>
	</div>
	
</div>