<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "settings" } %>
    
<div id="content">    

  <div id="content-header">
    <h1>DIZIONARIO PAROLE VIETATE</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

    <div class="row">
      <div class="col-md-12"> 
        <% if @saved %>
          <% if flash[:notice] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success"><%= flash[:notice] %></div>
            </div>
          </div>
          <% end %>
        <% else %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-danger">
                <p>Errori nel salvataggio delle regole:</p>
                <p>
                  <ul>
                    <% flash[:error].each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= form_tag("/easyadmin/settings/profanities/save", method: "post") do %>
      <%= hidden_field_tag :key, PROFANITIES_SETTINGS_KEY %>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
          <div class="alert alert-info" role="alert">
            Inserire le parole vietate separate da virgola
          </div>
        </div>
      </div>
        <div class="row form-group">
            <div class="col-lg-1"><%= label_tag(:profanities_label, "Dizionario:") %></div>
            <div class="col-lg-10"><%= text_area_tag(:setting, @setting_value, :class => "form-control", size: "60x15") %> </div>
        </div>
        <div class="row">
          <div class="col-sm12 text-center">
              <button type="submit" class="btn btn-primary">SALVA</button>
          </div>
        </div>
    <% end %>
</div>