<div class="test-container">
  <div id="tests" class="container">   
    <div id="{{getParentCtaInfo(calltoaction_info).calltoaction.slug}}" class="row cta_cover-container__row" ng-repeat="calltoaction_info in calltoactions" >
      <div class="col-sm-12">
        <div class="panel panel-default cta-panel" ng-click="openCover(calltoaction_info)">
          <div class="panel-body cta-panel-body">
            <!-- COVER -->
            <div class="cta_cover-img_container hidden-xs" ng-class="{'hidden': !isCoverHidden(calltoaction_info)}" ng-style="{'background-image': 'url(' + getParentCtaInfo(calltoaction_info).calltoaction.thumbnail_url + ')'}">       
              
              <%= render partial: "/call_to_action/cta_status", locals: { container_class: "cta_cover-credits_container" } %>

              <!-- COVER IMAGE AND DESCRIPTION -->
              <div class="col-sm-6 cta_cover-description_container">
                <div class="row">

                  <div class="col-sm-12 hidden-sm cta_cover-description_padding">
                    <div class="percentage_circle p{{getCtaBadgeCost(calltoaction_info)}}">
                      <div class="percentage_circle_fix_bar"></div>
                      <span class="percentage_circle_value">
                          <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                      </span>
                      <div class="percentage_circle_slice">
                        <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                        <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                      </div>
                    </div>
                  </div>  

                  <div class="col-sm-12 visible-sm cta_cover-description_padding">
                    <div class="percentage_circle small p{{getCtaBadgeCost(calltoaction_info)}}">
                      <div class="percentage_circle_fix_bar"></div>
                      <span class="percentage_circle_value">
                          <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                      </span>
                      <div class="percentage_circle_slice">
                        <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                        <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                      </div>
                    </div>
                  </div>  

                  <div class="col-sm-12 cta_cover-description_padding">
                    <p class="cta_cover-miniformat" ng-style="{'color': getParentCtaInfo(calltoaction_info).miniformat.extra_fields.color}">{{getParentCtaInfo(calltoaction_info).miniformat.title}}</p>
                    <p class="cta_cover-title">{{getParentCtaInfo(calltoaction_info).calltoaction.title}}</p>
                  </div>

                  <div class="col-sm-12 cta_cover-btn_container cta_cover-description_padding">
                    <button ng-click="openCover(calltoaction_info)" class="btn btn-{{getParentCtaInfo(calltoaction_info).calltoaction.name}} btn-lg cta_cover-btn">FAI IL TEST</button>
                  </div>
                </div>
              </div>  
            </div>
            <!-- COVER MOBILE -->
            <div class="cta_cover-img_container hidden-sm hidden-md hidden-lg" ng-class="{'hidden': !isCoverHidden(calltoaction_info)}">  
              <div class="col-xs-12" style="padding: 0;">
                <div class="cta_cover-img__container" ng-style="{'background-image': 'url(' + getParentCtaInfo(calltoaction_info).calltoaction.thumbnail_url + ')'}">
                  <div style="position: absolute; left: 15px; bottom: 5px;" class="percentage_circle small p{{getCtaBadgeCost(calltoaction_info)}}">
                    <div class="percentage_circle_fix_bar"></div>
                    <span class="percentage_circle_value">
                        <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                    </span>
                    <div class="percentage_circle_slice">
                      <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                      <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- STATUS -->
              <%= render partial: "/call_to_action/cta_status", locals: { container_class: "cta_cover-credits_container" } %>           
              <!-- COVER IMAGE AND DESCRIPTION -->
              <div class="col-xs-12">
                <p class="cta_cover-miniformat" ng-style="{'color': getParentCtaInfo(calltoaction_info).miniformat.extra_fields.color}">{{getParentCtaInfo(calltoaction_info).miniformat.title}}</p>
                <p class="cta_cover-title">{{getParentCtaInfo(calltoaction_info).calltoaction.title}}</p>
              </div>
              <div class="col-xs-12 cta_cover-btn__container">
                <button ng-click="openCover(calltoaction_info)" class="btn btn-{{getParentCtaInfo(calltoaction_info).calltoaction.name}} btn-lg btn-block cta_cover-btn">FAI IL TEST</button>
              </div>            
            </div>        
            <!-- COVER TEST -->
            <div class="test-interaction__container" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterTestInteractions">
              <%= render partial: "/call_to_action/test_interaction" %>
            </div>
            <!-- COVER SHARE -->
            <div class="col-sm-12 cta_cover-end_container" ng-class="{'hidden': isCoverHidden(calltoaction_info)}" ng-if="isLastStepInLinkedCallToAction(calltoaction_info)" ng-style="{'background': thumbWithGradient(calltoaction_info) }">
              
              <span class="cta_cover-end_container-redo hidden-xs" ng-click="resetToRedo(calltoaction_info)"><span class="fa fa-refresh"></span></span>

              <div class="row">
                <!-- STATUS -->
                <%= render partial: "/call_to_action/cta_status", locals: { container_class: "cta_cover-end_container-credits_container hidden-xs" } %> 
                <div class="col-sm-4 col-xs-12 text-center">  
                  <div class="cta_cover-end_container-percentage_container hidden-xs">          
                    <div class="percentage_circle big p{{getCtaBadgeCost(calltoaction_info)}}">
                      <div class="percentage_circle_fix_bar"></div>
                      <span class="percentage_circle_value">
                          <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                      </span>
                      <div class="percentage_circle_slice">
                        <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                        <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                      </div>
                    </div>
                  </div>
                  
                  <p class="hidden-sm hidden-md hidden-lg cta_cover-end_container-mtxt" ng-style="{'color': getCtaBadge(calltoaction_info).extra_fields.color }">{{getCtaBadgeCost(calltoaction_info)}}% Wellness</p>
                  <p class="hidden-xs cta_cover-end_container-mtxt" ng-style="{'color': getCtaBadge(calltoaction_info).extra_fields.color }"><span>Il tuo livello è</span><br>{{getCtaBadgeCost(calltoaction_info)}}%<br>Wellness</p>
                  <!--
                  <div class="cta_cover-end_container-percentage_container hidden-sm hidden-md hidden-lg">          
                    <div class="percentage_circle small p{{getCtaBadgeCost(calltoaction_info)}}">
                      <div class="percentage_circle_fix_bar"></div>
                      <span class="percentage_circle_value">
                          <img ng-src="{{getCtaBadge(calltoaction_info).image}}">
                      </span>
                      <div class="percentage_circle_slice">
                        <div class="percentage_circle_bar" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                        <div class="percentage_circle_fill" ng-style="{'border-color': getCtaBadge(calltoaction_info).extra_fields.color }"></div>
                      </div>
                    </div>
                  </div>
                  -->
                </div>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-12">
                      <p class="cta_cover-end_container-title">{{calltoaction_info.calltoaction.extra_fields.linked_result_title}}</p>
                      <p class="cta_cover-end_container-description">{{calltoaction_info.calltoaction.extra_fields.linked_result_description}}</p>
                    </div>
                    <div class="col-sm-12 cta_cover-end_container-share_container" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
                      <span class="cta_cover-end_container-redo visible-xs" ng-click="resetToRedo(calltoaction_info)"><span class="fa fa-refresh"></span></span>
                      <%= render partial: "/call_to_action/share_interaction", locals: { enable_linked_share: true, title_class: "hidden-xs" } %>
                    </div>

                    <div class="col-sm-11">
                      <div class="row">

                        <div class="cta_cover-end_container-btn_container">

                          <div class="col-sm-3">
                            <img class="cta_cover-end_container-btn_container-img hidden-xs" ng-src="{{aux.assets.extra_fields.minipimer.url}}">
                          </div>
                          <div class="col-sm-9 text-center cta_cover-end_container-btn_container-btn_col">
                            <p class="cta_cover-end_container-btn_container-subtitle"><span ng-if="ctaHasFeedback(calltoaction_info)">Complimenti! Hai guadagnato un biglietto</span></p>
                            <button ng-if="!isAnonymousUser() && aux.instant_win_info.active && current_user.registration_fully_completed" type="button" class="btn btn-green btn-lg btn-green-iw btn-block" ng-click="openInstantWinModal()">
                              SCOPRI SE HAI VINTO
                            </button>
                            <button ng-if="!isAnonymousUser() && aux.instant_win_info.active && !current_user.registration_fully_completed" type="button" class="btn btn-green btn-lg btn-green-iw btn-block" ng-click="openRegistrationModalForInstantWin(<%= user_for_registation_form().to_json %>)">
                              SCOPRI SE HAI VINTO
                            </button>
                            <a ng-if="isAnonymousUser()" ng-click="ctaGaEvent(calltoaction_info)" href="/users/sign_up" class="btn btn-green btn-lg btn-green-iw btn-block">
                              SCOPRI SE HAI VINTO
                            </a>
                            <p class="cta_cover-end_container-iw-title hidden-xs"><span>In palio ogni giorno 1 {{aux.instant_win_info.reward_info.title}}</span></p>
                          </div>

                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
      <!-- SHARE -->
      <div class="col-sm-12 text-right share-interaction__container" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
        <%= render partial: "/call_to_action/share_interaction" %>
      </div>
    </div>
  </div>
</div>