<div class="container login-page">
  <div class="container">

    <%= render partial: "/application/user_bar" %>

    <div class="row">

      <div class="col-sm-5 col-sm-offset-1 visible-xs">
        <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-12">
            <p class="text-center" style="margin-bottom: 15px;">Accedi con il tuo profilo social</p>
              <div class="facebook-connect">
                <div class="form-group text-left">
                  <button type="button" class="btn btn-facebook btn-block" onclick="gigyaSocializeLogin('facebook')"><i class="fa fa-facebook"></i> | CONNECT</button>
                </div>
                <div class="form-group text-left">
                  <button class="btn btn-twitter btn-block" onclick="gigyaSocializeLogin('twitter')"><i class="fa fa-twitter"></i> | CONNECT</button>
                </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-5 col-sm-offset-1">
        <div class="row">      
          <%= form_for resource, :url => "/users/rai/sign_in/create" do |f| %>
            <div class="col-sm-12">
              <p style="margin-bottom: 15px;">Accedi con il tuo profilo <img src="/assets/rai-tv.png" class="img-responsive" style="display: inline-block" /></p>
              <p id="form-errors" style="color: #DA1500;"><%= flash[:error] %></p>
              <div class="form-group text-left">
                <!--<label for="exampleInputEmail1">Email address</label>-->
                <%= f.text_field :username, :class => "form-control", :placeholder => "Username" %>
              </div>
              <div class="form-group text-left">
                <!--<label for="exampleInputPassword1">Password</label>-->
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
              </div>
              <p><a href="http://www.rai.tv/dl/RaiTV/MyRaiTV/iscrizione.html#PasswordRecovery" target="_blank">Hai dimenticato la Password?</a></p>
              <div class="form-group text-left">
                <button type="submit" class="btn btn-primary btn-block btn-primary-interaction">Login</button>
			        </div>
      		    <div class="checkbox text-left">
                <label> <input type="checkbox" name="user[remember_me]" value="1" /> Ricordati di me</label>
              </div>
              <p>Non sei ancora registrato? <a href="/users/sign_up">REGISTRATI</a></p>
              <p>&nbsp;</p>          
            </div>
          <% end %>  
        </div>
      </div>  

      <div class="col-sm-5 col-sm-offset-1 hidden-xs">
	      <div class="row">
	      	<div class="col-sm-12">
	      		<p class="text-center" style="margin-bottom: 15px;">Oppure accedi con il tuo profilo social</p>
	            <div class="facebook-connect">
	  					  <div class="form-group text-left">
	                <button type="button" class="btn btn-facebook btn-block" onclick="gigyaSocializeLogin('facebook')"><i class="fa fa-facebook"></i> | CONNECT</button>
	              </div>
	              <div class="form-group text-left">
	                <button class="btn btn-twitter btn-block" onclick="gigyaSocializeLogin('twitter')"><i class="fa fa-twitter"></i> | CONNECT</button>
	                
	              </div>
	      		</div>
	      	<!--<button type="button" class="btn btn-g btn-md btn-block">Signin with Google+</button>-->
	      	</div>
	      </div>
	    </div>
    </div> 
    
  </div>

  <div id="waiting-registration-layer" class="hidden">
    <div class="spinner-waiting">
      <div class="spinner-container container1">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container2">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
      <div class="spinner-container container3">
        <div class="circle1"></div>
        <div class="circle2"></div>
        <div class="circle3"></div>
        <div class="circle4"></div>
      </div>
    </div>
  </div>

</div>

<!--[if lt IE 10]>
  <script type="text/javascript">
  	$('[placeholder]').focus(function() {
  	  var input = $(this);
  	  if (input.val() == input.attr('placeholder')) {
  	    input.val('');
  	    input.removeClass('placeholder');
  	  }
  	}).blur(function() {
  	  var input = $(this);
  	  if (input.val() == '' || input.val() == input.attr('placeholder')) {
  	    input.addClass('placeholder');
  	    input.val(input.attr('placeholder'));
  	  }
  	}).blur();
  </script>
<![endif]-->

<script type="text/javascript">

  $(document).ready(function() {
    if(isIframe()) {
      checkDocumentHeight("fandom-profile");
    }
  });

</script>
