<div class="row main-row">

  <div class="col-sm-12 cta__media-container" ng-if="calltoaction_info.prize">
		<img class="img-responsive" ng-src="{{calltoaction_info.calltoaction.thumbnail_url}}" />
	  <div class="cta-preview__locked-layer cta-preview__locked-layer--reward">
			<p>Per sbloccare questo premio</p>
			<span class="label label-warning cta-preview__credits--reward">+{{calltoaction_info.prize.cost}}<i class="fa fa-copyright"></i></span>
			<button ng-if="current_user && calltoaction_info.prize.has_currency" class="btn btn-blue cta-preview__credits--btn" ng-click="buyReward(calltoaction_info.prize.id)"><span>Sblocca</span></button>
			<button ng-if="!current_user" class="btn btn-blue cta-preview__credits--btn" onclick="$('#registrate-modal').modal('show');"><span>Sblocca</span></button>
	  </div>
  </div>

  <div class="col-sm-8 col-sm-offset-2 cta__media-container" ng-if="!calltoaction_info.prize">
    <!-- MEDIA -->
    <%= render partial: "/call_to_action/stream_single_calltoaction_media" %>
    <!-- SHARE -->
    <div class="share-interaction__container" ng-if="!aux.mobile">
      <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions">
        <%= render partial: "/call_to_action/share_interaction" %>
      </div>
    </div>
  </div>

</div>
<div class="row main-row cta__undervideo">
  <div class="col-md-12">
    <div class="row">

      <div class="col-sm-2 text-left">
        <span class="fa fa-angle-left cta__fa-angle"></span>
      </div>

      <div class="col-sm-8 text-center cta__title-and-description-col">
        <p class="cta__title">{{calltoaction_info.calltoaction.title}}</p>
        <p class="cta__description" ng-bind-html="calltoaction_info.calltoaction.description"></p>
      </div>

      <div class="col-sm-2 text-right">
        <span class="fa fa-angle-right cta__fa-angle"></span>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <%= render partial: "/call_to_action/stream_single_calltoaction_interactions" %>
      </div>
    </div>

    <div ng-if="shareInteractionsPresent(calltoaction_info.calltoaction.id)" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterShareInteractions | filter:filterLikeInteractions" class="row">
      <div id="share-interaction-{{interaction_info.interaction.id}}">
        <%= render partial: "/call_to_action/share_interaction" %>
      </div>
    </div>  

    <div class="row visible-xs">
      <div class="col-md-2 col-md-offset-9 col-xs-12">
        <button style="margin-top: 15px;" class="btn btn-primary btn-block registration__button" onclick="window.history.back()"><span>Indietro</span></button>
      </div>
    </div>

  </div>
</div>

<div class="row main-row related__row">

  <div class="col-md-4" ng-repeat="calltoaction in aux.related_calltoaction_info">
    <%= light_link_to("/call_to_action/{{calltoaction.slug}}") do %>
      <div class="relateds-flexslider__item-panel" ng-style="{'background-color': calltoaction.miniformat_info['label_background']}"> 
        <div class="row">
          <div class="col-xs-12 text-center">
            <div class="relateds-flexslider__thumbnail">
              <img class="img-responsive cta-preview__image" ng-src="{{calltoaction.thumbnail_medium_url}}">            
            </div>
            <div class="cta-preview__miniformat-container">
              <span class="cta-preview__miniformat" ng-style="{'background-color': calltoaction.miniformat_info['label_background']}">{{calltoaction.miniformat_info['title']}}</span>
            </div>
            <p class="cta-preview__title">{{calltoaction.title | cut:true:70}}</p>
          </div>
        </div>
      </div>  
    <% end %>  
  </div>

</div>