<div class="row {{interaction_info.interaction.resource_type}}-undervideo-interaction__row">
  <div ng-if="interaction_info.interaction.resource_type == 'trivia' || interaction_info.interaction.resource_type == 'test'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/trivia_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'versus'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/versus_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'check'" class="col-sm-12">
    <%= render partial: "/call_to_action/check_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'share'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/share_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'upload'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/upload_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'download'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/download_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'link'" class="col-sm-12">
    <%= render partial: "/call_to_action/link_interaction" %>
  </div> 
  <div ng-if="interaction_info.interaction.resource_type == 'vote'" class="col-sm-12 text-center visible-xs">
    <%= render partial: "/call_to_action/vote_interaction" %>
  </div>  
</div>