<%= render partial: "/application/user_bar" %>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<%= form_tag("/browse/full_search",{method: "post", class: "navbar-form", role: "search"}) %>
	        <div class="form-group col-xs-11">
	          <input id="search" name="query" type="text" class="form-control" placeholder="Search" style="width: 100%;">
	        </div>
	        <button type="submit" class="btn btn-default">Cerca</button>
	      </form>
	    </div>
	</div>
	
	<div class="row">
	    <div class="col-xs-12">
	      <div class="page-header">
	        <p>Non ci sono risultati.
			Potrebbero interessarti questi altri contenuti correlati alla tua ricerca.</p>
	      </div>
	    </div>
	  </div>
  <% @browse_section.each do |section| %>
  	  <div class="row">
	    <div class="col-xs-12">
	      <div class="page-header">
	        <h3><%= section.title %> <a href="<%= section.view_all_link %>" style="float:right"><small>View all</small></a></h3>
	      </div>
	    </div>
	  </div>
	  <div class="row brws-item">
	  	<% section.contents.each do |content| %>
	  		<div class="col-xs-6 col-md-<%= section.column_number %>">
				<div class="thumbnail">
					<a href="<%= content.detail_url %>">
					<% if content.has_thumb %>
						<img class="img-responsive" src="<%= content.thumb_url %>" alt="...">
					<% else %>
						<img class="img-responsive" src="http://placehold.it/420x300" alt="...">
					<% end %>
					</a>
					<div class="caption">
						<h4><%= content.title %></h4>
						<p><%= content.description %></p>
					</div>
				</div>
			</div>
		<% end %>
	  
	  </div>
	  
  <% end %>
</div>

<script type="text/javascript">
	$( "#search" ).autocomplete({
      minLength: 3,
      source: function( request, response ) {
        $.ajax({
          url: "/browse/search",
          data: {
            q: request.term
          },
          success: function( data ) {
            response( data );
          }
        });
      },
      focus: function( event, ui ) {
      	//focus event
      },
      select: function( event, ui ) {
		//select event 
		console.log(ui);
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a href='"+item.attributes.detail_url+"'><div class='row'><div class='col-xs-2 col-sm-1'><img src='"+item.attributes.thumb_url+"' class='img-responsive' /></div><div class='col-xs-10 col-sm-11'>" + item.attributes.title + "</div></div></a>" )
        .appendTo( ul );
    };
</script>


<%= render partial: "/application/footer" %>
