<div class="container container--default" ng-controller="SearchCtrl" ng-init="init(<%= @browse_section.to_json %>)">
	
	<%= render partial: "/application/search" %>
	
	<% if flash[:notice] %>
		<div class="row brws-item">
			<div class="col-xs-12">
				<h3 class="text-center"><%= flash[:notice] %></h3>
			</div>
		</div>
	<% end %>
	
	<div class="browse-sections" ng-repeat="section in sections" ng-if="section.attributes.contents.length > 0">	
		<div class="row brws-item main-row" style="margin-top: 30px;">
		  
			  <!-- HEADING -->
			<div class="col-sm-12">
			  <div class="row section-heading">
	    		<div class="col-xs-12">  
			      <div class="relateds__icon-container text-center">
			        <span class="fa fa-star"></span>
			      </div>
			      <p class="relateds__title">{{section.attributes.title}} <%= light_link_to("{{section.attributes.view_all_link}}", class: "section-heading__see-all") do %>
		            Vedi tutti
		          <% end %></p>
			    </div>
			  </div>
			</div>

	    <div class="col-xs-12">
		    <div class="rewards-flexslider" id="browse-{{$index}}--flexslider">
		      <div class="flex-viewport-shadow hidden-xs"></div>
		      <ul class="slides">
		        <li class="relateds-flexslider__item" ng-repeat="content in section.attributes.contents">
		          <%= light_link_to("{{content.attributes.detail_url}}") do %>	
			          <div class="relateds-flexslider__item-panel" ng-if="content.attributes.type == 'cta'"> 
			            <div class="row">
			              <div class="col-xs-12">
			                <div class="relateds-flexslider__thumbnail">
			                  <img class="img-responsive cta-preview__image" ng-src="{{content.attributes.thumb_url}}">            
			                  <!-- STATUS -->
			                  <div class="label label-warning cta-preview__points" ng-if="content.attributes.status > 0">+ {{content.attributes.status}}<span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
							  <div class="col-xs-12 cta-cover__winnable-reward text-right ng-scope" ng-if="content.attributes.status == 0"><span class="label label-success cta-cover__winnable-reward__label">Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok"></span></span></div>

			                </div>
			                <p class="cta-preview__title">{{content.attributes.title | cut:true:40}}</p>
			              </div>
			            </div>
			            <div class="row relateds-flexslider__footer">
			              <div class="col-xs-12">
			                <p class="relateds-flexslider__likes"><span class="fa fa-thumbs-up relateds-flexslider__thumbs-up"></span>{{content.attributes.likes}}</p>
			                <p class="relateds-flexslider__comments"><span class="glyphicon glyphicon-comment relateds-flexslider__glyphicon-comment"></span>{{content.attributes.comments}}</p>
			              </div>
			            </div>
			          </div>
			          <div class="relateds-flexslider__item-panel relateds-flexslider__item-panel--full-search" ng-if="content.attributes.type == 'tag'" style="background-image: url('{{content.attributes.thumb_url}}'); background-position: center center; background-size: auto 100%;"> 
				          <div class="row">
				            <div class="col-xs-12 text-center cta-preview--tag">
				              <p class="cta-preview__title--tag">{{content.attributes.title | cut:true:40}}</p>
				            </div>
				          </div>
				        </div>
		          <% end %>
		        </li>
		      </ul>
		    </div>
		  </div>
		</div>
	</div>
	
</div>


<script type="text/javascript">
	$(document).ready(function() {
      is_last_rewards_flexslider_slide = new Object();
	    $('.rewards-flexslider').flexslider({
	      animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if((slider.currentSlide + 1) == 1) {
            $(slider).find('.flex-viewport-shadow').addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
        }
	    });
	});
</script>