
<div ng-class="{'row': <%= rankings %>.rank_type == 'full', 'col-sm-6': <%= rankings %>.rank_type != 'full'}">
		

    <div class="col-sm-10 col-sm-offset-1" ng-if="<%= rankings %>.rank_type == 'full'">
      <div class="page-header">
        <h1>{{<%= rankings %>.ranking.title}}</h1>
      </div>
      
      <ul class="list-group">
          <li ng-repeat="rank_user in <%= rankings %>.rank_list" ng-class="{'list-group-item': true, 'list-group-item-warning': rank_user.general_position == <%= rankings %>.my_position }">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{rank_user.position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{rank_user.avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{rank_user.user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{rank_user.counter}}</h4></div>
            </div>
          </li>
      </ul>
      <button ng-disabled="currentPage == 1" ng-click="perv_page(<%= rankings %>.current_page, <%= rankings %>)">Previous</button>
      {{<%= rankings %>.current_page}}/{{<%= rankings %>.number_of_pages}}
      <button ng-disabled="currentPage >= total_page" ng-click="next_page(<%= rankings %>.current_page, <%= rankings %>)">Next</button>
    </div>
    
    <div class="col-sm-12" ng-if="<%= rankings %>.rank_type == 'my_position'">
      <div class="page-header">
        <h1>{{<%= rankings %>.ranking.title}}</h1>
      </div>

      <ul class="list-group">
          <li ng-repeat="rank_user in <%= rankings %>.rank_list" ng-class="{'list-group-item': true, 'list-group-item-warning': rank_user.general_position == <%= rankings %>.my_position }" >
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{rank_user.position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{rank_user.avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{rank_user.user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{rank_user.counter}}</h4></div>
            </div>
          </li>
      </ul>
    </div>
    
    <div class="col-sm-12" ng-if="<%= rankings %>.rank_type == 'full_compressed'">
      <div class="page-header">
        <h1>{{<%= rankings %>.ranking.title}}</h1>
      </div>
      <ul class="list-group">
          <li ng-class="{'list-group-item': true, 'list-group-item-warning': <%= rankings %>.my_position == 1}">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[0].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[0].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[0].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[0].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row text-center">
              .<br />.<br />.<br />
            </div>
          </li>
          <li class="list-group-item list-group-item-warning" ng-if="<%= rankings %>.my_position != 1">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item" ng-if="<%= rankings %>.my_position != 1 && <%= rankings %>.my_position != <%= rankings %>.total">
            <div class="row text-center">
              .<br />.<br />.<br />
            </div>
          </li>
          <li class="list-group-item" ng-if="<%= rankings %>.my_position != <%= rankings %>.total">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.total - 1].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.total - 1].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.total - 1].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.total - 1].counter}}</h4></div>
            </div>
          </li>
      </ul>
    </div>

	<div class="col-sm-12" ng-if="<%= rankings %>.rank_type == 'trirank'">
      <div class="page-header">
        <h1>{{<%= rankings %>.ranking.title}}</h1>
      </div>
      <ul class="list-group" ng-if="<%= rankings %>.my_position == 1" >
          <li class="list-group-item list-group-item-warning">
          	<div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item" ng-if="<%= rankings %>.my_position != <%= rankings %>.total">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position + 1].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position + 1].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position + 1].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position + 1].counter}}</h4></div>
            </div>
          </li>
      </ul>
      
      <ul class="list-group" ng-if="<%= rankings %>.my_position == <%= rankings %>.total" >
          <li class="list-group-item">
          	<div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 3].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 3].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 3].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 3].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item list-group-item-warning"">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].counter}}</h4></div>
            </div>
          </li>
      </ul>
      
      <ul class="list-group" ng-if="<%= rankings %>.my_position != 1 && <%= rankings %>.my_position != <%= rankings %>.total" >
          <li class="list-group-item">
          	<div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 2].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item list-group-item-warning">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position - 1].counter}}</h4></div>
            </div>
          </li>
          <li class="list-group-item" ng-if="<%= rankings %>.my_position != <%= rankings %>.total">
            <div class="row">
              <div class="col-sm-2 col-xs-2 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position].position}}</h4></div>
              <div class="col-sm-2 hidden-xs"><img ng-src="{{<%= rankings %>.rank_list[<%= rankings %>.my_position].avatar}}" class="img-circle img-responsive"></div>
              <div class="col-sm-5 col-xs-7"><h4>{{<%= rankings %>.rank_list[<%= rankings %>.my_position].user}}</h4></div>
              <div class="col-sm-3 col-xs-3 text-right"><h4 class="no-margin">{{<%= rankings %>.rank_list[<%= rankings %>.my_position].counter}}</h4></div>
            </div>
          </li>
      </ul>
    </div>


</div>