<% if current_user && Contest.active.any? %>

  <!-- INSTANT WIN MODAL -->
  <div class="modal fade" id="instant-win-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center" style="padding-bottom: 0;">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <div id="instant-win-title" class="instant-win-result" style="margin-bottom: 15px;"><h2>GIOCA SUBITO</h2></div>
          <div id="instant-win-win" class="instant-win-result hidden" style="margin-bottom: 15px; background-color: #329d3d; padding: 10px 0; color: #FFF;"><h2>HAI VINTO</h2></div>
          <div id="instant-win-lost" class="instant-win-result hidden" style="margin-bottom: 15px; background-color: #d9534f; padding: 10px 0; color: #FFF;"><h2>PECCATO! NON HAI VINTO</h2></div>
          <div id="instant-win-end" class="instant-win-result hidden" style="margin-bottom: 15px; background-color: #d9534f; padding: 10px 0; color: #FFF;"><h2>HAI FINITO I BIGLIETTI</h2></div>
          <div id="instant-win-already-won" class="instant-win-result hidden" style="margin-bottom: 15px; background-color: #329d3d; padding: 10px 0; color: #FFF;"><h2>HAI GIA' VINTO UN PREMIO</h2><p>Ti ricordiamo che da regolamento i premi non sono cumulabili.<br />Controlla la tua email per verificare la vincita.</p></div>
		  
          <h4>Hai <button class="btn yellow-point btn-lg current_user_points"><% c = Contest.first %><%= c && ContestPoint.where("user_id = ? AND contest_id = ?",current_user.id, c.id).count > 0 ? ContestPoint.where("user_id = ? AND contest_id = ?",current_user.id, c.id).first.points/c.conversion_rate : 0 %> </button> biglietti</h4>
          <div id="instant-win-loader" class="hidden text-center" style="padding: 10px 0;"><img src="/assets/maxibon/win-loader.gif" /></div>
          <div id="instant-win-play" style="margin-bottom: 15px;">
            <button class="btn btn-danger btn-lg" onclick="playTicket()">GIOCA SUBITO UN BIGLIETTO</button>
          </div>

          <div id="instant-win-prize-overview" class="row" style="background: #E6E6E6; padding-bottom: 20px; margin-bottom: 0;">
            <div class="col-md-12 text-center" style="margin-bottom: 15px;"><h3>PUOI VINCERE</h3></div>
            <div class="col-sm-6">
              <img src="/assets/maxibon/how_to/prize_1.png">
              <h5>OGNI GIORNO<br />2 INGRESSI GIORNALIERI AQUAFAN</h5>
              <h6 style="font-family: arial;">Ogni giorno in palio 2 ingressi giornalieri all'Aquafan</h6>
            </div>
            <div class="col-sm-6">
              <img src="/assets/maxibon/how_to/prize_2.png">
              <h5>20 PACCHETTI PER DA 5 INGRESSI<br />PER GLI EVENTI SERALI AQUAFAN</h5>
              <h6 style="font-family: arial;">In palio 10 pacchetti da 5 ingressi per il concerto di David Guetta del 3 Agosto e 10 pacchetti per un evento serale che verrà comunicato da Aquafan in caso di vincita.</h6>
            </div>
            <!--
            <% InstantWinPrize.all.each do |prize| %>
              <div class="col-md-4"><h4><%= prize.title %></h4></div>
            <% end %>
            -->
          </div>

          <div id="instant-win-prize-win" class="row hidden" style="background: #E6E6E6; padding-bottom: 20px; margin-bottom: 0;">
            <div class="col-md-12 text-center" style="margin-bottom: 15px;"><h3>IL TUO PREMIO</h3></div>
            <div class="col-md-6">
              <img id="instant-win-prize" src="" class="img-responsive" style="width: 100%;">
            </div>
            <div class="col-md-6">
              <h5 id="instant-win-prize-title"></h5>
              <h6 id="instant-win-description"></h6>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <!-- INSTANT WIN MODAL -->
  <div class="modal fade" id="complete-registration-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="lead">Completa il tuo profilo</h4>
          <%= form_for current_user, url: "/profile/complete_for_contest", remote: true do |f| %> 
            <div id="complete-registration-errors"></div>

            <%= f.hidden_field :enable_contest, value: true %>

            <div class="row form-group text-left">
              <label class="col-sm-3 control-label text-right">Città</label>
              <div class="col-sm-8 no-pad">
                <div class="col-sm-12">
                  <%= f.text_field :location, class: "form-control", placeholder: "Città" %>
                </div>
                <div class="col-sm-6" style="margin-top: 15px;">
                  <%= f.text_field :province, class: "form-control", placeholder: "Provincia" %>
                </div>
                <div class="col-sm-6" style="margin-top: 15px;">
                  <%= f.text_field :cap, class: "form-control", placeholder: "CAP" %>
                </div>
              </div>
            </div>

            <div class="row form-group text-left">
              <label class="col-sm-3 control-label text-right">Indirizzo</label>
              <div class="col-sm-5">
                <%= f.text_field :address, class: "form-control", placeholder: "Via" %>
              </div>
              <div class="col-sm-3">
                <%= f.text_field :number, class: "form-control margin-top-15-mobile", placeholder: "Numero" %>
              </div>
            </div>

            <div class="row form-group text-left">
              <label class="col-sm-3 control-label text-right">Telefono</label>
              <div class="col-sm-8">
                <%= f.text_field :phone, class: "form-control" %>
              </div>
            </div>
            
            <div class="row form-group">
              <label class="col-sm-3 control-label text-right">Data di nascita</label>         
              <div class="col-sm-8">
                <div class="row">
                  <div class="col-sm-4 margin-top-15-mobile">
                    <% date_array = (1..31).map { |date| [date, date] } %>
                    <% date_array.unshift ["Giorno", ""] %>
                    <%= f.select(:day_of_birth, date_array, {}, id: "date_day_of_birth", class: "form-control") %>
                  </div>

                  <div class="col-sm-4 margin-top-15-mobile">
                    <% date_array = (1..12).map { |date| [date, date] } %>
                    <% date_array.unshift ["Mese", ""] %>
                    <%= f.select(:month_of_birth, date_array, {}, id: "date_month_of_birth", class: "form-control") %>
                  </div>

                  <div class="col-sm-4 margin-top-15-mobile">
                    <% date_array = (1900..1999).map { |date| [date, date] } %>
                    <% date_array.unshift ["Anno", ""] %>
                    <%= f.select(:year_of_birth, date_array, {}, id: "date_year_of_birth", class: "form-control") %>
                  </div>
                </div>
              </div>
            </div>

            <div class="row form-group">
              <label class="col-sm-3 control-label text-right"></label>
              <div class="col-sm-9 text-left">
                <%= f.check_box :rule %> Ho preso visione del <a target="_blank" href="/rule/maxibon_the_pool_rule.pdf">regolamento</a>.
              </div>
            </div>

            <div class="row" style="padding-top: 15px;">
              <div class="col-sm-4 col-sm-offset-4">
                <button type="submit" class="btn btn-info btn-lg btn-block">Registrati</button>
              </div>
            </div>

          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>

  <script>

    <% if current_user.birth_date %>
      $(function() {
        $("#date_day_of_birth").val(<%= current_user.birth_date.strftime("%d") %>);
        $("#date_month_of_birth").val(<%= current_user.birth_date.strftime("%m") %>);
        $("#date_year_of_birth").val(<%= current_user.birth_date.strftime("%Y") %>);
      });
    <% end %>

    var enable_contest = <%= current_user.rule? %>;
    var user_already_won = <%= (check_user_already_won current_user.id) %>
    var user_tickets = <%= current_user ? (get_current_contest_points current_user.id) : 0 %>
    function openInstantWinModal() {
      if(enable_contest) {
        // Initialize title and button.
        if (user_tickets == 0 || user_already_won)
        	$("#instant-win-play button").attr('disabled', true);
        else
        	$("#instant-win-play button").attr('disabled', false);
        
        $(".instant-win-result").removeClass("hidden").addClass("hidden");
        
        if(user_already_won){
        	$("#instant-win-already-won").removeClass("hidden");
        }else{
        	$("#instant-win-title").removeClass("hidden");
        }

        // Initialize prize overview.
        $("#instant-win-prize-overview").removeClass("hidden");
        $("#instant-win-prize-win").removeClass("hidden").addClass("hidden");

        $("#instant-win-modal").modal("show");
      } else {
        $("#complete-registration-modal").modal("show");
      }
    }

    function playTicket() {
      $("#instant-win-play button").attr('disabled', true);
      $("#instant-win-title").addClass("hidden");
      $("#instant-win-loader").removeClass("hidden");
      $.ajax({
          type: "POST",
          data: { contest_id: <%= Contest.active.first.id %> },
          url: '/playticket.json',
          beforeSend: function(jqXHR, settings) {
              jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
          	setTimeout(function(){
	            $("#instant-win-loader").addClass("hidden");
	            $(".instant-win-result").removeClass("hidden").addClass("hidden");
	            $("#instant-win-play button").attr('disabled', false);
	
	            $("#instant-win-prize-overview").removeClass("hidden");
	            $("#instant-win-prize-win").removeClass("hidden").addClass("hidden");
	
	            if(data.winner) {
	           	  user_already_won = true;
	              $("#instant-win-win").removeClass("hidden");
	
	              $("#instant-win-prize-overview").addClass("hidden");
	              $("#instant-win-prize-win").removeClass("hidden");
	
	              $("#instant-win-prize-title").html(data.prize.title);
	              $("#instant-win-description").html(data.prize.description);
	              $("#instant-win-prize").attr("src", data.prize_image);
	              $("#instant-win-play button").attr('disabled', true);
	            } else {
	            	if(data.user_already_wins){
	            		$("#instant-win-already-won").removeClass("hidden");
	            		$("#instant-win-play button").attr('disabled', true);
	            	}else{
	            		$("#instant-win-lost").removeClass("hidden");
	            	}
	            }
	            
	            if(data.points_updated < 1){ 
	              $("#instant-win-play button").attr('disabled', true);
	            }
	            
	            $(".current_user_points").html(data.points_updated);
	         },2000);

          }
      });
    }

  </script>

<% end %>