<%= render partial: "/application/user_bar" %>

<script type="text/javascript" src="/assets/jquery.jcarousel.js"></script>
<script type="text/javascript" src="/assets/jcarousel.skeleton.js"></script>

<link rel="stylesheet" type="text/css" href="/assets/jcarousel.skeleton.css">

<div class="container-fluid" ng-app="StreamCalltoactionApp" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= !current_user.blank? %>)">   

    <div class="row" style="margin: 15px 0; height: 520px;">

        <div id="col-home-video" class="col-md-6 col-md-offset-3 text-center hidden" style="height: 100%;">
            <div class="video flex-video" style="height: 100%">
                <div class="v-center"><div id="home-video"></div></div>

                <!-- OVERVIDEO AREA HERE -->
                <div id="home-overvideo"></div>


            </div>
        </div>

        <!-- DESKTOP CAROUSEL -->
        <div class="col-md-12 hidden-xs text-center home-carousel">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <li>
                            <% i = 1 %><% to = Calltoaction.active.count %>
                            <% Calltoaction.active.each do |calltoaction| %>
                                <div class="panel panel-default panel-carousel">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <%= i %>
                                            </div>
                                            <div class="col-md-8">
                                                <%= calltoaction.title %>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <img src="<%= calltoaction.image %>" style="width: 270px;" onclick="updateYTIframe('<%= calltoaction.video_url %>', <%= calltoaction.id %>)">
                                            </div>
                                        </div>                                            
                                    </div>
                                </div>
                                <% if i % 2 == 0 && i != to %></li><li><% end %><% i = i + 1 %>
                            <% end %>
                        </li>
                    </ul>
                </div>

                <!-- PREV/NEXT -->
                <a href="#" class="jcarousel-control-prev">&lsaquo; Prev</a>
                <a href="#" class="jcarousel-control-next">Next &rsaquo;</a>

                <!-- PAGINATION -->
                <p class="jcarousel-pagination">
                    <!-- PAGINATION GENERATE HERE -->
                </p>

            </div>

        </div>

        <!-- MOBILE CAROUSEL -->
        <div class="col-xs-12 hidden-sm hidden-md hidden-lg">
            <div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                        <% Calltoaction.active.each do |calltoaction| %>
                            <div class="panel panel-default panel-carousel">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <%= i %>
                                        </div>
                                        <div class="col-md-8">
                                            <%= calltoaction.title %>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <img src="<%= calltoaction.image %>" style="width: 270px;">
                                        </div>
                                    </div>                                            
                                </div>
                            </div>
                        <% end %>
                    </ul>
                </div>

                <!-- PREV/NEXT -->
                <a href="#" class="jcarousel-control-prev">&lsaquo; Prev</a>
                <a href="#" class="jcarousel-control-next">Next &rsaquo;</a>

                <!-- PAGINATION -->
                <p class="jcarousel-pagination">
                    <!-- PAGINATION GENERATE HERE -->
                </p>
            </div>
        </div>

    </div>
</div>

<%= render partial: "/application/footer" %>

<script type="text/javascript">
    $('.jcarousel').jcarousel({
        center: true
    });
</script>