<%= render partial: "/application/user_bar" %>

<script type="text/javascript" src="/assets/jquery.jcarousel.js"></script>

<div class="container-fluid" ng-app="MobileStreamCalltoactionApp" ng-controller="MobileStreamCalltoactionCtrl" ng-init="init(<%= !current_user.blank? %>, <%= @calltoactions.to_json %>, '<%= Calltoaction.active.count %>')">   

  <%= render partial: "/application/header" %>

  <div id="calltoaction-stream">
    <% @calltoactions.each do |calltoaction| %>
      <%= render partial: "/calltoaction/stream_single_calltoaction", locals: { calltoaction: calltoaction, type: "" } %>
    <% end %>
  </div>

  <div class="row">      
    <div class="col-sm-6 col-sm-offset-3">
      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
        <button class="btn btn-primary" href="javascript: void(0)" onclick="appendCalltoaction('')">CARICA ALTRI</button>
      </div>
    </div>
  </div>

</div>

<%#= render partial: "/application/footer" %>
