<!-- OVERVIDEO AREA -->
<div class="overvideo overvideo-play" style="margin-top: 35%; padding-bottom: 50%; position: relative;">
    <div class="overvideo-canvas">
        <div class="overvideo-content">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center" style="background-color: rgba(0, 0, 0, 0.5); border-radius: 10px;">
                    <% if calltoactions_totalpoints(calltoaction) && calltoactions_totalpoints(calltoaction) > 0 %>
                        
                        <h1><%= "##{ calltoaction_index } - " if calltoaction_index > 0 %><%= calltoaction.title %></h1>

                        <% if calltoaction_except_share_done? calltoaction %>
                            <div class="row" style="margin-top: 0;">
                                <div class="col-sm-4 text-right">
                                    <h1 style="margin: 0; margin-bottom: 15px;">

                                        <div class="text-center" style="display: inline-block;">
                                          <div style="margin-right: 15px;" class="done-overvideo-circle-inline">
                                              <span style="font-size: 25px; top: -3px;" class="glyphicon glyphicon-ok"></span>
                                          </div>
                                        </div>

                                        FATTO
                                    </h1>
                                </div>
                                <div class="col-sm-4 text-center" style="margin: 0 -10px;">
                                    <h4 class="default-font" style="margin: 0; color: #fff;">Hai guadagnato<br>+<%= user_points_except_share_for(calltoaction) %> Gratta&Vinci</h4>
                                </div>
                                <div class="col-sm-4 text-left no-pad">
                                    <% user_points_except_share_for(calltoaction).times do %>
                                        <img class="img-ticket" src="/assets/maxibon/small-ticket.png">
                                    <% end %>
                                    <% (calltoactions_totalpoints(calltoaction) - user_points_except_share_for(calltoaction)).times do %>
                                        <img class="img-ticket" src="/assets/maxibon/small-ticket-gray.png">
                                    <% end %>
                                </div>
                            </div>                     
                        <% else %>
                            <h5 class="default-font" style="color: #fff;"><span style="margin-right: 15px;">
                                Guarda il video e ottieni fino a +<%= calltoactions_totalpoints(calltoaction) %> Gratta&Vinci</span>
                              <% calltoactions_totalpoints(calltoaction).times do |i| %>
                                <img class="img-ticket" src="/assets/maxibon/small-ticket-gray.png">
                              <% end %>
                            </h5>  
                        <% end %>


                    <% else %>
                        <h1 style="margin-bottom: 20px;"><%= "##{ calltoaction_index } - " if calltoaction_index > 0 %><%= calltoaction.title %></h1>
                    <% end %>                
                </div>
            </div>
        </div>
    </div>
</div>