<!-- OVERVIDEO AREA -->
<div class="overvideo" style="padding-top: 8%; padding-bottom: 50%; position: relative; background-color:rgba(0, 0, 0, 0.7);">
    <div class="overvideo-canvas">
        <div class="overvideo-content">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 style="color: #fff;"><%= calltoaction_question %></h2>
                </div>
                <div class="col-sm-8 col-sm-offset-2 col-xs-10 text-center" style="margin-top: 15px;">
                    <div class="row">
                        <% calltoaction_answers.each do |answer|%>
                          <div class="col-sm-4 text-center">
                            <a href="javascript: void(0)" onclick="updateTriviaAnswer(<%= interaction_overvideo_end_id %>, <%= answer.id %>)"><img src="<%= answer.image(:medium) %>" class="img-circle img-responsive" style="margin: 0 auto; width: 100%; border: 6px solid #fff;"></a>
                            <!--
                            <button type="button" class="btn <%= calltoaction_user_answer == answer.id ? "btn-primary" : "btn-info" %> btn-block" onclick="updateTriviaAnswer(<%= interaction_overvideo_end_id %>, <%= answer.id %>)"><%= answer.text %></button>
                            -->
                          </div>
                        <% end %>
                    </div>
                </div>
                <div class="col-sm-12 text-center" style="margin-top: 30px;">
                    <h4 style="color: #fff;"><span style="margin-right: 15px;">Rispondi e ottieni <%= interaction_points %> biglietti</span>
                        <% interaction_points.times do |i| %>
                            <img src="/assets/maxibon/small-ticket.png">
                        <% end %>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>