<div class="cover-description">
  <p>
    <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
    <% if tags_with_miniformat_in_calltoaction.any? %>
      <span class="label label-default description-label" style="background-color: <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["label-background"] %>; color: <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["label-color"] %>;">
        <span class="<%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["icon"] %>"></span>
        <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["title"] %>
      </span>
    <% else %>
      &nbsp;
    <% end %>
  </p>      
  <p class="text-with-shadow description-title"><%= calltoaction.title %></p>
</div>