<header class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="z-index: 100; background: #222;">
  <div class="container">
    <div class="navbar-header">

      <button class="navbar-toggle visible-xs" style="float: left; margin-left: 15px;" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <!--
      <a href="javascript: void(0)" data-toggle="collapse" data-target=".bs-navbar-collapse" class="navbar-brand hidden-xs oswald-font hidden-xs">MENU</a>
      -->
      <% if current_user %>

        <!--
        <a href="/extra" class="navbar-brand hidden-xs oswald-font"><i class="fa fa-play-circle-o" style="font-size: 21px;"></i>&nbsp;&nbsp;VIDEO EXTRA</a>
        -->

        <button class="hidden-sm hidden-md hidden-lg btn yellow-point current_user_points" style="float: right; margin-top: 8px; margin-right: 10px;"><%= current_user ? (get_current_contest_points current_user.id) : 0 %>
        <button onclick="openInstantWinModal()" style="float: right; margin-top: 8px; margin-right: 10px;" class="hidden-sm hidden-md hidden-lg btn btn-danger">GIOCA</button>
      <% end %>
      <!--
      <a style="float: right; padding: 3px 10px 3px 3px;" href="/profile/edit" class="navbar-brand hidden-sm hidden-md hidden-lg">
        <img class="img-circle" src="<%= current_avatar %>" style="height: 100%; border: 1px solid #fff;">
      </a>
      -->
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="navbar-toggle" style="padding: 10px; margin-right: 0;">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <ul class="dropdown-menu">
            <% if current_user %>
              <li class="visible-xs"><a href="/profile/edit">Profilo</a></li>
              <li><button data-toggle="modal" data-target="#modal-grattaevinci">Modal 1</button></li>
              <li><a href="/how_to">Scopri come Partecipare</a></li>
              <li><a href="/winners">Vincitori</a></li>

              <% if can? :access, :easyadmin %>
                <li class="divider"></li>
                <li><a href="/easyadmin">Easyadmin</a></li>
              <% end %>
              <% if can? :manage, :all %>
                <li><a href="/admin">Admin</a></li>
              <% end %>

              <li class="visible-xs"><a href="/users/sign_out">Esci</a></li>

            <% else %>
              <li><a href="/users/sign_up">Login</a></li>
            <% end %>
          </ul>
        </li>
        
        <li><a href="#">Sfoglia</a></li>

        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        
        
      </ul>
      
      <!--<ul class="nav navbar-nav" style="position: absolute; width: 200px; left: 0; right: 0; margin: 0 auto;">
        <li><a class="td" href="/">Fandom</a></li>
      </ul>-->




      <ul class="nav navbar-nav navbar-right hidden-xs">
        <% if current_user %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-default">2</span></a>
            <ul class="dropdown-menu">
              <li role="presentation" class="dropdown-header">Notifiche</li>
              <li role="presentation" class="divider"></li>
              <li class="container-fluid">
                <div class="row" style="width: 300px">
                  <div class="col-xs-3"><img src="http://placehold.it/50x50"></div>
                  <div class="col-xs-9"><a href="#">Hai guadagnato un nuovo badge!</a></div>
                </div>
              </li>
              <li role="presentation" class="divider"></li>
              <li class="container-fluid">
                <div class="row" style="width: 300px">
                  <div class="col-xs-3"><img src="http://placehold.it/50x50"></div>
                  <div class="col-xs-9"><a href="#">Hai guadagnato un nuovo badge!</a></div>
                </div>
              </li>
              <li role="presentation" class="divider"></li>
              <li><a href="#" class="text-center">Vai alle notifiche</a></li>
            </ul>
          </li>
          <li class="play-2">
            <a href="#" onclick="openInstantWinModal()"><%= current_user ? (get_current_contest_points current_user.id) : 0 %> <span class="glyphicon glyphicon-star"></span> <button onclick="openInstantWinModal()" class="btn btn-danger btn-xs">Gioca Subito</button></a>
          </li>
          <li class="dropdown">
            <a data-toggle="dropdown" href="#"><img src="<%= current_user.avatar(:thumb) %>" alt="..." class="img-circle img-profile" width="22px"> <%= current_user.first_name %></a>
            <ul class="dropdown-menu">
              <li><a href="/profile/edit">Account</a></li>
              <li class="divider"></li>
              <li><a href="/users/sign_out">Esci</a></li>
            </ul>
          </li>
        <% else %>
          <li><a href="/users/sign_up">Login</a></li>
        <% end %>
      </ul>
    </nav>
  </div>
  <div class="alert alert-warning alert-dismissable cookie-alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    <strong>Cookies!</strong> Better check yourself, you're not looking too good.
  </div>
</header>