<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="font-family: helvetica, arial, sans-serif; margin: 0; font-size: 15px;">
    <div>
      <div style="background: <%= @aux[:extra_fields]["label-background"] %>;">
        <div style="text-align: center;">
          <img style="max-width: 200px; margin-top: 15px; margin-bottom: 15px; width: 100%;" src="<%= @aux[:extra_fields]["logo"]["url"] %>">
        </div>
      </div>
      <div style="max-width: 600px; width: 100%; margin-left: auto; margin-right: auto; padding-top: 30px;">     
        <p><span style="font-weight: 700;">Ciao!</span></p>
        <p>Il tuo amico <span style="font-weight: 700;"><%= @cuser.username %></span> ha voluto condividere con te questo post direttamente da Disney Channel Community!</p>
      </div>
      <div style="max-width: 600px; width: 100%; margin-left: auto; margin-right: auto; padding-top: 30px;"> 

        <div style="font-size: 14px; border: 1px solid #ccc;">    
          
          <div style="width: 100%;">
            <a href="<%= @aux[:root] %><%= "#{@aux[:path]}/" if @aux[:path] %>call_to_action/<%= @calltoaction.id %>"><img style="width: 100%" src="<%= @calltoaction.thumbnail %>"></a>
            <p style="color: #3399ff; font-size: 16px; padding: 15px;"><%= @calltoaction.title %></p>
          </div>

      </div>
      <div style="max-width: 600px; width: 100%; margin-left: auto; margin-right: auto; padding-top: 30px;"> 
          <p>Scopri anche tu la <a href="<%= @aux[:root] %><%= "#{@aux[:path]}" if @aux[:path] %>">Community ufficiale di Disney Channel</a>: interagisci con tanti amici che condividono con te la passione per il canale più divertente della tv! Registrati, dì la tua, gioca, guarda i video dei momenti più divertenti: più partecipi, più contenuti esclusivi potrai scoprire!</p>
        </div>
      </div>
      <div style="background: #whitesmoke; margin-top: 30px;">
        <div style="text-align: center;">
          <img style="width: 100px; margin-top: 20px;" src="http://navbar.disneyinternational.com/disney-logo-dark.png">
          <p style="font-size: 12px; color: #999; padding-bottom: 20px;">&#169; Disney 2014. Tutti I Diritti Riservati.</p>
        </div>
      </div>
    </div>
  </body>
</html>