<div class="row comment <%= "new-comment" if new_comment_class %>" style="padding-top: 5px;">
  <div class="col-xs-2 col-sm-1" style="padding-right: 0; width: 40px;">
    <img src="<%= user_avatar user_comment.user %>" alt="..." class="img-circle img-responsive img-profile">
  </div>
  <div class="col-xs-10 col-sm-11 text-left">
    <h6 style="text-transform: none; margin-bottom: 5px;"><span><%= user_comment.user ? "#{ user_comment.user.first_name } #{ user_comment.user.last_name }" : "Anonimo" %></span> - <span class="comment-text" style="color: #999"><%= user_comment.text %></span>
      <br><small><%= user_comment.updated_at.in_time_zone("Rome").strftime("%m/%d/%Y %H:%M:%S") %></small>
    </h6>
  </div>
</div>