<div class="row comment" id="user-comment-<%= user_comment.id %>">
  <div class="col-xs-2 text-right">
    <h5><img src="<%= user_avatar user_comment.user if user_comment.user %>" alt="..." class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
  </div>
  <div class="col-xs-10 text-left">
    <h5><%= user_comment.user ? "#{ user_comment.user.first_name } #{ user_comment.user.last_name }" : "Anonimo" %> <small>&bull; <%= user_comment.created_at %></small></h5>
    <p class="text-muted"><%= user_comment.text %></p>
    <hr>
  </div>
</div>