<!-- DISQUS -->
<% if @current_cta.enable_disqus %>
	<% if current_user %>
		<%= disqus_sso.html_safe %>
		<div id="disqus_thread"></div>
		<script type="text/javascript">
		  var disqus_shortname = "<%= ENV['DISQUS_SHORTNAME'] %>"; 

		  (function() {
		      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js?https';
		      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		  })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
	<% else %>
		<hr id="to-comments">
		<p>COMMENTI DISQUS</p>
		<div class="comment-canvas">
			<div id="div-comment">
			    <% @disqus_hash.each do |k, c| %>
			        <div class="row comment" id="comment-<%= k %>">
			          <div class="col-xs-2 text-right">
			            <h5><img src="<%= c[:image] %>" alt="<%= c[:name] %>" class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
			          </div>
			          <div class="col-xs-10">
			            <h5><%= c[:name] %> <small>&bull; <%= c[:created_at] %></small></h5>
			            <p class="text-muted"><%= c[:text] %></p>
			            <hr>
			          </div>
			        </div>
			    <% end %>
			</div>
		</div>
		<div class="row">
	      <div class="col-md-12 text-center">
	          <p><a id="comment-append-counter" disqus-next="<%= @disqus_cursor["next"] %>" disqus-url="<%= @disqus_requesturl %>" href="javascript: void(0)" onclick="updateDisqusCommentView()">more</a></p>
	      </div>
	    </div>
	<% end %>
<% end %>
