<div ng-if="!interaction_info.feedback" class="row {{interaction_info.interaction.resource_type}}-interaction">
  <div ng-if="interaction_info.interaction.resource_type == 'trivia'" class="col-md-12 hidden-xs">
    <%= render partial: "/call_to_action/trivia_interaction_overvideo" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'versus'" class="col-md-12 hidden-xs">
    <%= render partial: "/call_to_action/versus_interaction_overvideo" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'check'" class="col-md-12 hidden-xs">
    <%= render partial: "/call_to_action/check_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'share'" class="col-md-12 hidden-xs">
    <%= render partial: "/call_to_action/share_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'upload'" class="col-md-12 hidden-xs">
    <%= render partial: "/call_to_action/upload_interaction" %>
  </div>  

  <div class="col-md-12 visible-xs text-center">
    <p class="interaction__go-to-mobile">ACCEDI DA MOBILE</p>
  </div>

  <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" id="overvideo-outcome-{{interaction_info.interaction.id}}" class="row">
    <!--
    <div ng-if="interaction_info.interaction.resource_type != 'trivia'" class="col-sm-10 col-sm-offset-1 text-center">
      <div class="alert alert-success" style="margin-bottom: 0; margin-top: 15px;">
      <strong>Bravo!</strong> Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.
      </div>
    </div> 
      
    <div ng-if="interaction_info.interaction.resource_type == 'trivia' && interaction_info.user_interaction.answer.correct" class="col-sm-10 col-sm-offset-1 text-center">
      <div class="alert alert-success" style="margin-bottom: 0; margin-top: 15px;">
      <strong>Bravo!</strong> Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.
      </div>
    </div> 

    <div ng-if="interaction_info.interaction.resource_type == 'trivia' && !interaction_info.user_interaction.answer.correct" class="col-sm-10 col-sm-offset-1 text-center">
      <div class="alert alert-danger" style="margin-bottom: 0; margin-top: 15px;">
      <strong>Risposta errata!</strong> Hai guadagnato {{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.
      </div>
    </div> 
    -->
    <div class="col-md-12 interaction__winnable-reward text-center">
      <span class="label label-success cta-cover__winnable-reward__label">
        Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
      </span> 
    </div>
  </div>

  <div ng-if="!interaction_info.user_interaction" class="row text-center">
    <div class="col-md-12 interaction__winnable-reward">
      <span class="label label-warning cta-cover__winnable-reward__label">
        +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon glyphicon glyphicon-star">
      </span>  
      <div ng-if="!interaction_info.status.reward.numeric_display" ng-repeat="status_image in interaction_info.status.reward_status_images track by $index">  
        <img ng-src="{{status_image}}">
      </div>
    </div>
  </div>

</div>

<div ng-if="interaction_info.feedback" class="row {{interaction_info.interaction.resource_type}}-interaction">
  <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" class="row">

    <div ng-if="interaction_info.interaction.resource_type != 'trivia'">
      <div class="col-sm-12 text-center interaction__feedback-text-col">
        <p class="interaction__feedback-text">Bravo!</p>
        <p class="interaction__feedback-text">Hai guadagnato altri punti</p>
      </div>
      <div class="col-sm-12 text-center"><span class="interaction__feedback-reward">+{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}}</span></div>
    </div> 
      
    <div ng-if="interaction_info.interaction.resource_type == 'trivia' && interaction_info.user_interaction.answer.correct" class="col-sm-10 col-sm-offset-1 text-center">
      <div class="col-sm-12 text-center interaction__feedback-text-col">
        <p class="interaction__feedback-text">Corretto!</p>
        <p class="interaction__feedback-text">Hai guadagnato altri punti</p>
      </div>
      <div class="col-sm-12 text-center"><span class="interaction__feedback-reward">+{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}}</span></div>
    </div> 

    <div ng-if="interaction_info.interaction.resource_type == 'trivia' && !interaction_info.user_interaction.answer.correct" class="col-sm-10 col-sm-offset-1 text-center">
      <div class="col-sm-12 text-center interaction__feedback-text-col">
        <p class="interaction__feedback-text">Sbagliato!</p>
        <p class="interaction__feedback-text">Hai guadagnato altri punti</p>
      </div>
      <div class="col-sm-12 text-center"><span class="interaction__feedback-reward">+{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}}</span></div>
    </div> 
    
  </div>
</div>