<!-- OVER MEDIA INTERACTIONS -->
<div ng-if="pinInteractionPresent(calltoaction_info)">
  <div class="modal fade" id="pin-{{interaction_info.interaction.id}}" role="dialog" ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterVisibleInteractionsOverMedia | filter:filterPinInteractions">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="border-bottom: 0;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-12">
              <div ng-bind-html="interaction_info.interaction.resource.coordinates.description | unsafe"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="play-interaction__container over-media-pin-interaction__container">

    <div style="position: relative; height: 100%; width: 100%;">

      <div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterVisibleInteractionsOverMedia | filter:filterPinInteractions">
        <div id="pin-btn-{{interaction_info.interaction.id}}" data-container="body" data-toggle="popover" data-placement="top" data-html="true" data-content="{{interaction_info.interaction.resource.coordinates.description}}" ng-style="{'top': interaction_info.interaction.resource.coordinates.y_coord + '%', 'left': interaction_info.interaction.resource.coordinates.x_coord + '%'}" class="pin-interaction__pin {{interaction_info.class}}" ng-click="updatePin(calltoaction_info, interaction_info, null, interaction_info.interaction.when_show_interaction)" ></div>

      </div>

    </div>

  </div>
</div>

<div ng-repeat="interaction_info in calltoaction_info.calltoaction.interaction_info_list | filter:filterVisibleInteractionsOverMedia | filter:excludePinInteractions">

  <div class="play-interaction__container over-media-{{interaction_info.interaction.resource_type}}-interaction__container">

    <div ng-if="interaction_info.interaction.resource_type == 'vote'" class="col-xs-12 text-center" style="position: absolute; bottom: 15px;">
      <%= render partial: "/call_to_action/vote_interaction" %>
    </div>
    <div ng-if="interaction_info.interaction.resource_type == 'trivia' || interaction_info.interaction.resource_type == 'test'" class="col-sm-8 col-sm-offset-2 over-media__col">
      <%= render partial: "/call_to_action/trivia_interaction" %>
      <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" class="row text-center interaction__winnable-reward--undervideo__row">
        <div class="col-md-12 interaction__winnable-reward text-center interaction__winnable-reward--undervideo">
          <span class="label label-success cta-cover__winnable-reward__label">
            Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
          </span> 
        </div>
      </div>

      <div ng-if="!interaction_info.user_interaction" class="row text-center interaction__winnable-reward--undervideo__row">
        <div class="col-md-12 interaction__winnable-reward interaction__winnable-reward--undervideo">
          <span class="label label-warning cta-cover__winnable-reward__label">
            +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star">
          </span>  
        </div>
      </div>
    </div>
    <div ng-if="interaction_info.interaction.resource_type == 'versus'" class="col-sm-12 over-media__col">
      <%= render partial: "/call_to_action/versus_interaction" %>
      <div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome" class="row text-center interaction__winnable-reward--undervideo__row">
        <div class="col-md-12 interaction__winnable-reward text-center interaction__winnable-reward--undervideo">
          <span class="label label-success cta-cover__winnable-reward__label">
            Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
          </span> 
        </div>
      </div>

      <div ng-if="!interaction_info.user_interaction" class="row text-center interaction__winnable-reward--undervideo__row">
        <div class="col-md-12 interaction__winnable-reward interaction__winnable-reward--undervideo">
          <span class="label label-warning cta-cover__winnable-reward__label">
            +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star">
          </span>  
        </div>
      </div>
    </div>
    <div ng-if="interaction_info.interaction.resource_type == 'check'" class="col-sm-12 over-media__col">

      <div class="row">

        <div class="col-sm-12" style="padding: 15px;">
          <p style="font-size: 16px;">{{interaction_info.interaction.resource.description}}</p>
        </div>

        <div class="col-xs-6 col-xs-offset-3 text-center"  ng-if="interaction_info.user_interaction">
          <button class="btn btn-blue btn-lg active"><span>{{interaction_info.interaction.resource.title}}</span></button>
        </div>

        <div class="col-xs-6 col-xs-offset-3 text-center"  ng-if="!interaction_info.user_interaction">
          <a class="btn btn-lg btn-blue" ng-click="updateAnswer(calltoaction_info, interaction_info, null, interaction_info.interaction.when_show_interaction)"><span>{{interaction_info.interaction.resource.title}}</span></a>
        </div>

      </div>


    </div>  
    <div ng-if="interaction_info.interaction.resource_type == 'share'" class="col-sm-12" style="position: absolute; bottom: 15px;">
      <%= render partial: "/call_to_action/share_interaction" %>
    </div>  
    <div ng-if="interaction_info.interaction.resource_type == 'upload'" class="col-sm-12" style="position: absolute; bottom: 15px;">
      <%= render partial: "/call_to_action/upload_interaction" %>
    </div>  
    <div ng-if="interaction_info.interaction.resource_type == 'download'" class="col-sm-12" style="position: absolute; bottom: 15px;">
      <%= render partial: "/call_to_action/download_interaction" %>
    </div>  
    <div ng-if="interaction_info.interaction.resource_type == 'link'" class="col-sm-12" style="position: absolute; bottom: 15px;">
      <%= render partial: "/call_to_action/link_interaction" %>
    </div> 
    <div ng-if="interaction_info.interaction.resource_type == 'randomresource'" class="col-sm-12 text-center" style="position: absolute; bottom: 15px;">
      <%= render partial: "/call_to_action/random_interaction" %>
    </div>
  </div>
</div>