<div class="row cta">      
  <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
    <div class="panel panel-default cta-page">

      <div class="panel-heading" style="background: none">
        <div class="row" id="cta-id-<%= calltoaction.id %>">
          <div class="col-md-8 col-xs-8">
            <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
            <% if tags_with_miniformat_in_calltoaction.any? %>
              <h5 class="text-muted">
                <span class="<%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first.miniformat)["icon"] %>"></span>
                <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first.miniformat)["title"] %>
              </h5>
            <% end %>
          </div>
          <div class="col-md-4 col-xs-4 text-right">
            <h4>
              <% if call_to_action_completed?(calltoaction) %>
                <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-success" style="padding-top: 7px;">
                  Fatto <span class="glyphicon glyphicon-ok"></span>
                </span>
              <% else %>
                <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-warning" style="padding-top: 7px;">+<%= get_current_call_to_action_reward_status(MAIN_REWARD_NAME, calltoaction)[:winnable_reward_count] %>
                  <span class="glyphicon glyphicon-star"></span>
                </span>
              <% end %>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <h2><%= calltoaction.title %></h2>
          </div>
        </div>
      </div>

      <%= render partial: "/call_to_action/single_calltoaction_panel_body", locals: { calltoaction: calltoaction } %>

      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
            <% if calltoaction_comment_interaction %>
              <%= render partial: "/call_to_action/stream_comment", locals: { interaction_comment: calltoaction_comment_interaction, captcha_data: captcha_data } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>        
  </div>
</div>