<div class="row cta">      
  <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1">
    <div class="panel panel-default cta-page">

      <div class="panel-heading" style="background: none">
        <div class="row" id="cta-id-<%= calltoaction.id %>">
          <div class="col-md-8 col-xs-8">
            <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
            <% if tags_with_miniformat_in_calltoaction.any? %>
              <h5 class="text-muted">
                <span class="<%= tags_with_miniformat_in_calltoaction.first.tag_fields.find_by_name("icon").try(:value) %>"></span>
                <%= tags_with_miniformat_in_calltoaction.first.name %>
              </h5>
            <% end %>
          </div>
          <div class="col-md-4 col-xs-4 text-right">
            <h4>
              <% if call_to_action_completed?(calltoaction, current_or_anonymous_user) %>
                <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-success" style="padding-top: 7px;">
                  FATTO <span class="glyphicon glyphicon-ok"></span>
                </span>
              <% else %>
                <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-warning" style="padding-top: 7px;">+<%= predict_max_cta_outcome(calltoaction, current_or_anonymous_user).reward_name_to_counter["POINT"] %>
                  <span class="glyphicon glyphicon-star"></span>
                </span>
              <% end %>
            </h4>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <h2><%= calltoaction.title %></h2>
          </div>
        </div>
      </div>
  
      <%= render partial: "/call_to_action/single_calltoaction_panel_body", locals: { calltoaction: calltoaction } %>
       
      <div class="panel-footer">
        <div class="row">
          <div class="col-xs-12 text-center">
          	<div class="row">
          		  <!--
                <div class="col-xs-3 col-xs-offset-3">
                  <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="modal" data-target="#facebook-like-modal"><span class="glyphicon glyphicon-thumbs-up"> <span class="hidden-xs">Like</span></span></button>
                </div>
               -->
                <div class="col-xs-3 col-xs-offset-3">
                  <button type="button" class="btn btn-default btn-xs btn-block" data-toggle="modal" data-target="#facebook-share-modal"><span class="glyphicon glyphicon-share"> <span class="hidden-xs">Condividi</span></span></button>
                </div>

                <div class="col-xs-3">
                  <a class="btn btn-default btn-xs btn-block" href="/call_to_action/<%= calltoaction.id %>">Vedi</a>
                </div>
                
              </div>
              
          </div>
        </div>
      </div>
    </div>        
  </div>
</div>
