<% if @inter_comment %>
  <hr id="to-comments">
  <div class="comment-canvas">
    <div class="row">
      <div class="col-md-12">
        <h4>Lascia un Commento</h4>
        <hr>
      </div>
      <div class="col-xs-2">
        <img src="<%= current_avatar %>" alt="..." class="img-circle img-responsive img-profile">
      </div>
      <div class="col-xs-10">
        <%= form_for @user_comment, url: "/#{ @current_prop.slug }/#{ @current_cta.slug }/add_comment", html: { id: "comment-form" }, remote: true do |f| %>
          <%= f.hidden_field :comment_id, value: "#{ @inter_comment.resource.id }" %>         
          <div class="panel panel-default insert-comment">
            <div class="panel-body">
              <%= f.text_area :text, rows: 3, class: "form-control", style: "resize: none;" %>
            </div>

            <div class="panel-footer">
              <div class="row">
                <div class="col-sm-8">
                  <% unless current_user %>
                    <div class="row">               
                      <div class="col-md-6">
                        <!--<img class="img-responsive" src="http://placehold.it/200x40">-->
                        <iframe src="/captcha" width="180" height="40" id="captcha" marginheight="0" marginwidth="0" scrolling="no" frameBorder="0"></iframe>
                      </div>              
                      <div class="col-md-6">
                        <%= text_field_tag :code, "", placeholder: "captcha", class: "form-control" %>
                      </div>
                    </div>
                  <% end %>              
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-info btn-md pull-right">commenta</button>
                </div>   
              </div>  
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div id="div-comment">
      <% @inter_comment.resource.user_comments.publish.order("created_at DESC").limit(5).each do |uc| %>
        <div class="row comment" id="comment-<%= uc.id %>">
          <div class="col-xs-2 text-right">
            <h5><img src="<%= user_avatar uc.user if uc.user %>" alt="..." class="img-circle img-responsive img-profile pull-right" width="50%"></h5>
          </div>
          <div class="col-xs-10">
            <h5><%= uc.user ? "#{ uc.user.first_name } #{ uc.user.last_name }" : "Anonimo" %> <small>&bull; <%= uc.created_at %></small></h5>
            <p class="text-muted"><%= uc.text %></p>
            <hr>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">
          <p>COMMENTI APPESI: <a id="comment-append-counter" href="javascript: void(0)" onclick="updateClosedCommentView()"><%= @comment_published_count %></a></p>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
    $('#comment-form').submit(function() {
      return ($("#user_comment_text").val().length > 0)
    })
</script>

