<div class="row {{interaction_info.interaction.resource_type}}-undervideo-interaction__row">
  <div ng-if="interaction_info.interaction.resource_type == 'trivia' || interaction_info.interaction.resource_type == 'test'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/trivia_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'versus'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/versus_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'check'" class="col-sm-12">
    <%= render partial: "/call_to_action/check_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'share'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/share_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'upload'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/upload_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'download'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/download_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'link'" class="col-sm-12">
    <%= render partial: "/call_to_action/link_interaction" %>
  </div> 
  <div ng-if="interaction_info.interaction.resource_type == 'vote'" class="col-sm-12 text-center visible-xs">
    <%= render partial: "/call_to_action/vote_interaction" %>
  </div>  
</div>

<div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.feedback && checkUndervideoInteractionTypes(interaction_info)" class="row undervideo-interaction__feedback">
  <div ng-if="interaction_info.interaction.resource_type != 'trivia'" class="col-sm-12 interaction__feedback-col">
    <div class="interaction__feedback-circle interaction__feedback-circle--green text-center">
      <span class="glyphicon glyphicon-ok trivia-interaction__feedback__glyphicon trivia-interaction__feedback__glyphicon-ok"></span>
    </div>
    <p class="interaction__feedback-text">Complimenti!</p> 
    <p class="interaction__feedback-description">Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.</p>
  </div> 
    
  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && interaction_info.user_interaction.answer.correct" class="col-sm-12 interaction__feedback-col">
    <div class="interaction__feedback-circle interaction__feedback-circle--green text-center">
      <span class="glyphicon glyphicon-ok trivia-interaction__feedback__glyphicon trivia-interaction__feedback__glyphicon-ok"></span>
    </div>
    <p class="interaction__feedback-text interaction__feedback-text--green">Bravo! Risposta corretta.</p> 
    <p class="interaction__feedback-description">Hai guadagnato +{{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} punti.</p>
  </div> 

  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && !interaction_info.user_interaction.answer.correct" class="col-sm-12 interaction__feedback-col">
    <div class="interaction__feedback-circle interaction__feedback-circle--red text-center">
      <span class="glyphicon glyphicon-remove trivia-interaction__feedback__glyphicon"></span>
    </div>
    <p class="interaction__feedback-text interaction__feedback-text--red">Peccato! Risposta sbagliata.</p> 
    <p class="interaction__feedback-description">Non hai guadagnato punti bonus.</p>
    <!-- {{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} -->
  </div> 
</div>

<!--
<div ng-if="!interaction_info.user_interaction && interaction_info.interaction.resource_type != 'like' && interaction_info.interaction.resource_type != 'comment'" class="row text-center undervideo-interaction__feedback">
  <div class="col-md-12">
    <p>Rispondi per ottenere fino a +{{interaction_info.status["winnable_reward_count"]}} punti</p>
    <div ng-if="!interaction_info.status.reward.numeric_display" ng-repeat="status_image in interaction_info.status.reward_status_images track by $index">  
      <img ng-src="{{status_image}}">
    </div>
  </div>
</div>
-->

<div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome && checkUndervideoInteractionTypes(interaction_info) && interaction_info.interaction.resource_type != 'check'" class="row text-center interaction__winnable-reward--undervideo__row">
  <div class="col-md-12 interaction__winnable-reward text-center interaction__winnable-reward--undervideo">
    <span class="label label-success cta-cover__winnable-reward__label">
      Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
    </span> 
  </div>
</div>

<div ng-if="!interaction_info.user_interaction && checkUndervideoInteractionTypes(interaction_info) && interaction_info.interaction.resource_type != 'check'" class="row text-center interaction__winnable-reward--undervideo__row">
  <div class="col-md-12 interaction__winnable-reward interaction__winnable-reward--undervideo">
    <span class="label label-warning cta-cover__winnable-reward__label">
      +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star">
    </span>  
  </div>
</div>