<div class="row {{interaction_info.interaction.resource_type}}-undervideo-interaction__row">
  <div ng-if="interaction_info.interaction.resource_type == 'trivia'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/trivia_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'test'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/test_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'versus'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/versus_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'check'" class="col-sm-12">
    <%= render partial: "/call_to_action/check_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'share' && hasCtaHistory(calltoaction_info) &&  !isLastStepInLinkedCallToAction(calltoaction_info)" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/share_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'upload'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/upload_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'download'" class="col-sm-12 undervideo-interaction__col">
    <%= render partial: "/call_to_action/download_interaction" %>
  </div>  
  <div ng-if="interaction_info.interaction.resource_type == 'link'" class="col-sm-12">
    <%= render partial: "/call_to_action/link_interaction" %>
  </div> 
  <div ng-if="interaction_info.interaction.resource_type == 'vote'" class="col-sm-12 undervideo-interaction__col text-center">
    <%= render partial: "/call_to_action/vote_interaction" %>
  </div>
  <div ng-if="interaction_info.interaction.resource_type == 'randomresource'" class="col-sm-12 text-center">
    <%= render partial: "/call_to_action/random_interaction" %>
  </div>
</div>

<!-- TEST -->
<div ng-if="calltoaction_info.calltoaction.extra_fields.linked_result_title" class="col-sm-12 {{calltoaction_info.class}}">
  <div class="row">
    <div class="col-xs-12 text-center">
        <p class="share-interaction__extra-title">{{calltoaction_info.calltoaction.extra_fields.linked_result_title}}</p>
    </div>
    <div class="col-xs-12">
      <p class="share-interaction__extra-description">{{calltoaction_info.calltoaction.extra_fields.linked_result_description}}</p>
    </div>
    <div class="col-xs-12 text-center" style="margin-top: 15px; margin-bottom: 15px;">
      <p class="share-interaction__extra-share hidden-xs">Condividi il risultato:</p>
      <%= render partial: "/call_to_action/share_interaction" %>
    </div>
  </div>
</div> 

<div class="col-sm-12 text-center interaction__redo-col" ng-if="isLastStepInLinkedCallToAction(calltoaction_info)" ng-click="resetToRedo(calltoaction_info)">
  <div class="row">
    <div class="col-xs-12 interaction__redo-span-col">
      <span>Rifai il test <span class="fa fa-refresh undervideo-interaction__fa-refresh"></span></span>
    </div>
  </div>
</div>

<div class="col-sm-12" ng-if="hasCtaHistory(calltoaction_info) && !isLastStepInLinkedCallToAction(calltoaction_info)" style="margin-top: 15px; margin-bottom: 15px;">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 text-center">
      <p class="undervideo-interaction__progress-text">{{calltoaction_info.optional_history.optional_index_count}} / {{calltoaction_info.optional_history.optional_total_count - 1}}</p>
      <div class="progress undervideo-interaction__progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuemin="0" aria-valuemax="100" ng-style="{'width': (calltoaction_info.optional_history.optional_index_count/(calltoaction_info.optional_history.optional_total_count - 1)*100) + '%' }">
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-if="interaction_info.feedback && checkUndervideoInteractionTypes(interaction_info)" class="row undervideo-interaction__feedback">
  <div ng-if="interaction_info.interaction.resource_type != 'trivia'" class="col-sm-12 interaction__feedback-col">
    <div class="interaction__feedback-circle interaction__feedback-circle--green text-center">
      <span class="glyphicon glyphicon-ok trivia-interaction__feedback__glyphicon trivia-interaction__feedback__glyphicon-ok"></span>
    </div>
    <p class="interaction__feedback-text">Complimenti!</p> 
    <p class="interaction__feedback-description">Hai guadagnato +{{interaction_info.feedback.reward_name_to_counter.point}} punti.</p>
  </div> 
    
  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && interaction_info.user_interaction.answer.correct" class="col-sm-12 interaction__feedback-col">
    <div class="interaction__feedback-circle interaction__feedback-circle--green text-center">
      <span class="glyphicon glyphicon-ok trivia-interaction__feedback__glyphicon trivia-interaction__feedback__glyphicon-ok"></span>
    </div>
    <p class="interaction__feedback-text interaction__feedback-text--green">Bravo! Risposta corretta.</p> 
    <p class="interaction__feedback-description">Hai guadagnato +{{interaction_info.feedback.reward_name_to_counter.point}} punti.</p>
  </div> 

  <div ng-if="interaction_info.interaction.resource_type == 'trivia' && !interaction_info.user_interaction.answer.correct" class="col-sm-12 interaction__feedback-col">
    <div class="interaction__feedback-circle interaction__feedback-circle--red text-center">
      <span class="glyphicon glyphicon-remove trivia-interaction__feedback__glyphicon"></span>
    </div>
    <p class="interaction__feedback-text interaction__feedback-text--red">Peccato! Risposta sbagliata.</p> 
    <p class="interaction__feedback-description">Non hai guadagnato punti bonus.</p>
    <!-- {{interaction_info.user_interaction.outcome.reward_name_to_counter.point}} -->
  </div> 
</div>

<div ng-if="interaction_info.user_interaction && interaction_info.user_interaction.outcome && checkUndervideoInteractionTypes(interaction_info) && interaction_info.interaction.resource_type != 'check' && interaction_info.interaction.resource_type != 'share' && interaction_info.interaction.resource_type != 'download' && interaction_info.interaction.resource_type != 'play'" class="row text-center interaction__winnable-reward--undervideo__row">
  <div class="col-md-12 interaction__winnable-reward text-center interaction__winnable-reward--undervideo">
    <span class="label label-success cta-cover__winnable-reward__label">
      Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok">
    </span> 
  </div>
</div>

<div ng-if="!interaction_info.user_interaction && checkUndervideoInteractionTypes(interaction_info) && interaction_info.interaction.resource_type != 'check' && interaction_info.interaction.resource_type != 'share' && interaction_info.interaction.resource_type != 'download' && interaction_info.interaction.resource_type != 'play'" class="row text-center interaction__winnable-reward--undervideo__row">
  <div class="col-md-12 interaction__winnable-reward interaction__winnable-reward--undervideo">
    <span class="label label-warning cta-cover__winnable-reward__label">
      +{{interaction_info.status.winnable_reward_count}}<span class="cta-cover__glyphicon-icon fa fa-star">
    </span>  
  </div>
</div>