<% if @inter_like || @inter_share.count > 0 || @inter_comment %>
    <div class="panel-footer text-muted">
      <div class="row text-center">
        
        <% if @inter_like %>
        	<% ui = Userinteraction.find_by_user_id_and_interaction_id(current_user ? current_user.id : -1, @inter_like.id) %>
            <div class="col-md-3 col-xs-6">
              <button id="button-like-inter-<%= @inter_like.id %>" type="button" class="btn <%= ui && ui.counter > 0 ? "btn-primary" : "btn-default" %> btn-md btn-block" onclick="updateLike(<%= @inter_like.id %>)"><span class="glyphicon glyphicon-thumbs-up"> Like</button>
            </div>
        <% end %>

       	<% if @inter_share.count > 0 %> 
        	<div class="col-md-3 col-xs-6">
          		<button onclick="$('#share-modal').modal('show');" type="button" class="btn btn-default btn-md btn-block"><span class="glyphicon glyphicon-share"> Share</button>
        	</div>
        <% end %>

        <% if @inter_comment %>
            <div class="col-md-3 col-xs-6">
              <a type="button" class="btn btn-default btn-md btn-block" href="#to-comments"><span class="glyphicon glyphicon-comment"> Commenta</a>
            </div>
        <% end %>

        <% if @inter_download %>
  			<% ui = Userinteraction.find_by_user_id_and_interaction_id(current_user ? current_user.id : -1, @inter_download.id) %>
	        <div class="col-md-3 col-xs-6">
	          <button id="button-download-inter-<%= @inter_download.id %>" type="button" class="btn <%= ui && ui.counter > 0 ? "btn-primary" : "btn-default" %> btn-md btn-block" onclick="updateDownload(<%= @inter_download.id %>, '<%= @inter_download.resource.attachment.url %>')"><span class="glyphicon glyphicon-download"> DOWNLOAD</button>
	        </div>	
        <% end %>		          

      </div>
    </div>
<% end %>