<div class="row">
    <div class="col-md-12 text-center">
    	<hr>
    	<h5>(TODO) Guadagna +2 <span class="label label-warning"><span class="glyphicon glyphicon-star"></span></span> <span class="label label-warning"><span class="glyphicon glyphicon-star"></span></span></h5> 
    	<hr>
    	<h4><%= inter_quiz.resource.question %></h4>
    	<hr>
    </div>
    <div class="col-md-1 col-xs-1 text-center"></div>
    <div class="col-md-10 col-xs-10 text-center">
    	<div class="row">
    		<div class="col-md-6">
        		<% answer_length = (inter_quiz.resource.answers.count.to_f/2.to_f).round %>
        		<% i = 0 %>
				<% inter_quiz.resource.answers.each do |a| %>
					<% if(answer_length == i) %>
						</div><div class="col-md-6">
					<% end %>
					<% if user_inter_quiz %>
						<button class="btn-block button-inter-<%= inter_quiz.id %> btn <%= "active" if user_inter_quiz && user_inter_quiz.answer_id == a.id %> <%= a.correct ? "btn-success" : "btn-danger" %>" href="javascript: void(0)"><%= a.text %>
						</button> 
					<% else %>
						<button id="button-answ-<%= a.id %>" class="btn-block button-inter-<%= inter_quiz.id %> btn btn-info" href="javascript: void(0)" onclick="updateTriviaAnswer(<%= inter_quiz.id %>, <%= a.id %>)"><%= a.text %>
							<span class="span-inter-<%= inter_quiz.id %>" id="span-answ-<%= a.id %>"></span>
						</button> 
					<% end %>
					<% i = i + 1 %>
				<% end %>
			</div>		                        
      	</div>
      	<p>&nbsp;</p>
    </div>
   	<div class="col-md-1 col-xs-1 text-center"></div>
</div>
