<% if current_user %>
	<% if @user_comment.errors.any? %>
		alert("errore nel salvataggio del commento");
	<% else %>
		// Commento inserito correttamente.
		$("#user_comment_text").val("");
		if(comment_must_be_approved) {
			html_to_append = 
				"<div class=\"row comment\" id=\"comment-<%= @user_comment.id %>\">" +
			        "<div class=\"col-xs-2 text-right\">" +
			          "<h5><img src=\"<%= @user_comment.user ? (user_avatar @user_comment.user) : "" %>\" alt=\"...\" class=\"img-circle img-responsive img-profile pull-right\" width=\"50%\"></h5>" +
			        "</div>" +
			        "<div class=\"col-xs-10 new-comment\">" +
			          "<h5><%= @user_comment.user ? "#{ @user_comment.user.first_name} #{ @user_comment.user.last_name }" : "Anonimo" %> <small>&bull; <%= @user_comment.created_at %></small></h5>" +
			          "<p class=\"text-muted\"><%= @user_comment.text %></p>" +
			          "<hr>" +
			          "<p>Anteprima commento da moderare.</p>" +
			        "</div>" + 
		      	"</div>";
			$("#div-comment").prepend(html_to_append);
		} else { updateCommentViewOneTime(); }
	<% end %>
<% else %>
	<% if @user_comment_captcha %>
		<% if @user_comment.errors.any? %>
			alert("errore nel salvataggio del commento");
		<% else %>
			// Commento inserito correttamente.
			$("#user_comment_text").val("");

			if(comment_must_be_approved) {
				html_to_append = 
					"<div class=\"row comment\" id=\"comment-<%= @user_comment.id %>\">" +
				        "<div class=\"col-xs-2 text-right\">" +
				          "<h5><img src=\"<%= @user_comment.user ? (user_avatar @user_comment.user) : "" %>\" alt=\"...\" class=\"img-circle img-responsive img-profile pull-right\" width=\"50%\"></h5>" +
				        "</div>" +
				        "<div class=\"col-xs-10 new-comment\">" +
				          "<h5><%= @user_comment.user ? "#{ @user_comment.user.first_name} #{ @user_comment.user.last_name }" : "Anonimo" %> <small>&bull; <%= @user_comment.created_at %></small></h5>" +
				          "<p class=\"text-muted\"><%= @user_comment.text %></p>" +
				          "<hr>" +
				          "<p>Anteprima commento da moderare.</p>" +
				        "</div>" + 
			      	"</div>";
				$("#div-comment").prepend(html_to_append);
			} else { updateCommentViewOneTime(); }
		<% end %>
		$("#code").val("");
	<% else %>
		alert("captcha errato");
	<% end %>
	$("#captcha").attr("src", "/captcha");
    $("#code").val("");
<% end %>
