<%= render partial: "/application/user_bar" %>

<% inter_quiz_points = @current_cta.interactions.where("resource_type<>'Share'").sum("points") %>
<% user_inter_done = calltoaction_done? @current_cta %>  <!-- NOT USED --> 

<% inter_share = @current_cta.interactions.where("resource_type='Share'") %> 
<% inter_quiz_points = inter_quiz_points + inter_share.first.points if inter_share.count > 0 %>

<% if inter_share.count > 0 %>
	<%= render partial: "/application/share_with" %>
<% end %>

<!-- ANGULAR CONTAINER -->
<div class="container" 
	ng-app="CalltoactionApp" 
	ng-controller="CalltoactionCtrl" 
  ng-init="init('<%= @current_cta.video_url %>', <%= @current_cta.id %>, <%= @current_prop.id %>, <%= @overvideo_during_interaction_list.to_json %>, <%= !current_user.blank? %>, <%= @comment_published_count %>, <%= @comment_must_be_approved.blank? %>)">
  <div class="row">
    <div class="col-md-12">
      <div class="row">      
        <div class="col-sm-8 col-sm-offset-2 cta">
          <div class="panel panel-default cta-page">
            <div class="panel-heading" style="background: none">     
              <div class="row">
                <div class="col-md-8 col-xs-8"> 
                	<% if false # @current_cta.category.present? %>                     
                  	<h5 class="text-muted"><img src="<%= @current_cta.category.image(:thumb) %>" style="margin-right: 10px; width: 30px;"><%= @current_cta.category.name %></h5>
                  <% end %>
                </div>
                <div class="col-md-4 col-xs-4 text-right">
                  <h5><div class="yellow-point btn-sm" id="share-<%= @current_cta.id %>">+<%= inter_quiz_points %></div>
                  </h5>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <h4><%= @current_cta.title %></h4>
                </div>
              </div>       
        		</div>
            <div class="panel-body no-pad">
              <!-- MEDIA -->
			        <div class="row">
			            <div class="col-md-12">
			            	<% if @current_cta.media_type == "VIDEO" %>
				              	<div class="video flex-video" style="background:#222;">
				              		<div id="cta-video"></div>
				              	</div>
				            <% else %>
				            	<img src="<%= @current_cta.image %>" style="width: 100%; margin-bottom: 15px;">
				            <% end %>
			            </div>
			        </div>

              <!-- TRIVIA -->
			        <% @current_cta.interactions.where("resource_type='Quiz'").each do |i| %>
						  	<% if i.resource.quiz_type == "TRIVIA" %>
						  		<%= render partial: "/calltoaction/trivia", locals: { inter_quiz: i } %>
						  		<hr>
						  	<% end %>
						  <% end %>

              <!-- FOOTER WITH SHARE -->
		        	<% if inter_share.count > 0 %>
			        	<div class="col-md-4 col-md-offset-4 col-xs-12 text-center">
                    <% if current_user %>
  			          		<button type="button" class="btn btn-primary" onclick="openShareWith(<%= @current_cta.property.id %>, <%= @current_cta.id %>)">PEDALA!</button>
                      <% if current_user && UserInteraction.includes(:interaction).where("interactions.resource_type='Share' AND user_id=? AND interactions.calltoaction_id=?", current_user.id, @current_cta.id).any? %>
  			                <div class="yellow-point btn-success" id="share-<%= @current_cta.id %>"><span class="glyphicon glyphicon-ok"></span></div>
                      <% else %>
                        <div class="yellow-point" id="share-<%= @current_cta.id %>">+<%= @current_cta.interactions.find_by_resource_type("Share").points %></div>
                      <% end %>                    
                    <% else %>
                      <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#registrate-modal">PEDALA!</button>
                      <div class="yellow-point btn-sm" id="share-<%= @current_cta.id %>">+<%= @current_cta.interactions.find_by_resource_type("Share").points %></div>
                    <% end %>
			        	</div>
							<% end %>

              <div class="row">
                <div class="col-md-12">
                  <hr>
                </div>
              </div>            
              <div class="col-md-12" style="margin-bottom: 10px;">
				        <% unless @current_cta.description.blank? %>
							    <%= @current_cta.description.html_safe %>
						    <% end %>
              </div>             
            </div>         
            <div class="panel-footer text-muted" style="color: #000;">
              <div class="row text-muted">
                <div class="col-md-6 col-xs-6">
                  <span><%= @current_cta.activated_at.strftime("%d %b %Y") %></span>
                </div>
              </div>
             	<%= render partial: "disqus" %>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
</div>


