<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <% aux = disney_default_aux(@aux_other_params) %>  

  <title><%= "#{@seo_info["title"]} | #{aux["current_property_info"]["title"]} Community".html_safe rescue "#{aux["current_property_info"]["title"]} Community".html_safe %></title>
  <meta name="description" content="<%= @seo_info["meta_description"].html_safe rescue "Scopri Disney Channel Community, il luogo dove seguire le serie Disney, guardare i video dei momenti più divertenti, giocare, commentare e scoprire tanti contenuti esclusivi in anteprima!" %>">
  <meta name="keywords" content="<%= @seo_info["keywords"] rescue get_default_keywords() %>">

  <meta property="og:title" content="<%= "#{@seo_info["title"]} | #{aux["current_property_info"]["title"]} Community" rescue "#{aux["current_property_info"]["title"]} Community" %>" /> 
  <meta property="og:description" content="<%= @seo_info["meta_description"] rescue "Scopri Disney Channel Community, il luogo dove seguire le serie Disney, guardare i video dei momenti più divertenti, giocare, commentare e scoprire tanti contenuti esclusivi in anteprima!" %>" />  
  <meta property="og:image" content="<%= @seo_info["meta_image"] rescue "https://s3-eu-west-1.amazonaws.com/disney.live.dc.fandomlab.com/share/facebook.jpg" %>" />

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="requiresActiveX=true" />

  <link rel="shortcut icon" href="<%= asset_path('disney/favicon.ico') %>">

  <!--[if lte IE 9]>
    <script>
      FileAPI = {
        jsUrl: "<%= asset_path('FileAPI.js') %>",
        flashUrl: "<%= asset_path('FileAPI.flash.swf') %>"
      }
    </script>
  <![endif]-->

  <%= stylesheet_link_tag "disney_application", :media => "all" %>
  <%= javascript_include_tag "disney_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("disney_application.css").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("disney_application.js").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" type="text/javascript"></script>  
    <link href="<%= asset_path("disney_ie9.css").sub("#{Rails.configuration.deploy_settings["asset_host"]}", "") %>" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->

  <%= csrf_meta_tags %>

</head>

<script type="text/javascript" src="//analytics.disneyinternational.com/ads/dimgAdMaster.js"></script>
<script type="text/javascript" src="http://analytics.disneyinternational.com/analytics/wdigWebAnalytics.js"></script>

<script type="text/javascript">
  cto = new CTO();
  cto.track();
</script>

<%= render partial: "/application/style", locals: { aux: aux } %>

<% calltoaction_info_list = (@calltoaction_info_list.present? ? @calltoaction_info_list.to_json : {}) %>

<body ng-cloak ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>" ng-controller="DisneyStreamCalltoactionCtrl" ng-init="init(<%= build_disney_current_user().to_json %>, <%= calltoaction_info_list %>, <%= @has_more || false %>, null, '<%= ga_code() %>', null, <%= aux.to_json %>)">

  <!-- Modal -->
  <div class="modal fade" id="facebook-like-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Like su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare il like devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="facebook-share-modal" tabindex="-1" role="dialog" aria-labelledby="facebookModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="myModalLabel">Share su Facebook</h4>
        </div>
        <div class="modal-body">
         <p>Per effettuare la condivisione devi essere collegato a Facebook</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <%= render partial: "/application/user_bar", locals: { aux: aux } %>

  <%= yield %>

  <!--
  <% unless cookies[:user_cookies] %>
    <div id="cookies-bar" class="navbar navbar-fixed-bottom cookies-footer">
      <div class="row">
        <div class="col-sm-11">
          <p class="cookies-footer__description">Per migliorare la tua navigazione su questo sito, utilizziamo cookies ed altre tecnologie che ci permettono di riconoscerti.<br>Utilizzando questo sito, acconsenti agli utilizzi di cookies e delle altre tecnologie descritti nella nostra <a target="_blank" class="cookies-footer__link" href="http://www.disney.it/cookies/">Cookies Policy</a>.</p>
        </div>
        <div class="col-sm-1 text-right">
          <a class="btn btn-primary btn-xs" href="javascript: void(0)" ng-click="acceptCookies()"><span>CHIUDI</span></a>
        </div>
      </div>
    </div>
  <% end %>
  -->

  <div class="container container--footer">
    <div class="row">
      <div class="col-md-12">
        <%= render partial: "/application/footer" %>
      </div>
    </div>
  </div>

  <%= render partial: "/application/ga" %>

</body>
</html>
