<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	<nav id="sidebar">       
	  <ul id="main-nav" class="open-active">      
	    <li class="dropdown <%= "active opened" if page == "dashboard" %>"><a href="javascript:void(0);">  
	    <i class="fa fa-dashboard"></i>Dashboard<span class="caret"></span></a>   
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/dashboard">
	            <i class="fa fa-group"></i>Dati utenti
	          </a>
	      	</li>
	      	<li>
	          <a href="/easyadmin/published">
	            <i class="fa fa-calendar"></i>Pubblicazioni
	          </a>
	      	</li>
	      </ul>      
	    </li>
	    <li class="dropdown <%= "active opened" if page == "calltoaction" %>"><a href="javascript:void(0);"><i class="fa fa-dribbble"></i>Calltoaction<span class="caret"></span></a>
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/cta">
	            <i class="fa fa-th-list"></i>TUTTI
	          </a>
	        </li>
	        <% Property.all.each do |p| %>
		       	<li>
		          <a href="/easyadmin/cta/<%= p.id %>">
		            <i class="fa fa-circle" style="color: <%= p.color_code %>"></i><%= p.name %>
		          </a>
		        </li>
	        <% end %>
	      </ul>
	    </li>
	    <li class="<%= "active" if page == "promocode" %>"><a href="/easyadmin/promocode"><i class="fa fa-ticket"></i>Promocode</a>
	    </li>
	    <li class="dropdown <%= "active opened" if page == "property" %>"><a href="javascript:void(0);"><i class="fa fa-globe"></i>Property<span class="caret"></span></a>
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/property">
	            <i class="fa fa-th-list"></i>Lista
	          </a>
	        </li>
	        <li>
	          <a href="/easyadmin/property/new">
	            <i class="fa fa-save"></i>Nuova
	          </a>
	        </li>
	      </ul>
	    </li>
	    <li class="<%= "active" if page == "tag" %>"><a href="/easyadmin/tag"><i class="fa fa-tags"></i>Tag</a>
	    </li>
	    <li class="dropdown <%= "active opened" if page == "comment" %>"><a href="javascript:void(0);"><i class="fa fa-comment"></i>Comment<span class="caret"></span></a>
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/comment/approved">
	            <i class="fa fa-th-list"></i>TUTTI
	          </a>
	        </li>
	        <% Property.all.each do |p| %>
		       	<li>
		          <a href="/easyadmin/comment/approved/<%= p.id %>">
		            <i class="fa fa-circle" style="color: <%= p.color_code %>"></i><%= p.name %>
		          </a>
		        </li>
	        <% end %>
	      </ul>
	    </li>

	    <li class="dropdown <%= "active opened" if page == "contest" %>"><a href="javascript:void(0);"><i class="fa fa-trophy"></i>[TODO] Contest<span class="caret"></span></a>
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/contest">
	            <i class="fa fa-th-list"></i>Lista Contest
	          </a>
	        </li>
	        <li>
	          <a href="/easyadmin/periodicity">
	            <i class="fa fa-th-list"></i>Lista Periodicità
	          </a>
	        </li>
	        <li>
	          <a href="/easyadmin/prize">
	            <i class="fa fa-th-list"></i>Lista Premi
	          </a>
	        </li>
	      </ul>
	    </li>
	  </ul>
	</nav> <!-- #sidebar -->
</div> <!-- /#sidebar-wrapper -->
  