<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	<nav id="sidebar">       
	  <ul id="main-nav" class="open-active">      
	    
	  	<li class="<%= "active" if page == "dashboard" %>"><a href="/easyadmin/dashboard"><i class="fa fa-dashboard"></i>Dashboard</a>
	    </li>

	    <% if can? :manage, :all %>
		    <li class="<%= "active" if page == "pubblished" %>"><a href="/easyadmin/published"><i class="fa fa-calendar"></i>Pubblicazioni</a>
		    </li>
	    <% end %>

	    <li class="<%= "active" if page == "winner" %>"><a href="/easyadmin/winner"><i class="fa fa-ticket"></i>Vincitori concorso</a>
	    </li>

	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "calltoaction" %>"><a href="javascript:void(0);"><i class="fa fa-dribbble"></i>Calltoaction<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/cta">
		            <i class="fa fa-th-list"></i>TUTTI
		          </a>
		        </li>
		        <% Property.all.each do |p| %>
			       	<li>
			          <a href="/easyadmin/cta/<%= p.id %>">
			            <i class="fa fa-circle" style="color: <%= p.color_code %>"></i><%= p.name %>
			          </a>
			        </li>
		        <% end %>
		      </ul>
		    </li>
	    <% end %>

	    <% if can? :manage, :all %>
	    	<li class="<%= "active" if page == "promocode" %>"><a href="/easyadmin/promocode"><i class="fa fa-ticket"></i>Promocode</a>
	    	</li>
	    <% end %>
		<% if can? :manage, :all %>
		<li class="dropdown <%= "active opened" if page == "prize" %>"><a href="javascript:void(0);"><i class="fa fa-trophy"></i>Rewards<span class="caret"></span></a>
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/reward">
	            <i class="fa fa-th-list"></i>Lista
	          </a>
	        </li>
	        <li>
	          <a href="/easyadmin/reward/new">
	            <i class="fa fa-save"></i>Nuovo
	          </a>
	        </li>
	      </ul>
	    </li>
		<% end %>
	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "property" %>"><a href="javascript:void(0);"><i class="fa fa-globe"></i>Property<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/property">
		            <i class="fa fa-th-list"></i>Lista
		          </a>
		        </li>
		        <li>
		          <a href="/easyadmin/property/new">
		            <i class="fa fa-save"></i>Nuova
		          </a>
		        </li>
		      </ul>
		    </li>
	    <% end %>

	    <% if can? :manage, :all %>
		    <li class="<%= "active" if page == "tag" %>"><a href="/easyadmin/tag"><i class="fa fa-tags"></i>Tag</a>
		    </li>
	    <% end %>

	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "comment" %>"><a href="javascript:void(0);"><i class="fa fa-comment"></i>Comment<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/comment/approved">
		            <i class="fa fa-th-list"></i>TUTTI
		          </a>
		        </li>
		        <% Property.all.each do |p| %>
			       	<li>
			          <a href="/easyadmin/comment/approved/<%= p.id %>">
			            <i class="fa fa-circle" style="color: <%= p.color_code %>"></i><%= p.name %>
			          </a>
			        </li>
		        <% end %>
		      </ul>
		    </li>
	    <% end %>

	  </ul>
	</nav> <!-- #sidebar -->
</div> <!-- /#sidebar-wrapper -->
  