<div id="sidebar-wrapper" class="collapse sidebar-collapse">
	<nav id="sidebar">       
	  <ul id="main-nav" class="open-active">      
	    
	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "dashboard" %>"><a href="javascript:void(0);"><i class="fa fa-th-large"></i>Dashboard<span class="caret"></span></a>
		  	  <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/dashboard">
		            <i class="fa fa-pie-chart"></i>Grafici
		          </a>
		        </li>
		        <li>
		          <a href="/easyadmin/most_clicked_interactions">
		            <i class="fa fa-list"></i>Più cliccate
		          </a>
		        </li>
		      </ul>
		    </li>
		   <% end %>

	    <% if can? :manage, :all %>
		    <li class="<%= "active" if page == "pubblished" %>"><a href="/easyadmin/published"><i class="fa fa-calendar"></i>Pubblicazioni</a>
		    </li>
	    <% end %>

	    <!--
	    <li class="<%= "active" if page == "winner" %>"><a href="/easyadmin/winner"><i class="fa fa-ticket"></i>Vincitori concorso</a>
	    </li>
	    -->

	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "carousel" %>"><a href="javascript:void(0);"><i class="fa fa-flag"></i>Carosello<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/home_launchers">
		            <i class="fa fa-list"></i>Lista item
		          </a>
		        </li>
		        <li>
		          <a href="/easyadmin/home_launchers/new">
		            <i class="fa fa-gears"></i>Nuovo item
		          </a>
		        </li>
		      </ul>
		    </li>
	    <% end %>

	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "calltoaction" %>"><a href="javascript:void(0);"><i class="fa fa-futbol-o"></i>CallToAction<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/cta">
		            <i class="fa fa-list"></i>Tutte
		          </a>
		          <a href="/easyadmin/cta/to_approve">
		            <i class="fa fa-users"></i>CallToAction utente
		          </a>
		          <a href="/easyadmin/cta/new">
		            <i class="fa fa-gears"></i>Nuova
		          </a>
		        </li>
		      </ul>
		    </li>
	    <% end %>

	    <% if can? :manage, :all %>
	    	<li class="<%= "active" if page == "promocode" %>"><a href="/easyadmin/promocode"><i class="fa fa-ticket"></i>Promocode</a>
	    	</li>
	    <% end %>
		<% if can? :manage, :all %>
		<li class="dropdown <%= "active opened" if page == "prize" %>"><a href="javascript:void(0);"><i class="fa fa-trophy"></i>Rewards<span class="caret"></span></a>
	      <ul class="sub-nav">
	        <li>
	          <a href="/easyadmin/reward">
	            <i class="fa fa-th-list"></i>Lista
	          </a>
	        </li>
	        <li>
	          <a href="/easyadmin/reward/new">
	            <i class="fa fa-save"></i>Nuovo
	          </a>
	        </li>
	      </ul>
	    </li>
		<% end %>
	    <% if can? :manage, :all %>
		    <li class="dropdown <%= "active opened" if page == "tags" %>"><a href="javascript:void(0);"><i class="fa fa-tags"></i>Tag<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/tag">
		            <i class="fa fa-th-list"></i>Lista
		          </a>
		        </li>
		        <li>
		          <a href="/easyadmin/tag/new">
		            <i class="fa fa-save"></i>Nuovo
		          </a>
		        </li>
		      </ul>
		    </li>
	    <% end %>

	    <% if (can? :manage, :all) || (can? :manage, :comments) %>
		    <li class="dropdown <%= "active opened" if page == "comment" %>"><a href="javascript:void(0);"><i class="fa fa-comment"></i>Comment<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/comments/approved">
		            <i class="fa fa-th-list"></i>TUTTI
		          </a>
		        </li>
		      </ul>
		    </li>
	    <% end %>
	    
	    <% if can? :manage, :all %>
	    	<li class="dropdown <%= "active opened" if page == "notice" %>"><a href="javascript:void(0);"><i class="fa fa-envelope"></i>Notifiche<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li>
		          <a href="/easyadmin/notices">
		            <i class="fa fa-th-list"></i>Lista
		          </a>
		        </li>
		        <li>
		          <a href="/easyadmin/notices/new">
		            <i class="fa fa-save"></i>Nuovo
		          </a>
		        </li>
		      </ul>
		    </li>
	    <% end %>
	    
	    <% if can? :manage, :all %>
	    	<li class="dropdown <%= "active opened" if page == "ranking" %>"><a href="javascript:void(0);"><i class="fa fa-star"></i>Classifiche<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li >
		        	<a href="/easyadmin/ranking"><i class="fa fa-th-list"></i>Elenco classifiche</a>
		        </li>
		        <li >
		        	<a href="/easyadmin/ranking/new"><i class="fa fa-save"></i>Nuova classifica</a>
		        </li>
		      </ul>
		    </li>
	    <% end %>
	    
	    <% if can? :manage, :all %>
	    	<li class="dropdown <%= "active opened" if page == "settings" %>"><a href="javascript:void(0);"><i class="fa fa-gear"></i>Impostazioni<span class="caret"></span></a>
		      <ul class="sub-nav">
		        <li >
		        	<a href="/easyadmin/rules"><i class="fa fa-comment"></i>Regole Reward</a>
		        </li>
		        <li >
		        	<a href="/easyadmin/settings/browse"><i class="fa fa-th-large"></i>Pagina Browse</a>
		        </li>
		        <li >
		        	<a href="/easyadmin/settings/ranking"><i class="fa fa-sort-amount-asc"></i>Pagina Classifiche</a>
		        </li>
		      </ul>
		    </li>
	    <% end %>

	  </ul>
	</nav> <!-- #sidebar -->
</div> <!-- /#sidebar-wrapper -->
  