<div class="panel panel-default">
	<% if f.object.id %>
		<div class="panel-heading">&nbsp;</div>
	<% else %>
		<div class="panel-heading">&nbsp; 
			<p style="float: right"><%= link_to_remove_share_fb_fields "rimuovi" %></p>
		</div>
	<% end %>
	<div class="panel-body">
		<%= f.hidden_field :resource_type, :class => "form-control" %>
		<%= f.fields_for :resource do |shareform| %>
			<%= shareform.hidden_field :share_type, :class => "form-control", value: "facebook" %>

			<div class="col-lg-6">
				<div class="form-group">
				  <label class="text-input">Descrizione</label>
				   <%= shareform.text_field :description, :class => "form-control" %>
				</div>
				<div class="form-group">
				  <label class="text-input">Punti</label>
				   <%= f.text_field :points, :class => "form-control" %>
				</div>
			</div>
			<div class="col-lg-6 text-center">
		      <div class="form-group">
		          <div class="fileupload fileupload-new" data-provides="fileupload">
		            <div class="fileupload-preview thumbnail" style="width: 100px; height: 100px; line-height: 20px;">
		                <% unless shareform.object.picture.blank? %><img src="<%= shareform.object.picture.url %>"><% end %>
		            </div>
		            <div>
		              <span class="btn btn-default btn-file"><span class="fileupload-new">SELEZIONA L'IMMAGINE</span>
		              <span class="fileupload-exists">Change</span><%= shareform.file_field :picture  %></span>
		              <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
		            </div>
		          </div>
		      </div>
		    </div>

		<% end %>
  	</div>
</div>