<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "dashboard" } %>
 
  <div id="content">    
    
  <div id="content-header">
    <h1>Grafici</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

  <div class="row">
    <div class="col-md-4">
    	<h3>Registrazioni</h3>
    	<hr/>
    </div>

    <div class="col-md-2">
    	<%= form_tag :method => 'post' do %>
        	<div class="form-group">
            	<label class="text-input">DAL GIORNO</label></br>
              	<%= text_field_tag :datepicker_from_date, @from_date_string %>
            </div>
     </div>
     <div class="col-md-2">
          	<div class="form-group">
              <label class="text-input">AL GIORNO</label></br>
              <%= text_field_tag :datepicker_to_date, @to_date_string %>
            </div>
     </div>
     <div class="col-md-2">
          	<div>
              <label class="text-input">GRAFICO</label></br>
              <%= radio_button_tag :time_interval, 'weekly', (params[:time_interval] != "daily" || params[:commit] == "Reset") ? true : false  %> Settimanale </br>
              <%= radio_button_tag :time_interval, 'daily', (params[:time_interval] == "daily" && params[:commit] != "Reset") ? true : false %> Giornaliero
            </div>
      </div>
      <div class="col-md-1">
          	<div class="form-group">
                </br><%= submit_tag 'Filtra', class: 'btn btn-primary' %>
            </div>
      </div>
      <div class="col-md-1">
          	<div class="form-group">
                </br><%= submit_tag 'Reset', class: 'btn btn-primary' %>
		  	    <% end %>
            </div>
      </div>
    </div> <!-- /.row -->

    <div class="row">
      <div class="col-md-12">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              UTENTI REGISTRATI DAL <%= @from_date_string %> AL <%= @to_date_string %>
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="line-chart" class="chart-holder">
            </div>
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div> <!-- /.col -->

    </div> <!-- /.row -->

    <br/>
	<h3>Statistiche</h3>
    <hr/>
    
    <div class="row">
    	<div class="col-md-6">
    		<h4>Registrazioni</h4>
   			<hr/>
   		</div>
   		<div class="col-md-6">
    		<h4>Share</h4>
   			<hr/>
   		</div>
    </div> <!-- /.row -->
    
    <div class="row">
      <div class="col-md-3 col-sm-6">
          <div class="dashboard-stat primary">
            <div class="details">
              <span class="content">REGISTRATI TOTALI</span>
              <span class="value"><%= total_users = User.where(:created_at => @from_date..@to_date).count %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-user"></i>
            </div>
          </div><hr/> <!-- /.dashboard-stat -->
          <div class="dashboard-stat primary">
            <div class="details">
              <span class="content">UTENTI REGISTRATI CON SOCIAL</span>
              <span class="value"><%= social_reg_users = User.where(:created_at => @from_date..@to_date).includes(:authentications).where("authentications.user_id IS NOT NULL").count %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-user"></i>
            </div>
          </div><hr/> <!-- /.dashboard-stat -->
          <!--<div class="dashboard-stat tertiary">
            <div class="details">
              <span class="content">UTENTI CON PROFILO COMPLETO</span>
              <span class="value"><%= complete_profile_users = User.where(:created_at => @from_date..@to_date, :rule => true).count %></span>
              <div class="visual">
            	<i class="fa fa-user"></i>
            </div>
            </div>
          </div> -->
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              REGISTRAZIONI
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="fb-reg-donut-chart" class="chart-holder"></div>
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div> <!-- /.col -->
      
      <div class="col-md-3 col-sm-6">
          <div class="dashboard-stat primary" style="background-color: #43609c">
            <div class="details">
              <span class="content">SHARE FACEBOOK</span>
              <span class="value"><%= fb_share = UserInteraction.where(:created_at => @from_date..@to_date).sum("(aux::json->>'facebook')::int") %></span>
            </div> <!-- /.details -->	
            <div class="visual">
            	<i class="fa fa-facebook" style="color: #FFF"></i>
            </div>
          </div><hr/> <!-- /.dashboard-stat -->
          <div class="dashboard-stat primary" style="background-color: #5eaade">
            <div class="details">
              <span class="content">SHARE TWITTER</span>
              <span class="value"><%= twitter_share = UserInteraction.where(:created_at => @from_date..@to_date).sum("(aux::json->>'twitter')::int") %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-twitter" style="color: #FFF"></i>
            </div>
          </div> <!-- /.dashboard-stat -->
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              SHARE
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="share-donut-chart" class="chart-holder"></div>
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div> <!-- /.col -->
    </div> <!-- /.row -->
    
    <hr/>
    
    <div class="row">
    	<div class="col-md-6">
    		<h4>Trivia</h4>
   			<hr/>
   		</div>
   		<div class="col-md-6">
    		<h4>Versus / Check</h4>
   			<hr/>
   		</div>
    </div> <!-- /.row -->

    <div class="row">
    	<div class="col-md-3 col-sm-6">
          <div class="dashboard-stat">
            <div class="details">
              <span class="content">TRIVIA RISPOSTI</span>
              <span class="value"><%= all_trivia = UserCounter.where(:created_at => @from_date..@to_date, :name => "TOTAL").sum("(counters::json->>'ALL_TRIVIA')::int") %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-question"></i>
            </div>
          </div><hr/> <!-- /.dashboard-stat -->
          <div class="dashboard-stat">
            <div class="details">
              <span class="content">TRIVIA RISPOSTI CORRETTAMENTE</span>
              <span class="value"><%= correct_answers_trivia = UserCounter.where(:created_at => @from_date..@to_date, :name => "TOTAL").sum("(counters::json->>'ALL_TRIVIA_CORRECT_ANSWER')::int") %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-question"></i>
            </div>
          </div> <!-- /.dashboard-stat -->
          <!--<div class="dashboard-stat secondary">
            <div class="details">
              <span class="content">% RISPOSTE CORRETTE TRIVIA</span>
              <span class="value"><%= "#{all_trivia.to_i != 0 ? ((correct_answers_trivia.to_i * 100).to_f / all_trivia.to_i).round(2) : 'Nessuna '}\%" %></span>
            </div>
            <div class="visual">
            	<i class="fa fa-question"></i>
            </div>
          </div> -->
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3">
        <div class="portlet">
          <div class="portlet-header">
            <h3>
              <i class="fa fa-bar-chart-o"></i>
              TRIVIA
            </h3>
          </div> <!-- /.portlet-header -->
          <div class="portlet-content">
            <div id="trivia-donut-chart" class="chart-holder"></div>
          </div> <!-- /.portlet-content -->
        </div> <!-- /.portlet -->
      </div> <!-- /.col -->
      
      <div class="col-md-3 col-sm-6">
          <div class="dashboard-stat secondary">
            <div class="details">
              <span class="content">VERSUS RISPOSTI</span>
              <span class="value"><%= all_versus = UserCounter.where(:created_at => @from_date..@to_date, :name => "TOTAL").sum("(counters::json->>'ALL_VERSUS')::int") %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-thumbs-o-up"></i>
            </div>
          </div><hr/> <!-- /.dashboard-stat -->
          <div class="dashboard-stat secondary">
            <div class="details">
              <span class="content">CHECK RISPOSTI</span>
              <span class="value"><%= all_check = UserCounter.where(:created_at => @from_date..@to_date, :name => "TOTAL").sum("(counters::json->>'ALL_CHECK')::int") %></span>
            </div> <!-- /.details -->
            <div class="visual">
            	<i class="fa fa-check"></i>
            </div>
          </div> <!-- /.dashboard-stat -->
      </div> <!-- /.col-md-3 -->
      <div class="col-md-3">
      </div> <!-- /.col -->
    </div> <!-- /.row -->

  </div>
</div>

<script type="text/javascript">
  
  total_users = <%= total_users %>;
  social_reg_users = <%= social_reg_users %>;
  all_trivia = <%= all_trivia %>
  correct_answers_trivia = <%= correct_answers_trivia %>
  fb_share = <%= fb_share %>
  twitter_share = <%= twitter_share %>
  total_share = fb_share + twitter_share
    
  $(document).ready(function() {
    buildDonut();
    buildLine();

    $(window).resize(App.debounce(buildDonut, 325));
    $(window).resize(App.debounce(buildLine, 325));
  });

  function buildDonut() {
    $('#fb-reg-donut-chart').empty();
    if(total_users > 0) {
      Morris.Donut({
            element: 'fb-reg-donut-chart',
            data: [
                { label: 'Registrazioni via social', value: Math.round(((social_reg_users * 100)/total_users)) },
                { label: 'Registrazioni via mail', value: Math.round((((total_users - social_reg_users) * 100)/total_users)) }
            ],
            hideHover: true,
            colors: ["#f18c09", "#0b62a4"],
            formatter: function (y) { return y + "%" }
      });
    }
    if(all_trivia > 0) {
      Morris.Donut({
			element: 'trivia-donut-chart',
            data: [
                { label: 'Trivia risposti correttamente', value: Math.round(((correct_answers_trivia * 100)/all_trivia)) },
                { label: 'Trivia risposti erroneamente', value: Math.round((((all_trivia - correct_answers_trivia) * 100)/all_trivia)) }
            ],
            hideHover: true,
            colors: ["#f18c09", "#0b62a4"],
            formatter: function (y) { return y + "%" }
      });
     }
    if(total_share > 0) {
      Morris.Donut({
			element: 'share-donut-chart',
            data: [
                { label: 'Share su Facebook', value: Math.round(((fb_share * 100)/total_share)) },
                { label: 'Share su Twitter', value: Math.round((((total_share - fb_share) * 100)/total_share)) }
            ],
            hideHover: true,
            colors: ["#f18c09", "#0b62a4"],
            formatter: function (y) { return y + "%" }
      });
    }
  }

  function buildLine() {
    $('#line-chart').empty();

      var data_arr = [];
      user_arr = <%= raw(@user_week_list.to_json) %>;

      $.each(user_arr, function(key, value) {
        data_arr.push({
          time: key,
          tot: value.tot,
          provider: (value.tot - value.simple),
          simple: value.simple
        });
      });

      Morris.Line({
        element: 'line-chart',
        data: data_arr,
        xLabelFormat: function (x) { return (x.getMonth() + 1) + "/" + x.getFullYear(); },
        xkey: 'time',
        ykeys: ['tot', 'provider', 'simple'],
        labels: ['Registrati totali', 'Registrati via social', 'Registrati via email'],
        lineColors: ["black", "#0b62a4", "#f18c09"]
      });

  } 

  $(function() {
    $("#datepicker_from_date").datepicker()
    $("#datepicker_to_date").datepicker()
  });

</script>