<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "dashboard" } %>
 
  <div id="content">    
    
  <div id="content-header">
    <h1>Statistiche generali</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

    <div class="row">
      <div class="col-md-12"> 
        <% if flash[:notice] %>
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-warning"><%= flash[:notice] %></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <%= form_tag :method => 'post' do %>
      <div class="row">
        <div class="col-md-2">
          <div class="form-group">
            <label class="text-input">DAL GIORNO</label></br>
            <%= text_field_tag :datepicker_from_date, @from_date_string, :class => "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label class="text-input">AL GIORNO</label></br>
            <%= text_field_tag :datepicker_to_date, @to_date_string, :class => "form-control" %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            </br><%= submit_tag 'APPLICA FILTRO', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            </br><%= submit_tag 'RESET', class: 'btn btn-primary btn-block' %>
          </div>
        </div>
      </div> <!-- /.row -->

      <div class="row">
        <div class="col-md-12">
          <h3>Statistiche cross-property</h3>
          <hr/>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="portlet">
            <div class="portlet-header">
              <h3>
                <i class="fa fa-bar-chart-o"></i>
                UTENTI REGISTRATI DAL <%= @from_date_string %> AL <%= @to_date_string %> <i>(<%= @days %> giorni)</i>
              </h3>
            </div> <!-- /.portlet-header -->
            <div class="portlet-content">
              <div id="line-chart" class="chart-holder">
              </div>
            </div> <!-- /.portlet-content -->
          </div> <!-- /.portlet -->
        </div> <!-- /.col -->
      </div> <!-- /.row -->

      <br/>

      <div class="row">
        <div class="col-md-3">
          <h4> Registrazioni totali </h4>
        </div>
        <div class="col-md-3">
          <h4> Premi totali </h4>
        </div>
        <div class="col-md-3">
          <h4> Commenti totali </h4>
        </div>
      </div> <!-- /.row -->

      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="dashboard-stat primary" style="background-color: #E5412D;">
            <div class="details">
              <span class="content"> UTENTI REGISTRATI <br/> <%= "DAL #{@from_date_string} AL #{@to_date_string}" %> </span>
              <span class="value-sm"><%= @total_users %>/<%= User.where(:anonymous_id => nil).count %></span>
            </div>
            <div class="visual">
              <i class="fa fa-user" style="color: #FFF"></i>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="dashboard-stat primary" style="background-color: #50A550;">
            <div class="details">
              <span class="content"> SBLOCCATI <br/> <%= "DAL #{@from_date_string} AL #{@to_date_string}" %></span>
              <span class="value-sm"><%= @total_rewards %></span>
            </div> <!-- /.details --> 
            <div class="visual">
              <i class="fa fa-trophy" style="color: #FFF"></i>
            </div>
          </div> <!-- /.dashboard-stat -->
        </div> <!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6">
          <div class="dashboard-stat primary" style="background-color: #7EBBE5;">
            <div class="details">
              <span class="content"> APPROVATI / LASCIATI <br/> <%= "DAL #{@from_date_string} AL #{@to_date_string}" %></span>
              <span class="value-sm"><%= @approved_comments %> / <%= @total_comments %></span>
            </div> <!-- /.details --> 
            <div class="visual">
              <i class="fa fa-comments" style="color: #FFF"></i>
            </div>
          </div> <!-- /.dashboard-stat -->
        </div> <!-- /.col-md-3 -->
      </div> <!-- /.row -->

      <hr/>

      <% if @multiproperty %>

        <div id="property-stats" class="row">
          <div class="col-md-3">
            <h3>Statistiche per property</h3>
          </div>
        </div>

        <hr/>

        <ul id="property-selectors" class="nav nav-tabs">
          <% @properties.each do |p| %>
            <li>
              <input class="btn btn-default" name="commit" type="submit" value="<%= p.upcase %>">
            </li>
          <% end %>
        </ul>

        <%= hidden_field_tag :property, @property_tag_name || $site.default_property.gsub("-", " ").split.map(&:capitalize).join(' ') %>

      <% end %>

    <% end %> <!-- form-post -->

    <% if @property_values %>
      <div class="row">
        <% @property_values.each do |key, value| %>
        <div class="col-md-3 col-sm-6" style="margin: 20px 0">
        <h4 style="text-align:center;"><%= "#{(@extra_fields[key]['title'] || key) rescue key} #{@property_tag_name}" %></h4>
          <div class="dashboard-stat primary" style="background-color: <%= (@extra_fields[key]["background_color"] || "#CCC") rescue "#CCC" %>;">
            <div class="details">
              <span class="content"> CONTATORE <br/> <%= "DAL #{@from_date_string} AL #{@to_date_string}" %></span>
              <span class="value-sm"><%= value %></span>
            </div>
            <div class="visual">
              <i class="<%= (@extra_fields[key]["icon"] || "fa fa-line-chart") rescue "fa fa-line-chart" %>" style="color: #FFF"></i>
            </div>
          </div>
        </div>
        <% end %>
      </div> <!-- /.row -->
    <% end %>

  </div>
</div>

<script type="text/javascript">

  var total_users = <%= @total_users %>;
  var social_reg_users = <%= @social_reg_users %>;

  $(document).ready(function() {
    buildLine();

    $(window).resize(App.debounce(buildLine, 325));

    var commit = '<%= params['commit'] %>';
    if(commit != "APPLICA FILTRO") {
      if(commit == '')
        selectedProperty = '<%= ($site.default_property || "").upcase %>';
      else
        selectedProperty = commit

      selectedPropertyButton = $('input[name="commit"][value="' + selectedProperty + '"]')
      selectedPropertyButton.addClass("active");
      if(commit != '')
        scrollToElement($('#property-stats'));
    }
  });

  function scrollToElement(ele) {
    $(window).scrollTop(ele.offset().top).scrollLeft(ele.offset().left);
  }

  function buildLine() {
    $('#line-chart').empty();

    var data_arr = [];
    user_arr = <%= raw(@user_week_list.to_json) %>;
    first_day_total = <%= @user_week_list.values[0]["tot"] %>;
    first_day_simple = <%= @user_week_list.values[0]["simple"] %>;

    $.each(user_arr, function(key, value) {
      data_arr.push({
        time: key,
        tot: (value.tot - first_day_total),
        provider: (value.tot - value.simple),
        simple: (value.simple - first_day_simple)
      });
    });

    Morris.Line({
      element: 'line-chart',
      data: data_arr,
      xLabelFormat: function (x) { return (x.getMonth() + 1) + "/" + x.getFullYear(); },
      xkey: 'time',
      ykeys: ['tot', 'provider', 'simple'],
      labels: ['Registrati totali', 'Registrati via social', 'Registrati via email'],
      lineColors: ["#000", "#f0ad4e", "#e5412d"]
    });

  }

  $(function() {
    $("#datepicker_from_date").datepicker();
    $("#datepicker_to_date").datepicker();
  });

</script>