<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "user" } %>
 
  <div id="content">    
    
    <div id="content-header">
      <h1>ELENCO VINCITORI</h1>
    </div> <!-- #content-header --> 

      <div id="content-container">

      <% if flash[:notice] %>
        <div class="row">
          <div class="col-md-12">         
              <div class="row">
                <div class="col-lg-12">
                  <div class="alert alert-success"><%= flash[:notice] %></div>
                </div>
              </div>
            
          </div>
        </div>
      <% end %>

    <div class="row">
      <div class="col-sm-12 text-right">
        <a href="/easyadmin/export_winners" class="btn btn-default">ESPORTA</a>
      </div>
    </div>

    <div class="row cta-to-show">
      <div class="col-md-12"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Premio</th>
              <th>Premio vincibile da</th>
              <th>Vinto in data</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <% @instantwin_user_interactions.each do |instantwin_user_interaction| %>
          <% user = User.where(:id => instantwin_user_interaction.user_id).first %>
          <% reward_id = instantwin_user_interaction.aux["reward_id"] %>
          <% reward = Reward.where(:id => reward_id).first %>
          <% instantwin = Instantwin.find(instantwin_user_interaction.aux["instant_win_id"]) rescue nil %>
            <% if instantwin.present? %>
              <tr>
                <td><%= "#{user.first_name} #{user.last_name}" %></td>
                <td><%= user.email %></td>
                <td><%= reward.title %></td>
                <td><%= instantwin.valid_from.in_time_zone(USER_TIME_ZONE).strftime("%d/%m/%Y %H:%M") rescue nil %></td>
                <td><%= instantwin.updated_at.in_time_zone(USER_TIME_ZONE).strftime("%d/%m/%Y %H:%M") rescue nil %></td>

                <td>
                  <div class="col-sm-1" style="margin: 0;">
                    <a href="/easyadmin/user/show/<%= user.id %>"><i class="fa fa-info-circle" style="color: red"></i></a>
                  </div>
                  <div class="col-sm-1" style="margin: 0;">
                    <a id="user-<%= user.id %>" onclick="send_email_to_winner(<%= user.id %>)"><i class="fa fa-envelope" style="color: red"></i></a>
                  </div>
                </td>

              </tr>
            <% end %>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row cta-to-show">
      <div class="col-md-12">
        <%= render partial: "pagination" %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">
  function send_email_to_winner(user_id) {
    $("#user-" + user_id + " i").css('color', "gray");
    $.ajax({
          type: "POST",
          url: "/easyadmin/winner/send_email_to_winner",
          data: { user_id: user_id },
          beforeSend: function(jqXHR, settings) {
            jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
          },
          success: function(data) {
            $("#user-" + user_id + " i").css('color', 'red');
          } // success AJAX
      });
  }
</script>
