<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "user" } %>
 
  <div id="content">    
    
    <div id="content-header">
      <h1>ELENCO UTENTI</h1>
    </div> <!-- #content-header --> 

      <div id="content-container">

      <% if flash[:notice] %>
        <div class="row">
          <div class="col-md-12">         
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-success"><%= flash[:notice] %></div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      
      <div class="row text-right">
        <div class="col-md-12">
          <%= link_to "ESPORTA CSV", get_users_export_url(@filters), class: "btn btn-primary", method: :post %>
        </div>
      </div>

      <%= form_tag :action => 'filter_user', :method => 'post' do %>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="text-input">Filtra per USERNAME</label></br>
            <%= text_field_tag "filters[username]", @filters["username"], :class => 'form-control' %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="text-input">Filtra per EMAIL</label></br>
            <%= text_field_tag "filters[email]", @filters["email"], :class => 'form-control' %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label class="text-input">Dal giorno</label></br>
            <%= text_field_tag "filters[from_date]", @filters["from_date"], :class => "form-control" %>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <label class="text-input">Al giorno</label></br>
            <%= text_field_tag "filters[to_date]", @filters["to_date"], :class => "form-control" %>
          </div>
        </div>
        <div class="col-md-2 col-md-offset-2">
          <div class="form-group">
            </br><%= submit_tag 'APPLICA FILTRO', class: 'btn btn-primary' %>
          </div>
        </div>
        <div class="col-md-1">
          <div class="form-group">
            </br><%= submit_tag 'RESET', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row users-to-show">
      <div class="col-md-12"> 
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Username</th>
              <th>Email</th>
              <th>Città</th>
              <th>Azioni</th>
            </tr>
          </thead>
          <% @user_list.each do |user| %>
            <%= render partial: "/easyadmin/easyadmin/users_index_row", locals: { user: user } %>
          <% end %>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <%= render partial: "pagination" %>
      </div>
    </div>

  </div>
</div>

<script type="text/javascript">

  $(function() {
    $("#filters_from_date").datepicker({format: 'dd/mm/yyyy'});
    $("#filters_to_date").datepicker({format: 'dd/mm/yyyy'});
  });

</script>