<%= render partial: "/easyadmin/easyadmin/left_bar", locals: { page: "user" } %>

<div id="content">   

  <div id="content-header">
    <h1>UTENTE INFO</h1>
  </div> <!-- #content-header --> 

  <div id="content-container">

    <% if flash[:notice] %>
      <div class="row">
        <div class="col-md-12"> 
          <div class="row">
            <div class="col-lg-12">
              <div class="alert alert-success"><%= flash[:notice] %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-sm-offset-11">
        <%= get_user_buttons(@user) %>
      </div>
    </div>

    <h3>Dati utente</h3>
    <hr>
    
    <div class="row">
      <div class="col-lg-4">
          <dl class="dl-horizontal">
            <dt>Nome</dt><dd><p><%= @user.first_name %></p></dd>
            <dt>Cognome</dt><dd><p><%= @user.last_name %></p></dd>
            <dt>Email</dt><dd><p><%= @user.email %></p></dd>
            <dt>Giorno di nascita</dt><dd><p><%= @user.birth_date %></p></dd>
            <dt>Provider collegati</dt><dd><p><%= @user.authentications.map{ |p| p.provider }.join(" ") %></p></dd>
          </dl>
      </div>

      <div class="col-lg-4">
          <dl class="dl-horizontal">
            <dt>Via</dt><dd><p><%= @user.address %></p></dd>
            <dt>Numero</dt><dd><p><%= @user.number %></p></dd>
            <dt>Provincia</dt><dd><p><%= @user.province %></p></dd>
            <dt>CAP</dt><dd><p><%= @user.cap %></p></dd>
            <dt>Telefono</dt><dd><p><%= @user.phone %></p></dd>
            <dt>Store</dt><dd><p><%= @user.location %></p></dd>
            <dt>Sesso</dt><dd><p><%= @user.gender %></p></dd>
          </dl>
      </div>

    </div>
    
    <% user_wins_user_interactions = UserInteraction.where("cast(\"aux\"->>'instant_win_id' AS int) IS NOT NULL AND user_id = #{@user.id}").order("created_at ASC") %>
    <% if user_wins_user_interactions.first %>

		<h3>Dati vincite</h3>
    	<hr>

    	<div class="row">
			<div class="col-md-8"> 
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Premio</th>
							<th>Data di vincita</th>
						</tr>
					</thead>
            			<% user_wins_user_interactions.each do |win| %>						<tr>
							<td><%= Reward.where(:id => win.aux["reward_id"]).first.title %></td>
							<td><%= win.created_at.in_time_zone(USER_TIME_ZONE).strftime("%d/%m/%Y %H:%M") %></td>
						</tr>
					<% end %>
				</table>
			</div>
		</div>

	<% end %>

  </div>
</div>
