<div class="container container--default" ng-controller="SearchCtrl" ng-init="init_search(<%= @contents.to_json %>, <%= @total %>, '<%= @query %>')">
	
	<%= render partial: "/application/search", locals: {query: nil} %>
	
	<div class="row brws-item main-row">
		<div class="col-xs-12">
	      <div class="section-heading">
	        	<h3>
	        		<span class="section-heading__marker"><i class="fa fa-star"></i></span>
	        		Risultati della ricerca
	        	</h3>
	      </div>
	    </div>

    <div ng-if="!contents" class="col-xs-12">
      <p>Nessun risultato per questa ricerca</p>
    </div>

		<div ng-if="contents" class="col-xs-12 col-md-3" ng-repeat="content in contents">
		<%= light_link_to("{{content.detail_url}}") do %>	
        <div class="relateds-flexslider__item-panel relateds-flexslider__item-panel--full-search" ng-if="content.type == 'cta'"> 
          <div class="row">
            <div class="col-xs-12">
              <div class="relateds-flexslider__thumbnail">
                <img class="img-responsive cta-preview__image" ng-src="{{content.thumb_url}}">            
                <!-- STATUS -->
                <div class="label label-warning cta-preview__points" ng-if="content.status > 0">+ {{content.status}}<span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
				<div class="col-xs-12 cta-cover__winnable-reward text-right ng-scope" ng-if="content.status == null"><span class="label label-success cta-cover__winnable-reward__label">Fatto <span class="cta-cover__glyphicon-icon glyphicon glyphicon-ok"></span></span></div>

              </div>
              <p class="cta-preview__title">{{content.title | cut:true:70}}</p>
            </div>
          </div>
          <div class="row relateds-flexslider__footer">
            <div class="col-xs-12">
              <p class="relateds-flexslider__likes"><span class="fa fa-thumbs-up relateds-flexslider__thumbs-up"></span>{{content.likes}}</p>
              <p class="relateds-flexslider__comments"><span class="glyphicon glyphicon-comment relateds-flexslider__glyphicon-comment"></span>{{content.comments}}</p>
            </div>
          </div>
        </div>
        <div class="relateds-flexslider__item-panel relateds-flexslider__item-panel--full-search" ng-if="content.type == 'tag'" style="background-image: url('{{content.thumb_url}}'); background-position: center center; background-size: auto 100%;"> 
	          <div class="row">
	            <div class="col-xs-12 text-center cta-preview--tag">
	              <p class="cta-preview__title--tag">{{content.title | cut:true:70}}</p>
	            </div>
	          </div>
	        </div>
      <% end %>
	</div>
	</div>
	<div class="row row-load-more text-center" ng-if="total > offset">
		<div class="col-xs-4 col-xs-offset-4">
			<a class="btn btn-primary btn-block" ng-click="load_more(offset)">Carica Altri</a>
		</div>
	</div>
</div>
	
</div>
