<%= render partial: "/application/user_bar" %>

<div class="container">
	
  <% @browse_section.each do |section| %>
  	  <div class="row">
	    <div class="col-xs-12">
	      <div class="page-header">
	        <h3><%= section.title %> <a href="<%= section.view_all_link %>" style="float:right"><small>View all</small></a></h3>
	      </div>
	    </div>
	  </div>
	  <div class="row brws-item">
	  	<% section.contents.each do |content| %>
	  		<div class="col-xs-6 col-md-<%= section.column_number %>">
				<div class="thumbnail">
					<a href="<%= content.detail_url %>">
					<% if content.has_thumb %>
						<img class="img-responsive" src="<%= content.thumb_url %>" alt="...">
					<% else %>
						<img class="img-responsive" src="http://placehold.it/420x300" alt="...">
					<% end %>
					</a>
					<div class="caption">
						<h4><%= content.title %></h4>
						<p><%= content.description %></p>
					</div>
				</div>
			</div>
		<% end %>
	  
	  </div>
	  
  <% end %>

</div>

<%= render partial: "/application/footer" %>
