<%= render partial: "/application/user_bar" %>


<div class="container container--default" ng-controller="BrowseCtrl" ng-init="init(<%= @category.to_json %>, <%= @contents.to_json %>, <%= @tags.to_json %>)">
	<div class="row category-header">
    	<img ng-src="{{category.header_image_url}}" class="img-responsive" />
    	<h1 class="category-header__title">{{category.title}}</h1>
    	<div class="category-header__filter-area"><button class="btn btn-primary" ng-click="isTagFilterOpen = !isTagFilterOpen"><span class="caret"></span> Filtra</button></div>
    </div>
      <div class="row text-center">
      	<div class="col-xs-12">
			<div collapse="!isTagFilterOpen" class="row category-filter">
				<div ng-repeat="(tag_id, tag_name) in tags" class="col-sm-2 col-xs-6">
					<button ng-class="{'btn btn-default btn-xs category-filter__tag': true, 'category-filter__tag--disabled': tagsEnabled[tag_id] == undefined, 'category-filter__tag--selected': activeTags[tag_id] != undefined}" ng-disabled="tagsEnabled[tag_id] == undefined" ng-click="tagSelected(tag_id)">{{tag_name}}</button>
				</div> 
			</div>
		</div>
      </div>
      <div class="row">
      	<div class="col-xs-12">
      		<div class="row spacer">
      			<div class="col-sm-8">
      			</div>
      			<div class="col-sm-3 col-sm-offset-1">
      				<div class="btn-group" style="float: right;">
						<button type="button" class="btn btn-primary">Ordina per</button>
						<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
							<span class="caret"></span>
						</button>
					  	<ul class="dropdown-menu" role="menu">
					    	<li><a href="javascript:void(0);" ng-click="order('created_at',false)">Piu recenti</a></li>
					    	<li><a href="javascript:void(0);" ng-click="order('title',false)">Titolo</a></li>
					  	</ul>
					</div>
      			</div>
      		</div>
	      <div class="row brws-item">
	      		<div class="col-xs-12 col-sm-4 col-md-3" ng-repeat="content in visibleElements">
					<div class="cta-preview" ng-if="content.type == 'cta'">
						<div class="row">
							<div class="col-xs-12">
								<div class="cta-preview__thumbnail">
									<a href="{{content.detail_url}}">
										<img class="img-responsive cta-preview__image" ng-src="{{content.thumb_url}}" alt="..." ng-if="content.has_thumb">
										<img class="img-responsive cta-preview__image" src="http://placehold.it/420x300" alt="..." ng-if="!content.has_thumb">
									</a>
									<div class="label label-warning cta-preview__points" ng-if="content.status != undefined">+ {{content.status.winnable_reward_count}}</div>
								</div>
							</div>
							<div class="col-xs-12">
								<h3 class="cta-preview__title">{{content.title | limitTo : 40}}</h3>
							</div>
						</div>
						<div class="row cta-preview__counter">
							<div class="cta-preview__like col-xs-3"><i class="fa fa-thumbs-up"></i> {{content.likes}}</div>
							<div class="cta-preview__comments col-xs-3"><span class="glyphicon glyphicon-comment"></span> {{content.comments}}</div>	
						</div>
					</div>
					
					<div class="cta-preview cta-preview--category" ng-if="content.type == 'tag'">
						<div class="row">
							<div class="col-xs-12">
								<div class="cta-preview__thumbnail cta-preview__thumbnail--category">
									<a href="{{content.detail_url}}">
										<img class="cta-preview__image cta-preview__image--category" ng-src="{{content.thumb_url}}" alt="..." ng-if="content.has_thumb">
										<img class="cta-preview__image cta-preview__image--category" src="http://placehold.it/420x300" alt="..." ng-if="!content.has_thumb">
									</a>
								</div>
							</div>
						</div>
						<h3 class="cta-preview__title cta-preview__title--category">{{content.title}}</h3>
					</div>
					
				</div>
	      </div>
	     </div>
      </div>
      
</div>

<%= render partial: "/application/footer" %>
