<%= render partial: "/application/user_bar" %>

<div class="container">
      <div class="row">
        <div class="col-xs-12">
          <div class="page-header-browse">
          	<img src="<%= @category.header_image_url %>" />
          	<% if @category.icon_url %>
          	<div class="category-icon">
          		<img src="<%= @category.icon_url %>" />
          	</div>
          	<% end %>
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-xs-10 col-xs-offset-1">
      	  <h2><%= @category.title %></h2>
      	  <p><%= @category.long_description %></p>
	      <div class="row brws-item">
	      	<% @contents.each do |content| %>
	      		<div class="col-xs-6 col-md-4">
					<div class="thumbnail">
						<a href="<%= content.detail_url %>">
						<% if content.has_thumb %>
							<img class="img-responsive" src="<%= content.thumb_url %>" alt="...">
						<% else %>
							<img class="img-responsive" src="http://placehold.it/420x300" alt="...">
						<% end %>
						</a>
						<div class="caption">
							<h4><%= content.title %></h4>
							<p><%= content.description %></p>
						</div>
					</div>
				</div>
	      	<% end %>
	      </div>
	     </div>
      </div>
</div>

<%= render partial: "/application/footer" %>
