<div class="container main-container main-container--cream">   
  <div class="row main-row">
    <% if !flash[:error].nil? %>
      <div class="row">
        <div class="col-sm-12">
          <p>Errore:</p>
          <ul>
              <li><%= flash[:error] %></li>
          </ul>
        </div>
      </div>
    <% else %>
      <div class="col-sm-12 cup__header-col text-center">
        <%= render partial: "/application/ribbon", locals: { title: "Conferma della registrazione", background: "#ceb5e2"}%>
        <h2><%= @message %></h2>
        <div id="two-cups-selected" class="col-sm-12 cup__header-col text-center">
          <img src="<%= @cup_tag_extra_fields["two_cups"]["url"] rescue nil %>">
        </div>
      </div>
    <% end %>
    <div class="col-sm-12 text-center">

    <%= link_to "HAI ANCORA SCONTRINI?", "step_1", { :class => "btn btn-red cup__submit" } %>

    </div>

  </div>
</div>