<div class="container main-container main-container--cream container-shadow text-center">   
  <div class="row main-row">
    <div class="col-sm-12 cup__header-col text-center">
      <h1>Le Tazze di Dora & Miss Tressy</h1>
      <h2><%= @cup_tag.description %></h2>
    </div>
    <div class="col-sm-12 cup__header-col text-center">
      <div class="row main-row">
        <img class="img-responsive hidden-xs" src="<%= @cup_tag_extra_fields["form_steps"]["url"] rescue nil %>">
      </div>
    </div>
  </div>
  <div class="cup__submit">

  <%= link_to "RICHIEDI LA TAZZA", "/tazze/step_1", { :class => "btn btn-red btn-lg btn-xlg" } %>

  </div>
</div>

<div class="container main-container text-center">
  <div class="row main-row text-center">
    <img class="img-responsive cup__select-cup-image" src="<%= @cup_tag_extra_fields["two_cups"]["url"] rescue nil %>">
  </div>
  <div class="row main-row">
    <p class="cup__title">Hai già acquistato almeno 2 confezioni?</p>
    <p class="cup__subtitle hidden-xs">Due confezioni per ricevere una tazza, tre confezioni per due tazze.</p>
  </div>
</div>

<div class="container main-container text-center">
  <div class="row main-row">
    <div class="col-sm-6">
      <img class="img-responsive cup__select-cup-image" src="<%= @cup_tag_extra_fields["two_packages"]["url"] rescue nil %>">
    </div>
    <div class="col-sm-6">
      <img class="img-responsive cup__select-cup-image" src="<%= @cup_tag_extra_fields["three_packages"]["url"] rescue nil %>">
    </div>
  </div>
</div>
<div class="container main-container text-center">
  <div class="row main-row">
    <p class="cup__footer">
      I prodotti Orzoro che partecipano alla promozione sono Orzoro Classico, Orzoro Ecco, Orzoro e Cacao, Orzoro e Caffè.
      Puoi acquistare questi prodotti con le combinazioni che preferisci.
    </p>
  </div>
</div>
