<%= form_for @cup_redeemer, url: "/cup_redeemer/step_3/update", html: { class: "cup__form" } do |f| %> 
  <div class="container main-container">   
    <div class="row main-row">
      <div class="col-sm-12 cup__header-col text-center">
        <%= render partial: "/application/ribbon", locals: { title: "Indirizzo di spedizione", background: "#ceb5e2"}%>
      </div>

      <div class="col-sm-12"> 
        <% if @cup_redeemer.errors.any? %>
          <div class="row">
            <div class="col-sm-12">
              <p>Errori nella compilazione del modulo:</p>
              <ul>
                <% @cup_redeemer.errors.full_messages.each do |error_message| %>
                    <li><%= error_message %></li>
                <% end %>
              </ul>
            </div>
          </div>
        <% end %>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Nome</label>
          <%= f.text_field :first_name, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <label>Indirizzo</label>
          <%= f.text_field :address, class: "form-control", :required => true %>  
        </div>
      </div> 
      <div class="col-sm-6">
        <div class="form-group">
          <label>Cognome</label>
          <%= f.text_field :last_name, class: "form-control", :required => true %>
        </div>
        <div class="form-group">
          <label>N. Civico</label>
          <%= f.text_field :street_number, class: "form-control", :required => true %>
        </div>
      </div> 
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label>Città</label>
          <%= f.text_field :city, class: "form-control", :required => true %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>Provincia</label>
          <% provinces_array = ITALIAN_PROVINCES.map { |province| [province, province] } %>
          <% provinces_array.unshift(["Provincia", ""]) %>
          <%= f.select :province, options_for_select(provinces_array, @cup_redeemer[:province]), {}, { class: "form-control", :required => true} %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label>CAP</label>
          <%= f.text_field :cap, class: "form-control", :required => true, :pattern => "[0-9]{5}" %>
        </div>
      </div>
    </div>
      <div class="col-sm-2">
        <%= link_to "Indietro", "step_2" %>
      </div>
      <div class="col-sm-12 text-center">
        <button type="submit" class="btn btn-red cup__submit">COMPLETA LA RICHIESTA</button>
      </div>
    </div>
  </div>
<% end %>
