<div class="row">
	<div class="col-xs-2">
		<img src="" class="img-circle img-responsive" />
	</div>
	<div class="col-xs-5">
		<h4>PARTECIPA ALLA COMMUNITY</h4>
		<h5>Fai click sul bottone e ottieni 1<span class="glyphicon glyphicon-star"></span></h5>
	</div>
	<div id="iframe-interaction" class="col-xs-3" style="position: relative; padding-left: 60px;">
		<div class="interaction-baloon" style="width: 33px; position: absolute; left: 15px;"> 
      <div class="baloon baloon-right square unchosen"> 
        <img src="<%= current_avatar %>" class="img-responsive hidden" style="width: 100%; border-radius: 3px;">
      </div>
    </div>
    <button class="button-inter-<%= interaction.id %> btn-2 btn-2-default" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, null)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, null)" <% end %> onclick="do_check(document.referrer)"><%= interaction.resource.title %></button>
	</div>
	<div class="col-xs-1">
		<h4>
      <span class="label label-warning" style="padding-top: 7px;">+1
        <span class="glyphicon glyphicon-star"></span>
      </span>
  	</h4>
	</div>
</div>