<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href='//fonts.googleapis.com/css?family=Allan:700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body style="font-family: arial, helvetica, sans-serif; background-color: #faaa16;">
    <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
      <img src="<%= @assets_extra_fields['logo']['url'] rescue nil %>" style="display: block; margin: 10px auto; max-width: 200px;" />
      <h1 style="text-align: center; color: #fff;">Benessere è Buonumore</h1>
    </div>
      <div style="max-width: 600px; margin-left: auto; margin-right: auto; background-color: #fff;">
        <div style="text-align: center; padding-top: 10px;">
          <h1 style="font-family: arial, helvetica, sans-serif; color: #660206;">Complimenti, <%= @form_cup['identity']['first_name'] %></h1>
          <h2 style="font-family: arial, helvetica, sans-serif; color: #818181;">Abbiamo ricevuto i tuoi dati per la ricezione delle tazze.</h2>
          <h2 style="font-family: arial, helvetica, sans-serif; color: #818181;">La tua richiesta sarà elaborata non appena confermerai la tua iscrizione.</h2>
          <p><a href="<%= @link %>">CLICCA QUI PER CONFERMARE</a></p>
          <img style="max-width: 600px;" src="<%= @cup_tag_extra_fields["two_cups"]["url"] rescue nil %>">
        </div>

        <div style="background-color: #f6f0dd;">
          <div style="float: left; width: 50%; padding-top: 60px;">
            <% if @form_cup['receipt']['package_count'].to_i == 2 %>
              <img src="<%= @cup_tag_extra_fields["two_packages"]["url"] rescue nil %>" style="display: block; width: 85%; margin:10px auto;" />
            <% else %>
              <img src="<%= @cup_tag_extra_fields["three_packages"]["url"] rescue nil %>" style="display: block; width: 85%; margin:10px auto;" />
            <% end %>
          </div>
          <div style="float: left; width: 50%;">
            <% if @form_cup['receipt']['package_count'].to_i == 2 %>
              <% if @form_cup['receipt']['cup_selected'] == 'dora' %>
                <img src="<%= @cup_tag_extra_fields["dora_cup"]["url"] rescue nil %>" style="display: block; width: 85%; margin:10px auto;" />
              <% else %>
                <img src="<%= @cup_tag_extra_fields["miss_tressy_cup"]["url"] rescue nil %>" style="display: block; width: 85%; margin:10px auto;" />
              <% end %>
            <% else %>
              <img src="<%= @cup_tag_extra_fields["two_cups"]["url"] rescue nil %>" style="display: block; width: 85%; margin:10px auto;" />
            <% end %>
          </div>
          <div style="clear: both;"></div>
        </div>

        <div>
          <div style="text-align: center;">
            <img src="<%= @assets_extra_fields['logo_nestle']['url'] rescue nil %>" />
          </div>
          <p style="text-align: center; color: #818181; padding: 20px 0;">Se pensi ci sia un errore non considerare le presente mail.</p>
        </div>
      </div>
      <div style="max-width: 600px; margin-left: auto; margin-right: auto;">
      	<p style="text-align: center; color: #fff;">Copyright 2014 - Nestlè S.p.A. - Partita IVA 00777280157 - <a href="https://www.buonalavita.it/note-legali" style="color: #fff; text-decoration: underline;">note legali</a> - <a href="https://www.buonalavita.it/promozioni/in-corso" style="color: #fff; text-decoration: underline;">regolamento concorsi</a></p>
      </div>
  </body>
</html>