<div class="container container--default">
	<div class="row category-header">
	    <img ng-src="<%= @info['header_image'] %>" class="img-responsive category-header__header-image" />
	  	<h1 class="category-header__title"><%= @gallery_tag.title %></h1>
	  	<div class="category-header__filter-area">
	  		<%= light_link_to "/gallery/#{@cta_id}", {"class" => "btn btn-primary"} %>Partecipa<% end %>
	    </div>
	</div>
	
	<div class="row reward-catalogue-header" style="background-color: #fafafa; margin-bottom: 40px;">
		<div class="col-xs-12 text-center">
			<h1>Come partecipare al concorso</h1>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<%= if @info['image_row_1']['type'] == 'media' %>
						<img class="img-responsive" src="<%= @info['image_row_1'] %>" />
					<% elsif @info['image_row_1']['type'] == 'html' %>
						<%= @info['image_row_1']['value'].html_safe %>
					<% else %>
						<%= @info['image_row_1'].html_safe %>
					<% end %>
				</div>			
				<div class="col-xs-12 col-sm-7">
					<%= @info['text_row_1'].html_safe %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-7">
					<%= @info['text_row_2'].html_safe %>
				</div>
				<div class="col-xs-12 col-sm-5">
					<%= if @info['image_row_2']['type'] == 'media' %>
						<img class="img-responsive" src="<%= @info['image_row_2'] %>" />
					<% elsif @info['image_row_2']['type'] == 'html' %>
						<%= @info['image_row_2']['value'].html_safe %>
					<% else %>
						<%= @info['image_row_2'].html_safe %>
					<% end %>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<%= if @info['image_row_3']['type'] == 'media' %>
						<img class="img-responsive" src="<%= @info['image_row_3'] %>" />
					<% elsif @info['image_row_3']['type'] == 'html' %>
						<%= @info['image_row_3']['value'].html_safe %>
					<% else %>
						<%= @info['image_row_3'].html_safe %>
					<% end %>
				</div>			
				<div class="col-xs-12 col-sm-7">
					<%= @info['text_row_3'].html_safe %>
				</div>
			</div>
		</div>
	</div>
	
</div>