<% if get_extra_fields!(@gallery_tag)['background_image'] %>
  <style type="text/css">
    body {
      background-image: url(<%= get_extra_fields!(@gallery_tag)['background_image']['url'] %>);
      background-position: top center;
      background-repeat: no-repeat;
    }
  </style>
<% end %>

<div class="container main-container">

  <div class="row main-row filters__flexslider-main-row" style="border-bottom: 1px solid #ccc;">
    <%= render partial: "/gallery/launchers", locals: { galleries: @galleries_cta, current_gallery_id: @cta_id }  %>    
  </div>
  
  <div class="row main-row">
    <div class="col-xs-12">
        <div class="row">
        <div class="col-md-12"> 
          <% if flash[:error] %>
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-danger" style="margin-top: 20px;">
                  <p>Errori processo di upload:</p>
                  <p>
                    <ul>
                      <% flash[:error].split(",").each do |msg| %>
                        <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </p>
                </div>
              </div>
            </div>
          <% elsif flash[:notice] %>
            <div class="row">
              <div class="col-lg-12">
                <div class="alert alert-success" style="margin-top: 20px;"><%= flash[:notice] %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      </div>
    </div>
  
  <%= render partial: "/gallery/gallery_description" %>
  <%= render partial: "/gallery/users_filter" %>
  
  <div class="row main-row main-row__covers_v2">
    <div class="col-xs-12">
      <%= render partial: "application/ordering" %>
      
      <div ng-if="!ordering_in_progress" class="row">
      <div ng-repeat="calltoaction_info in calltoactions" class="col-sm-6">
          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
        </div>
      </div>
      <div ng-if="!ordering_in_progress && has_more" class="row">
        <div class="col-sm-12">
          <div id="append-other" class="text-center" style="margin-bottom: 20px;" ng-if="!append_ctas_in_progress && has_more">
            <button class="btn btn-primary" href="javascript: void(0)" ng-click="appendCallToAction();"><span>Carica altri</span></button>
          </div>
          <div id="append-other" class="text-center" style="margin-bottom: 20px;" ng-if="append_ctas_in_progress && has_more">
            <button class="btn btn-primary" href="javascript: void(0)"><span>Caricamento in corso</span></button>
          </div>
        </div>
      </div>
      <div class="row text-center" ng-if="ordering_in_progress">
        <div class="col-sm-12">
          <img style="margin-top: 45px; margin-bottom: 45px;" src="<%= asset_path("horizontal_loader.gif") %>"> 
        </div>
      </div>
    </div>
  </div>
  
</div>