<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">

  <% calltoaction_info_list = (@calltoaction_info_list.present? ? @calltoaction_info_list.to_json : {}) %>
  <% calltoaction_info_list_count = (@calltoaction_info_list.present? ? @calltoaction_info_list.count : 0) %>

  <% aux = init_aux(@aux_other_params, @calltoaction_info_list) %>  
  
  <%= render partial: "/layouts/seo_head" %>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="fragment" content="!">
  
  <link rel="shortcut icon" href="/favicon/braun_ic/favicon.ico">

  <!--[if lte IE 9]>
    <script>
      FileAPI = {
        jsUrl: "<%= asset_path('FileAPI.js') %>",
        flashUrl: "<%= asset_path('FileAPI.flash.swf') %>"
      }
    </script>
  <![endif]-->

  <%= stylesheet_link_tag "braun_ic_application", :media => "all" %>
  <%= javascript_include_tag "braun_ic_application" %>

  <!--[if lte IE 9]>
    <link href="<%= asset_path("braun_ic_application.css").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" media="all" rel="stylesheet" type="text/css" />
    <script src="<%= asset_path("braun_ic_application.js").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" type="text/javascript"></script>  
    <link href="<%= asset_path("braun_ic_ie9.css").sub(/.*#{Rails.configuration.deploy_settings["asset_host"]}/, "") %>" media="all" rel="stylesheet" type="text/css" />
  <![endif]-->

  <!--[if lt IE 10]>
    <script type="text/javascript">
        $(document).ready(function() {
          $('[placeholder]').focus(function() {
            var input = $(this);
            if (input.val() == input.attr('placeholder')) {
              input.val('');
              input.removeClass('placeholder');
            }
          }).blur(function() {
            var input = $(this);
            if (input.val() == '' || input.val() == input.attr('placeholder')) {
              input.addClass('placeholder');
              input.val(input.attr('placeholder'));
            }
          }).blur();
        });
    </script>
  <![endif]-->

  <%= csrf_meta_tags %>

</head>

<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>" ng-controller="BraunIcStreamCalltoactionCtrl" ng-init="init(<%= build_current_user().to_json %>, <%= calltoaction_info_list %>, null, null, '<%= ga_code() %>', null, <%= aux.to_json %>)">

  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P5JWM8"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-P5JWM8');</script>
  <!-- End Google Tag Manager --> 

  <div ng-cloak>

    <audio ng-if="aux.assets.extra_fields.preinteraction_sound" class="preinteraction-sound hidden">
      <source ng-src="{{aux.assets.extra_fields.preinteraction_sound.url | trustAsResourceUrl}}" type="audio/mpeg" />
    </audio>

    <audio ng-if="aux.assets.extra_fields.interaction_button_sound" class="interaction-button-sound hidden">
      <source ng-src="{{aux.assets.extra_fields.interaction_button_sound.url | trustAsResourceUrl}}" type="audio/mpeg" />
    </audio>

    <audio ng-if="aux.assets.extra_fields.iw_running_sound" class="iw-running-sound hidden" loop>
      <source ng-src="{{aux.assets.extra_fields.iw_running_sound.url | trustAsResourceUrl}}" type="audio/mpeg"/>
    </audio>

    <audio ng-if="aux.assets.extra_fields.iw_ending_sound_win" class="iw-ending-sound-win hidden">
      <source ng-src="{{aux.assets.extra_fields.iw_ending_sound_win.url | trustAsResourceUrl}}" type="audio/mpeg"/>
    </audio>

    <audio ng-if="aux.assets.extra_fields.iw_ending_sound_wrong" class="iw-ending-sound-wrong hidden">
      <source ng-src="{{aux.assets.extra_fields.iw_ending_sound_wrong.url | trustAsResourceUrl}}" type="audio/mpeg"/>
    </audio>

    <%= render partial: "/application/style", locals: { cta_info_list: @calltoaction_info_list } %>
    <%= render partial: "/application/modals" %>

    <%= yield %>

    <%= render partial: "/application/footer_braun" %>
    <%= render partial: "/application/cookies_bar" %>

  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      is_last_rewards_flexslider_slide = new Object();
      $('.relateds-flexslider').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 215, //258
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
          
          //_gaq.push(['_trackEvent','Navigation', $(slider).attr("data-title"),'arrow']);
          
        },
        end: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
        }
      });
      
    });

  </script>
    
  <%= render partial: "/application/ga" %>
  <%= yield (:extra_script) %>

  <% if @aux["from_registration"] %>
    <script type='text/javascript'>
    // Conversion Name: Wellness Machine - Thank You Page
    // INSTRUCTIONS 
    // The Conversion Tags should be placed at the top of the <BODY> section of the HTML page. 
    // In case you want to ensure that the full page loads as a prerequisite for a conversion 
    // being recorded, place the tag at the bottom of the page. Note, however, that this may 
    // skew the data in the case of slow-loading pages and in general not recommended. 
    //
    // NOTE: It is possible to test if the tags are working correctly before campaign launch 
    // as follows:  Browse to http://bs.serving-sys.com/Serving/adServer.bs?cn=at, which is 
    // a page that lets you set your local machine to 'testing' mode.  In this mode, when 
    // visiting a page that includes an conversion tag, a new window will open, showing you 
    // the data sent by the conversion tag to the MediaMind servers. 
    // 
    // END of instructions (These instruction lines can be deleted from the actual HTML)
    var ebRand = Math.random()+'';
    ebRand = ebRand * 1000000;
    //<![CDATA[ 
    document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=657647&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
    //]]>
    </script>
    <noscript>
    <img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=657647&amp;ns=1"/>
    </noscript>

    <!-- Code for Action: Wellness Machine - Thank You Page -->
    <!-- Begin Rocket Fuel Conversion Action Tracking Code Version 9 -->
    <script type='text/javascript'>
    (function() {
     var w = window, d = document;
     var s = d.createElement('script');
     s.setAttribute('async', 'true');
     s.setAttribute('type', 'text/javascript');
     s.setAttribute('src', '//c1.rfihub.net/js/tc.min.js');
     var f = d.getElementsByTagName('script')[0];
     f.parentNode.insertBefore(s, f);
     if (typeof w['_rfi'] !== 'function') {
      w['_rfi']=function() {
       w['_rfi'].commands = w['_rfi'].commands || [];
       w['_rfi'].commands.push(arguments);
      };
     }
     _rfi('setArgs', 'ver', '9');
     _rfi('setArgs', 'rb', '20851');
     _rfi('setArgs', 'ca', '20685503');
     _rfi('track');
    })();
    </script>
    <noscript>
      <iframe src='//20685503p.rfihub.com/ca.html?rb=20851&ca=20685503&ra=YOUR_CUSTOM_CACHE_BUSTER' style='display:none;padding:0;margin:0' width='0' height='0'>
    </iframe>
    </noscript>
    <!-- End Rocket Fuel Conversion Action Tracking Code Version 9 -->
  <% end %>

</body>
</html>
