<div class="modal fade" id="modal-interaction-instant-win-registration" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>

        <div class="row">
          <div class="col-md-12 text-center"> 
            <p class="instant-win__modal-title">Gioca e vinci</p>
          </div>
          <div class="col-md-10 col-md-offset-1">
            <form class="form-horizontal" onsubmit="return false;" ng-submit="processRegistrationForm()" method="post" action="" accept-charset="UTF-8">
              <div ng-if="form_data.current_user.errors" class="row">
                <div class="col-md-12">
                  <ul class="list-unstyled form-error">
                    <p>Errori nell'inserimento dei dati:</p>
                    <li ng-repeat="error in form_data.current_user.errors">{{error}}</li>
                  </ul>
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-sm-4 control-label">Data di nascita*</label>         
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-4 margin-top-15-mobile">
                      <% date_array = (1..31).map { |date| [date, date] } %>
                      <% date_array.unshift ["Giorno", ""] %>
                      <%= select_tag(:day_of_birth, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.day_of_birth") %>
                    </div>

                    <div class="col-sm-4 margin-top-15-mobile">
                      <% date_array = (1..12).map { |date| [date, date] } %>
                      <% date_array.unshift ["Mese", ""] %>
                      <%= select_tag(:month_of_birth, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.month_of_birth") %>
                    </div>

                    <div class="col-sm-4 margin-top-15-mobile">
                      <% date_array = (1900..2020).map { |date| [date, date] } %>
                      <% date_array.unshift ["Anno", ""] %>
                      <%= select_tag(:year_of_birth, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.year_of_birth") %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Sesso</label>   
                <div class="col-sm-8">
                  <label class="radio-inline">
                    <input name="user[gender]" type="radio" ng-model="form_data.current_user.gender" value="F">M
                  </label>
                  <label class="radio-inline">
                    <input name="user[gender]" type="radio" ng-model="form_data.current_user.gender" value="M">F
                  </label>
                </div>      
              </div>

              <div class="form-group">
                <label class="col-sm-12 instant-win__shop-label">Seleziona il Coin store dove ritirerai il premio in caso di vincita</label> 
              </div>

              <div class="form-group">
                <label class="col-sm-4 control-label">Store*</label>         
                <div class="col-sm-8">
                  <% date_array = storeLocations().map { |location| [location, location] } %>
                  <% date_array = date_array.unshift ["", ""] %>
                  <%= select_tag(:location, options_for_select(date_array), class: "form-control", "ng-model" => "form_data.current_user.location") %>
                </div>
              </div>

              <div class="form-group">
                <label class="col-sm-12">REGOLAMENTO* <a target="_blank" class="instant-win__terms-a" href="https://s3-eu-west-1.amazonaws.com/coin.live.fandomlab.com/terms/regolamento.pdf?X-Amz-Date=20141201T154118Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=08f16c1c5204ef413bd6575de09c1931c6240dfaa095ad730bb0027a9424adb3&X-Amz-Credential=ASIAJUVJYDH3AINGZXTQ/20141201/eu-west-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=AQoDYXdzEGEagAJ0cK1nfvpO2upENe0n2XaGPlwrgDf2UxJz6vXsetxxvkxOwju32rLQOZ9snOZQnjOoChE9jZ62THn%2B1G4nY8NNyP47oDRVVJyse/e/Xi2TdHDtYryAztVz0CzrI%2BfH1WGy0PtREZVTgpyBZzR8H7vdwtd7fQTt%2B3Ksm/dvxK1iF%2BF6AHzNbjyNRCIrA93eA56JDRwdMvrvn8/OftgVXf4MdAlo9FKDLIxfGTJykqt37l4ZcaIFLLxirsiaXdN1lkbvCZIzVsX/fwDKjL4W1EHY5m/7FvF8aOX7qzxoofjIlHVUyVFvoCw%2BgHYDZJ2/B8Afb%2B5n4ujnNpufr9jD89TJIJGb8aMF">Prendi visione del regolamento del concorso</a></label>   
                <div class="col-sm-12">
                  <label class="radio-inline">
                    <input name="user[terms]" type="radio" ng-model="form_data.current_user.aux.terms" value="true">Accetto il regolamento
                  </label>
                  <label class="radio-inline">
                    <input name="user[terms]" type="radio" ng-model="form_data.current_user.aux.terms" value="false">Non accetto il regolamento
                  </label>
                </div>      
              </div>

              <div class="form-group">
                <label class="col-sm-12">CONSENSO DEL TRATTAMENTO DEI DATI AI FINI DELLA PARTECIPAZIONE AL CONCORSO E DELL'EVENTUALE ASSEGNAZIONE DEL PREMIO* <a class="instant-win__terms-a" href="javascript: void(0)" data-toggle="modal" data-target="#terms-modal">Prendi visione del trattamento dei dati</a></label>   
                <div class="col-sm-12">
                  <label class="radio-inline">
                    <input name="user[contest]" type="radio" ng-model="form_data.current_user.aux.contest" value="true">Acconsento
                  </label>
                  <label class="radio-inline">
                    <input name="user[contest]" type="radio" ng-model="form_data.current_user.aux.contest" value="false">Non acconsento
                  </label>
                </div>      
              </div>

              <div class="row">
                <div class="col-sm-4 col-sm-offset-8">
                  <button type="submit" class="btn btn-primary instant-win__button btn-block">COMPLETA</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-interaction-instant-win" role="dialog" aria-hidden="true">
  <div class="modal-dialog" ng-if="!aux.instant_win_info.win">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="row">
          <div ng-if="aux.instant_win_info.win == null" class="col-md-8 col-md-offset-2 text-center">         
            <p ng-if="!aux.instant_win_info.in_progress" class="instant-win__modal-title-with-result">Gioca e vinci</p>
            <p ng-if="aux.instant_win_info.in_progress" class="instant-win__modal-title-with-result">&nbsp;</p>
            <div ng-if="aux.instant_win_info.in_progress" id="fountainG">
              <div id="fountainG_1" class="fountainG">
              </div>
              <div id="fountainG_2" class="fountainG">
              </div>
              <div id="fountainG_3" class="fountainG">
              </div>
              <div id="fountainG_4" class="fountainG">
              </div>
              <div id="fountainG_5" class="fountainG">
              </div>
              <div id="fountainG_6" class="fountainG">
              </div>
              <div id="fountainG_7" class="fountainG">
              </div>
              <div id="fountainG_8" class="fountainG">
              </div>
            </div>
          </div>
          <div ng-if="aux.instant_win_info.win == false" class="col-md-8 col-md-offset-2 text-center">
            <p class="instant-win__modal-title-with-result instant-win__modal-title-with-result-not-win">PECCATO<span class="instant-win__modal-title-with-result-description">{{aux.instant_win_info.message}}</span></p>
          </div>
          <div class="col-md-1 col-md-offset-3 text-right instant-win__ticket-pre hidden-xs"><p class="instant-win__ticket-pre-text">Hai</p></div>
          <div class="col-md-4 col-xs-12 instant-win__ticket-column">
            <div class="panel panel-default instant-win__ticket-panel">
              <div class="panel-body instant-win__ticket-panel-body text-right">
                <span class="instant-win__ticket-value">{{current_user.main_reward_counter.general}}</span><img class="instant-win__ticket-img" src="<%= asset_path("coin/reward-ticket.png") %>">
              </div>
            </div>
          </div>
          <div class="col-md-1 text-left instant-win__ticket-post hidden-xs"><p class="instant-win__ticket-post-text">biglietti</p></div>       
          <div ng-if="!aux.instant_win_info.won && aux.instant_win_info.interaction_id" class="col-md-12 text-center">
            <a class="btn btn-primary instant-win__button btn-lg" ng-class="{disabled: (aux.instant_win_info.in_progress || aux.instant_win_info.win || current_user.main_reward_counter.general < 1)}" href="javascript:void(0)" ng-click="playInstantWin();">GIOCA UN BIGLIETTO</a>
          </div>
        </div>
      </div>
      <div ng-if="!aux.instant_win_info.interaction_id" class="modal-body">
        <div class="row">
          <div class="col-md-12 text-center">
            <p>Concorso non attivo</p>
          </div>
        </div>
      </div>
      <div class="modal-footer instant-win__modal-footer">
        <div class="row">
          <div class="col-md-4 col-md-offset-1 hidden-xs">
            <img style="width: 100%" src="<%= asset_path("coin/gift-instant-win.png") %>">
          </div>
          <div class="col-md-6 text-left instant-win__footer__text-column">
            <p class="instant-win__footer__text-1">Oggi in palio...</p>
            <p class="instant-win__footer__text-2">GIFT CARD €100</p>
            <p class="instant-win__footer__text-3">Lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum....</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-dialog" ng-if="aux.instant_win_info.win == true">
    <div class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <div class="row instant-win__win-row">
          <div class="col-md-4 col-md-offset-2 col-xs-12 col-xs-offset-0">
            <img style="width: 100%" src="<%= asset_path("coin/gift-instant-win.png") %>">
          </div>
          <div class="col-md-4 col-xs-12 text-left">
            <p class="instant-win__win-text-title">Hai vinto!</p>
            <p class="instant-win__win-text-description">{{aux.instant_win_info.message}}</p>
          </div>
        </div>
      </div>
      <div class="modal-footer instant-win__modal-footer">
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="instant-win__footer__text-1">Complimenti! Hai vinto {{aux.instant_win_info.message}}!</p>
            <p class="instant-win__footer__text-3">Controlla il tuo indirizzo email, digitando in fase di registrazione al concorso: ti abbiamo inviato una comunicazione, valida ai fini dell'accettazione del premio.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>