<div class="container" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= @current_user_info.to_json %>, <%= @calltoaction_info_list.to_json %>, '<%= get_cta_active_count() %>', <%= @calltoactions_during_video_interactions_second.to_json %>, '<%= ga_code() %>', null, <%= @aux.to_json %>, null)">   

  <!-- CUSTOM SITE HEADER --> 
  <%= render partial: "/application/header" %>

  <div ng-repeat="calltoaction_info in calltoactions" class="row">
    <div id="calltoaction-{{calltoaction_info.calltoaction.id}}" class="col-md-12">
      <%= render partial: "/call_to_action/stream_single_calltoaction" %>
    </div>
  </div>

  <%= render partial: "/application/user_bar" %>
</div>

