<div class="item <%= 'active' if i == 0 %> cta" id="cta_1" style="background: url('<%= calltoaction.image %>') no-repeat center center; background-size: auto 100%;">
  <div class="overvideo">
    <div class="overvideo-canvas" style="position: relative;">
      <div class="overvideo-content" style="display: inline-table; width: 100%;
overflow: auto;
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
color: #fff">
        <div class="row">
          <div class="col-md-12 text-left">                      
            <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
            <% if tags_with_miniformat_in_calltoaction.any? %>
              <h5 class="text-muted">
                <span class="<%= tags_with_miniformat_in_calltoaction.first.tag_fields.find_by_name("icon").try(:value) %>"></span>
                <%= tags_with_miniformat_in_calltoaction.first.name %>
              </h5>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 text-left">
            <h4 class="lead">
              <%= calltoaction.title %>
            </h4>
          </div>
          <div class="col-md-10 col-xs-10 text-left">
            <div class="row">
              <div class="col-md-12 ">
                <h4><a class="btn btn-default btn-md" href="/call_to_action/<%= calltoaction.id %>">Call To Action</a>
                  <% if call_to_action_completed?(calltoaction, current_user_or_anonymous_user) %>
                    <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-success">
                      FATTO <span class="glyphicon glyphicon-ok"></span>
                    </span>
                  <% else %>
                    <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-warning">+<%= predict_max_cta_outcome(calltoaction, anonymous_user).reward_name_to_counter["POINT"] %>
                      <span class="glyphicon glyphicon-star"></span>
                    </span>
                  <% end %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-caption">
     
  </div>
</div>