<% tag_menu = get_tags_with_tag("menu") %>
<% if tag_menu.any? %>
	<div class=" row menu-area">
		<div class="container-menu" style="background-color: rgba(0, 0, 0, 0.6); float: left; width: 100%; padding: 10px 0 0 0;">
			<div class="submenu">
				    <div class="col-xs-12 filter-menu-tag">
				      <div class="flexslider">
				        <ul class="slides filter-home-menu">
				        	<% 			        	
				        	all_filter = tag_menu.detect{ |tm| tm.name == "home_filter_all" }
				        	tag_menu.delete(all_filter)
				        	tag_menu.unshift(all_filter) 
				        	%>
				        	
				        	<% tag_menu.each do |tag| %>
				            <li>
				                <div class="slide slide-<%= tag.id %> <%= "active filter-all" if tag.name == "home_filter_all" && !single_cta %>" style="background-position:center center; background-repeat: no-repeat; background-image: url('<%= tag.tag_fields.select { |tf| tf.name == "thumbnail" }.map { |tf| tf.upload.url }.first %>');">
				                    <div class="comment-center">
				                        <a href="/tag/<%= tag.name %>">
									      <div class="row">
									        <div class="col-md-12">
									          <h2><%= tag.tag_fields.find_by_name("title").try(:value) %></h2>
									        </div>
									      </div>
									    </a>
				                    </div>
				                </div>
				                <div class="triangle" style="<%= tag.name == "home_filter_all" && !single_cta ? "" : "display: none;" %>"></div>
				            </li>
			            <% end %>
				         	<li>
				                <div class="slide slide-upload active" style="background-position:center center; background-repeat: no-repeat; background-image: url('<%= asset_path('joe-maska_thumb.jpg') %>');">
				                    <div class="comment-center">
				                        <a href="/upload_interaction/new">
									      <div class="row">
									        <div class="col-md-12">
									          <h2>JOE MASKA</h2>
									        </div>
									      </div>
									    </a>
				                    </div>
				                </div>
				                <div class="triangle"></div>
				            </li>
				         </ul>
				      </div>
				    </div>
		
			</div>
		</div>
		
		<div class="menu-info-extra hidden-xs">
			<div class="extra-info" style="display: block;">
				<img class="extra-info-img" src="<%= asset_path('joe-maska.jpg') %>" />
				<div id="banner-rai" class="hidden-xs" style="position: absolute; right: 25px; bottom: 15px; width: 300px; height: 250px;"></div>
			</div>
		</div>
		
	</div>
	
	
	<div class="row joe-maska-container">
			<div class="col-sm-7">
				<div class="<%= "iframe-apple-mobile " if request_is_from_apple_mobile_device?(request) %> flex-video widescreen text-center" style="background:#222;">
					<iframe src="http://www.rai.tv/dl/RaiTV/programmi/media/ContentItem-c454e8c5-f145-4d3d-b1eb-a78d1aba0340.html?iframe&autoplay=false" style="border:0px; padding: 0px; margin:0px; width: 100%; height: 100%;" allowfullscreen="true" webkitallowfullscreen="true" mozallowfullscreen="true" scrolling="no"></iframe>
				</div>
			</div>
			<div class="col-sm-5">
				<div class="row joe-maska-list">
					<div class="col-xs-2">
						<div class="boxed">1.</div>
					</div>
					<div class="col-xs-10">
						<p class="joe-maska">Guarda il video messaggio di Joe Maska</p>
					</div>
				</div>
				<div class="row joe-maska-list">
					<div class="col-xs-2">
						<div class="boxed">2.</div>
					</div>
					<div class="col-xs-10">
						<p class="joe-maska">Rispondi alle sue domande con un video</p>
					</div>
				</div>
				<div class="row joe-maska-list">
					<div class="col-xs-2">
						<div class="boxed">3.</div>
					</div>
					<div class="col-xs-10">
						<p class="joe-maska">Diventa superfan di Joe Maska</p>
					</div>
				</div>
			</div>
		</div>
<% end %>


<script type="text/javascript">
	$(document).ready(function() {
	    $('.filter-menu-tag .flexslider').flexslider({
	        animation: "slide",
	        controlNav: false,
	        directionNav: true,
	        slideshow: false,
	        itemWidth: getItemSize(),
	        itemMargin: 10,
	        minItems: 1,
	        maxItems: 6
	    });
	    
	    $(window).resize(function() {
	
	        $('.filter-menu-tag .flexslider').flexslider({
	            animation: "slide",
	            directionNav: true,
	            prevText: "",
	            nextText: "",
	            slideshow: false,
	            itemWidth: getItemSize(),
	            itemMargin: 20,
	            minItems: getGridSize(),
	            move: getGridSize()
	        });
	        $('.filter-menu-tag .flexslider .slides li').css('width', getItemSize()+'px');
		});
	});

	function getGridSize() {
	    if ($(window).innerWidth() < 760)
	        return 2;
	    else
	        return 6;
	}
	
	function getItemSize() {
		return ($(".flexslider").innerWidth() / getGridSize()) - 10;
	}
</script>