<%# render partial: "/application/user_bar" %>

<%= render partial: "/application/home_launchers" %>

<div class="container-fluid" ng-controller="BallandoStreamCalltoactionCtrl" ng-init="initBallando(<%= !current_user.blank? %>, <%= @calltoactions.to_json %>, '<%= @calltoactions_active_count %>', <%= @calltoactions_during_video_interactions_second.to_json %>, '<%= ga_code() %>')">   

  <!-- CUSTOM SITE HEADER --> 
  <%#= render partial: "/application/header" %>

  <%
=begin  
  div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" style="margin-top: 15px;">
      %= render partial: "/application/home_filters" %
    </div>
  </div>
=end
%>
  <div class="row">
    <div id="calltoaction-stream" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <%= render partial: "/call_to_action/stream_calltoactions", locals: { calltoactions: @calltoactions } %>
    </div>
  </div>

  <div class="row">      
    <div class="col-sm-6 col-sm-offset-3">
      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
        <button class="btn btn-append" href="javascript: void(0)" onclick="appendCallToAction();">CARICA ALTRI</button>
      </div>
    </div>
  </div>

</div>

<%#= render partial: "/application/footer" %>

<script type="text/javascript">

  $(document).ready(function() {
    checkDocumentHeight("fandom");
  });

</script>
