<% content_for :body_class, "iframe-profile" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xxs-12 no-pad" style="position: relative; padding: 20px;">
      <a href="<%= @profile_url %>" target="_top">
        <img src="<%= current_avatar %>" class="img-responsive img-circle iframe-profile-avatar">
      </a>

      <%
=begin if current_user %>
        <!--
        <a href="<%= @profile_url %>" target="_top">
          <div class="text-center visible-xs iframe-notice-baloon">
            <span><%= @notices_count %></span>
          </div>
        <a>
        -->
      <% end 
=end
      %>

    </div>

    <div class="col-xs-8 hidden-xxs">
      <h4 style="padding-top: 15px; color: #fff;">
        <%= current_user ? "#{current_user.first_name} #{current_user.last_name}" : "Anonimo" %>
      </h4>
      <% if current_user %>
        <h5 style="color: #fff;"> Hai fatto              
          <span id="iframe-profile-main-reward" class="label label-warning">+<%= get_counter_about_user_reward(MAIN_REWARD_NAME) %>
            <span class="glyphicon glyphicon-star"></span>
          </span>
          <a href="/users/sign_out" target="_top">LOGOUT</a>
        </h5>
      <% else %>
        <button class="btn-2 btn-2-small" onclick="window.top.location.href = '<%= @profile_url %>';">LOGIN / REGISTRATI</button>
      <% end %>
    </div>

  </div>
</div>