<% content_for :body_class, "iframe-profile" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 col-xxs-12 text-left" style="padding: 20px 10px;">
      <a href="<%= @profile_url %>" target="_top">
        <img src="<%= current_avatar %>" class="img-responsive img-circle iframe-profile-avatar">
      </a>

      <% if current_user %>
        <a href="<%= @profile_url %>" target="_top">
          <div class="text-center iframe-notice-baloon hidden-xxs">
            <span><%= @notices_count %></span>
          </div>
        </a>
      <% end %>

    </div>

    <div class="col-xs-8 hidden-xxs" style="padding-left: 0;">
      <h4 style="padding-top: 15px; color: #fff;">
        <b><% if current_user %>
        		<%= extract_name_or_username(current_user) %> <a href="/users/rai/sign_out" target="_top"><span class="glyphicon glyphicon-off" style="font-size: 13px; padding-left: 5px; color: #fff;"></span></a> 
        	<% else %>
        		Iscriviti alla community
        	<% end %>
        </b>
      </h4>
      <% if current_user %>
        <h5 style="color: #fff; text-transform: none;"> Hai fatto              
          <span id="iframe-profile-main-reward" class="label label-warning">+<%= get_counter_about_user_reward(MAIN_REWARD_NAME, true)["weekly"] || 0 %>
            <span class="glyphicon glyphicon-star"></span>
          </span>
          <span style="margin-left: 7px;">di 100 <span class="glyphicon glyphicon-star"></span></span>
        </h5>
      <% else %>
        <button class="btn-2 btn-2-small" onclick="window.top.location.href = '<%= @profile_url %>';">LOGIN / REGISTRATI</button>
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript">
  <% if @registration_ga %>
    ga('send', 'event', "Registration", "Registration", "registered_user", 1, true);
  <% end %>
</script>