<% content_for :body_class, "small-body" %>

<% content_for :extra_script do %>
  <script type='text/javascript'>
  // Conversion Name: Wellness Machine - Registrati
  // INSTRUCTIONS 
  // The Conversion Tags should be placed at the top of the <BODY> section of the HTML page. 
  // In case you want to ensure that the full page loads as a prerequisite for a conversion 
  // being recorded, place the tag at the bottom of the page. Note, however, that this may 
  // skew the data in the case of slow-loading pages and in general not recommended. 
  //
  // NOTE: It is possible to test if the tags are working correctly before campaign launch 
  // as follows:  Browse to http://bs.serving-sys.com/Serving/adServer.bs?cn=at, which is 
  // a page that lets you set your local machine to 'testing' mode.  In this mode, when 
  // visiting a page that includes an conversion tag, a new window will open, showing you 
  // the data sent by the conversion tag to the MediaMind servers. 
  // 
  // END of instructions (These instruction lines can be deleted from the actual HTML)
  var ebRand = Math.random()+'';
  ebRand = ebRand * 1000000;
  //<![CDATA[ 
  document.write('<scr'+'ipt src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=657646&amp;rnd=' + ebRand + '"></scr' + 'ipt>');
  //]]>
  </script>
  <noscript>
  <img width="1" height="1" style="border:0" src="HTTP://bs.serving-sys.com/Serving/ActivityServer.bs?cn=as&amp;ActivityID=657646&amp;ns=1"/>
  </noscript>

  <!-- Code for Action: Wellness Machine - Registrati  -->
  <!-- Begin Rocket Fuel Conversion Action Tracking Code Version 9 -->
  <script type='text/javascript'>
  (function() {
   var w = window, d = document;
   var s = d.createElement('script');
   s.setAttribute('async', 'true');
   s.setAttribute('type', 'text/javascript');
   s.setAttribute('src', '//c1.rfihub.net/js/tc.min.js');
   var f = d.getElementsByTagName('script')[0];
   f.parentNode.insertBefore(s, f);
   if (typeof w['_rfi'] !== 'function') {
    w['_rfi']=function() {
     w['_rfi'].commands = w['_rfi'].commands || [];
     w['_rfi'].commands.push(arguments);
    };
   }
   _rfi('setArgs', 'ver', '9');
   _rfi('setArgs', 'rb', '20851');
   _rfi('setArgs', 'ca', '20685501');
   _rfi('track');
  })();
  </script>
  <noscript>
    <iframe src='//20685501p.rfihub.com/ca.html?rb=20851&ca=20685501&ra=YOUR_CUSTOM_CACHE_BUSTER' style='display:none;padding:0;margin:0' width='0' height='0'>
  </iframe>
  </noscript>
  <!-- End Rocket Fuel Conversion Action Tracking Code Version 9 -->
<% end %>

<div class="small-container">
  <%= render partial: "/application/navbar" %>
</div>
<div class="small-container">
  <div class="container form-container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 col-xs-6 col-xs-offset-0">
        <h1 class="devise-title">Registrati</h1>
      </div>
      <div class="col-sm-5 col-xs-6 text-right">
        <p class="devise-next-title"><a href="/users/sign_in">Loggati</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <hr class="devise-title-hr">
      </div>
    </div>
    <div class="row">
      <% if resource.errors.any? %>
      <div class="col-sm-10 col-sm-offset-1 devise-errors">
        <p>Errori nella compilazione del modulo:</p>
        <ul>
          <% resource.errors.full_messages.each do |error_message| %>
            <li><%= error_message %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <a href="/auth/facebook_<%= request.site.id %>" class="btn btn-facebook-default btn-block btn-lg"><span style="position: absolute; left: 30px; font-size: 24px;" class="fa fa-facebook"></span>ENTRA CON FACEBOOK</a>
          </div>
          <div class="col-sm-4 col-sm-offset-4 text-center">  
            <p style="margin-bottom: 25px; margin-top: 25px;">oppure</p>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <%= form_for resource, url: user_registration_path, html: { method: "post" } do |f| %> 
              
              <div class="form-group">
                <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
              </div>
              <div class="checkbox text-left">
                <label><%= f.check_box :privacy %> Dichiaro di aver preso visione dell'<a href="/privacy_policy" target="_blank">informativa</a> e acconsento al trattamento dei dati personali</label>
              </div>

              <%= f.submit "Registrami", class: "btn btn-green btn-lg btn-block", style: "margin-top: 25px;", data: { disable_with: "Registrami" } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
