<div class="container container--default" ng-controller="RewardCatalogueCtrl" ng-init="init(<%= @reward_list.to_json %>)">
  <%= render partial: "reward/reward_catalogue_header" %>
  
  <div class="row brws-item" ng-if="reward_list['user_rewards'].length > 0">
    <div class="col-sm-12">
      <div class="row main-row">
        <div class="col-xs-12">
          <div class="section-heading" style="margin-top: 30px;">
            <div class="relateds__icon-container text-center">
              <span class="fa fa-bullseye"></span>
            </div>
            <p class="relateds__title">I miei premi <%= light_link_to("/reward/catalogue/my/all", "class" => "section-heading__see-all") do %>Vedi tutti<% end %></p>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="rewards-flexslider rewards-flexslider--user_rewards">
            <div class="flex-viewport-shadow hidden-xs"></div>
            <ul class="slides">
              <li class="relateds-flexslider__item" ng-repeat="reward in reward_list['user_rewards']">
                <a href="/call_to_action/{{reward.calltoaction.slug}}">
                  <div class="relateds-flexslider__item-panel"> 
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="relateds-flexslider__thumbnail">
                          <img class="img-responsive cta-preview__image" ng-src="{{reward.calltoaction.thumbnail_url}}">            
                        </div>
                        <p class="cta-preview__title">{{reward.calltoaction.title | cut:true:70}}</p>
                      </div>
                    </div>
                  </div>  
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row brws-item" ng-if="reward_list['user_available_rewards'].length > 0">
    <div class="col-sm-12">
      <div class="row main-row">
        <div class="col-xs-12">
          <div class="section-heading" style="margin-top: 30px;">
            <div class="relateds__icon-container text-center">
              <span class="fa fa-unlock-alt"></span>
            </div>
            <p class="relateds__title">Premi che puoi sbloccare <%= light_link_to("/reward/catalogue/available/all", "class" => "section-heading__see-all") do %>Vedi tutti<% end %></p>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="rewards-flexslider rewards-flexslider--user_available_rewards">
            <div class="flex-viewport-shadow hidden-xs"></div>
            <ul class="slides">
              <li class="relateds-flexslider__item" ng-repeat="reward in reward_list['user_available_rewards']">
                <a href="/call_to_action/{{reward.calltoaction.slug}}">
                  <div class="relateds-flexslider__item-panel"> 
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="relateds-flexslider__thumbnail">
                          <img class="img-responsive cta-preview__image" ng-src="{{reward.calltoaction.thumbnail_url}}">            
                          <!-- STATUS -->
                          <div class="col-sm-12  cta-cover__winnable-reward text-right">
                            <span class="label label-warning cta-preview__credits">+{{reward.reward_info.cost}}<i class="fa fa-copyright"></i></span>
                          </div>

                          <!-- LOCK -->
                          <div class="cta-preview__locked-layer">
                            <i class="fa fa-lock"></i>
                          </div>

                        </div>
                        <p class="cta-preview__title">{{reward.calltoaction.title | cut:true:70}}</p>
                      </div>
                    </div>
                  </div>  
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row brws-item">
    <div class="col-sm-12">
      <div class="row  main-row">
        <div class="col-xs-12">
              <div class="section-heading" style="margin-top: 30px;">
                <div class="relateds__icon-container text-center">
                  <span class="fa fa-th-large"></span>
                </div>
                <p class="relateds__title">Tutti i premi <%= light_link_to("/reward/catalogue/all", "class" => "section-heading__see-all") do %>Vedi tutti<% end %></p>
              </div>
         </div>
      </div>
      <div class="row main-row">
        <div class="col-xs-12">
          <div class="rewards-flexslider rewards-flexslider--newest_rewards">
            <div class="flex-viewport-shadow hidden-xs"></div>
            <ul class="slides">
              <li class="relateds-flexslider__item" ng-repeat="reward in reward_list['newest_rewards']">
                <a href="/call_to_action/{{reward.calltoaction.slug}}">
                  <div class="relateds-flexslider__item-panel"> 
                    <div class="row">
                      <div class="col-xs-12">
                        <div class="relateds-flexslider__thumbnail">
                          <img class="img-responsive cta-preview__image" ng-src="{{reward.calltoaction.thumbnail_url}}">            
                          <!-- STATUS -->
                          <div class="col-sm-12  cta-cover__winnable-reward text-right" ng-if="reward.reward_info.status != 'gained'">
                            <span class="label label-warning cta-preview__credits">+{{reward.reward_info.cost}}<i class="fa fa-copyright"></i></span>
                          </div>

                          <!-- LOCK -->
                          <div class="cta-preview__locked-layer" ng-if="reward.reward_info.status != 'gained'">
                            {{reward.calltoaction.reward_info.status}}
                            <i class="fa fa-lock"></i>
                          </div>

                        </div>
                        <p class="cta-preview__title">{{reward.calltoaction.title | cut:true:70}}</p>
                      </div>
                    </div>
                  </div>  
                </a>
              </li>
            </ul>
          </div>
        </div>  
      </div>
    </div>
  </div>
  
</div>


<script type="text/javascript">
  $(document).ready(function() {
    
      is_last_rewards_flexslider_nr_slide = false;
      $('.rewards-flexslider--newest_rewards').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_nr_slide = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_nr_slide) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_nr_slide = true;
        }
      });

      is_last_rewards_flexslider_uar_slide = false;
      $('.rewards-flexslider--user_available_rewards').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
         start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_uar_slide = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_uar_slide) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_uar_slide = true;
        }
      });

      is_last_rewards_flexslider_ur_slide = false;
      $('.rewards-flexslider--user_rewards').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 258,
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_ur_slide = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_ur_slide) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_ur_slide = true;
        }
      });

  });
</script>