<%= render partial: "/application/user_bar" %>

<div class="container">   
  <div class="row">      
    <div class="col-md-12 col-md-offset-0">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>I TUOI PREMI</h1>
          <div class="row">
          	<div class="col-md-12">
          		<% if @user_rewards.count > 0 %>
          		<ul>
          			<% @user_rewards.each do |r| %>
          			<li><a href="/reward/show/<%= r.id %>"><%= r.title %></a></li>
          			<% end %>
          		</ul>
          		<% else %>
          		<p>Non hai nessun premio</p>
          		<% end %>
          	</div>
          </div>
          
          <h1>I PREMI CHE PUOI OTTENRE</h1>
          <div class="row">
          	<div class="col-md-12">
          		<% if @user_available_rewards.count > 0 %>
          		<ul>
          			<% @user_available_rewards.each do |r| %>
          			<li><a href="/reward/show/<%= r.id %>"><%= r.title %></a></li>
          			<% end %>
          		</ul>
          		<% else %>
          		<p>Non hai nessun premio</p>
          		<% end %>
          	</div>
          </div>
          
          <h1>ALTRI PREMI</h1>
          <div class="row">
          	<div class="col-md-12">
          		<% if @user_available_rewards.count > 0 %>
          		<ul>
          			<% @user_available_rewards.each do |r| %>
          			<li><a href="/reward/show/<%= r.id %>"><%= r.title %></a></li>
          			<% end %>
          		</ul>
          		<% else %>
          		<p>Non hai nessun premio</p>
          		<% end %>
          	</div>
          </div>
          
        </div>
      </div>      
    </div>
  </div>
</div>
