<%= render partial: "/application/user_bar" %>

<div class="container">   
	
	<% if flash[:notice] %>
    	<div class="row">
	      <div class="col-md-12">         
	          <div class="row">
	            <div class="col-lg-12">
	              <div class="alert alert-success"><%= flash[:notice] %></div>
	            </div>
	          </div>
	        
	      </div>
	    </div>
    <% end %>
	    
  <div class="row">      
    <div class="col-md-12 col-md-offset-0">
      
      <div class="page-header reward">
        <div class="row">
          <div class="col-sm-8">
            <h2><%= @reward.title %></h2>
          </div>
          <div class="col-sm-4 text-right back">
            <a  href="/reward/catalogue"><small>vedi tutti i premi</small></a>
          </div>
        </div>
      </div>
      <div class="row">
      	<div class="col-sm-12">
      		<img class="img-responsive" src="<%= @reward.main_image.url %>" />
      	</div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <h4><small class="text-muted">Attivo dal <%= @reward.valid_from.strftime("%d/%m/%Y %H:%m") %></small></h4>
        </div>
      	<div class="col-sm-6 text-right">
          <h4><span class="label label-danger"><%= @reward.cost %> <span class="glyphicon glyphicon-certificate"></span></span></h4>
        </div>
        <div class="col-sm-12">
          <h4>Descrizione</h4>
          <p class="lead"><%= @reward.long_description %></p>
        </div>

          <!--<dl class="dl-horizontal">
            
            <dt>Costo premio</dt><dd><p><%= @reward.cost %></p></dd>
            <dt>Currency premio</dt><dd><p><%= @reward.currency.title if @reward.currency %></p></dd>
            <dt>Descrizione lunga</dt><dd><p><%= @reward.long_description %></p></dd>
            <% unless @reward.valid_from.nil? %>
            	<dt>Attivo dal</dt><dd><p><%= @reward.valid_from.strftime("%d/%m/%Y %H:%m") %></p></dd>
            <% end %>
            
            <% unless @reward.valid_to.nil? %>
            	<dt>Scadenza premio</dt><dd><p><%= @reward.valid_to.strftime("%d/%m/%Y %H:%m") %></p></dd>
            <% end %>
          </dl>-->
        
      	</div>
      </div>
      <div class="row text-center">
      	<div class="col-md-12">
          <hr>
      		<% if @user_can_buy_reward && !@user_got_reward %>
      			<a href="/reward/buy/<%= @reward.id %>" class="btn btn-md btn-primary"><%= @reward.button_label %></a>
      		<% else %>
      			<button class="btn btn-md btn-primary" disabled="disabled"><%= @reward.button_label %></button>
      		<% end %>

          <% if @user_got_reward %>
            <h5>Hai già acquistato questo premio</h5>
          <% end %>
          <% if !@user_can_buy_reward && @reward.currency %>
            <h5>Ti mancano ancora <%= @currency_to_buy_reward %> <%= @reward.currency.title %> per acquistare questo premio.</h5>
          <% end %>

      	</div>
      </div>
      
    </div>
     
  </div>
</div>
