<div id="upload-form" class="row gallery-cta__form <%= "hidden" if !error %>">
    <div class="col-xs-12 text-center" ng-init="upload = getGalleryUploadInteraction(aux.gallery.calltoaction.interaction_info_list)">
	<%= form_tag "/upload_interaction/create/#{interaction_id}", multipart: true, id: "form-upload" do %>
	<input type="hidden" name="cta_id" id="cta_id" ng-value="aux.gallery.calltoaction.id" />
	<div class="row">
	  	<div class="col-sm-12 gallery-cta__steps">
	  			<div class="row form-group gallery-cta__first-step">
	  				<div class="col-xs-12">
		  				<div class="row gallery-cta__form-element">
		  					<div class="col-sm-2 hidden-xs">
			  					<img class="img-responsive gallery-cta__avatar" src="<%= current_avatar %>" />
			  				</div>
			  				<div class="col-sm-10">
								<input name="title" class="form-control gallery-cta__title" id="title" type="text" placeholder="Dai un titolo" ng-if="upload.interaction.resource.upload_info.title_needed" />
							</div>	
							<div class="col-sm-12" style="margin-top: 10px;">
								<textarea name="description" class="form-control gallery-cta__title" id="description" placeholder="Inserisci una descrizione"></textarea>
							</div>		
		  				</div>
		  				<div class="row">
				  			<div class="col-sm-6 col-sm-offset-3 gallery-cta__upload-photo">
			  					<input id="upload" name="upload" class="form-control hidden" type="file" onchange="photoSelected()">
			  					<a class="btn btn-primary btn-block" onclick="loadPhoto();"><i class="fa fa-upload"></i> <%= get_extra_fields!(gallery_tag)['label_button'].nil? ? "Carica il tuo media" : get_extra_fields!(gallery_tag)['label_button'] %></a>
			  				</div>
				  		</div>
	  				</div>
	  			</div>
			  	<div class="row form-group gallery-cta__step" ng-if="upload.interaction.resource.upload_info.releasing.required">
			  		<div class="col-xs-12">
			  			<p class="text-left" style="color: #999;" ng-bind-html="upload.interaction.resource.upload_info.releasing.description"></p>
			  			<p>
			  				<ul class="gallery-cta__releasing-files">
			  					<% if get_extra_fields!(gallery_tag)['release_under18_url'] %> 
			  						<li>
			  							<a target="_blank" href="<%= get_extra_fields!(gallery_tag)['release_under18_url']['url'] %>">
			  								<i class="fa fa-arrow-circle-down"></i> Scarica la liberatoria per miniori di 18 anni
			  							</a>
			  						</li>
			  					<% end %>
			  					<% if get_extra_fields!(gallery_tag)['release_url'] %>
			  						<li>
			  							<a href="<%= get_extra_fields!(gallery_tag)['release_url']['url'] %>" target="_blank">
			  								<i class="fa fa-arrow-circle-down"></i> Scarica la liberatoria
			  							</a>
			  						</li>
			  					<% end %>
			  				</ul>
			  			</p>
			  		</div>
			  		<div class="col-xs-12 col-sm-6 col-sm-offset-3 gallery-cta__upload-release">
			  				<input id="releasing" name="releasing" class="hidden" type="file" onchange="releaseSelected();">
			  				<a class="btn btn-primary btn-block" onclick="loadRelease();"><i class="fa fa-pencil"></i> Carica la liberatoria firmata</a>
			  		</div>
		  		</div>
		  		
		  		<% if !extra_fields.blank? %>
			  		<div class="row form-group gallery-cta__first-step">
		  				<div class="col-xs-12">
					  		<% extra_fields.each do |field| %>
					  			<%= extra_field_to_html(field).html_safe %>
					  		<% end %>
						</div>
					</div>
				<% end %>
		  		
		  		<div class="row form-group gallery-cta__last-step">
		  			<div class="col-sm-8 text-left" ng-if="upload.interaction.resource.upload_info.privacy.required">
		  				<input id="privacy" class="" name="privacy" type="checkbox" value="1">
			  			<label>Accettazione privacy</label>
			  			<p class="small" ng-bind-html="upload.interaction.resource.upload_info.privacy.description"></p>
		  			</div>
		  			<div class="col-sm-12 text-center">
		  				<button type="button" class="btn btn-primary" ng-if="current_user != undefined" onclick="openLoadiongModal(); return true;">CARICA</button>
						<a class="btn btn-primary" data-toggle="modal" data-target="#registrate-modal" ng-if="current_user == undefined">CARICA</a>
		  			</div>
			  	</div>
	  	</div>
	</div>
	<% end %>
	</div>
</div>