<% if get_extra_fields!(@gallery_tag)['background_image'] %>
	<style type="text/css">
	  body {
	    background-image: url("<%= get_upload_extra_field_processor(get_extra_fields!(@gallery_tag)['background_image'], :original) %>");
	    background-position: top center;
	    background-repeat: no-repeat;
	  }
	</style>
<% end %>

<div class="container main-container">

	<div class="row">
		<%= render partial: "/gallery/launchers", locals: { galleries: @galleries_cta }  %>		
	</div>
	
	<div class="row main-row main-row__covers">
		<div class="col-xs-12">
	      <div class="row">
			  <div class="col-md-12"> 
			    <% if flash[:error] %>
			      <div class="row">
			        <div class="col-lg-12">
			          <div class="alert alert-danger">
			            <p>Errori processo di upload:</p>
			            <p>
			              <ul>
			                <% flash[:error].split(",").each do |msg| %>
			                  <li><%= msg %></li>
			                <% end %>
			              </ul>
			            </p>
			          </div>
			        </div>
			      </div>
			    <% elsif flash[:notice] %>
			      <div class="row">
			        <div class="col-lg-12">
			          <div class="alert alert-success"><%= flash[:notice] %></div>
			        </div>
			      </div>
			    <% end %>
			  </div>
		  </div>
    	</div>
  	</div>
  
	<div class="row main-row">
	  	<div class="col-xs-12 gallery-cta">
	  		<div class="row" style="background-image: url(<%= get_upload_extra_field_processor(get_extra_fields!(@gallery_tag)['backgroun_image_upload'], :original) if get_extra_fields!(@gallery_tag)['backgroun_image_upload'] %>); background-repeat: no-repeat; background-size: 100% auto;">
	  			<div class="col-sm-4">
	  				<img class="img-responsive" src="<%= get_upload_extra_field_processor(get_extra_fields!(@gallery_tag)['thumbnail'], :medium) if get_extra_fields!(@gallery_tag)['thumbnail'] && upload_extra_field_present?(get_extra_fields!(@gallery_tag)['thumbnail']) %>" />
	  			</div>
	  			<div class="col-sm-7">
	  				<%= @gallery_tag.description.html_safe %>
	  				<p>&nbsp;</p>
	  				<div class="row">
	  					<div class="col-xs-12 text-left">
	  						<button class="btn btn-primary" href="javascript:void(0)" onclick="partecipa();"><span>Partecipa</span></button>
	  						<% if get_extra_fields!(@gallery_tag)['rule-link'] %>
	  							<a href="<%= get_extra_fields!(@gallery_tag)['rule-link'] %>" class="btn btn-primary">leggi il regolamento</a>
	  						<% end %>
	  					</div>
	  				</div>
	  				<%= render partial: "/gallery/gallery_calltoaction", locals: { gallery_tag: @gallery_tag, interaction_id: @upload_interaction_id } %>
	  			</div>
	  		</div>
	  	</div>
	</div>
  
  	<div class="row main-row main-row__covers">
		<div class="col-xs-12">
			<div class="row">
		        <div class="col-xs-6">
		          <h2 class="cta-cover__column-title">Tutti</h2>
		        </div>
		        <div class="col-xs-6 text-right">
		          <div class="dropdown">
		            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		              <span class="glyphicon glyphicon-chevron-down" style="position: relative; top: 3px;"></span>
		              Ordina
		            </button>
		            <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dropdownMenu1">
		              <li class="active" role="presentation"><a role="menuitem" href="javascript: void(0)" ng-click="calltoaction_ordering = 'recent'">Più recenti</a></li>
		              <li role="presentation"><a role="menuitem" href="javascript: void(0)" ng-click="calltoaction_ordering = 'comment'">Più commentati</a></li>
		            </ul>
		          </div>
		        </div>
		    </div>
		    
		    <div class="row">
		        <div class="col-sm-6" ng-repeat="calltoaction_info in calltoactions | orderBy:orderCallToActionStream:true">
		          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
		        </div>
		    </div>
		    <div class="row">
		        <div class="col-sm-12">
		          <div id="append-other" class="text-center" style="margin-bottom: 20px;">
		            <button class="btn btn-primary btn-lg" href="javascript: void(0)" ng-click="appendCallToAction();"><span>Carica altri</span></button>
		          </div>
		        </div>
		    </div>
		</div>
  	</div>
  
</div>
<script type="text/javascript">
	function partecipa(){
		$("#upload-form").removeClass("hidden");
	}
	
	function loadPhoto(){
		$("#upload").click();
	}
	
	function loadRelease(){
		$("#releasing").click();
	}
	
	function photoSelected(){
		$(".gallery-cta__upload-photo").append('<i class="fa fa-check-circle"></i>');
	}
	
	function releaseSelected(){
		$(".gallery-cta__upload-release").append('<i class="fa fa-check-circle"></i>');
	}
</script>