<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>FANDOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="FANDOM" /> 
  <meta property="og:description" content="" />  
  <meta property="og:image" content="" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <!--<link href='http://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>-->

  <%= stylesheet_link_tag "maxibon_application", :media => "all" %>
  <%= javascript_include_tag "maxibon_application" %>

  <%= csrf_meta_tags %>
  
  <style>
  	.nascosto { display: none; }
  </style>

</head>
<body>

  <!-- INSTANT WIN MODAL -->
  <% if current_user %>
  <div class="modal fade" id="instant-win-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body text-center">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h2>TODO TODO TODO</h2>
          <h4>Hai <button class="btn yellow-point user_tickets"><% c = Contest.first %><%= c && ContestPoint.where("user_id = ? AND contest_id = ?",current_user.id, c.id).count > 0 ? ContestPoint.where("user_id = ? AND contest_id = ?",current_user.id, c.id).first.points/c.conversion_rate : 0 %> </button> biglietti</h4>
		  <div class="gioca">
		  	<button class="btn btn-primary" onclick="playTicket()">GIOCA</button>
		  </div>
		  <div class="vinto nascosto"><h4>HAI VINTO</h4></div>
		  <div class="perso nascosto"><h4>HAI PERSO</h4></div>
		  <div class="finiti nascosto"><h4>HAI FINITO I BIGLIETTI</h4></div>
      	  <div class="row" id="premi">
      	  	<% InstantWinPrize.all.each do |prize| %>
      	  		<div class="col-md-4"><h4><%= prize.title %></h4></div>
      	  	<% end %>
      	  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <!-- REGISTRATION MODAL -->
  <div class="modal fade" id="registrate-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="text-center" id="myModalLabel">REGISTRATI PER PARTECIPARE</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <p><small>Entra con:</small></p>
              <a target="_top" href="/sign_in_fb_from_page" class="btn btn-fb btn-md btn-block">ENTRA CON FACEBOOK</a>
              <!--<a target="_top" href="/sign_in_tt_from_page" class="btn btn-tw btn-md btn-block">ENTRA CON TWITTER</a>-->
              <p style="margin-top: 10px; font-size: 10px;"><a href="/sign_in_simple_from_page" style="color: #000; text-decoration: underline;">Se non hai un account facebook <!-- o twitter --> - Clicca qui</a></p>
            </div>
            <div class="col-sm-12 no-pad"><hr></div>
            <div class="col-sm-8 col-sm-offset-2 text-center" style="padding-bottom: 10px;">
              <p style="font-weight: bold;"><small>Sei già registrato?</small></p>
              <a href="/sign_in_simple_from_page" class="btn btn-primary btn-md btn-block">LOGIN</a>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Chiudi</button>
        </div>
      </div>
    </div>
  </div>


  <%= yield %>
<script>
	function playTicket(){
		$(".nascosto").hide();
		$.ajax({
	        type: "POST",
	        data: {contest_id: <%= Contest.first.id if Contest.any? %> },
	        url: '/playticket.json',
	        beforeSend: function(jqXHR, settings) {
	            jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	        },
	        success: function(data) {
	          if(data.ticketended){
	          	$(".finiti").show();
	          	$(".gioca").hide();
	          }else if(data.winner){
	          	$(".vinto").show();
	          }else{
	          	$(".perso").show();
	          }
	          
	          tickets = parseInt( $(".user_tickets").html() )- 1;
	          $(".user_tickets").html(tickets) ;
	        }
	    });
	}
</script>
</body>
</html>
