<% content_for :body_class, "small-body" %>

<div class="small-container">
  <%= render partial: "/application/navbar" %>
</div>
<div class="small-container">
  <div class="container form-container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 col-xs-6 col-xs-offset-0">
        <h1 class="devise-title">Loggati</h1>
      </div>
      <div class="col-sm-5 col-xs-6 text-right">
        <p class="devise-next-title"><a href="/users/sign_up">Registrati</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <hr class="devise-title-hr">
      </div>
    </div>
    <div class="row">
      <% if flash[:alert].present? %>
      <div class="col-sm-10 col-sm-offset-1 devise-errors">
        <p><%= flash[:alert] %></p>
      </div>
      <% end %>
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-4">
            <a href="/auth/facebook_<%= request.site.id %>" class="btn btn-facebook-default btn-block btn-lg"><span style="position: absolute; left: 30px; font-size: 24px;" class="fa fa-facebook"></span>ENTRA CON FACEBOOK</a>
          </div>
          <div class="col-sm-4 col-sm-offset-4 text-center">  
            <p style="margin-bottom: 25px; margin-top: 25px;">oppure</p>
          </div>
          <div class="col-sm-4 col-sm-offset-4">
            <%= form_for resource, :url => user_sign_in_path do |f| %> 
              
              <div class="form-group">
                <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
              </div>
              <div class="form-group">
                <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
              </div>
              <div class="checkbox text-left">
                <label> <input type="checkbox" name="user[remember_me]" value="1" /> Ricordati di me</label>
              </div>
              <p><%= link_to new_password_path(:user) do %>Ho dimenticato la password<% end %></p>
              <button style="margin-top: 25px;" type="submit" class="btn btn-green btn-lg btn-block">Entra</button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
