<div class="calendar-event__popover calendar-event__popover--left"></div>
<div class="calendar-event__popover calendar-event__popover--right"></div>

	<% if $context_root == 'imprese' %>
	<div class="stripe-container stripe-blue" ng-style="{'background-color': aux.expo_events.extra_fields.background_color}">
  	  <div class="container main-container">
		<div class="row main-row row-discover">
			<div class="col-xs-12">
				<h1 class="text-center calendar-event__stripe-title">PROSSIMI EVENTI</h1>
				<div class="browse-sections" ng-repeat="contents in [aux.expo_events.contents]">
					<%= render partial: "/application/content_carousel" %>
				</div>
			</div>
		</div>
	  </div>
	</div>
	
	<div class="stripe-container stripe-darkblue" ng-style="{'background-color': aux.gallery_events.extra_fields.background_color}">
  	  <div class="container main-container">
		<div class="row main-row">
			<div class="col-xs-12">
				<h1 class="text-center calendar-event__stripe-title">GALLERY EVENTI</h1>
				<div class="browse-sections" ng-repeat="contents in [aux.gallery_events.contents]">
					<%= render partial: "/application/content_carousel" %>
				</div>
			</div>
		</div>
	  </div>
	</div>
	
	<div class="stripe-container stripe-blue" ng-style="{'background-color': aux.expo_events.extra_fields.background_color}">
  	  <div class="container main-container">
  	  	<a ng-href="{{aux.assets['expo_url']}}/calendar">
			<img class="img-responsive hidden-xs" src="http://intesa-expo.live.fandomlab.com.s3.amazonaws.com/assets/imprese-eventi/scopri-eventi.png" />
			<img class="img-responsive visible-xs" src="http://intesa-expo.live.fandomlab.com.s3.amazonaws.com/assets/imprese-eventi/scopri-eventi_mobile.png" />
		</a>
	  </div>
	</div>
	<% else %>
	<div class="container-fluid__blue">
	  <div class="container main-container">
		<div class="row calendar-event__header">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<p class="text-center calendar-event__agenda hidden-xs">{{aux.assets['agenda_title_' + aux.language]}}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2 col-xs-offset-1 text-right">
						<%= light_link_to("/calendar/#{(@today-1).strftime('%d-%m-%Y')}?dir=prev", class: "calendar-event__agenda-arrow") do %><i class="fa fa-chevron-left"></i><% end %>
					</div>
					<div class="col-xs-6">
						<h2 class="text-center calendar-event__month">{{formatFullDate('<%= @today.strftime("%Y-%m-%d") %>', aux.language)}}</h2>
					</div>
					<div class="col-xs-2 text-left">
						<%= light_link_to("/calendar/#{(@today+1).strftime('%d-%m-%Y')}?dir=next", class: "calendar-event__agenda-arrow") do %><i class="fa fa-chevron-right"></i><% end %>
					</div>
				</div>
			</div>
        	<div class="col-xs-12" ng-if="aux.today_events">
        		<% if @aux_other_params[:today_events] %>
	  				<div class="browse-sections" ng-repeat="contents in [aux.today_events]">
	  					<% if @aux_other_params[:today_events].count > 3 %>
	  						<%= render partial: "/application/content_carousel" %>
	  					<% elsif @aux_other_params[:today_events].count == 3 %>
	  					<div class="row">
		  					<div class="col-sm-4" ng-repeat="content in aux.today_events">
		  						<%= render partial: "/application/content_preview" %>
		  					</div>
		  				</div>
	  					<% elsif @aux_other_params[:today_events].count == 2 %>
	  					<div class="row">
	  						<div class="col-sm-2"></div>
		  					<div class="col-sm-4" ng-repeat="content in aux.today_events">
		  						<%= render partial: "/application/content_preview" %>
		  					</div>
		  				</div>
	  					<% elsif @aux_other_params[:today_events].count == 1 %>
	  					<div class="row">
	  						<div class="col-sm-4"></div>
		  					<div class="col-sm-4" ng-repeat="content in aux.today_events">
		  						<%= render partial: "/application/content_preview" %>
		  					</div>
		  				</div>
	  					<% end %>
	  				</div>
	  			<% end %>
        	</div>
	        <div class="col-xs-12 text-center" ng-if="!aux.today_events && formatDate(newDate(), 'it') == formatDate('<%= @today.strftime("%d-%m-%Y") %>', 'it')">
	          <p class="calendar-event__empty-title">{{aux.assets['no_event_' + aux.language]}}</p>
	        </div>
	        <div class="col-xs-12 text-center" ng-if="!aux.today_events && formatDate(newDate(), 'it') != formatDate('<%= @today.strftime("%d-%m-%Y") %>', 'it')">
	          <p class="calendar-event__empty-title">{{aux.assets['no_event_1_' + aux.language]}}</p>
	        </div>
	  	</div>
	  </div>
	</div>
	
	<div class="container-fluid__white">
		<div class="container main-container" >	
			<div class="row">
			     <div class="col-md-12" style="padding-top: 25px;">
			     	<p class="text-center hidden-xs" style="margin-bottom: -20px;">Calendario Mensile</p>
					<div id="full-calendar" class="hidden-xs"></div> <!-- /#full-calendar -->   
		        	<div id="widget-calendar" class="visible-xs"></div>          
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<p class="small calendar-event__message">{{aux.assets['calendar_message_' + aux.language]}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a class="btn btn-primary btn-backtotop hidden-xs" href="javascript:$('html, body').animate({scrollTop: $('#full-calendar').offset().top-50}, 500);" style="margin: 10px 0;"><i class="fa fa-chevron-up"></i></a>
				</div>
			</div>
		</div>
	</div>

	<% end %>

<script type="text/javascript">

  var current_event_id = -1;

  $(document).ready(function() {
    buildCalendar();
    buildMobileCalendar();
  	$('[data-toggle="tooltip"]').tooltip();
  	$('div.calendar-event__popover').mouseleave(function(){
  		$('div.calendar-event__popover').hide();
  	});
  	$('div.calendar-event__popover--right').mouseleave(function(){
  		$('div.calendar-event__popover').hide();
  	});
  	
  	<% if @day_selected && @day_selected != Time.now.strftime("%Y-%m-%d")%>
  		console.log('<%= @day_selected %>');
  		console.log($("td[data-date='<%= @day_selected %>']"));
  		$("td[data-date='<%= @day_selected %>']").addClass("calendar-event__day-selected");
  	<% end %>
  	
  });

  function buildMobileCalendar() {
    $('#widget-calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      dayClick: function(date, jsEvent, view ) {
        window.location.href = "/<%= get_intesa_property %>/calendar/" + date.format("DD-MM-YYYY")
      },
      height: "auto",
      lang: "<%= $context_root || 'it' %>",
      editable: false,
      disableResizing: true
    });
  }
  
  function show_event_info(elem, id){
  	if(!$("div.calendar-event__popover[data-event-id="+id+"]").is(":visible")) {
		$('div.calendar-event__popover').hide();
  		current_event_id = id;
	  	selected_event = $('#full-calendar').fullCalendar('clientEvents', id)[0];
	  	eventinfo = '<p class="calendar-event__popover__title"><b>'+ selected_event.title +'</b></p>';
	  	eventinfo += '<img src="'+ selected_event.thumb_url +'" class="img-responsive calendar-event__popover__image" />';
	  	eventinfo += '<p class="calendar-event__popover__description">'+ selected_event.extra_fields.subtitle +'</p>';
	  	eventinfo += '<div class="text-center"><a class="btn btn-primary" href="'+ selected_event.detail_url +'">SCHEDA EVENTO</a></div>';
	  	eventinfo = '<p class="calendar-event__popover__title"><b>' + selected_event.title + '</b></p>';
	  	eventinfo += '<img src="' + selected_event.thumb_url + '" class="img-responsive calendar-event__popover__image" />';
	  	//eventinfo += '<p class="calendar-event__popover__description">' + selected_event.extra_fields.subtitle + '</p>';
	  	eventinfo += '<p class="calendar-event__popover__extra-info">';
	  	eventinfo += '<i class="fa fa-calendar-o"></i> ' + selected_event.start.format("D MMMM YYYY");
	  	eventinfo += '<br /><i class="fa fa-clock-o"></i> ' + selected_event.start.format("H:mm");
	  	eventinfo += '<br /><i class="fa fa-user"></i> ' + selected_event.extra_fields.guests;
	  	eventinfo += '</p>';
	  	eventinfo += '<hr />';
	  	eventinfo += '<a class="btn btn-event" href="' + selected_event.detail_url + '">SCHEDA EVENTO</a></div>';
	  	eventinfo += '<button class="btn btn-event" onclick="updateInteractionDownloadIcal('+ selected_event.ical_id + ', \'' + selected_event.slug + '_' + selected_event.start.format("YYYYMMDDHHmm") + '\')">AGGIUNGI AL CALENDARIO</button>';
	  	position = $(elem).offset();
	  	if(position.left-250 < 0){
		  	$("div.calendar-event__popover--right").attr("data-event-id", id);
		  	$("div.calendar-event__popover--right").html(eventinfo);
	  		$("div.calendar-event__popover--right").css({'left': position.left + 130 + 'px', 'top': position.top - 100 + 'px'});
	  		$("div.calendar-event__popover--right").show();
	  	}else{
		  	$("div.calendar-event__popover--left").attr("data-event-id", id);
		  	$("div.calendar-event__popover--left").html(eventinfo);
	  		$("div.calendar-event__popover--left").css({'left': position.left - 280 + 'px', 'top': position.top - 100 + 'px'});
	  		$("div.calendar-event__popover--left").show();
	  	}
	}
  }

  function buildCalendar() {

    $('#full-calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      defaultDate: "<%= @today.strftime("%Y-%m-%d") %>",
      lang: "<%= get_intesa_property == 'imprese' ? 'it' : get_intesa_property %>",
      dayClick: function(date, jsEvent, view ) {
        window.location.href = "/<%= get_intesa_property %>/calendar/" + date.format("YYYY-MM-DD");
      },
      editable: false,
      disableResizing: true,
      height: "auto",
      events: function(start, end, timezone, callback) {
      	month = $('#full-calendar').fullCalendar('getDate').month();
      	year = $('#full-calendar').fullCalendar('getDate').year();
      	$.ajax({
            url: "/<%= get_intesa_property %>/calendar/fetch/events.json",
            data: {
                month: month+1,
                year: year
            },
            success: function(data) {
                var events = data;
                callback(events);
            }
         });
      },
      eventAfterAllRender: function(e){
      	$.each($(".fc-content-skeleton table tbody td"), function(index, value){ 
      		if($(value).height() == 0){
      			$(value).height(100);
      		}
      	});
      },
	  eventRender: function(event, element, view) {
	  	today = moment().dayOfYear();

 		html = $('<div class="calendar-event"></div>');
 		html.append('<p class="calendar-event__hour calendar-event__hour">'+ event.start.format("HH:mm") +'</p>');
	    html.append('<a href="javascript:void(0);" class="calendar-event__title" onmouseover="show_event_info(this, '+event.id+')">'+ event.title +'</span>');
	  	if(event.extra_fields.highlight && event.extra_fields.highlight.value){
	    	html.append('<div style="margin-left: -10px; margin-right: -10px;"><img class="hidden-xs img-responsive" src="'+ event.thumb_url +'" /></div>');
	  	}
	    return html;
	  }
    });
    
  }
</script>

