<div class="calendar-event__popover calendar-event__popover--left"></div>
<div class="calendar-event__popover calendar-event__popover--right"></div>
<div class="container-fluid__blue">
  <div class="container main-container">
	
	<% if $context_root == 'imprese' %>
		<div class="row row-discover">
			<div class="col-xs-12">
				<h1>EVENTI</h1>
				<h2>Scopri gli eventi imprese nello spazio<br />intesa san paolo a Expo Milano 2015</h2>
				<div class="browse-sections" ng-repeat="contents in [aux.expo_events]">
					<%= render partial: "/application/content_carousel" %>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12">
				<h2>Gallery Eventi</h2>
				<div class="browse-sections" ng-repeat="contents in [aux.gallery_events]">
					<%= render partial: "/application/content_carousel" %>
				</div>
			</div>
		</div>
	<% else %>
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
						<p class="text-center calendar-event__agenda">AGENDA GIORNALIERA</p>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-2 text-right">
						<%= light_link_to("/calendar/#{(@today-1).strftime('%d-%m-%Y')}?dir=prev", class: "calendar-event__agenda-arrow") do %><i class="fa fa-chevron-left"></i><% end %>
					</div>
					<div class="col-xs-8">
						<h2 class="text-center calendar-event__month"><%= @today.strftime("%A %d %B %Y")%></h2>
					</div>
					<div class="col-xs-2 text-left">
						<%= light_link_to("/calendar/#{(@today+1).strftime('%d-%m-%Y')}?dir=next", class: "calendar-event__agenda-arrow") do %><i class="fa fa-chevron-right"></i><% end %>
					</div>
				</div>
			</div>
			<div class="col-xs-12">
				<div class="browse-sections" ng-repeat="contents in [aux.today_events]">
					<%= render partial: "/application/content_carousel" %>
				</div>
			</div>
		</div>
	<% end %>
	</div>
</div>
<div class="container-fluid__white">
	<div class="container main-container" >	
		<div class="row">
	      	<div class="col-md-12">
				<div id="full-calendar"></div> <!-- /#full-calendar -->             
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 text-center">
				<a class="btn btn-primary" href="#">Torna su</a>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">

  var current_event_id = -1;
  var monthNames = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

  $(document).ready(function() {
    buildCalendar();
	$('[data-toggle="tooltip"]').tooltip();
	$('div.calendar-event__popover').mouseleave(function(){
		$('div.calendar-event__popover').hide();
	});
	$('div.calendar-event__popover--right').mouseleave(function(){
		$('div.calendar-event__popover').hide();
	});
  });
  
  function getEventTimeFromEvent(event){
  	event_date = moment();
  	$.each(event.interactions, function(index, value){
  		if(value.interaction_info.resource_type == 'Download' && value.interaction_resource.ical_fields){
  			event_date = moment($.parseJSON(value.interaction_resource.ical_fields).start_datetime.value);
  		}
  	});
  	event_date_info = { "day": event_date.date() + " " + monthNames[event_date.month()] + " " + event_date.year(), "time": event_date.format("h:mm") };
  	return event_date_info;
  }
  
  function show_event_info(elem, id){
  	
  	if(!$("div.calendar-event__popover[data-event-id="+id+"]").is(":visible")) {
		$('div.calendar-event__popover').hide();
  		current_event_id = id;
	  	selected_event = $('#full-calendar').fullCalendar('clientEvents', id)[0];
	  	eventinfo = '<p class="calendar-event__popover__title"><b>'+ selected_event.title +'</b></p>';
	  	eventinfo += '<img src="'+ selected_event.thumb_url +'" class="img-responsive calendar-event__popover__image" />';
	  	eventinfo += '<p class="calendar-event__popover__description">'+ selected_event.extra_fields.subtitle +'</p>';
	  	eventinfo += '<div class="text-center"><a class="btn btn-primary" href="'+ selected_event.detail_url +'">SCHEDA EVENTO</a></div>';
	  	$("div.calendar-event__popover").html(eventinfo);
	  	event_time = getEventTimeFromEvent(selected_event);
	  	position = $(elem).offset();
	  	if(position.left-200 < 0){
	  		eventinfo = '<p class="calendar-event__popover__title"><b>' + selected_event.title + '</b></p>';
		  	eventinfo += '<img src="' + selected_event.thumb_url + '" class="img-responsive calendar-event__popover__image" />';
		  	eventinfo += '<p class="calendar-event__popover__description">' + selected_event.extra_fields.subtitle + '</p>';
		  	eventinfo += '<p class="calendar-event__popover__extra-info">';
		  	eventinfo += '<i class="fa fa-calendar-o"></i> ' + event_time.day;
		  	eventinfo += '<br /><i class="fa fa-clock-o"></i> ' + event_time.time;
		  	eventinfo += '<br /><i class="fa fa-user"></i> ' + selected_event.extra_fields.guests;
		  	eventinfo += '</p>';
		  	eventinfo += '<hr />';
		  	eventinfo += '<div class="text-center"><a class="btn btn-primary" href="' + selected_event.detail_url + '">SCHEDA EVENTO</a></div>';
		  	$("div.calendar-event__popover--right").attr("data-event-id", id);
		  	$("div.calendar-event__popover--right").html(eventinfo);
	  		$("div.calendar-event__popover--right").css({'left': position.left + 130 + 'px', 'top': position.top - 100 + 'px'});
	  		$("div.calendar-event__popover--right").show();
	  	}else{
	  		eventinfo = '<p class="calendar-event__popover__title"><b>' + selected_event.title + '</b></p>';
		  	eventinfo += '<img src="' + selected_event.thumb_url + '" class="img-responsive calendar-event__popover__image" />';
		  	eventinfo += '<p class="calendar-event__popover__description">' + selected_event.extra_fields.subtitle + '</p>';
		  	eventinfo += '<p class="calendar-event__popover__extra-info">';
		  	eventinfo += '<i class="fa fa-calendar-o"></i> ' + event_time.day;
		  	eventinfo += '<br /><i class="fa fa-clock-o"></i> ' + event_time.time;
		  	eventinfo += '<br /><i class="fa fa-user"></i> ' + selected_event.extra_fields.guests;
		  	eventinfo += '</p>';
		  	eventinfo += '<hr />';
		  	eventinfo += '<div class="text-center"><a class="btn btn-primary" href="' + selected_event.detail_url + '">SCHEDA EVENTO</a></div>';
		  	$("div.calendar-event__popover--left").attr("data-event-id", id);
		  	$("div.calendar-event__popover--left").html(eventinfo);
	  		$("div.calendar-event__popover--left").css({'left': position.left - 280 + 'px', 'top': position.top - 100 + 'px'});
	  		$("div.calendar-event__popover--left").show();
	  	}
	}
  }

  function buildCalendar() {

    $('#full-calendar').fullCalendar({
      header: {
        left: 'prev',
        center: 'title',
        right: 'next'
      },
      defaultDate: "<%= @today.strftime("%Y-%m-%d") %>",
      lang: "<%= get_intesa_property %>",
      dayClick: function(date, jsEvent, view ) {
        window.location.href = "/<%= get_intesa_property %>/calendar/" + date.format("DD-MM-YYYY")
      },
      editable: false,
      disableResizing: true,
      height: "auto",
      events: function(start, end, timezone, callback) {
      	month = $('#full-calendar').fullCalendar('getDate').month();
      	year = $('#full-calendar').fullCalendar('getDate').year();
      	$.ajax({
            url: "/<%= get_intesa_property %>/calendar/fetch/events.json",
            data: {
                month: month+1,
                year: year
            },
            success: function(data) {
                var events = data;
                callback(events);
            }
         });
      },
	  eventRender: function(event, element, view) {
	  	today = moment().dayOfYear();

	  	//if(today == event.start.dayOfYear()){
	  		//html = $('<div class="calendar-event calendar-event--current-date"></div>');
	  	//}else{ 
	  		html = $('<div class="calendar-event"></div>');
	  	//}
	  	
	  	if(event.extra_fields.highlight && event.extra_fields.highlight.value){
		  	html.append('<p class="calendar-event__hour calendar-event__hour--highlight">'+ event.start.format("HH:mm") +'</p>');
		    html.append('<a href="javascript:void(0);" class="calendar-event__title calendar-event__title--highlight" onmouseover="show_event_info(this, '+event.id+')">'+ event.title +'</span>');
	    	html.append('<img class="hidden-xs img-responsive" src="'+ event.thumb_url +'" />');
	  	}else{
		  	html.append('<p class="calendar-event__hour calendar-event__hour">'+ event.start.format("HH:mm") +'</p>');
		    html.append('<a href="javascript:void(0);" class="calendar-event__title" onmouseover="show_event_info(this, '+event.id+')">'+ event.title +'</span>');
	  	}
	    return html;
	  }
    });
    
  }
</script>