<div class="container">
  <%= render partial: "/application/header" %>
</div>

<div class="container-fluid">
  <%= render partial: "/application/user_bar" %>

  <div class="container">
    <div class="row">
      <div class="col-md-12 cta">
        <div class="panel panel-default cta-page">
          <div class="panel-heading">
            <div class="row ">
              <div class="col-md-12">                      
                <h3 class="text-muted">Entra in MAXIBON</h3>
              </div>
              
            </div>
          </div>
          <div class="panel-body">
            <div class="row">      
              <div class="col-md-6">
                <h4 class="lead">Registrati </h4>
                <%= form_for resource, :url => user_registration_path do |f| %> 
                  <% if resource.errors.any? %>
                    <div style="margin-top: 10px; margin-bottom: 10px; margin-left: -20px;">
                      <ul>
                        <p style="font-size: 15px;">Errori nella compilazione del modulo:</p>
                        <% resource.errors.full_messages.each do |error_message| %>
                            <li><%= error_message %></li>
                        <% end %>
                      </ul>
                    </div>
                  <% end %>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputEmail1">Email address</label>-->
                    <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nome" %>
                  </div>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <%= f.text_field :last_name, :class => "form-control", :placeholder => "Cognome" %>
                  </div>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputEmail1">Email address</label>-->
                    <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                  </div>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                  </div>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <%= f.password_field :password, :class => "form-control", :placeholder => "Conferma password" %>
                  </div>
                  <div class="checkbox text-left">
                    <label><%= f.check_box :privacy %> Accetto i <a target="_blank" href="https://www.buonalavita.it/note-legali">termini d'uso</a></label>
                  </div>
                  <button type="submit" class="btn btn-info btn-lg btn-block">Registrati</button>
                <% end %>
                <p>&nbsp;</p>
              </div>
              <%= form_for resource, :url => user_sign_in_path do |f| %>
                <div class="col-md-6">
                  <h4 class="lead text-left">Login</h4>
                  <p><%= flash[:error] %></p>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputEmail1">Email address</label>-->
                    <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                  </div>
                  <div class="form-group text-left">
                    <!--<label for="exampleInputPassword1">Password</label>-->
                    <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                  </div>
                  <button type="submit" class="btn btn-info btn-lg btn-block">Login</button>
                  <div class="checkbox text-left">
                    <label> <input type="checkbox" name="user[remember_me]" value="1" /> Ricordati di me</label>
                  </div>
                  <p><%= link_to new_password_path(:user) do %>Ho dimenticato la password<% end %></p>
                  <hr>
                  <p class="text-center">Oppure entra con:</p>
                  <div class="facebook-connect">
  
                  <a target="_top" href="/auth/facebook" class="btn btn-fb btn-md btn-block">Signin with Facebook</a>
                    
                  <p>&nbsp;</p>
                </div>
              <% end %>  
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

