<div class="col-sm-12">
  <div class="row text-center cta-stream-heading">
    <div class="col-xs-12 text-center question">
      <% if shown_interactions_count %>
        <h6 id="index-interaction-<%= interaction.id %>">Domanda <%= index_current_interaction %> di <%= shown_interactions_count %></h6>
      <% end %>
      <h4>
        <%= interaction.resource.description %>
      </h4>
    </div>

    <div id="interaction-<%= interaction.id %>" class="col-xs-12">

      <% if current_user && user_interaction %>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 5px; padding-left: 60px; postione: relative; padding-top: 55px;">
            <div class="interaction-baloon" style="width: 33px; position: absolute; left: 15px;"> 
              <div class="baloon baloon-right"> 
                <img src="<%= current_avatar %>" class="img-responsive" style="width: 100%; border-radius: 3px;">
              </div>
            </div>
            <button class="button-inter-<%= interaction.id %> btn-2 btn-2-default btn-2-default-orange active"><%= interaction.resource.title %></button>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-xs-10 col-xs-offset-1" style="margin-bottom: 5px; padding-left: 60px; postione: relative; padding-top: 55px;">
            <div class="interaction-baloon" style="width: 33px; position: absolute; left: 15px;"> 
              <div class="baloon baloon-right square unchosen"> 
                <img src="<%= current_avatar %>" class="img-responsive hidden" style="width: 100%; border-radius: 3px;">
              </div>
            </div>
            <button class="button-inter-<%= interaction.id %> btn-2 btn-2-default" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, null, '<%= interaction.when_show_interaction %>')" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, null)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, null)" <% end %>><%= interaction.resource.title %></button>
          </div>
        </div>
      <% end %>

    </div>

    <%= render partial: "/call_to_action/feedback_small_undervideo", locals: { interaction_reward_status: interaction_reward_status, user_interaction: user_interaction, interaction: interaction, calltoaction_id: calltoaction_id, aux: aux } %>

  </div>
</div>