<div id="calltoaction-<%= calltoaction.id %>-cover" class="calltoaction-cover" style="background-image: url('<%= calltoaction.thumbnail %>')">

  <div class="cover-grid"></div>
  <a href="javascript:void(0);" onclick="showCallToAction(<%= calltoaction.id %>, '<%= calltoaction.media_type.downcase %>')" style="position: absolute; display: block; width:100%; height: 100%;"></a>  
  <div class="row top text-right">
    <div class="col-xs-12">
      <h4>
        <% if call_to_action_completed?(calltoaction) %>
          <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-success" style="padding-top: 5px;">
            FATTO <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% else %>
          <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-warning" style="padding-top: 5px;">+<%= get_current_call_to_action_reward_status(MAIN_REWARD_NAME, calltoaction, false)[:winnable_reward_count] %>
            <span class="glyphicon glyphicon-star"></span>
          </span>
        <% end %>
      </h4>
    </div>
  </div>

  <div class="row bottom">
    <div class="col-xs-12 text-left" style="position: relative; padding-right: 20%;">
      <h5 class="text-with-shadow">
        <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
        <% if tags_with_miniformat_in_calltoaction.any? %>
          <span class="<%= tags_with_miniformat_in_calltoaction.first.tag_fields.select { |tf| tf.name == "icon" }.map { |tf| tf.value }.first %>"></span>
          <%= tags_with_miniformat_in_calltoaction.first.tag_fields.select { |tf| tf.name == "title" }.map { |tf| tf.value }.first %>
        <% else %>
          &nbsp;
        <% end %>
      </h5>      
      <h2 class="text-with-shadow" style="margin-top: 0px; font-size: 24px; font-weight: 700;">
        <%= calltoaction.title %>
      </h2>
      <h2 class="btn-container"><button class="btn-2" role="button" onclick="showCallToAction(<%= calltoaction.id %>, '<%= calltoaction.media_type.downcase %>')">GUARDA</button></h2> 
    </div>
    <div class="col-xs-12 text-left visible-xsm">
      <h2 style="margin-top: 0;"><button class="btn-2" role="button" onclick="showCallToAction(<%= calltoaction.id %>, '<%= calltoaction.media_type.downcase %>')">GUARDA</button></h2> 
    </div>
  </div>
    
</div>