<h5>
  <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
  <% if tags_with_miniformat_in_calltoaction.any? %>
    <span class="label label-default" style="background-color: <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["label-background"] %>; color: <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["label-color"] %>; padding: 7px; font-size: 90%;">
      <span class="<%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["icon"] %>"></span>
      <%= get_extra_fields!(tags_with_miniformat_in_calltoaction.first)["title"] %>
    </span>
  <% else %>
    &nbsp;
  <% end %>
</h5>      
<h2 class="text-with-shadow" style="margin-top: 0px; font-size: 24px; font-weight: 700;">
  <%= calltoaction.title %>
</h2>