<div id="calltoaction-<%= calltoaction.id %>-cover" class="calltoaction-cover" style="background-image: url('<%= calltoaction.thumbnail %>')">

  <div class="cover-grid"></div>
  <a href="javascript:void(0);" onclick="showCallToAction(<%= calltoaction.id %>, '<%= calltoaction.media_type.downcase %>')" style="position: absolute; display: block; width:100%; height: 100%;"></a>  
  <div class="row top text-right">
    <div class="col-xs-12">
      <h4>
        <% current_call_to_action_reward_status = compute_call_to_action_completed_or_reward_status(MAIN_REWARD_NAME, calltoaction) %>
        <% if current_call_to_action_reward_status.present? %>
          <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-warning" style="padding-top: 5px;">+<%= current_call_to_action_reward_status["winnable_reward_count"] %>
            <span class="glyphicon glyphicon-star"></span>
          </span>
        <% else %>
          <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-success" style="padding-top: 5px;">
            FATTO <span class="glyphicon glyphicon-ok"></span>
          </span>
        <% end %>
      </h4>
    </div>
  </div>

  <div class="row bottom">
    <div class="col-xs-12 text-left" style="position: relative; padding-right: 20%;">
      <%= render partial: "/call_to_action/cover_stream_single_calltoaction_text", locals: { calltoaction: calltoaction } %>
      <h2 class="btn-container"><a class="btn-2" role="button" onclick="showCallToAction(<%= calltoaction.id %>, '<%= calltoaction.media_type.downcase %>')">GUARDA</a></h2> 
    </div>
    <div class="col-xs-12 text-left visible-xsm">
      <h2 style="margin-top: 0;"><a class="btn-2" role="button" onclick="showCallToAction(<%= calltoaction.id %>, '<%= calltoaction.media_type.downcase %>')">GUARDA</a></h2> 
    </div>
  </div>
    
</div>