<h5>
  <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
  <% if tags_with_miniformat_in_calltoaction.any? %>
    <span class="label label-default" style="background-color: <%= tags_with_miniformat_in_calltoaction.first.tag_fields.select { |tf| tf.name == "label-background" }.map { |tf| tf.value }.first %>; color: <%= tags_with_miniformat_in_calltoaction.first.tag_fields.select { |tf| tf.name == "label-color" }.map { |tf| tf.value }.first %>; padding: 7px; font-size: 90%;">
      <span class="<%= tags_with_miniformat_in_calltoaction.first.tag_fields.select { |tf| tf.name == "icon" }.map { |tf| tf.value }.first %>"></span>
      <%= tags_with_miniformat_in_calltoaction.first.tag_fields.select { |tf| tf.name == "title" }.map { |tf| tf.value }.first %>
    </span>
  <% else %>
    &nbsp;
  <% end %>
</h5>      
<h2 class="text-with-shadow" style="margin-top: 0px; font-size: 24px; font-weight: 700;">
  <%= calltoaction.title %>
</h2>