<% if current_user && user_interaction %>
  <div class="col-xs-12 text-center undervideo-feedback">
    <div class="panel panel-default">
      <div class="panel-body" style="padding-top: 5px;">
        <% if user_interaction.answer.correct %>
          <p style="font-size: 12px; display: inline;"><span style="color: green;" class="glyphicon glyphicon-ok-sign"></span> CORRETTO! +<%= interaction_reward_status[:win_reward_count] %> punti</p>
        <% else %>
          <p style="font-size: 12px; display: inline;"><span style="color: red;" class="glyphicon glyphicon glyphicon-remove-sign"></span> SBAGLIATO! +<%= interaction_reward_status[:win_reward_count] %> punti</p>
        <% end %>
        <% unless interaction_reward_status[:reward].numeric_display %>    
          <% interaction_reward_status[:reward_status_images].each do |reward| %>
            <img src="<%= reward %>" style="max-width: 20px; margin-bottom: 5px;">
          <% end %>
        <% end %>
      </div>
    </div>
    <button id="interaction-<%= interaction.id %>-next" class="btn btn-primary btn-block hidden" onclick="nextInteraction(<%= calltoaction_id %>)" style="margin-bottom: 15px;">VAI AVANTI</button>
  </div>
<% else %>
  <div class="col-xs-12 text-center undervideo-feedback">
    <h5 style="margin-bottom: 0;">Ottieni fino a +<%= interaction_reward_status[:winnable_reward_count] %> punti</h5>
    <% unless interaction_reward_status[:reward].numeric_display %>  
      <div class="col-sm-12 text-center" style="margin-bottom: 10px;">  
        <% interaction_reward_status[:reward_status_images].each do |reward| %>
            <img src="<%= reward %>" style="width: 15px;">
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>