<div class="comment-section" ng-controller="CommentCtrl" ng-init="init(<%= calltoaction_comment_interaction[:comments_to_shown_ids] %>, <%= comment_interaction.id %>, <%= comment_interaction.resource.must_be_approved %>, '<%= get_last_comments_to_view_date(comment_interaction) %>', '<%= get_first_comments_to_view_date(comment_interaction) %>', <%= get_comments_append_counter(comment_interaction) %>, <%= calltoaction_comment_interaction[:captcha_data].to_json %>)">   

  <div class="row">
    <div class="col-md-12">
      <h4 class="title">LASCIA UN COMMENTO</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-2 text-center">
      <img src="<%= current_avatar %>" class="img-circle img-responsive img-profile">
    </div>

    <div class="col-xs-10">
      <div class="panel panel-default insert-comment">
        <!-- PANEL BODY FOR INPUT COMMENT -->
        <div class="panel-body">
          <%= text_area_tag :text, nil, rows: 2, id: "user-comment-#{comment_interaction.id}", class: "form-control" %>
        </div>

        <!-- PANEL FOOTER FOR INPUT COMMENT -->
        <div class="panel-footer">
          <div class="row">
            <div class="col-sm-8">
              <% unless current_user %>
                <div class="row">               
                  <div class="col-sm-6">
                    <img src="" id="captcha-img-<%= comment_interaction.id %>" class="captcha-img">
                  </div>              
                  <div class="col-sm-6">
                    <%= text_field_tag :code, "", id: "user-captcha-#{comment_interaction.id}", placeholder: "captcha", class: "form-control" %>
                  </div>
                </div>
              <% end %>              
            </div>
            <div class="col-sm-4">
              <button id="comment-button-<%= comment_interaction.id %>" class="btn-2 btn-2-small" onclick="submitComment()">COMMENTA</button>
            </div>   
          </div>  
        </div>
      </div>
    </div>
  </div>

  <div id="comments-<%= comment_interaction.id %>">
    <% calltoaction_comment_interaction[:comments_to_shown].each do |user_comment| %>
      <%= render partial: "/call_to_action/comment", locals: { user_comment: user_comment, new_comment_class: false } %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
        <button id="comment-append-button-<%= comment_interaction.id %>" class="btn btn-append" href="javascript: void(0)" onclick="appendComments()"><i class="fa fa-plus-circle"></i> CARICA ALTRI</button>
    </div>
  </div>

</div>


