<% quiz_interactions = calltoaction.interactions.where("when_show_interaction = ? AND required_to_complete = ?", "SEMPRE_VISIBILE", true).order("seconds ASC") %>

<div class="row cta">      
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
    <div class="panel panel-default cta-page cta-stream lg-panel" style="position: relative;">

      <div id="calltoaction-<%= calltoaction.id %>-cover" style="width: 100%; top:0; bottom: 0; background-color: #ccc; position: absolute; z-index: 10;" >
        
          <div class="row">
            <div class="col-sm-12 text-center">
              <h1><%= calltoaction.title %></h1>
              <button class="btn btn-warning" onclick="showCallToAction(<%= calltoaction.id %>)">INIZIA</button>
            </div>
          </div>
        
      </div>

      <div class="panel-body no-pad">
       
        <div class="row cta-md">

          <!-- LEFT COLUMN WITH IMAGE -->
          <%= render partial: "/call_to_action/stream_single_calltoaction_media", locals: { calltoaction: calltoaction } %>

          <!-- RIGHT COLUMN WITH NAME AND DESCRIPTION -->
          <%= render partial: "/call_to_action/stream_single_calltoaction_interactions", locals: { calltoaction: calltoaction, quiz_interactions: quiz_interactions } %>

        </div>

      </div>
    </div>
  </div>
</div>