<% shown_interactions = always_shown_interactions(calltoaction) %>

<div class="row cta">      
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
    <div class="panel panel-default cta-page cta-stream panel-shadow" style="border: none;">
      <div class="panel-body" style="position: relative; padding: 0; min-height: 397px;">
        
        <% if cta_locked?(calltoaction) %>
          <%= render partial: "/call_to_action/cover_stream_single_calltoaction_locked", locals: { calltoaction: calltoaction } %>
        <% else %>
          <%= render partial: "/call_to_action/cover_stream_single_calltoaction", locals: { calltoaction: calltoaction, hidden: (active_calltoaction_id == calltoaction.id) } %>
        <% end %> 

        <div class="panel-body panel-card">   
          <div class="row cta-md">
            <!-- LEFT COLUMN WITH IMAGE -->
            <%= render partial: "/call_to_action/stream_single_calltoaction_media", locals: { calltoaction: calltoaction, calltoaction_page: (active_calltoaction_id == calltoaction.id) } %>

            <!-- RIGHT COLUMN WITH NAME AND DESCRIPTION -->
            <%= render partial: "/call_to_action/stream_single_calltoaction_interactions", locals: { calltoaction: calltoaction, shown_interactions: shown_interactions, calltoaction_active_interaction: calltoaction_active_interaction } %>
          </div>
        </div>   
        
      </div>    
      
      <% user_interaction, interaction = has_done_share_interaction(calltoaction) %>
      <% if interaction || (!active_calltoaction_id && calltoaction_comment_interaction && !calltoaction_comment_interaction.empty?) %>
        <div class="panel-footer">
          <div class="row">
            <div class="col-xs-6 col-sm-3" id="bottom-feedback-share-<%= calltoaction.id %>">       
              <% if interaction %>
                <% if user_interaction %>
                  <button id="button-share-cta" class="btn-2 btn-2-small" role="button" onclick="openCtaShareModal('facebook-share-modal', this, <%= calltoaction.id %>, '<%= calltoaction.title %>', <%= interaction.id %>, true)" style="padding-top: 5px;">CONDIVIDI</button>
                  <span id="feedback-label-share" class="label label-success" style="padding-top: 3px;margin-top: 5px;">Fatto <span class="glyphicon glyphicon-ok"></span></span>
                <% else %>
                  <button id="button-share-cta" class="btn-2 btn-2-small" role="button" onclick="openCtaShareModal('facebook-share-modal', this, <%= calltoaction.id %>, '<%= calltoaction.title %>', <%= interaction.id %>, false)" style="padding-top: 5px;">CONDIVIDI</button>
                  <span id="feedback-label-share" class="label label-warning" style="padding-top: 3px;margin-top: 5px;">+3 <span class="glyphicon glyphicon-star"></span></span>
                <% end %>
              <% end %>
            </div> 
            <div class="col-xs-6 col-sm-3 col-sm-offset-6 text-right">
              <% if calltoaction_comment_interaction && !calltoaction_comment_interaction.empty? %>
                <a href="/call_to_action/<%= calltoaction.id %>" class="comment-preview"><span class="glyphicon glyphicon-comment"></span> <span id="interaction-<%= calltoaction_comment_interaction[:interaction].id %>-comment-counter"><%= calltoaction_comment_interaction[:comments_count] %></span> commenti</a>
              <% end %>           
            </div>
          </div>
        </div>
      <% end %>

      <% if calltoaction_comment_interaction && !calltoaction_comment_interaction.empty? %>
        <% if active_calltoaction_id && active_calltoaction_id == calltoaction.id  %>
          <hr class="no-margin">
          <div class="panel-footer">
            <%= render partial: "/call_to_action/stream_comment_with_form", locals: { calltoaction_comment_interaction: calltoaction_comment_interaction, comment_interaction: calltoaction_comment_interaction[:interaction] } %>
          </div> 
        <% else %>
          <%= render partial: "/call_to_action/stream_comment_without_form", locals: { calltoaction_comment_interaction: calltoaction_comment_interaction, comment_interaction: calltoaction_comment_interaction[:interaction], calltoaction_id: calltoaction.id } %>
        <% end %>
      <% end %>
    </div>
    
  </div>
</div>