<% quiz_interactions = calltoaction.interactions.where("when_show_interaction = ? AND required_to_complete = ?", "SEMPRE_VISIBILE", true).order("seconds ASC") %>

<% calltoaction_reward_status = get_current_call_to_action_reward_status(MAIN_REWARD_NAME, calltoaction) %>

<div class="row cta">      
  <div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0 col-sm-12 col-sm-offset-0">
    <div class="panel panel-default cta-page cta-stream lg-panel" style="position: relative;">

      <div id="calltoaction-<%= calltoaction.id %>-cover" class="calltoaction-cover" style="background-image: url('<%= calltoaction.thumbnail %>')">
        
          <div class="row top text-right">
            <div class="col-xs-12">
              <h4>
                <% if call_to_action_completed?(calltoaction, current_or_anonymous_user) %>
                  <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-success" style="padding-top: 5px;">
                    FATTO <span class="glyphicon glyphicon-ok"></span>
                  </span>
                <% else %>
                  <span id="head-feedback-calltoaction-<%= calltoaction.id %>" class="label label-warning" style="padding-top: 7px;">+<%= calltoaction_reward_status[:winnable_reward_count] %>
                    <span class="glyphicon glyphicon-star"></span>
                  </span>
                <% end %>
              </h4>
            </div>
          </div>

          <div class="row bottom">
                    
            <div class="col-md-10 col-sm-8 col-xs-12">
              <h5>
                <% tags_with_miniformat_in_calltoaction = get_tag_with_tag_about_call_to_action(calltoaction, "miniformat") %>
                <% if tags_with_miniformat_in_calltoaction.any? %>
                  <span class="<%= tags_with_miniformat_in_calltoaction.first.tag_fields.find_by_name("icon").try(:value) %>"></span>
                  <%= tags_with_miniformat_in_calltoaction.first.name %>
                <% else %>
                  &nbsp;
                <% end %>
              </h5>          
              <h3 style="margin-top: 0;"><%= calltoaction.title %></h3>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-12">
              <button class="btn-2" onclick="showCallToAction(<%= calltoaction.id %>)">GUARDA</button>
            </div>

          </div>
        
      </div>

      <div class="panel-body no-pad">
       
        <div class="row cta-md">

          <!-- LEFT COLUMN WITH IMAGE -->
          <%= render partial: "/call_to_action/stream_single_calltoaction_media", locals: { calltoaction: calltoaction } %>

          <!-- RIGHT COLUMN WITH NAME AND DESCRIPTION -->
          <%= render partial: "/call_to_action/stream_single_calltoaction_interactions", locals: { calltoaction: calltoaction, quiz_interactions: quiz_interactions, calltoaction_reward_status: calltoaction_reward_status } %>

        </div>

      </div>
    </div>
  </div>
</div>