<div class="col-md-8 col-sm-8 cta-media text-center">
           
  <!-- SECONDARY MEDIA -->
  <div id="secondary-media-<%= calltoaction.id %>" class="hidden">
    <div id="secondary-media-video-<%= calltoaction.id %>" class="video flex-video widescreen secondary-media v-center" style="background:#222;"> 
      <div id="home-stream-video-secondary-<%= calltoaction.id %>" main-calltoaction-media="false" calltoaction-id="<%= calltoaction.id %>"></div>
      <!-- OVERVIDEO AREA -->
      <div class="home-overvideo-feedback-<%= calltoaction.id %>"></div> 
    </div>
    <img id="secondary-media-image-<%= calltoaction.id %>" class="secondary-media" src="<%= calltoaction.media_image %>" style="width: 100%;">
  </div>

  <!-- MAIN MEDIA -->
  <% if calltoaction.media_type == "YOUTUBE" %>
    <div id="main-media-<%= calltoaction.id %>">
      <div class="video flex-video widescreen v-center media-youtube" style="background:#222;">             
        <!-- IFRAME VIDEO -->
        <div id="home-stream-video-<%= calltoaction.id %>" main-calltoaction-media=true calltoaction-id="<%= calltoaction.id %>" interaction-play-id="<%= find_interaction_for_calltoaction_by_resource_type(calltoaction, "Play").try(:id) %>"></div>
        <!-- OVERVIDEO AREA -->
        <div id="home-overvideo-<%= calltoaction.id %>"></div>                 
        <!-- OVERVIDEO FEEDBACK -->
        <div class="home-overvideo-feedback-<%= calltoaction.id %>"></div>
      </div>
    </div>
  <% elsif calltoaction.media_type == "IMAGE" %>
    <!-- IMAGE -->
    <div id="main-media-<%= calltoaction.id %>" class="media-image" style="background-image: url('<%= calltoaction.media_image(:large) %>');">
    </div>
  <% elsif calltoaction.media_type == "IFRAME" %>
    <div id="main-media-<%= calltoaction.id %>">
      <div id="iframe-calltoaction-<%= calltoaction.id %>" class="<%= "iframe-apple-mobile " if request_is_from_apple_mobile_device?(request) %>video flex-video widescreen text-center v-center media-iframe" style="background:#222;">  
        <%#= calltoaction.media_data.html_safe %>
      </div>
    </div>
  <% end %>

</div>