<% if answer.image.present? %>
  <div class="row">
    <div class="col-xs-12 text-center versus-answer-col" style="padding-left: 0;">
      <% if answer.text.present? %>
        <% if interaction.resource.one_shot && current_user && user_interaction %>
          <button class="visible-xs btn-2 btn-2-default btn-2-block btn-2-versus-text <%= "btn-2-default-orange active" if current_user && user_answer %>"><%= answer.text %></button>
        <% else %>
          <button class="visible-xs btn-2 btn-2-default btn-2-block btn-2-versus-text <%= "btn-2-default-orange active" if current_user && user_answer %>" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)" <% end %>><%= answer.text %></button>
        <% end %>
        <h5 class="hidden-xs" style="font-weight: bold; position: absolute; bottom: 0; left: 0; right: 0; padding-top: 30px;"><%= answer.text %></h5>
      <% end %>
    </div>
    <div class="col-xs-12" style="position: relative; padding-left: 0;">
      <div style="position: absolute; top: 40%; bottom: 0; right: -5px;">
        <p style="font-size: 10px;">VS</p>
      </div>

      <!-- PROGRESS BAR -->
      <div class="progress vertical bottom progress-square" style="position: absolute; top: 0; bottom: 0; margin-right: 0; z-index: 0; width: 15%;">
        <% if current_user && user_interaction %>
          <div class="progress-bar <%= user_answer ? "progress-bar-warning" : "inactive" %>" role="progressbar" style="height: <%= percent %>%;"></div>
        <% else %>
          <div class="progress-bar progress-bar-warning inactive" role="progressbar" style="height: 0%;"></div>
        <% end %>
      </div>

      <div style="width: 70%; float: right; position: relative;">
        <% if interaction.resource.one_shot && current_user && user_interaction %>
          <!-- IMAGE INACTIVE -->
          <a href="javascript: void(0)" style="margin-bottom: 0; <%= "background-color: orange;" if user_answer %>" class="button-inter-<%= interaction.id %> thumbnail">
            <img src="<%= answer.image(:medium) %>">
          </a>
        <% else %>
          <!-- IMAGE ACTIVE -->
          <a href="javascript: void(0)" style="margin-bottom: 0; <%= "background-color: orange;" if user_answer && current_user %>" class="button-inter-<%= interaction.id %> thumbnail active" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)" <% end %>>
            <img src="<%= answer.image(:medium) %>">
          </a>
        <% end %>
      </div>     
    </div>
    <div class="col-xs-12" style="position: relative; padding-left: 0;">
      <!-- BALOON -->
      <div class="interaction-baloon" style="width: 15%; position: absolute; top: 6px;">
        <div class="baloon baloon-top versus square <%= "unchosen" unless user_answer && current_user %>"><img src="<%= current_avatar %>" class="img-responsive <%= "hidden" unless user_answer %>" style="width: 100%; border-radius: 3px; position: absolute;"></div>
      </div>
      <div style="width: 70%; float: right;">
        <h5 style="font-size: 22px; font-weight: bold; margin-top: 5px; margin-bottom: 0;"><%= "#{percent}%" if percent && current_user && user_interaction %></h5>
      </div>
    </div>

  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12" style="margin-top: 20px;">

      <div style="position: absolute; top: 50%; bottom: 0; right: -5px;">
        <p style="font-size: 10px;">VS</p>
      </div>

      <div style="width: 80%; float: right; position: relative; padding-top: 4px;">
        <% if interaction.resource.one_shot && current_user && user_interaction %>
          <!-- BUTTON INACTIVE -->
          <button href="javascript: void(0)" style="margin-bottom: 0;" class="button-inter-<%= interaction.id %> btn-2 btn-2-versus <%= user_answer ? "btn-2-versus-orange active" : "inactive" %>">
            <%= answer.text %>
          </button>
        <% else %>
          <!-- BUTTON ACTIVE -->
          <button href="javascript: void(0)" style="margin-bottom: 0;" class="button-inter-<%= interaction.id %> btn-2 btn-2-versus <%= "btn-2-versus-orange" if user_answer %>" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)" <% end %>>
            <%= answer.text %>
          </button>
        <% end %>
        
        <!-- PROGRESS BAR -->
        <div class="progress vertical bottom progress-square" style="position: absolute; top: 4px; bottom: 0; left: -25px; margin-right: 0; z-index: 10;">
          <% if current_user && user_interaction %>
            <div class="progress-bar <%= user_answer ? "progress-bar-warning" : "inactive" %>" role="progressbar" style="height: <%= percent %>%;"></div>
          <% else %>
            <div class="progress-bar inactive" role="progressbar" style="height: 0%;"></div>
          <% end %>
        </div>

        <!-- BALOON -->
        <div class="no-pad interaction-baloon" style="width: 30px; position: absolute; width: 30px; left: -30px; bottom: -40px;">
          <div class="baloon baloon-top square <%= "unchosen" unless user_answer && current_user %>"><img src="<%= current_avatar %>" class="img-responsive <%= "hidden" unless user_answer && current_user %>" style="width: 100%; border-radius: 3px;"></div>
        </div>

        <div class="no-pad text-center" style="width: 30px; position: absolute; width: 100%; bottom: -46px;">
          <h5 style="font-size: 22px; font-weight: bold;"><%= "#{percent}%" if percent && current_user && user_interaction %></h5>
        </div>

      </div>
      
    </div>
  </div>
<% end %>