<% if answer.image.present? %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h5 style="margin: 0 0 0 0px"><%= answer.text %></h5>
    </div>
    <div class="col-xs-12" style="position: relative;">

      <div style="position: absolute; top: 40%; bottom: 0; right: -6px;">
        <p style="font-size: 10px;">VS</p>
      </div>

      <div style="width: 80%; float: right; position: relative;">
        <% if interaction.resource.one_shot && user_interaction %>
          <!-- IMAGE INACTIVE -->
          <a href="javascript: void(0)" style="margin-bottom: 0; <%= "background-color: orange;" if user_answer %>" class="thumbnail">
            <img src="<%= answer.image(:medium) %>">
          </a>
        <% else %>
          <!-- IMAGE ACTIVE -->
          <a href="javascript: void(0)" style="margin-bottom: 0; <%= "background-color: orange;" if user_answer %>" class="thumbnail active" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')"  onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)">
            <img src="<%= answer.image(:medium) %>">
          </a>
        <% end %>

        <!-- PROGRESS BAR -->
        <div class="progress vertical bottom" style="position: absolute; top: 0; bottom: 0; left: -25px; margin-right: 0;">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="height: <%= percent if user_interaction %>%;"></div>
        </div>

        <!-- BALOON -->
        <div class="no-pad interaction-baloon" style="width: 30px; position: absolute; width: 30px; left: -30px; bottom: -40px;">
          <div class="baloon baloon-top <%= "unchosen square" unless user_answer %>"><img src="<%= current_avatar %>" class="img-responsive <%= "hidden" unless user_answer %>" style="width: 30px; height: 30px; border-radius: 3px;"></div>
        </div>

        <div class="no-pad text-center" style="width: 30px; position: absolute; width: 100%; bottom: -40px;">
          <h5><%= percent && user_interaction ? percent : "-" %>%</h5>
        </div>

      </div>
      
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12" style="position: relative;">

      <div style="position: absolute; top: 50%; bottom: 0; right: -6px;">
        <p style="font-size: 10px;">VS</p>
      </div>

      <div style="width: 80%; float: right; position: relative; padding-top: 4px;">
        <% if interaction.resource.one_shot && user_interaction %>
          <!-- BUTTON INACTIVE -->
          <button href="javascript: void(0)" style="margin-bottom: 0;" class="btn-2 btn-2-versus <%= "btn-2-versus-orange" if user_answer %> active">
            <%= answer.text %>
          </button>
        <% else %>
          <!-- BUTTON ACTIVE -->
          <button href="javascript: void(0)" style="margin-bottom: 0;" class="btn-2 btn-2-versus <%= "btn-2-versus-orange" if user_answer %>" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')" onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)">
            <%= answer.text %>
          </button>
        <% end %>
        
        <!-- PROGRESS BAR -->
        <div class="progress vertical bottom" style="position: absolute; top: 4px; bottom: 0; left: -25px; margin-right: 0;">
          <div class="progress-bar progress-bar-warning" role="progressbar" style="height: <%= percent if user_interaction %>%;"></div>
        </div>

        <!-- BALOON -->
        <div class="no-pad interaction-baloon" style="width: 30px; position: absolute; width: 30px; left: -30px; bottom: -40px;">
          <div class="baloon baloon-top <%= "unchosen square" unless user_answer %>"><img src="<%= current_avatar %>" class="img-responsive <%= "hidden" unless user_answer %>" style="width: 100%; border-radius: 3px;"></div>
        </div>

        <div class="no-pad text-center" style="width: 30px; position: absolute; width: 100%; bottom: -40px;">
          <h5><%= percent && user_interaction ? percent : "-" %>%</h5>
        </div>

      </div>
      
    </div>
  </div>
<% end %>