<% if answer.image.present? %>
  <div class="row">
    <div class="col-xs-12 text-center">
      <h5 style="margin: 0 0 0 0;"><%= answer.text %></h5>
    </div>
    <div class="col-xs-12">
      <div style="width: 80%; float: left; position: relative;">
        <% if enable %>
          <!-- IMAGE ACTIVE -->
          <a href="javascript: void(0)" style="margin-bottom: 0;" class="thumbnail" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')"  onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)">
            <img src="<%= answer.image(:medium) %>">
          </a>
        <% else %>
          <!-- IMAGE INACTIVE -->
          <a href="javascript: void(0)" style="margin-bottom: 0;" class="thumbnail" onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)">
            <img src="<%= answer.image(:medium) %>">
          </a>
        <% end %>

        <!-- PROGRESS BAR -->
        <div class="progress vertical bottom" style="position: absolute; top: 0; bottom: 0; right: -25px; margin-right: 0;">
          <div class="progress-bar" role="progressbar" style="height: <%= percent %>%;"></div>
        </div>

        <!-- BALOON -->
        <div class="no-pad interaction-baloon" style="width: 30px; position: absolute; width: 30px; right: -30px; bottom: -40px;">
          <div class="baloon baloon-top <%= "unchosen square" unless user_answer %>"><img src="<%= current_avatar %>" class="img-responsive <%= "hidden" unless user_answer %>" style="width: 100%; border-radius: 3px;"></div>
        </div>

        <div class="no-pad text-center" style="width: 30px; position: absolute; width: 100%; bottom: -40px;">
          <h5><%= percent ? percent : "-" %>%</h5>
        </div>

      </div>
    </div>
  </div>
<% else %>
  <div class="row">
    <div class="col-xs-12">
      <div style="width: 80%; float: left; position: relative;">
        <% if enable %>
          <!-- IMAGE ACTIVE -->
          <button href="javascript: void(0)" style="margin-bottom: 0;" class="btn btn-versus btn-block" onclick="updateAnswer(<%= interaction.call_to_action.id %>, <%= interaction.id %>, <%= answer.id %>, '<%= interaction.when_show_interaction %>')"  onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)">
            <%= answer.text %>
          </button>
        <% else %>
          <!-- IMAGE INACTIVE -->
          <button href="javascript: void(0)" style="margin-bottom: 0;" class="btn btn-versus btn-block" onmouseenter="onEnterInteraction(<%= interaction.id %>, <%= answer.id %>)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, <%= answer.id %>)">
            <%= answer.text %>
          </button>
        <% end %>

        <!-- PROGRESS BAR -->
        <div class="progress vertical bottom" style="position: absolute; top: 0; bottom: 0; right: -25px; margin-right: 0;">
          <div class="progress-bar" role="progressbar" style="height: <%= percent %>%;"></div>
        </div>

        <!-- BALOON -->
        <div class="no-pad interaction-baloon" style="width: 30px; position: absolute; width: 30px; right: -30px; bottom: -40px;">
          <div class="baloon baloon-top <%= "unchosen square" unless user_answer %>"><img src="<%= current_avatar %>" class="img-responsive <%= "hidden" unless user_answer %>" style="width: 100%; border-radius: 3px;"></div>
        </div>

        <div class="no-pad text-center" style="width: 30px; position: absolute; width: 100%; bottom: -40px;">
          <h5><%= percent ? percent : "-" %>%</h5>
        </div>

      </div>
    </div>
  </div>
<% end %>