 
<div class="container-fluid" ng-controller="BallandoStreamCalltoactionCtrl" ng-init="initBallando(<%= current_user.present? %>, <%= @calltoactions_with_current.to_json %>, <%= get_cta_active_count() %>, <%= @calltoactions_during_video_interactions_second.to_json %>, '<%= ga_code() %>', <%= @calltoactions_with_current.first.id %>, '<%= "#{request.protocol}#{request.host}/" %>', '<%= Rails.configuration.deploy_settings["sites"]["ballando"]["profile_url"] %>', <%= @calltoactions_active_interaction.to_json %>, <%= @aux.to_json %>)">   

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0" style="margin-top: 15px;">
      <%= render partial: "/application/home_filters", locals: { single_cta: true } %>
    </div>
  </div>
  
  <div class="row">
    <div id="calltoaction-stream" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <%= render partial: "/call_to_action/stream_calltoactions", locals: { calltoactions: @calltoactions_with_current, calltoactions_comment_interaction: @calltoactions_comment_interaction, active_calltoaction_id: @calltoactions_with_current[0].id, calltoactions_active_interaction: @calltoactions_active_interaction, aux: @aux } %>
    </div>
  </div>

  <div class="row">      
    <div class="col-sm-6 col-sm-offset-3">
      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
        <button class="btn btn-append" href="javascript: void(0)" onclick="appendCallToAction();"><i class="fa fa-plus-circle"></i> CARICA ALTRI</button>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript">

  $(document).ready(function() {
    checkDocumentHeight("fandom");
    window.top.$("html, body").animate({scrollTop: window.top.$("#fandom").offset().top}, 'slow')
  });

</script>
