<script type="text/javascript" src="http://navbar.disneyinternational.com/it/03/navbar.js"></script>

<!-- REGISTRATION MODAL -->
<div id="complete-registration" class="modal fade" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <!--
      <div class="modal-header">
        <p>Completa la registrazione</p>
      </div>
      -->
      <div class="modal-body">
        <form onsubmit="return false;" ng-submit="processRegistrationForm()" method="post" action="" accept-charset="UTF-8">
          <div ng-if="form_data.current_user.errors" class="row">
            <div class="col-md-12">
              <ul class="list-unstyled form-error">
                <p>Errori nell'inserimento dei dati:</p>
                <li ng-repeat="error in form_data.current_user.errors">{{error}}</li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label style="margin-bottom: 15px;">Scegli il tuo nickname:</label>         
                <input name="username" class="form-control" ng-model="form_data.current_user.username">
              </div>
              <hr>
            </div>

            <div class="col-md-12">
              <label>Scegli il tuo avatar:</label> 
            </div>

            <div class="col-sm-12 avatars__flexslider avatars__flexslider--modal">
                <div class="flexslider avatars__flexslider-desktop">
                  <div class="flex-viewport-shadow"></div>
                  <ul class="slides">
                    <% get_avatar_list.each_slice(3) do |avatar_slice| %>
                      <li  class="text-center avatars__flexslider-desktop-item">
                        <div class="row">
                          <% avatar_slice.each do |avatar| %>
                          <div class="col-xs-12">
                            <div id="avatar_<%= avatar[:id] %>__flexslider__avatar-container" class="avatars__flexslider__avatar-container" ng-click="setAvatar('<%= avatar[:url] %>', '<%= avatar[:id] %>');">
                              <img src="<%= avatar[:url] %>">  
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </li>
                      <% end %>
                  </ul>
                </div>  
            </div>

            <div class="col-md-12 text-center">
              <hr>
              <button type="submit" class="btn btn-primary"><span>Salva</span></button>
            </div>

          </div>

        </form>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('.avatars__flexslider-desktop').flexslider({
      animation: "slide",
      slideshow: false,
      animationLoop: false,
      touch: true,
      itemWidth: 60,
      itemMargin: 4,
      controlNav: false,
      prevText: "",
      nextText: ""
    });
  });

  function selectAvatar(elem){
    $(".avatars__flexslider__avatar-container").removeClass("avatars__flexslider__avatar-container--selected");
    $(elem).addClass("avatars__flexslider__avatar-container--selected");
    $(".registration-avatar").val($(elem).find("img").attr("src"));
  }
</script>

<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <div class="adv__horizontal">
        <p>PUB</p>
        <script type="text/javascript" language="javascript">
          dimgAd.display("728x90");
        </script>
      </div>
    </div>
  </div>
</div>

<div class="container properties__container hidden-xs" style="border-top: 10px solid {{aux.current_property_info.background}};">
  <div class="row text-center">
    <%= render partial: "/application/properties" %>
  </div>
</div>

<div class="container main-menu__container hidden-xs">
  <div class="row main-menu__row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="/<%= $context_root %>">Home</a></li>
            <li><a href="#">Gallery</a></li>
            <li>
              <%= light_link_to("/reward/catalogue") do %>
                Premi
              <% end %>
            </li>
            <li>
              <%= light_link_to("/profile/rankings") do %>
                Classifiche
              <% end %>
            </li>
            <li>
              <%= light_link_to("/browse") do %>
                Cerca
              <% end %>
            </li>
            <li>
              <%= light_link_to("/profile") do %>
                Profilo
              <% end %>
            </li>
            <% if aux["current_property_info"] && aux["current_property_info"]["outer"] && aux["current_property_info"]["outer-url"] %>
              <li>
                <a href="<%= aux["current_property_info"]["outer-url"] %>"><%= aux["current_property_info"]["outer"] %></a>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>


<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="navbar-inverse__menu">MENU</span>
      </button>
      <div class="text-center">
        <img class="navbar__logo" ng-src="{{aux.current_property_info.logo}}">
      </div>
      <%= light_link_to("/profile") do %>
        <div ng-if="current_user && current_user.notifications > 0" class="properties__right-bar-notifications text-center">
          {{current_user.notifications}}
        </div>

        <img ng-src="{{current_user.avatar}}" class="navbar__avatar" ng-if="current_user">
        <img src="<%= anon_avatar() %>" class="navbar__avatar" ng-if="!current_user">
      <% end %>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/<%= $context_root %>">Home</a></li>
        <li><a href="#">Gallery</a></li>
        <li>
          <%= light_link_to("/reward/catalogue") do %>
            Premi
          <% end %>
        </li>
        <li>
          <%= light_link_to("/profile/rankings") do %>
            Classifiche
          <% end %>
        </li>
        <li>
          <%= light_link_to("/browse") do %>
            Cerca
          <% end %>
        </li>
        <li>
          <%= light_link_to("/profile") do %>
            Profilo
          <% end %>
        </li>
        <% if aux["current_property_info"] && aux["current_property_info"]["outer"] && aux["current_property_info"]["outer-url"] %>
          <li>
            <a href="<%= aux["current_property_info"]["outer-url"] %>"><%= aux["current_property_info"]["outer"] %></a>
          </li>
        <% end %>
        <hr style="margin-top: 5px; margin-bottom: 5px;">
        <li ng-repeat="property in aux.property_info">
          <a href="/{{property.path}}"> 
             {{property.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>