<script type="text/javascript" src="http://navbar.disneyinternational.com/it/03/navbar.js"></script>

<div class="container">
  <div class="col-md-12 text-center" style="border: 1px solid #ccc; margin-bottom: 15px;">
    <p style="line-height: 90px; margin: 0; color: #ccc;">ADV</p>
  </div>
</div>

<div class="container properties__container hidden-xs" style="border-top: 10px solid {{aux.current_property_info.background}};">
  <div class="row text-center">
    <%= render partial: "/application/properties" %>
  </div>
</div>

<div class="container main-menu__container">
  <div class="row main-menu__row">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Premi</a></li>
            <li><a href="#">Classifiche</a></li>
            <li>
              <%= light_link_to("/browse") do %>
                Cerca
              <% end %>
            </li>
            <li>
              <%= light_link_to("/profile") do %>
                Profilo
              <% end %>
            </li>
            <li>
              <a href="<%= @aux["current_property_info"]["outer-url"] rescue nil %>"><%= @aux["current_property_info"]["outer"] rescue nil %></a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
</div>