<div class="container main-container">   

  <div class="row">
    <%= render partial: "/application/evidence_ctas" %>
  </div>

  <div class="row main-row ctas__search" ng-controller="SearchCtrl" ng-init="init({})">
    <%= form_tag("#{ get_disney_property_root_path }/browse/full_search", { method: "post", role: "search" }) do %>
      <div class="col-sm-8 col-sm-offset-1 col-xs-8">
        <input id="search" autocomplete="off" typeahead="result for results in getResults($viewValue) | limitTo:8" typeahead-min-length="3" typeahead-wait-ms="1000" typeahead-template-url="itemTpl.html" ng-model="search.selected" name="query" type="text" class="form-control" placeholder="Cerca in Disney Channel Community" style="width: 100%;">
      </div>
      <div class="col-sm-2 col-xs-4">
        <button type="submit" class="btn btn-primary btn-block"><span>Cerca</span></button>
      </div>
    <% end %> 
    <script type="text/ng-template" id="itemTpl.html">
      <%= render partial: "/application/search_template" %>
    </script>
  </div>

  <div class="row main-row filters__flexslider-main-row">
    <%= render partial: "/application/home_filters" %>
  </div>

  <div class="row">
    <div class="col-sm-12" style="padding: 0;">
      <hr style="margin: 0 0 30px 0;">
    </div>  
  </div>

  <div class="row main-row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <h2 class="cta-cover__column-title">Tutti</h2>
        </div>
        <div class="col-md-6 text-right">
          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
              <span class="glyphicon glyphicon-chevron-down" style="position: relative; top: 3px;"></span>
              Ordina
            </button>
            <ul class="dropdown-menu dropdown-menu-right text-left" role="menu" aria-labelledby="dropdownMenu1">
              <li class="active" role="presentation"><a role="menuitem" href="javascript: void(0)">Più recenti</a></li>
              <li role="presentation"><a role="menuitem" href="javascript: void(0)">Piu visti</a></li>
              <li role="presentation"><a role="menuitem" href="javascript: void(0)">Più commentati</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div ng-repeat="calltoaction_info in calltoactions" class="row">
        <div class="col-sm-12">
          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="append-other" class="text-center" style="margin-bottom: 20px;">
            <button class="btn btn-primary" href="javascript: void(0)" ng-click="appendCallToAction();"><span>CARICA ALTRI</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 text-center adv-square__container">
      <%= render partial: "/application/adv-square" %>
    </div>
  </div>

</div>
