<div class="container main-container">   

  <div class="row">
    <%= render partial: "/application/evidence_ctas" %>
  </div>

  <div class="row main-row ctas__search hidden-xs" ng-controller="SearchCtrl" ng-init="init({})">
    <%= form_tag("/browse/full_search", { method: "post", role: "search" }) do %>
      <div class="col-sm-8 col-sm-offset-1">
        <input id="search" autocomplete="off" typeahead="result for results in getResults($viewValue) | limitTo:8" typeahead-min-length="3" typeahead-template-url="itemTpl.html" ng-model="search.selected" name="query" type="text" class="form-control" placeholder="Search" style="width: 100%;">
      </div>
      <div class="col-sm-2">
        <button type="submit" class="btn btn-primary btn-block"><span>Cerca</span></button>
      </div>
    <% end %> 
    <script type="text/ng-template" id="itemTpl.html">
      <%= render partial: "/application/search_template" %>
    </script>
  </div>

  <div class="row main-row filters__flexslider-main-row">
    <%= render partial: "/application/home_filters" %>
  </div>

  <div class="row main-row">
    <div class="col-sm-8">
      <div ng-repeat="calltoaction_info in calltoactions" class="row">
        <div class="col-sm-12">
          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div id="append-other" class="text-center" style="margin-bottom: 20px;">
            <button class="btn btn-primary" href="javascript: void(0)" ng-click="appendCallToAction();"><span>CARICA ALTRI</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center" style="line-height: 200px;">ADV</div>
    </div>
  </div>

</div>
