<%= render partial: "/application/user_bar" %>

<%= render partial: "/application/home_launchers" %>

<div class="container main-container">   

  <!-- CUSTOM SITE HEADER --> 
  <%#= render partial: "/application/header" %>
  <div class="row">
    <%= render partial: "/application/evidence_ctas" %>
  </div>

  <div class="row main-row">
    <%= render partial: "/application/home_filters" %>
  </div>

  <div class="row main-row">
    <div class="col-sm-8">
      <div ng-repeat="calltoaction_info in calltoactions" class="row">
        <div class="col-sm-12">
          <%= render partial: "/call_to_action/cover_single_calltoaction" %>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default text-center" style="line-height: 200px;">ADV</div>
    </div>
  </div>

  <div class="row">      
    <div class="col-sm-6 col-sm-offset-3">
      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
        <button class="btn btn-default" href="javascript: void(0)" ng-click="appendCallToAction();">CARICA ALTRI</button>
      </div>
    </div>
  </div>

</div>

<%= render partial: "/application/footer" %>
