<script type="text/javascript" src="<%= asset_path('jquery.jcarousel.js') %>"></script>
<script type="text/javascript" src="<%= asset_path('jcarousel.responsive.js') %>"></script>

<% if @calltoactions.any? %>

  <div class="container" ng-app="StreamCalltoactionYoutubeApp" ng-controller="StreamCalltoactionYoutubeCtrl" ng-init="init('<%= @calltoactions.first.video_url %>', '<%= @calltoactions.first.id %>')">   

      <div class="row" style="margin: 15px 0;">

        <%= render partial: "/property/desktop_index_carousel", locals: { calltoactions: @calltoactions, calltoactions_comingsoon: @calltoactions_comingsoon, type: "youtube" } %>

        <div class="row">      
          <div class="col-md-12 col-md-offset-0">
            <div class="panel panel-default" style="padding: 0;">
              <div class="panel-body" style="padding: 5px;">

                <!-- MEDIA -->
                <div class="row">
                  <div class="col-md-12">
                    <% if @calltoactions.first.media_type == "VIDEO" %>
                        <div class="video flex-video widescreen" style="margin: 0;">
                          <div id="home-video" iid="calltoaction-active-<%= @calltoactions.first.id %>"></div>
                          <!-- OVERVIDEO AREA HERE FOR TITLE -->
                          <div id="home-overvideo-title"><%= render partial: "/calltoaction/overvideo_play", locals: { calltoaction: @calltoactions.first, calltoaction_index: 1 } %></div>
                        </div>
                    <% else %>
                      <!-- NOT WORK CAROUSEL WITH IMAGE -->
                      <img src="<%= @calltoactions.first.image %>" style="width: 100%; margin-bottom: 15px;">
                    <% end %>
                  </div>
                </div>
            
              </div>         
            </div>        
          </div>

          <div class="col-md-12" id="share-footer">
            <%= render partial: "/calltoaction/share_free_footer", locals: { calltoaction: @calltoactions.first } %>
          </div>

        </div>

      </div>
  </div>

  <%= render partial: "/application/footer" %>

  <script type="text/javascript">
      $('.jcarousel').jcarousel(); 
  </script>

<% end %>