<% if HomeLauncher.active.any? %>
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <% i = 0 %>
      <% HomeLauncher.active.each do |home_launcher| %>
        <li data-target="#home-carousel" data-slide-to="0" class="<%= "active" if i == 0 %>"></li>
        <% i = i + 1 %>
      <% end %>
    </ol>
    <div class="carousel-inner">
      <% i = 0 %>
      <% HomeLauncher.active.each do |home_launcher| %>
        <div class="item <%= "active" if i == 0 %>" style="background: url('<%= home_launcher.image %>') no-repeat center top; background-size: cover;">
          <!--<img src="http://placehold.it/1000x500">-->
          <div class="container">
            <div class="carousel-caption">
              <!--<h1>Example headline.</h1>-->
              <h1><%= home_launcher.description %></h1>
              <h3>
              	<% if home_launcher.anchor? %>
              		<a class="btn btn-lg btn-primary" href="javascript:scrollToAnchor('<%= home_launcher.url %>')" role="button"><%= home_launcher.button %></a>
              	<% else %>
              		<a class="btn btn-lg btn-primary" href="<%= home_launcher.url %>" role="button"><%= home_launcher.button %></a>
              	<% end %>
              </h3>                
            </div>
          </div>
        </div>
        <% i = i + 1 %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#home-carousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#home-carousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>
<% end %>
<script type="text/javascript">
function scrollToAnchor(id){
    var tag = $("#"+ id);
    $('html,body').animate({scrollTop: tag.offset().top-52},'slow');
}
</script>