<div class="col-sm-3">
  <a href="/<%= $context_root %>" ng-if="aux.property_info.extra_fields.logo"><img class="properties__logo" ng-src="{{aux.property_info.extra_fields.logo.url}}"></a>
</div>           

<div class="col-sm-6 properties__flexslider-col" ng-if="aux.property_info_list">
  <div class="flexslider properties__flexslider">
    <ul class="slides">
      <li ng-repeat="content in aux.property_info_list.contents" class="text-center properties__flexslider-item" ng-init="content.image_visible = content.thumb_thumb_url" ng-mouseover="content.image_visible = content.thumb_hover_thumb_url" ng-mouseleave="content.image_visible = content.thumb_thumb_url">
        <a class="properties__flexslider-a" href="/{{content.extra_fields.url}}"> 
          <img class="properties__flexslider-image" ng-src="{{content.image_visible}}" ng-style="{'border-bottom': '4px solid ' + content.extra_fields.background_color}">     
        </a>
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-3 text-left" ng-if="isAnonymousUser()">
  <p class="properties__right-bar-text">Partecipa<br>alla community</p>
  <a class="btn btn-primary" href="/users/sign_in" style="margin-top: 5px;"><span>Entra</span></a>
</div>

<div class="col-sm-3 text-left" ng-if="!isAnonymousUser()">
  <%= light_link_to("/profile") do %>
    <p class="properties__right-bar-text">{{current_user.first_name}} {{current_user.last_name[0]}}.</p>
  <% end %>  
  <p class="properties__right-bar-level">{{current_user.level}}</p>
  <span class="label label-warning cta-cover__winnable-reward__label">
    +{{current_user.main_reward_counter}}<span class="cta-cover__glyphicon-icon fa fa-star"></span>
  </span> 
</div>

<div ng-if="!isAnonymousUser() && current_user.notifications > 0" class="properties__right-bar-notifications">
  <%= light_link_to("/profile/notices") do %>
    {{current_user.notifications}}
  <% end %>
</div>

<%= light_link_to("/profile") do %>
  <img ng-src="{{current_user.avatar}}" class="navbar__avatar" ng-if="!isAnonymousUser()">
  <img src="<%= anon_avatar() %>" class="navbar__avatar" ng-if="isAnonymousUser()">
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('.properties__flexslider').flexslider({
      animation: "slide",
      slideshow: false,
      animationLoop: true,
      touch: true,
      itemWidth: 120,
      itemMargin: 8,
      controlNav: false,
      prevText: "",
      nextText: ""
    });
  });
</script> 