<%= render partial: "/application/user_bar" %>

<%= render partial: "/application/home_launchers" %>

<div id="StreamCallToAction" class="container-fluid" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= @current_user_info.to_json %>, <%= @calltoaction_info_list.to_json %>, '<%= get_cta_active_count() %>', <%= @calltoactions_during_video_interactions_second.to_json %>, '<%= ga_code() %>', null, <%= @aux.to_json %>, <%= get_deploy_setting("sites/#{request.site.id}/kaltura", nil).to_json %>)">   

  <!-- CUSTOM SITE HEADER --> 
  <%#= render partial: "/application/header" %>

  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <%= render partial: "/application/home_filters" %>
    </div>
  </div>

  <div ng-repeat="calltoaction_info in calltoactions" class="row">
    <div id="calltoaction-{{calltoaction_info.calltoaction.id}}" class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12 col-xs-offset-0">
      <%= render partial: "/call_to_action/stream_single_calltoaction" %>
    </div>
  </div>

  <div class="row">      
    <div class="col-sm-6 col-sm-offset-3">
      <div id="append-other" class="text-center" style="margin-bottom: 20px;">
        <button class="btn btn-default" href="javascript: void(0)" ng-click="appendCallToAction();">CARICA ALTRI</button>
      </div>
    </div>
  </div>

</div>

<%= render partial: "/application/footer" %>
