<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="row ">
            <div class="col-md-12">                      
              <h3 class="text-muted">Entra in Fandom</h3>
            </div>
            
          </div>
        </div>
        <div class="panel-body">
          <div class="row">      
            <div class="col-md-6">
              <h4 class="lead">Registrati</h4>
              <%= form_for resource, :url => user_registration_path do |f| %> 
                <% if resource.errors.any? %>
                  <div style="margin-top: 10px; margin-bottom: 10px; margin-left: -20px;">
                    <ul>
                      <p style="font-size: 15px;">Errori nella compilazione del modulo:</p>
                      <% resource.errors.full_messages.each do |error_message| %>
                          <li><%= error_message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>
                <div class="form-group text-left">
                  <!--<label for="exampleInputEmail1">Email address</label>-->
                  <%= f.text_field :first_name, :class => "form-control", :placeholder => "Nome" %>
                </div>
                <div class="form-group text-left">
                  <!--<label for="exampleInputPassword1">Password</label>-->
                  <%= f.text_field :last_name, :class => "form-control", :placeholder => "Cognome" %>
                </div>
                <div class="form-group text-left">
                  <!--<label for="exampleInputEmail1">Email address</label>-->
                  <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                </div>
                <div class="form-group text-left">
                  <!--<label for="exampleInputPassword1">Password</label>-->
                  <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                </div>
                <div class="form-group text-left">
                  <!--<label for="exampleInputPassword1">Password</label>-->
                  <%= f.password_field :password_confirmation, :class => "form-control", :placeholder => "Conferma password" %>
                </div>
                <div class="checkbox text-left">
                  <label><%= f.check_box :privacy %> Accetto i <a href="#">termini d'uso</a></label>
                </div>

                <%= hidden_field_tag :user_interaction_info_list %>

                <button type="submit" class="btn btn-info btn-lg btn-block">Registrati</button>
                <div class="checkbox text-left">
                  
                </div>
              <% end %>
              <p>&nbsp;</p>
            </div>
            <%= form_for resource, :url => user_sign_in_path do |f| %>
              <div class="col-md-6">
                <h4 class="lead text-left">Login</h4>
                <p><%= flash[:alert] %></p>
                <div class="form-group text-left">
                  <!--<label for="exampleInputEmail1">Email address</label>-->
                  <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                </div>
                <div class="form-group text-left">
                  <!--<label for="exampleInputPassword1">Password</label>-->
                  <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                </div>
                <button type="submit" class="btn btn-info btn-lg btn-block">Login</button>
                <div class="checkbox text-left">
                  <label> <input type="checkbox" name="user[remember_me]" value="1" /> Ricordati di me</label>
                </div>
                <p>Dimenticato la Password? <br/><%= link_to new_password_path(:user) do %>ricevine una nuova<% end %></p>
                <hr>
                <p class="text-center">Oppure entra con:</p>
                <div class="facebook-connect">

                <a href="/auth/facebook_<%= request.site.id %>" class="btn btn-fb btn-md btn-block">Signin with Facebook</a>
                <a href="/auth/twitter_<%= request.site.id %>" class="btn btn-tw btn-md btn-block">Signin with Twitter</a>
                <a href="/auth/instagram_<%= request.site.id %>" class="btn btn-ig btn-md btn-block">Signin with Instagram</a>
                <!--<button type="button" class="btn btn-g btn-md btn-block">Signin with Google+</button>-->
                
              </div>
            <% end %>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    <% if get_site_from_request(request)["anonymous_interaction"] %>
      anonymous_user = localStorage['<%= get_site_from_request(request)["id"] %>'];
      $("#user_interaction_info_list").val(JSON.stringify(JSON.parse(anonymous_user)["user_interaction_info_list"]));
    <% end %>
  });
</script>

