 <% if can_do_check %>
  <div id="iframe-interaction" class="col-xs-4" style="position: relative; padding-left: 60px; margin-top: 23px;">
    <div class="interaction-baloon" style="width: 33px; position: absolute; left: 15px;"> 
      <div class="baloon baloon-right square unchosen"> 
        <img src="<%= current_avatar %>" class="img-responsive hidden" style="width: 100%; border-radius: 3px;">
      </div>
    </div>

    <% if reached_cap %>
      <button class="button-inter-check btn-2 ho-visto" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, null)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, null)" <% end %>><%= interaction.resource.title %></button>
    <% else %>
      <button class="button-inter-<%= interaction.id %> btn-2 ho-visto" <% unless mobile_device?() %> onmouseenter="onEnterInteraction(<%= interaction.id %>, null)" onmouseleave="onLeaveInteraction(<%= interaction.id %>, null)" <% end %> onclick="doCheck()"><%= interaction.resource.title %></button>
    <% end %>

  </div>
  <div class="col-xs-1 no-pad" style="margin-top: 18px;">
    <h4>
      <span class="label label-warning" style="padding-top: 7px;">+1
        <span class="glyphicon glyphicon-star"></span>
      </span>
    </h4>
  </div>

  <% if reached_cap %>
    <div class="text-center" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; background-color:rgba(0,0,0,0.7); z-index: 100; padding-top: 10px;">
      <h4 style="color: #fff;">HAI RAGGIUNTO IL LIMITE GIORNALIERO</h4>
      <h6><a target="_top" href="<%= Rails.configuration.deploy_settings["sites"]["ballando"]["stream_url"] %>" style="color: #fff;">Scopri come ottenere altri punti</a></h6>
    </div>
  <% end %>

<% else %>

  <div id="iframe-interaction" class="col-xs-4" style="position: relative; padding-left: 60px; margin-top: 23px;">
    <div class="interaction-baloon" style="width: 33px; position: absolute; left: 15px;"> 
      <div class="baloon baloon-right"> 
        <img src="<%= current_avatar %>" class="img-responsive" style="width: 100%; border-radius: 3px;">
      </div>
    </div>
    <button class="button-inter-check btn-2 btn-2-default btn-2-default-orange active ho-visto">FATTO</button>
  </div>
  <div class="col-xs-1 no-pad" style="margin-top: 18px;">
    <h4>
      <span class="label label-success" style="padding-top: 7px;">
        <span class="glyphicon glyphicon-ok"></span>
      </span>
    </h4>
  </div>

<% end %>