<style>
	body{
		border: none;
		margin: 0;
	}
	.notice__reward-image{
		max-width: 65px;
	}
	body, *, .notices-list > * {
		font-family: Helvetica !important;
	}
	.notice__title,
	.notice__title b {
		font-weight: 300 !important	;
	}
	.hidden-xs {
		display: none !important;
	}
	.notice__reward-image {
	    max-width: 80px;
	    margin: 0 auto;
	}
	.notice-title{
		color: #fff; text-align: center; margin-top:0px;
	}
	
	@media(min-width: 760px){
		.notice__reward-image {
		    max-width: 120px;
		    margin: 0 auto;
		}
		.notice__title{
			font-size: 22px;
			line-height: 22px;
		}
		
		.notice-title{
			color: #fff; text-align: center; margin-top:0px; font-size: 28px !important;
		}
	}
</style>
<div class="container container--default" style="background-color: #fff; border: none;">
  <div class="row">
    <div class="col-md-12">
      
      <div class="row section-heading" style="background-color:<%= bg_color %>; padding: 0;">
        <div class="col-xs-12">
          <h3 class="text-center">
            <img src="<%= asset_url("fa-bell.png") %>" style="width: 10%" />
          </h3>
          <h3 class="notice-title">Notifiche</h3>
        </div>
      </div>
      
      <div class="row">
        <div class="col-xs-12">

          <% notices_list.each do |notice| %>  
            <div class="row" style="border-bottom: 1px solid #eff0f1; padding: 5px 0;">
              <div class="col-xs-12 notices-list">
                <% if notice[:notice][:html_notice].nil? %>
                    <% if notice[:notice][:aux]["ref_type"] != 'user_comment_interaction' %>
                        <div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                          <img src="<%= notice[:notice][:notice_image] %>" class="img-responsive notice__reward-image">
                        </div>
                    <% else %>
                        <div class="col-xs-4 col-xs-offset-1 col-sm-2 col-sm-offset-0">
                          <span class="glyphicon glyphicon glyphicon-comment glyphicon-comment--notice"></span>
                        </div>
                    <% end %>
                    <div class="col-xs-6 col-sm-8">
                      <h5 class="notice__title">
                        <%= notice[:notice][:aux]["text"] %>
                      </h5>
                    </div>
                <% else %>
              	  <%= notice[:notice][:html_notice].html_safe %>
              	<% end %>
              </div>
            </div>
          <% end %> 
           
          </div>
        </div>
        
      </div>
      
    </div>
</div>

