<div class="row profile-menu-block">
    <div class="col-xs-12 text-center">
        <ul class="profile-menu-block__menu">
          <li class="profile-menu-block__item <%= "profile-menu-block__item--active" if page == "edit" %>">
            <%= light_link_to "/profile/edit", {"class" => "profile-menu-block__item-link"} do %><span class="glyphicon glyphicon-user profile-menu-block__glhyphicon" aria-hidden="true"></span>Nickname & Avatar<% end %>
          </li>
          <li class="profile-menu-block__item <%= "profile-menu-block__item--active" if page == "rewards" %>">
            <%= light_link_to "/profile/rewards", {"class" => "profile-menu-block__item-link"} do %><i class="fa fa-trophy profile-menu-block__glhyphicon profile-menu-block__glhyphicon"></i>Rewards<% end %>
          </li>
          <li class="profile-menu-block__item <%= "profile-menu-block__item--active" if page == "rankings" %>">
            <%= light_link_to "/profile/rankings", {"class" => "profile-menu-block__item-link"} do %><span class="glyphicon glyphicon-align-justify profile-menu-block__glhyphicon" aria-hidden="true"></span>Classifica<% end %>
          </li>
          <li class="profile-menu-block__item <%= "profile-menu-block__item--active" if page == "notices" %>">
            <%= light_link_to "/profile/notices", {"class" => "profile-menu-block__item-link"} do %><span class="glyphicon glyphicon-bell profile-menu-block__glhyphicon" aria-hidden="true"></span>Notifiche <% end %>

            <% if get_unread_notifications_count > 0 %>
              <div class="profile-menu-block__notice-counter">
                <a href="/profile/notices"><%= get_unread_notifications_count %></a>
              </div>
            <% end %>
          </li>
        </ul>
    </div>
</div>