<div id="fb-root"></div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body profile-badge">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <img id="badge-image-modal" src="" alt="">
            <h4 class="text-center" id="badge-name-modal"></h4>
            <p id="badge-description-modal"></p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <a class="btn btn-default btn-md" href="#"><span class="glyphicon glyphicon-share"></span> Share - TODO</a>
          </div>
        </div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%= render partial: "/application/user_bar" %>

<div class="container">
  
  <div class="row" style="margin-top: 1.5em;">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading profile-heading">
          <%= render partial: "profile/profile_header" %>
        </div>
        <div class="panel-body profile-body">
          <%= render partial: "profile/profile_navbar", locals: { page: "badges" } %>
          	<div class="row">
                <div class="col-md-12">
                  <div id="livelli">
                    <div class="page-header">
                      <h2>Badges <small>5/12</small></h2>
                    </div>
                  </div>
                </div>
              </div>
            <div class="row badges text-center">
              <!-- not-yours -->
              <% get_tags_with_tag("badge").each do |badge_tag| %>
                <% badge_tag.reward_tags.each do |badge_reward_tag| %>
                  <div class="col-xs-6 col-sm-3 col-md-2 profile-badge">
                    <img class="img-responsive" src="<%= badge_reward_tag.reward.main_image %>" alt="...">
                    <p><small><%= badge_reward_tag.reward.title %></small></p></p>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
	function updateModal(e) {
		$("#badge-name-modal").html($(e).parent().parent().find(".badge-name").html());
		$("#badge-description-modal").html($(e).parent().parent().find(".badge-description").html());
		$("#badge-image-modal").attr("src", $(e).parent().parent().find(".badge-image").attr("src"));
	}
</script>
        
