<%= render partial: "/application/user_bar" %>

<div class="container" style="background-color: #fff;">
  <%= render partial: "profile/profile_header" %>
  <%= render partial: "profile/profile_navbar", locals: { page: "badges" } %>
  <div class="row" style="margin-top: 1.5em;">
    <div class="col-md-12">
          
        </div>
        <div class="panel-body profile-body">
          
      <% rewards = order_rewards(@rewards_to_show.to_a, REWARD_SORT_BY_VALIDITY_END) %>
      <% if @are_properties_used %>
        <% rewards.each do |property, rewards| %>
          <div class="row badges text-center">
            <% rewards.each do |reward| %>
              <%= render partial: "/profile/badge", locals: { reward: reward } %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="row badges text-center">
          <% rewards.each do |reward| %>
            <%= render partial: "/profile/badge", locals: { reward: reward } %>
          <% end %>
        </div>
      <% end %>
          
          
    </div>
  </div>

</div>

        
