<%= render partial: "/application/user_bar" %>

<div class="container">
  
  <div class="row" style="margin-top: 1.5em;">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading profile-heading">
         	<%= render partial: "profile/profile_header" %>
        </div>
        <div class="panel-body profile-body">
          <%= render partial: "profile/profile_navbar", locals: { page: "levels" } %>
          <div class="row">
            <div class="col-md-12">
                
                <% Property.active.each do |p| %>
	                <div>
	                	<div class="page-header">
	                		<% ru = current_user.rewarding_users.find_by_property_id(p.id) %>
	                  		<h2><%= p.name.upcase %> - Livelli <small><%= "#{ ru ? ru.user_levels.count : 0 }/#{ p.levels.count } " %></small></h2>
	                	</div>
	              	</div>
	                
	                <div class="row livelli">
	                  <% pl = nil %>
	                  <% p.levels.each do |l| %>
		                  <div class="col-xs-6 col-sm-4 col-md-3 text-center">
		                    <div class="thumbnail text-center">
		                      <img class="img-circle img-responsive adjust-cyrcle" src="<%= l.image(:thumb) %>" width="60%" alt="<%= l.name %> img">
		                      <div class="caption">
		                        <h4><%= l.name %></h4>
		                        <p><small><%= l.description %></small></p>
		                      </div>
		                      <div class="progress">
		                      	<% if ru && ru.user_levels.find_by_level_id(l.id) %>
			                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
			                          <span class="sr-only">100% Complete (success)</span>
			                        </div>
			                        <% pl = l %>
			                    <% else %>
			                    	<% progress = ru && pl ? (user_progress ru, l, pl) : 1 %>
			                    	<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress %>%">
			                          <span class="sr-only"><%= progress %>% Complete</span>
			                        </div>
			                        <% pl = nil %>
			                    <% end %>
		                      </div>
		                    </div>
		                  </div>
	                  <% end %>
	                </div>
                <% end %>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<footer class="bs-footer" role="contentinfo" style="padding-bottom: 1.5em;">
  <div class="jumbotron bkg-topbar" style="margin-bottom: 0">
    <div class="container">
        <p>Copyright </p>
    </div>
  </div>
</footer>
