<div class="container container--default" style="background-color: #fff;">
  <%= render partial: "profile/profile_header" %>
  <%= render partial: "profile/profile_navbar", locals: { page: "notices" } %>
  <div class="row">
    <div class="col-md-12">
    	<div class="section-heading">
	    	<h3>
	    		<img src="<%= asset_path("icon-cat.png") %>" class=" section-heading__icon" />
	    		Notifiche
	    	</h3>
        </div>
      <div class="row">
        <div class="col-xs-12">
          <% @notices_list.each do |date, nl| %>
          <h6><%= date %></h6>
          <ul class="list-group">
          	<% nl.each do |n| %>
            <li id="<%= n.id %>" class="list-group-item <%= "notice--unread" if !n.read %>">
              <div class="row">
              	<div class="col-xs-11">
              		<div class="row">
              			<%= n.html_notice.html_safe %>
              		</div>
              	</div>
              	<div class="col-xs-1">
              			<% if n.read %>
              				<i class="fa fa-circle" style="float: right;"></i>
              			<% else %>
              			<a href="javascript:void(0)" onclick="mark_as_read(<%= n.id %>);" style="float: right; color: black;">
              				<i class="fa fa-circle-o"></i>
              			</a>
              			<% end %>
              	</div>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div>
      </div>
            
    </div>
  </div>

</div>

<script type="text/javascript">
	function mark_as_read(id){
		$.ajax({
	      type: "POST",
	      url: "/profile/notices/mark_as_read",
	      data: { notice_id: id },
	      beforeSend: function(jqXHR, settings) {
	        jqXHR.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
	      },
	      success: function(data) {
	        if(data.success){
	        	$("li#"+id).removeClass("notice--unread");
	        	$("li#"+id+" i.fa").removeClass("fa-circle-o").addClass("fa-circle");
	        }else{
	        	alert(data.message);
	        }
	      } // success AJAX
      	});
	}
</script>
        
