<div class="container container--default">
	<% if current_user %>
		<div class="row">
      <div class="col-md-12" style="margin-bottom: 15px; margin-top: 15px;">
        <%= render partial: "profile/profile_header" %>
      </div>
    </div>
  	<%= render partial: "profile/profile_navbar", locals: { page: "rankings" } %>
  <% end %>

  <div class="row brws-item main-row" style="padding-top: 30px;">
    <div class="col-xs-12">
	  <div class="section-heading">
        	<h3>
        		<span class="section-heading__marker"><i class="fa fa-users"></i></span>
        		Classifica generale
        		<%= light_link_to("/ranking/show/#{@property_rank[:ranking].id}", "class" => "section-heading__see-all") do %>
        			Vedi tutti
				<% end %>
        		<p class="relateds__description">La classifica viene aggiornata ogni ora</p>
        	</h3>
      </div>
      <div class="rewards-flexslider-r rewards-flexslider--rankings" id="rank__flexslider">
        <div class="flex-viewport-shadow hidden-xs"></div>
        <ul class="slides">
      	<% if current_user %>
      		<li class="rewards-flexslider__item rewards-flexslider__item--fod">
  		  		<div class="ranking-element ranking-element--myposition">
  		  			<p class="ranking-element__position--myposition text-center"># <%= @property_rank[:my_position] %></p>
  		  			<img src="<%= current_avatar %>" class="ranking-element__avatar" />
  		  			<p class="ranking-element__nickname ranking-element__nickname--myposition"><%= current_user.username %></p>
  		  			<div class="label label-warning ranking-element__points">+ <%= get_point %><span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
  		  		</div>
  				</li>
  			<% end %>
  		  <% @property_rank[:rank_list].slice(0,7).each do |rank_user| %>
  	  		<li class="rewards-flexslider__item rewards-flexslider__item--fod">
  		  		<div class="ranking-element">
  		  			<p class="ranking-element__position text-center"># <%= rank_user["position"] %></p>
  		  			<img src="<%= rank_user["avatar"] %>" class="ranking-element__avatar" />
  		  			<p class="ranking-element__nickname"><%= rank_user["user"] %></p>
  		  			<div class="label label-warning ranking-element__points">+ <%= rank_user["counter"] %><span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
  		  		</div>
  			</li>
  		  <% end %>
        </ul>
      </div>
	  </div>
	</div>

  <% if @fan_of_days.any? %>
  	<div class="row brws-item main-row" style="padding-top: 30px;">
      <div class="col-xs-12">
  		  <div class="section-heading">
  	        <h3>
  	        	<span class="section-heading__marker"><i class="fa fa-graduation-cap"></i></span>
  	        		Fan del giorno
  	        </h3>
        	  </div>
        <div class="rewards-flexslider-r rewards-flexslider--rankings" id="fan-of-days__flexslider">
          <div class="flex-viewport-shadow hidden-xs"></div>
      		<ul class="slides">
  			  	<% @fan_of_days.each do |winner| %>
  			  		<% if winner["winner"] %>
  			  			<% if current_user && winner["winner"].user.email == current_user.email %>
  			  				<li class="rewards-flexslider__item--fod">
  						  		<div class="ranking-element ranking-element--myposition">
  						  			<p class="ranking-element__position--myposition text-center"><%= winner["day"] %></p>
  						  			<img src="<%= winner["winner"].user.avatar_selected_url  %>" class="ranking-element__avatar" />
  						  			<p class="ranking-element__nickname ranking-element__nickname--myposition"><%= winner["winner"].user.username %></p>
  						  			<div class="label label-warning ranking-element__points">+ <%= winner["winner"].counter %><span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
  						  		</div>
  						  	</li>
  			  			<% else %>
  						  	<li class="rewards-flexslider__item--fod">
  						  		<div class="ranking-element">
  						  			<p class="ranking-element__position text-center"><%= winner["day"] %></p>
  						  			<img src="<%= winner["winner"].user.avatar_selected_url  %>" class="ranking-element__avatar" />
  						  			<p class="ranking-element__nickname"><%= winner["winner"].user.username %></p>
  						  			<div class="label label-warning ranking-element__points">+ <%= winner["winner"].counter %><span class="cta-cover__glyphicon-icon fa fa-star"></span></div>
  						  		</div>
  						  	</li>
  					  	<% end %>
  				  	<% end %>
  			  	<% end %>
  			 </ul>
  	  	</div>
  	  </div>
    </div>
  <% end %>

  <div class="row brws-item main-row" style="margin-top: 30px;">
    <div class="col-xs-12">
	  <div class="section-heading">
        	<h3>
        		<span class="section-heading__marker"><i class="fa fa-users"></i></span>
        		Classifica altre Community
        	</h3>
      </div>
    </div>
    <div class="col-xs-12">

      <div class="rewards-flexslider" id="rewards-flexslider--property">
          <div class="flex-viewport-shadow hidden-xs"></div>
          <ul class="slides">
            <% @property_rankings.each do |rank_property| %>
            <li class="relateds-flexslider__item">
              <a href="<%= rank_property["link"] %>">  
                <div class="relateds-flexslider__item-panel" style="background-image: url('<%= rank_property["thumb"] %>'); background-position: center center; background-size: auto 100%;"> 
                  <div class="row">
                    <div class="col-xs-12 text-center cta-preview--tag">
                      <p class="cta-preview__title--tag"><%= rank_property["title"] %></p>
                    </div>
                  </div>
                </div>  
              </a>
            </li>
            <% end %>
          </ul>
        </div>

	  </div>
   </div>
   
   <div class="row brws-item main-row" style="margin-top: 30px;">
    <div class="col-xs-12">
	  <div class="section-heading">
        	<h3>
        		<span class="section-heading__marker"><i class="fa fa-users"></i></span>
        		Classifica delle Gallery
        	</h3>
      </div>
    </div>
    <div class="col-xs-12">

      <div class="rewards-flexslider" id="rewards-flexslider--property">
          <div class="flex-viewport-shadow hidden-xs"></div>
          <ul class="slides">
            <% @galleries.each do |gallery| %>
            <li class="relateds-flexslider__item">
              <%= light_link_to "/ranking/vote/#{gallery.id}" do %>  
                <div class="relateds-flexslider__item-panel" style="background-image: url('<%= get_upload_extra_field_processor(get_extra_fields!(gallery)['thumbnail'], :medium) if get_extra_fields!(gallery)["thumbnail"] %>'); background-position: center center; background-size: auto 100%;"> 
                  <div class="row">
                    <div class="col-xs-12 text-center cta-preview--tag">
                      <p class="cta-preview__title--tag"><%= gallery.title %></p>
                    </div>
                  </div>
                </div>  
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>

	  </div>
   </div>
   
</div>
	

<script type="text/javascript">
	$(document).ready(function() {
      is_last_rewards_flexslider_slide = new Object();
      $('.rewards-flexslider-r').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 140,
        itemMargin: 30,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
        }
      });

	    $('.rewards-flexslider').flexslider({
	      animation: "slide",
	      slideshow: false,
	      animationLoop: false,
	      touch: true,
	      itemWidth: 260,
	      itemMargin: 15,
	      controlNav: false,
	      prevText: "",
	      nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }
        },
        end: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
        }
	    });
	});
</script>
