<%= render partial: "/application/user_bar" %>

<div class="container container--default" style="background-color: #fff;" ng-controller="RankingCtrl" ng-init="init(<%= populate_rankings(get_ranking_settings).to_json %>, <%= current_user.to_json %>);">
	<%= render partial: "profile/profile_header" %>
  	<%= render partial: "profile/profile_navbar", locals: { page: "rankings" } %>

		<div class="row">
			
			<% get_ranking_settings.each do |rs| %>
				<% if rs == "my_position_general" %>
					<% if get_my_general_position %>
						<%= render partial: "/ranking/rank", locals: { rankings: "rankings['my-position-general']" } %>
					<% end %>
				<% else %>
					<%= render partial: "/ranking/rank", locals: { rankings: "rankings['#{rs}']" } %>
				<% end %>
			<% end %>
			
		</div>
</div>