<%= render partial: "/application/user_bar" %>

<div class="container" ng-controller="RankingCtrl" ng-init="init(<%= populate_rankings(["general_chart", "my_position_general", "monthly_general_rank"]).to_json %>);">

<%= render partial: "/ranking/rank", locals: { rankings: "rankings.my_position_general" } %>
<%= render partial: "/ranking/rank", locals: { rankings: "rankings.general_chart" } %>
<%= render partial: "/ranking/rank", locals: { rankings: "rankings.monthly_general_rank" } %>




</div>


<footer class="bs-footer" role="contentinfo" >
  <div class="jumbotron bkg-topbar" style="margin-bottom: 0">
    <div class="container">
        
    </div>
  </div>
</footer>
