<%= render partial: "/application/user_bar" %>
<%= render partial: "/profile/property_profile_carousel" %>

<% rw = current_user.rewarding_users.find_by_property_id(@current_prop.id) %>
<h2>PUNTEGGIO <%= rw ? rw.points : "0" %></h2>
<h2>CREDITI <%= rw ? rw.credits : "0" %></h2>

<h3>Badge vinti</h3>
<% if rw %>
	<% rw.user_badges.each do |b| %>
		<p><%= b.badge.name %></p>
	<% end %>
<% else %>
	<p>nessun badge vinto</p>
<% end %>

<h3>Livelli raggiunti</h3>
<% if rw %>
	<% rw.user_levels.each do |l| %>
		<p><%= l.level.name %></p>
	<% end %>
<% else %>
	<p>nessun livello raggiunto</p>
<% end %>

<h3>TOP 10</h3>
<% i = 1 %>
<% RewardingUser.where("property_id=?", @current_prop.id).order("points DESC").limit(10).each do |rw| %>
	<p><%= i %> <%= rw.user.email %> <%= rw.user.points %></p>
	<% i = i + 1 %>
<% end %>

<h3>CTA terminate</h3>
<% i = 1 %>
<% Calltoaction.where("property_id=?", @current_prop.id).order("cache_counter DESC").limit(10).each do |c| %>
	<p><%= i %> <%= c.title %></p>
	<% i = i + 1 %>
<% end %>