<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>FANDOM</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="FANDOM" /> 
  <meta property="og:description" content="" />  
  <meta property="og:image" content="" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

</head>

<%# Move in helpers %>
<% calltoaction_info_list = (@calltoaction_info_list.present? ? @calltoaction_info_list.to_json : {}) %>

<% init_aux(@aux_other_params, @calltoaction_info_list) %>  

<body ng-app="FandomApp" class="bg-fluid <%= yield (:body_class) %>" ng-controller="StreamCalltoactionCtrl" ng-init="init(<%= build_current_user().to_json %>, <%= calltoaction_info_list %>, <%= @has_more || false %>, null, '<%= ga_code() %>', null, <%= @aux.to_json %>)">

  <div ng-cloak>

    <audio ng-if="aux.assets.extra_fields.preinteraction_sound" class="preinteraction-sound hidden">
      <source ng-src="{{aux.assets.extra_fields.preinteraction_sound.url}}" type="audio/mpeg" />
    </audio>
  
    <%= render partial: "/application/style", locals: { aux: @aux } %>
    <%= render partial: "/application/user_bar" %>

    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center" style="padding: 15px 0;">
          <img style="max-width: 100%;" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=ADV%20728x90&w=728&h=90">
        </div>
      </div>
    </div>

    <%= yield %>
  </div>

  <%= render partial: "/application/ga" %>

  <script type="text/javascript">

    $(document).ready(function() {
      
      is_last_rewards_flexslider_slide = new Object();
      $('.relateds-flexslider').flexslider({
        animation: "slide",
        slideshow: false,
        animationLoop: false,
        touch: true,
        itemWidth: 215, //258
        itemMargin: 15,
        controlNav: false,
        prevText: "",
        nextText: "",
        start: function(slider) {
          if(slider.pagingCount == 1) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          }
        },
        before: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = false;
          $(slider).find(".flex-viewport-shadow").removeClass("hidden");
        },
        after: function(slider) {
          if(is_last_rewards_flexslider_slide[$(slider).attr("id")]) {
            $(slider).find(".flex-viewport-shadow").addClass("hidden");
          } else {
            $(slider).find(".flex-viewport-shadow").removeClass("hidden");
          }        
        },
        end: function(slider) {
          is_last_rewards_flexslider_slide[$(slider).attr("id")] = true;
        }
      });
      
    });

  </script>

</body>
</html>
